<template lang="pug">
	.m-form-item.m-form-button
		button(v-on="$listeners"): slot


</template>

<script>
	import Mixin from './mixin'
	import MFormItem from './item'
	import Inputmask from "inputmask";

	export default {
		name: 'm-form-input',
		mixins: [Mixin],
		components: {MFormItem},

		props: {

		},

		mounted(){

		},

		methods:{

		}
	}
</script>

<style scoped lang="scss">
	@import "./styles";

	button{
		box-sizing: border-box;
		width: 100%;
		padding: $input-paddings;
		border: $input-border;
		border-radius: $input-border-radius;
		transition: $m-form-transition;
		cursor: pointer;

		&:hover{
			border-color: $m-form-active-color;
		}
	}

</style>