<template lang="pug">
	m-form-item.m-form-select(:class="classList", :value="value")
		.m-form-select-wrap
			.m-form-select-value(@click="click")
				slot(name="value", :action="actions()")
					template(v-if="isEmpty")
						span(v-html="placeholder")
					template(v-else-if="multiple")
						.m-form-select-tag
							.m-form-select-tag-item(v-for="item in items_active")
								.m-form-select-tag-value(v-html="item.label")
								.m-form-select-tag-clear(@click.stop.prevent="select(item.value)"): icon(name="clear")
					template(v-else)
						span(v-for="item in items_active", v-html="item.label || '&nbsp;'")

			.m-form-select-arrow
				slot(v-if="opened", name="arrow-opened"): icon(name="triangle-up")
				slot(v-else, name="arrow-closed"): icon(name="triangle-down")
			.m-form-select-dropdown(v-show="opened && items_actual.length", v-scrollbar)
				.m-form-select-items
					slot(name="prepend", :action="actions()")
					template(v-for="(item, index) in items_actual")
						slot(name="item")
							.m-form-select-group(v-if="item.group && (index === 0 || items_actual[index - 1].group !== item.group )") {{ item.group }}
							.m-form-select-item(
								@click="select(item.value)",
								:class="itemClass(item)"
								v-html="item.label"
							)
					slot(name="append", :action="actions()")

</template>

<script>
	import Mixin from './mixin'
	import MFormItem from './item'

	export default {
		name: 'm-form-select',
		mixins: [Mixin],
		components: {MFormItem},

		props: {
			readonly: {
				type: Boolean,
				default: false
			},
			placeholder: {
				type: String,
				default: '&nbsp;'
			},
			items: {
				type: Array,
				default: []
			},
			autoclose: {
				type: Boolean,
				default: undefined
			}
		},

		data(){
			return {
				opened: false,
				search: '',
				items_active: [],
			}
		},

		computed: {
			items_actual(){
				let items_ids = this.items.map( item => item.value);

				let items_active = this.items_active.filter( item => {
					return items_ids.indexOf(item.value) < 0;
				});

				return [...items_active, ...this.items];
			}
		},

		created() {
			document.addEventListener('mousedown', this.clickOut);
			this.setItemStore(this.model);
		},

		beforeDestroy(){
			document.removeEventListener('mousedown', this.clickOut);
		},

		mounted(){
			this.$nextTick(()=>{

			})
		},

		watch: {
			opened(open){
				if ( open ){
					this.isFocused = true;
					this.$emit('focus');
				} else {
					this.isFocused = false;
					this.$emit('blur');
				}
			},

			model(value){
				this.updateItemStore(value);
				this.$emit('change');
			},

			items(){
				this.setItemStore();
			}
		},

		methods:{

			onFocus(){
				this.isFocused = true;
				this.$emit('focus');
			},

			onBlur(){
				this.isFocused = false;
				this.$emit('blur');
			},

			click(){
				this.opened = !this.opened;
			},

			clickOut(e){
				let closest = e.target.closest(`.${this.$el.classList[0]}`);
				if (!this.$el.isEqualNode(closest) && this.opened){
					this.opened = false;
					this.search = '';
				}
			},

			setItemStore(model = this.model){
				const arr = this.multiple ? [...model] : model.toString().trim() !== '' ? [model] : [];
				const store = [...this.items_active, ...this.items];
				const new_store = [];

				arr.forEach( value => {
					let idx = store.findIndex( itm => itm.value === value);
					if ( idx >= 0 ){
						new_store.push(store[idx]);
					}
				})

				this.items_active = [...new_store];
			},

			updateItemStore(model){
				const arr = this.multiple ? [...model] : model.toString().trim() !== '' ? [model] : [];
				const modelStr = JSON.stringify(arr);
				const storeStr = JSON.stringify(this.items_active.map( i => i.value));
				if ( storeStr !== modelStr ) this.setItemStore(model);
			},

			select(value){
				let val = value;
				if ( this.multiple ){
					let idx = this.model.indexOf(val);
					if ( idx >= 0 ){
						val = [...this.model.slice(0, idx), ...this.model.slice(idx + 1)];
					} else {
						val = [...this.model, value];
					}
				}
				this.setItemStore(val);
				this.model = val;

				if ( this.autoclose === true || (this.autoclose === undefined && !this.multiple) ) this.opened = false;
			},

			isActive(value){
				return this.multiple ? this.model.indexOf(value) >= 0 : value === this.model;
			},

			itemClass(item){
				return {
					'is-active' : this.isActive(item.value),
				}
			},

			actions(){
				return {
					hide:()=> this.opened = false,
					select: this.select,
					search: value => this.search = value,
				}
			},
		}
	}
</script>

<style scoped lang="scss">
	@import "./styles";

	.m-form-select{
		&-wrap{
			position: relative;
		}

		&-arrow{
			position: absolute;
			top: 7px;
			right: 5px;
			font-size: 0;
			color: $m-form-border-color;
		}
	}

	.m-form-select-value{
		padding: $select-paddings;
		border: $select-border;
		border-radius: $select-border-radius;
		cursor: pointer;

		.m-form-status-error &{
			border-color: $m-form-error-color;
		}

		.m-form-status-focus &{
			border-color: $m-form-active-color;
		}
	}

	.m-form-select-tag{
		margin: -10px;

		&-item{
			display: inline-flex;
			align-items: center;
			margin: 5px;
			background: #fff;
			border-radius: 50px;
		}

		&-value{
			min-width: 0;
			max-width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 5px 5px 5px 10px;
		}

		&-clear{
			width: 30px;
			position: relative;

			.icon{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: $m-form-border-color;
			}
		}
	}

	.m-form-select-dropdown{
		position: absolute;
		left: 0;
		top: 100%;
		z-index: $select-dropdown-zindex;
		min-width: 100%;
		background: $select-dropdown-background;
		max-height: $select-dropdown-maxheight;
		box-shadow: $select-dropdown-boxshadow;

		&::v-deep{
			.m-form-select-item{
				padding: $select-item-paddings;
				cursor: pointer;
				color: $select-item-color;
				background: $select-item-background;
				user-select: none;

				&:hover{
					color: $select-item-color-hover;
					background: $select-item-background-hover;
				}

				&:active,
				&.is-active{
					color: $select-item-color-active;
					background: $select-item-background-active;
				}
			}
		}
	}


</style>