
@import "../../css/styles/var";

$m-form-border-color: $colorGreyLight;
$m-form-error-color: $colorRed;
$m-form-active-color: $colorBlue;
$m-form-success-color: $colorGreen;
$m-form-success-font: 300 13px sans-serif;
$m-form-transition: all .3s ease;


// input
$input-paddings: 10px 16px;
$input-font: $m-form-success-font;
$input-border: 1px solid $m-form-border-color;
$input-border-radius: 2px;

// textarea
$textarea-paddings: 10px 16px;
$textarea-font: $m-form-success-font;
$textarea-border: $input-border;
$textarea-border-radius: $input-border-radius;


// checkbox
$checkbox-width: 20px;
$checkbox-background: #fff;
$checkbox-background-checked: $m-form-active-color url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23f0f0f0' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");
$checkbox-height: $checkbox-width;
$checkbox-border: $input-border;
$checkbox-border-checked: 1px solid $m-form-active-color;
$checkbox-border-radius: $input-border-radius;
$checkbox-label-font: $m-form-success-font;
$checkbox-label-paddings: 3px 0 2px 8px;


// radio
$radio-width: 20px;
$radio-background: #fff;
$radio-background-checked: $m-form-active-color url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Ccircle r='10' cx='19' cy='19' fill='%23fff'/%3E%3C/svg%3E");
$radio-height: $radio-width;
$radio-border: $input-border;
$radio-border-checked: 1px solid $m-form-active-color;
$radio-border-radius: 50%;
$radio-label-font: $m-form-success-font;
$radio-label-paddings: 3px 0 2px 8px;

// select
$select-paddings: 10px 16px;
$select-font: $m-form-success-font;
$select-border: $input-border;
$select-border-radius: $input-border-radius;

$select-dropdown-zindex: 10;
$select-dropdown-background: #fff;
$select-dropdown-maxheight: 250px;
$select-dropdown-boxshadow: 0 0 10px rgba(#000, .3);

$select-item-paddings: 10px 16px;
$select-item-color: #000;
$select-item-color-hover: #000;
$select-item-color-active: #fff;
$select-item-background: #fff;
$select-item-background-hover: rgba($m-form-active-color, 0.2);
$select-item-background-active: $m-form-active-color;

