<template lang="pug">
	div
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}
				icon(name="settings", @click="popupSectionsSet = !0").ico.link
			template(slot="control")
				.btn.btn_green(@click="popupAddAdvert = !0") ДОБАВИТЬ ОБЪЯВЛЕНИЕ


		.content
			.content__grid
				Draggable(v-model="kitLeft", v-bind="sortOptions", @end="onEnd").kit__grid
					div(v-for="(kit, index) in kitLeft", :key="kit.id", :is="`kit-${kit.name}`", :options="kit", @toggle="toggle(0, index, $event)")

				Draggable(v-model="kitRight", v-bind="sortOptions", @end="onEnd").kit__grid
					div(v-for="(kit, index) in kitRight", :key="kit.id", :is="`kit-${kit.name}`", :options="kit", @toggle="toggle(1, index, $event)")

		popup(v-model="popupSectionsSet", @onClose="popupSectionsSet = !1").popup_set.popup_set-kit
			formKitSettings(@confirm="confirm")

		popup(v-model="popupAddAdvert").popup_add
			addAdvert(@onSubmit="popupAddAdvert = !1")

</template>

<script>

	import {mapState} from "vuex";

	import addAdvert from '../adverts/custom/form.vue'
	import formKitSettings from './kit-settings.vue'
	import Draggable from 'vuedraggable'


	import KitAdverts from '../adverts/custom/kit'
	import KitArticles from '../articles/kit'
	import KitBalance from '../balance/kit'
	import KitBlog from './kit-items/contentKitBlog'
	import KitCompany from '../company/kit'
	import KitEmployees from '../employees/kit'
	import KitFollowers from './kit-items/contentKitFollowers'
	import KitFollows from './kit-items/contentKitFollows'
	import KitHeadings from '../headings/kit'
	import KitNews from '../news/kit'
	import KitNotifications from '../notifications/kit'
	import KitStatistic from './kit-items/contentKitStatistic'
	import KitFinance from '../finance/kit'

	export default {
		data () {
			return {

				popupAddAdvert: false,
				popupSectionsSet: false,

				sortOptions: {
					group: 'sample',
					animation: 150,
					handle:'.kit__move'
				},

			}
		},

		computed: {
			...mapState({
				base: state => state.base,
			}),

			kitLeft : {
				get() { return this.base.kit.home[0];},
				set(value) { this.$store.dispatch("base/propKitGrid", {column: 0, value});}
			},

			kitRight : {
				get() { return this.base.kit.home[1];},
				set(value) { this.$store.dispatch("base/propKitGrid", {column: 1, value});}
			},

		},

		mounted(){

			this.loadData();
		},

		watch: {
			kits(val){
				console.info(val)
			}
		},

		methods: {

			loadData(){
				this.$store.dispatch('base/getKitCollect');

			},

			saveData(){
				this.$store.dispatch('base/setKitCollect');
			},

			confirm(){
				this.loadData();
			},

			onEnd(){
				this.saveData();
			},

			toggle(column, index, data){
				this.$store.dispatch("base/propKitToggle", {column, index, data});
			}
		},

		components:{
			Draggable,
			formKitSettings,
			addAdvert,

			KitAdverts,
			KitArticles,
			KitBalance,
			KitBlog,
			KitCompany,
			KitEmployees,
			KitFollowers,
			KitFollows,
			KitHeadings,
			KitNews,
			KitNotifications,
			KitStatistic,
			KitFinance,
		}
	}
</script>


<style scoped lang="scss">
	@import "../../css/styles/var";
	@import "../../css/styles/mixins";

	.kit__grid{
		display: inline-flex;
		vertical-align: top;
		flex: 1 1 auto;
		min-width: 0;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		min-height: calc(100vh - 260px);

		@include breakPoint($breakPoint2){
			width: 50%;
		}
	}
</style>