<template lang="pug">
	div
		.popup__title НАСТРОЙКИ РАЗДЕЛОВ

		.popup__table(v-if="sections.length")
			.corpus__table
				.corpus__table-head
					.corpus__table-col: span НАЗВАНИЕ БЛОКА
					.corpus__table-col: span СТАТУС
					.corpus__table-col: span &nbsp;

			.corpus__scroll
				vue-scroll
					.corpus__table
						.corpus__item(v-for="(item, index) in sections", :class="{'corpus__item_inactive' : !item.active }")
							.corpus__item-col
								.corpus__item-title
									| {{ item.name }}
									span.i-info(v-if="item.tooltip", v-tooltip="item.tooltip") ?
							.corpus__item-col
								.corpus__item-subtitle(v-if=" item.default")
									i.disk.c-blue
									span По умолчанию
								.corpus__item-subtitle(v-else-if=" !!item.active ")
									i.disk.c-green
									span Активен
								.corpus__item-subtitle(v-else)
									i.disk.c-light
									span Не активен
							.corpus__item-col.corpus__item-col_check
								.form__field
									.form__input
										input(@change="", type="checkbox", :value="item.id", v-model="checked", :id="'_' + item.id+'_'+_uid", :disabled="item.default")
										label(:for="'_' + item.id+'_'+_uid") &nbsp;


		.popup__flex
			span &nbsp;
			span
				.btn.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="confirm") СОХРАНИТЬ

</template>

<script>

	import {mapState} from "vuex";

	export default {

		data() {
			return {
				item_checked: [],
			}
		},

		computed: {
			...mapState({
				base: state => state.base,
				sections : state => state.base.kit.list,
			}),

			checked : {
				get() { return this.base.kit.settings;},
				set(value) { this.$store.dispatch("base/propKitSettinds", value);}
			},

		},

		watch:{

		},

		mounted(){

			/**
			 * todo:
			 * write request for sections
			 */

			this.loadData();
		},

		methods:{

			loadData(){
				this.$store.dispatch('base/getKitSetting');
			},

			close(){
				this.$parent.$emit('onClose');
			},

			confirm(){

				this.$store.dispatch('base/setKitSetting')
					.then(()=>{
						this.$emit('confirm');
						this.$parent.$emit('onClose');
					});

				this.loading = true;
			}
		},

		components: {

		}

	}
</script>

<style lang="scss">

</style>


