<template lang="pug">
	div
		.popup__title ПРИГЛАСИТЬ СОТРУДНИКА В КОМПАНИЮ
		.popup__form
			.form__wrap
				FormField(:field='fields.email', v-model='model.employee_email', ref="employee_email")
				.form__group.w_1
					.form__title.form__padding(@click="addComment = !addComment")
						.link(:class='addComment ? "c-blue" : "c-grey"')
							span.ico: include ../../img/svg/ico__edit.svg
							span Добавить комментарий
							span.arrow-tip(:class='addComment ? "arrow-tip_up" : ""')
					FormField(:field='fields.comment', v-model='model.employee_comment', ref="employee_comment", v-if='addComment')


		.popup__flex
			span &nbsp;
			span
				.btn.btn_link.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="confirm") ПРИГЛАСИТЬ

</template>

<script>


	export default {

		data() {
			return {

				addComment: false,

				fields: {
					email: {
						type: 'text',
						name: 'employee_email',
						title: 'E-mail сотрудника',
						required: 'email',
						onChange: (value) => {},
						onKeyup: (value) => {},
					},
					comment: {
						type: 'textarea',
						name: 'employee_comment',
						required: true,
						// min: 500,
						// max: 5000,
						// counter: true,
						// validation: {
						// 	min: {
						// 		length: 500,
						// 		message: 'Длинна текта должна быть не менее 500 символов',
						// 	},
						// 	max: {
						// 		length: 5000,
						// 		message: 'Длинна текста не должна превышать 5000 символов',
						// 	},
						// },
						onChange: (value) => {},
						onKeyup: (value) => {}
					},
				},

				model: {
					employee_email: '',
					employee_comment: '',
				}
			}
		},


		watch:{

		},

		mounted(){


		},

		methods:{

			close(){
				this.$parent.$emit('onClose');
			},

			confirm(){
				let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					if ( this.fields[i].name && this.$refs[this.fields[i].name] ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid ){
					this.$emit('confirm');
					this.$parent.$emit('onClose');
				}

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


