<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading")
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.kit__tabs(v-if='tabs.list.length')
				.corpus__tabs(v-dragscroll.x)
					.corpus__tabs-item(v-for='(tab, index) in tabs.list', :key='index', :class="((!tabs.active && index === 0) || (tab.id === tabs.active)) ? 'is-active' : ''", @click="selectTab((!tabs.active && index === 0) || (tab.id === tabs.active) ? false : tab.id)") {{ tab.name }} {{ tab.count && tab.showLength ? '(' + tab.count + ')' : '' }}

			.kit__scroll(v-if="items.length", v-scrollbar)
				.corpus__list
					.corpus__table
						.corpus__item.corpus__item_employee(v-for="item in items")
							.corpus__item-col.corpus__item-col_thin
								.corpus__item-logo(:style="'background-image:url('+ item.info.photo +');'", :class="item.status.online === true ? 'is-online' : ''")
							.corpus__item-col
								.corpus__item-title(v-html="item.info.name")
								.corpus__item-subtitle
									template(v-if="item.info.position.length")
										span {{ item.info.position[0] }}
										v-popover(v-if="item.info.position.length > 1").corpus__item-more
											template(slot="popover")
												ul
													li.nobr(v-for="(position, index) in item.info.position", v-if="index > 0") {{ position }}
											span.more еще {{ item.info.position.length - 1 }}
									template(v-else) Не назначена

							.corpus__item-col
								template(v-if="item.info && item.info.contact && item.info.contact.length")
									span {{ item.info.contact[0] }}
									v-popover(v-if="item.info.contact.length > 1").corpus__item-more
										template(slot="popover")
											ul
												li.nobr(v-for="(contact, index) in item.info.contact", v-if="index > 0") {{ contact }}
										span.more еще {{ item.info.contact.length - 1 }}
								template(v-else) Нет контактов

							.corpus__item-col.corpus__item-col_hover
								.corpus__item-pass(v-if="item.status")
									.corpus__item-pass-control(v-if="item.status.fired")
										span.c-green ВОССТАНОВИТЬ
									.corpus__item-pass-control(v-else-if="item.status.follow")
										span.c-green ПРИНЯТЬ ЗАЯВКУ
									.corpus__item-pass-control(v-else-if="item.status.invite")
										span.c-grey ОТМЕНИТЬ ЗАЯВКУ


							.corpus__item-col.corpus__item-col_control
								icon(name="edit").corpus__item-ico

								v-popover.corpus__item-ico
									template(slot="popover")
										ul
											li: .link Что сделать с профилем
											li: .link Что сделать с профилем
											li: .link Что сделать с профилем
											li: .link Что сделать с профилем
									icon(name="dots")

			//-.kit__message(v-else-if="!loading") Пока нет добавленных сотрудников
			.kit__footer: span.c-blue.link ПРИГЛАСИТЬ СОТРУДНИКА

</template>

<script>
	export default {

		props: ['options'],

		data() {
			return {
				compact: false,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,

				tabs: {
					active: false,
					list: [],
				},

				page: 0,

				items: [],
			}
		},

		mounted(){
			if ( !this.options.disable ) this.loadData();
		},

		methods: {
			loadData(){
				let data = {};

				if (this.tabs.active) data.group = this.tabs.active;

				this.$api(
					'getEmployeesList',
					data,
					res=>{
						if (res.groups) this.tabs.list = res.groups;
						if (res.currentGroup) this.tabs.active = res.currentGroup;
						this.items = res.list;
						if (res.list.length) {
							let onlineMess = res.online > 0 ? `<sup class="c-green">${res.online} online</sup>` : '';
							this.title = `${this.options.title} (${res.count}) ${onlineMess}`;
						}
					},
					()=>{

					},
					()=>{
						this.loading = false;
					}
				);
			},

			selectTab(value){
				this.tabs.active = value;
				this.page = 0;
				this.loadData();
			},
		}

	}
</script>

<style lang="scss">

</style>


