<template lang="pug">
	div
		.popup__title ТЕХПОДДЕРЖКА
		.popup__form
			.form__wrap
				FormField(:field='fields.title', v-model='model.advert_title', ref="advert_title")
				FormField(:field='fields.text', v-model='model.advert_text', ref="advert_text")
				FormField(:field='fields.files', v-model='model.advert_files', ref="advert_files")

			.form__group

		.popup__flex
			span &nbsp;
			span
				.btn.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="onSubmit") ОТПРАВИТЬ СООБЩЕНИЕ


</template>

<script>

	export default {

		data() {
			return {

				fields: {
					title: {
						type: 'text',
						name: 'advert_title',
						title: 'Опишите вашу проблему в двух словах',
						max: 70,
						counter: true,
						required: true,
						hint: 'Например: не работают сообщения, не грузятся фотографии',
						class: 'form__field_dd',
						validation: {
							max: {
								length: 70,
								message: 'Длинна заголовка не должна превышать 70 символов',
							},
						},
						onChange: (value) => {},
					},

					text: {
						type: 'textarea',
						name: 'advert_text',
						title: 'Опишите вашу проблему более подробно',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {}
					},

					files: {
						type: 'file',
						name: 'advert_files',
						title: '',
						multiple: true,
						controls: ['remove', 'move', 'rotate'],
						max: 10,
						label: 'Добавить файл',
						clearText: 'Удалить все файлы',
						accept: [],
						onChange: (value) => {},
						onKeyup: (value) => {}
					},

				},

				model: {
					advert_title: '',
					advert_text: '',
					advert_files: []
				}
			}
		},


		watch:{

		},

		mounted(){

		},

		beforeDestroy(){

		},

		methods:{
			close(e){
				this.$parent.$emit('onClose');
			},
			onSubmit(){
				let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid ){

					this.$api('addAnnouncement', this.model,
						res=>{
							this.close();
						},
						(err)=>{
							console.error(err);
						},
						(e)=>{

						}
					);
				}

			},

		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


