<template lang="pug">
	.main__inner
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}
			template(slot="control")
				.btn.btn_blue(@click="popupQuestion = !0") ЗАДАТЬ ВОПРОС

		.content
			.content__article
				.article
					.article__menu(v-scrollbar)
						.article__menu-inner
							.article__menu-item(v-for='item in menu', :class="{'is-active': item.id === menuActive}", @click="loadSupportList(item.id)") {{ item.name }}

					.article__content(v-scrollbar)
						.article__content-inner
							.article__content-menu(v-if='contentMenu.list.length')
								.article__head
									.article__head-icon(v-if='contentMenu.head.icon'): img(:src='contentMenu.head.icon')
									.article__head-aside
										.article__head-title(v-if='contentMenu.head.title') {{ contentMenu.head.title }}
										.article__head-text(v-if='contentMenu.head.subtitle') {{ contentMenu.head.subtitle }}
								.article__links
									.article__links-item(v-for='item in contentMenu.list', @click="loadSupportArticle(item.id)") {{ item.name }}
							.article__content-typo(v-if='article', v-html='article')


		popup(v-model="popupQuestion", @onClose="popupQuestion = !1").popup_add: AddSupportQuestion

</template>

<script>

	import AddSupportQuestion from './add-question.vue'

	export default {
		data () {
			return {
				popupQuestion: false,

				menuActive: '',
				menu: [],
				article: false,
				contentMenu: {
					head: {
						icon: false,
						subtitle: false,
						title: false,
					},
					list:[]
				}

			}
		},

		mounted(){
			if ( this.$route.query.part ) this.menuActive = this.$route.query.part;

			this.loadSupportMenu();
		},

		methods: {

			loadSupportMenu(){

				this.loading = true;

				let data = {};

				this.$api(
					'getSupportMenu',
					data,
					(res)=>{
						if (res.list) this.menu = res.list;
						if ( !this.menuActive ) this.menuActive = res.list[0].id;

						if ( this.$route.query.article ){
							this.loadSupportArticle(this.$route.query.article);
						} else {
							this.loadSupportList(this.menuActive);
						}

					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			loadSupportList(id){

				this.loading = true;

				let data = {};
				if ( id ) data.id = id;

				this.$api(
					'getSupportList',
					data,
					(res)=>{
						this.article = false;
						this.contentMenu = res;
						if ( res.supportMenuID ) this.menuActive = res.supportMenuID;

						this.$router.push({ query: { part: this.menuActive } });
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			loadSupportArticle(id){

				this.loading = true;

				let data = {};

				if ( this.$route.query.article ) data.article = this.$route.query.article;

				this.$api(
					'getSupportArticle',
					data,
					(res)=>{
						this.contentMenu.list = [];
						this.article = res.html;
						if ( res.supportMenuID ) this.menuActive = res.supportMenuID;
						this.$router.push({ query: { part: res.supportMenuID, article: id } });
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			}
		},

		components: {
			AddSupportQuestion
		}
	}
</script>


<style lang="scss">

</style>