
h1, h2, h3, h4{
	font-weight: 400;
}

h1{
	font-size: 24px;
	margin-bottom: 10px;

	@include breakPoint($breakPoint_1){
		font-size: 30px;
	}

}

h2{
	font-size: 18px;
	margin: 25px 0 15px;


	@include breakPoint($breakPoint_1){
		font-size: 24px;
	}

}

h3{
	font-size: 16px;
	margin: 10px 0 5px;

}

hr{
	display: block;
	width: 100%;
	box-shadow: none;
	height: 1px;
	background: $colorGreyLight;
	margin: 15px 0;
}

blockquote{
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	padding: 0 40px;
	margin: 20px 0;
	display: block;
	position: relative;

	@include breakPoint($breakPoint_1){
		font-size: 18px;
	}

	&:after,
	&:before{
		content: '';
		width: 22px;
		height: 20px;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -10px;
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='41' viewBox='0 0 45 41'%3E%3Cpath fill='%2339f' d='M21.4,10a2.327,2.327,0,0,1,2.214,0l19.82,10.726a1.045,1.045,0,0,0,1.58-.892V13.9a2.052,2.052,0,0,0-.954-1.731L24,0.377a2.953,2.953,0,0,0-2.991,0L0.951,12.173A2.052,2.052,0,0,0,0,13.9v5.935a1.045,1.045,0,0,0,1.58.892Zm0,20.135a2.327,2.327,0,0,1,2.214,0l19.82,10.727a1.045,1.045,0,0,0,1.58-.892V34.039a2.052,2.052,0,0,0-.954-1.731L24,20.512a2.953,2.953,0,0,0-2.991,0L0.951,32.308A2.052,2.052,0,0,0,0,34.039v5.935a1.045,1.045,0,0,0,1.58.892Z'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
		background-size: contain;
	}

	&:before{
		transform: rotate(-90deg);
		left: 0;
	}

	&:after{
		transform: rotate(90deg);
		right: 0;
	}
}

figure{
	margin: 20px 0;
}

figcaption{
	display: flex;
	font-size: 11px;
	justify-content: space-between;
	border-bottom: 2px solid $colorGreyLight;
	padding: 10px 0;

	@include breakPoint($breakPoint_1){
		font-size: 12px;
	}
}

p{
	margin: 15px 0;

	a{
		color: $colorBlue;
	}
}

li{
	position: relative;
	padding-left: 30px;
	margin: 5px 0;
}

ul{
	margin: 15px 0;

	li{

		&:before {
			content: '';
			position: absolute;
			top: 8px;
			left: 4px;
			display: inline-block;
			height: 5px;
			width: 5px;
			border-radius: 50%;
			background: $colorBlue;
			box-sizing: border-box;
		}
	}

	&.attention{

		li{

			&:before {
				content: '!';
				min-width: 16px;
				top: 2px;
				left: 0;
				height: 16px;
				border-radius: 2px;
				background: $colorOrange;
				color: #fff;
				font-size: 11px;
				font-weight: 400;
				padding: 0 2px;
				text-align: center;
			}
		}
	}

	&.parts{

		li{
			display: inline-block;
			padding-left: 15px;
			font-size: 16px;
			margin-right: 50px;

			@include breakPoint($breakPoint_1){
				font-size: 18px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 9px;
				left: 4px;
				display: inline-block;
				height: 0;
				width: 0;
				border-radius: 0;
				background: none;
				border: 3px solid transparent;
				border-left-color: $colorBlue;

				@include breakPoint($breakPoint_1){
					top: 11px;
				}

			}
		}
	}
}

ol{
	counter-reset: list;
	margin: 15px 0;

	li{


		&:before {
			counter-increment: list;
			content: counter(list);
			min-width: 16px;
			position: absolute;
			top: 2px;
			left: 0;
			display: inline-block;
			height: 16px;
			border-radius: 2px;
			background: $colorBlue;
			color: #fff;
			font-size: 11px;
			font-weight: 400;
			padding: 0 2px;
			text-align: center;
			box-sizing: border-box;
		}
	}
}

img{
	max-width: 100%;
}


table{
	width: 100%;
	border-collapse: collapse;
}

tr{}

th, td{
	text-align: left;
	font-weight: 400;
	padding: 6px 15px;
}


td{
	border-top: 1px solid $colorGreyLight;
	border-bottom: 1px solid $colorGreyLight;

	&:first-child{
		border-left: 1px solid $colorGreyLight;
	}
	&:last-child{
		border-right: 1px solid $colorGreyLight;
	}
}
	