@import "styles/var";
@import "styles/mixins";

@import "styles/print";
@import "styles/normalize";

@import "styles/fonts";

@import "styles/plugin/cropper";
@import "styles/plugin/quill";
@import "styles/plugin/osb";
@import "styles/plugin/swiper";

@import "styles/plugin/date-time-picker";

.__rail-is-vertical{opacity: 0;transition: opacity 0.3s ease;}
.__vuescroll:hover .__rail-is-vertical{opacity: 1;}

@import "styles/popup";
@import "styles/tooltip";
@import "styles/global";
@import "styles/form";


@import "styles/app";
@import "styles/corpus-item";
