<template lang="pug">
	div
		.popup__close(@click="close")
		.popup__title {{ edit ? 'РЕДАКТИРОВАТЬ ФИЛИАЛ' : 'ДОБАВИТЬ ФИЛИАЛ' }}
		.popup__form
			form-wrap.form__wrap(ref="form")
				FormField(:field='fields.title', v-model='branch_title')
				FormField(:field='fields.type', v-model='branch_type')
				br
				FormField(:field='fields.address_all', v-model='address_all', ref="address_all")
				hr
				FormField(:field='fields.address_country', v-model='address_country')
				FormField(:field='fields.address_city', v-model='address_city')

				.form__field(v-if="map.show")
					//-https://github.com/PNKBizz/vue-yandex-map
					yandex-map(
						ref="map",
						:coords="map.coords",
						zoom="10",
						:behaviors="['drag', 'multiTouch', 'scrollZoom']",
						:controls="['fullscreenControl', 'zoomControl']",
						style="width: 100%; height: 400px;",
						@map-was-initialized="onMapInit",
						:placemarks="map.placemarks"
						)
						//-ymap-marker(v-if="map.placemark.coords.length", :coords="map.placemark.coords", marker-id="1", marker-type="placemark")

				FormField(:field='fields.address_street', v-model='address_street')
				.form__field.w_1-3
					.form__link: span.link(@click="toggleMap", v-html="map.show ? 'СКРЫТЬ КАРТУ' : 'ОТМЕТИТЬ НА КАРТЕ' ")
				br
				FormField(:field='fields.address_house', v-model='address_house')
				FormField(:field='fields.address_part', v-model='address_part')
				FormField(:field='fields.address_lit', v-model='address_lit')
				FormField(:field='fields.address_room', v-model='address_room')
				FormField(v-if="!!currentMetro", :field='fields.metro', v-model='branch_metro')
				//-.form__group.form__group_clip.w_2-3
					FormField(:field='fields.phone_prefix', v-model='phone_prefix', :ref="'phone_prefix'")
				.form__group.w_1(v-for="(phone, name, index) in phones", :key="index")
					.form__title.form__padding(v-if='index === 0') Телефон
					FormField(:field="fields[name]", v-model='phones[name]', :ref="name", @onChange="changePhone(index, $event)")
					.form__field.w_1-3
						.form__link
							span.ico.c-light(v-tooltip="'Убрать телефон'", @click="removePhone(name, index)", v-if=" phone_number.length > 1"): icon(name="remove")
							| &nbsp;
							span.ico.c-blue(v-if="phonesFilled && index === phone_number.length - 1", v-tooltip="'Добавить ещё телефон'", @click="addPhone()"): icon(name="plus")
							span.ico.c-light(v-if="MAX_PHONE_NUMBERS === phone_number.length && index === phone_number.length - 1", v-tooltip="'Максимальное количество телефонов 10'"): icon(name="plus")
					//-.form__field.w_1 {{ phone_number.length }}  {{ index }}
				FormField(:field='fields.email', v-model='branch_email')
				FormField(:field='fields.site', v-model='branch_site')


		.popup__flex
			span &nbsp;
			span
				btn-item(@click="close()", :disabled="btnLoading").c-grey ОТМЕНА
				btn-item(blue, :disabled="!changed", :loading="btnLoading", @click="onSubmit") {{ edit ? 'СОХРАНИТЬ' : 'ДОБАВИТЬ ФИЛИАЛ' }}

		popup(v-model="popupCloseConfirm", @onClose="popupCloseConfirm = !1").popup_info
			.popup__title СОХРАНИТЬ ИЗМЕНЕНИЯ?
			div
				.btn.btn_link.c-grey(@click="close(true)") НЕ СОХРАНЯТЬ И ЗАКРЫТЬ
				.btn.btn_blue(@click="onSubmit") СОХРАНИТЬ И ЗАКРЫТЬ


</template>

<script>

	import {mapState, mapGetters} from "vuex";

	import _ from 'lodash'

	export default {

		props: {
			id: {
				type: [Number, String],
				default: undefined
			},
		},

		data() {
			return {

				MAX_PHONE_NUMBERS: 10,

				edit: !!this.id,

				btnLoading: false,

				mapInited: false,

				suggest: null,

				loaded: true,

				addressIsLoading: false,

				popupCloseConfirm: false,

				map: {
					show: false,
					coords: [55.753994, 37.622093],
					placemarks: []
				},

				fields: {
					title: {
						type: 'text',
						name: 'branch_title',
						title: 'Название объекта',
						required: true,
					},

					type: {
						type: 'select',
						name: 'branch_type',
						title: 'Тип объекта',
						placeholder: 'Выберите из списка',
						required: true,
						items: [],
						class: 'w_1-3',
					},

					address_all: {
						type: 'text',
						name: 'address_all',
						title: 'Адрес объекта',
						placeholder: 'Начните вводить адрес',
						required: true,
						class: 'w_2-3',
						onFocus:()=>{
							this.yaMapAutocomplete();
							if ( !!this.suggest ) this.suggest.state.set('open', true);
						},
						onBlur:()=>{
							if ( !!this.suggest ) this.suggest.state.set('open', false);
						},
					},

					address_country: {
						type: 'text',
						name: 'address_country',
						placeholder: 'Страна, регион',
						required: true,
						class: 'w_1-3',
					},

					address_city: {
						type: 'text',
						name: 'address_city',
						placeholder: 'Город',
						class: 'w_1-3',
						onChange:(val)=>{
							this.checkMetro();
						}
					},

					address_street: {
						type: 'text',
						name: 'address_street',
						placeholder: 'Улица',
						class: 'w_2-3',
					},

					address_house: {
						type: 'text',
						name: 'address_house',
						placeholder: 'Дом',
						class: 'w_2-9',
					},

					address_part: {
						type: 'text',
						name: 'address_part',
						placeholder: 'Корпус',
						class: 'w_2-9',
					},

					address_lit: {
						type: 'text',
						name: 'address_lit',
						placeholder: 'Литера',
						class: 'w_2-9',
					},

					address_room: {
						type: 'text',
						name: 'address_room',
						placeholder: 'Офис, этаж, магазин',
						class: 'w_1-3',
					},

					metro: {
						type: 'category',
						name: 'branch_metro',
						title: 'Ближайшее метро',
						base: 'metro',						// база поиска (sphere, region)
						firstLevelId: false,					// пропустить первый уровень
						max: 3,
						required: true,
					},

					email: {
						type: 'email',
						name: 'branch_email',
						title: 'Контактный e-mail',
						required: true,
						tooltip: 'Какая то подсказка',
						hint: '<span class="c-green">E-mail никто не увидит</span>',
						class: 'w_2-3',
					},
					site: {
						type: 'text',
						name: 'branch_site',
						title: 'Адрес сайта',
						// required: true,
						class: 'w_2-3',
					},
				},

				phones:{
				},

				phonesFilled: false,
				phonesStore: [],

			}
		},


		computed: {
			...mapState({
				item: state => state.branch.item,
				branchType: state => state.base.selects.branchType,
			}),
			...mapGetters({
				hasMetroCheck: 'category/hasMetro',
				getByName: 'category/byName',
				changed: 'branch/changed'
			}),

			currentMetro(){
				return this.hasMetroCheck(this.address_city);
			},

			branch_title : {
				get() { return this.item.branch_title;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'branch_title', value});}
			},

			branch_coordinates : {
				get() { return this.item.branch_coordinates;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'branch_coordinates', value});}
			},

			branch_type : {
				get() { return this.item.branch_type;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'branch_type', value});}
			},

			address_all : {
				get() { return this.item.address_all;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'address_all', value});}
			},

			address_country : {
				get() { return this.item.address_country;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'address_country', value});}
			},

			address_city : {
				get() { return this.item.address_city;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'address_city', value});}
			},

			address_street : {
				get() { return this.item.address_street;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'address_street', value});}
			},

			address_house : {
				get() { return this.item.address_house;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'address_house', value});}
			},

			address_part : {
				get() { return this.item.address_part;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'address_part', value});}
			},

			address_lit : {
				get() { return this.item.address_lit;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'address_lit', value});}
			},

			address_room : {
				get() { return this.item.address_room;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'address_room', value});}
			},

			branch_metro : {
				get() { return this.item.branch_metro;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'branch_metro', value});}
			},

			phone_number : {
				get() { return this.item.phone_number;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'phone_number', value});}
			},

			branch_email : {
				get() { return this.item.branch_email;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'branch_email', value});}
			},

			branch_site : {
				get() { return this.item.branch_site;},
				set(value) { this.$store.commit("branch/SET_PROP", {name: 'branch_site', value});}
			},
		},

		watch: {

			branchType(){
				this.setFormSettings();
			}

		},

		beforeDestroy(){
			try {
				this.suggest.destroy();
			} catch (e){}
		},

		created(){
			this.$store.commit('branch/SET_ITEM');
		},

		mounted(){
			this.loadData();
		},

		methods:{


			loadData(){

				this.checkMetro();
				this.yaMapAutocomplete();

				/*if ( this.edit ) {
					this.loadForEdit();
				} else if (!this.phone_number.length) {
					this.addPhone();
				}*/
				this.setFormSettings();

				this.$store.dispatch('branch/getItem', this.id)
					.then(()=>{
						if (this.phone_number && this.phone_number.length ){
							for (let i = 0; i < this.phone_number.length; i++){
								this.addPhone(this.phone_number[i], i);
							}
						} else {
							this.addPhone();
						}
					});

			},

			setFormSettings(){
				this.fields.type.items = this.branchType.map(i => {
					return {
						value: i.id,
						label: i.name,
						html: i.name
					}
				})
			},

			yaMapAutocomplete(){
				if (!this.mapInited && !!window.ymaps && !!window.ymaps.SuggestView){
					this.mapInited = true;
					this.suggest = new window.ymaps.SuggestView(this.$refs.address_all.$el.getElementsByTagName('input')[0], {
						provider: {
							suggest: ((request, options)=>{
								return ((this.suggest && this.suggest.state && this.suggest.state.get('open')) ?
									ymaps.suggest(request) : ymaps.vow.resolve([]))
									.then((res)=>{
										this.suggest.events.fire('requestsuccess', {
											target: this.suggest,
										});
										return res;
									})
							})
						}
					});

					this.suggest.events.add('select', (e)=>{
						this.address_all = e.originalEvent.item.value;
						this.map.placemarks = [];
						this.getMapAddress(e.originalEvent.item.value);
					});
				}
			},

			close(rough){
				if (this.changed && !rough){
					this.popupCloseConfirm = true;
				} else {
					this.$emit('onSubmit');
				}
			},

			onSubmit(addParam){

				this.popupCloseConfirm = !1;
				this.$refs.form.validate()
					.then(()=>{
						if ( this.btnLoading ) return false;
						this.btnLoading = true;

						this.$store.dispatch('branch/saveItem', addParam).then(({id})=>{
							this.$emit('onSubmit', id);
						}).finally(()=>{
							this.btnLoading = false;
						});
					}, error => {

					});

			},

			toggleMap(){

				this.yaMapAutocomplete();

				if ( !this.map.show && !this.map.placemarks.length ){
					ymaps.geolocation.get({
						provider:'yandex',
						mapStateAutoApply:true,
						autoReverseGeocode:false
					}).then((result)=>{
							this.map.coords = result.geoObjects.position;
							this.map.show = true;
						},
						(err)=>{
							this.map.show = true;
						}
					);
				} else {
					this.map.show = !this.map.show;
				}

			},

			onMapInit(){

				let myMap = this.$refs.map.myMap;

				myMap.events.add('click', (e)=>{
					let coords = e.get('coords');
					this.map.placemarks = [{coords: [coords[0], coords[1]]}];
					this.getMapAddress(coords);
				});

			},

			getMapAddress(coords){
				console.count();

				if (!this.addressIsLoading){
					this.map.placemarks = [];
					this.addressIsLoading = true;
					ymaps.geocode(coords, {json: true, results: 1}).then((res)=>{
						console.info('ymaps.geocode', coords, res);

						if ( res.GeoObjectCollection.featureMember.length ){

							let object = res.GeoObjectCollection.featureMember[0].GeoObject.metaDataProperty.GeocoderMetaData,
								objCoords = res.GeoObjectCollection.metaDataProperty.GeocoderResponseMetaData.Point.coordinates
							;

							this.map.coords = [objCoords[1], objCoords[0]];
							this.branch_coordinates = `${objCoords[1]}, ${objCoords[0]}`;

							if (!this.map.placemarks.length) this.map.placemarks = [{coords: [objCoords[1], objCoords[0]]}];

							this.address_all = object.Address.formatted;

							let kinds = {};

							for (let i = 0; i < object.Address.Components.length; i++){
								kinds[object.Address.Components[i].kind] = object.Address.Components[i].name;
							}

							console.info('kinds', kinds);

							this.address_country = `${kinds.country || ''} ${kinds.province || ''}`;
							this.address_city = kinds.locality || kinds.area || '';
							this.address_street = kinds.street || '';
							this.parseHouse(kinds.house);

							this.checkMetro();
							if (!!this.currentMetro) this.getNearMetro([objCoords[1], objCoords[0]])
						}

						this.addressIsLoading = false;
					}, (err)=>{
						console.warn('Ошибка определения местоположения', err);
						this.addressIsLoading = false;
					});
				}

			},

			parseHouse(val){

				this.address_house = '';
				this.address_part = '';
				this.address_lit = '';

				if (val){
					let house = val,
						part = '',
						lit = '',
						parse = val.match(/[\d\/]+(?=[к])/i)
					;

					// дом
					if (parse && parse.length){
						house = parse[0];
						val = val.replace(parse[0], '');
						lit = val;
					}

					// корпус, строение
					parse = val.match(/[к]([\d\/]+)/i);

					if (parse && parse.length){
						part = parse[1];
						val = val.replace(parse[0], '');
						lit = val;
					}

					this.address_house = house;
					this.address_part = part;
					this.address_lit = lit;


					// if ( !isNaN(+house[0]) ) this.address_house = house[0];
					// if ( house.length > 2 && (house[1] === 'с' || house[1] === 'к') ) this.address_part = house[2];
					// if ( house.length > 1 && /^[A-ZА-ЯЁ]/.test(house[house.length - 1])) this.address_lit = house[house.length - 1];

					// if ( house.length === 2 && house[0].toLowerCase() === 'c' ){	// строение
					// 	this.address_house = house[1];
					// } else if ( house.length > 2 && house[1] === 'с' && house[1] === 'к' ){
					// 	this.address_house = house[0];
					// 	this.address_part = house[2];
					// } else {
					// 	this.address_house = val;
					// }

					// for (let i = 0; i < house.length; i++){
					//  	if ( i < house.length - 1 && house[i] === 'с' && house[i] === 'к' ) this.address_part = house[i + 1];
					// }

				}

			},

			checkMetro(){

				if (this.address_city && !!this.currentMetro ){
					this.fields.metro.firstLevelId = this.currentMetro.id;
				} else {
					this.branch_metro = [];
				}

			},

			getNearMetro(coords){
				this.branch_metro = [];

				if (!!this.currentMetro){
					ymaps.geocode(coords, {
						json: true,
						kind: 'metro',
						results: 3
					}).then((met)=>{
						let i = 0, list = met.GeoObjectCollection.featureMember;

						console.info(met.GeoObjectCollection, list);

						for (i; i < list.length; i++ ){
							let name = list[i].GeoObject.name.toLowerCase().replace('метро', '').trim(),
								item = this.getByName('metro', name, 3);

							console.info(name, item);

							if ( item && item.id ) this.branch_metro.push(item.id);
						}
					});
				}
			},

			checkPhones(){
				let count = 0;
				for (let i = 0; i < this.phone_number.length; i++){
					if ( this.phone_number[i] && this.phone_number[i].indexOf('_') < 0 ) count++;
				}

				this.phonesFilled = count === this.phone_number && this.phone_number.length && this.phone_number.length < this.MAX_PHONE_NUMBERS;
			},

			addPhone(phone, i){
				this.phonesFilled = false;
				if ( this.phone_number.length >= this.MAX_PHONE_NUMBERS ) return false;

				let ind = new Date().getTime(),
					name = `phone_number_${ind}_${i || 0}`
				;

				this.$set(this.fields, name, {
					type: 'text',
					name: name,
					// title: '&nbsp;',
					mask: '+7 999 999 99 99',
					required: true,
					class: 'w_2-3',
					onKeyup: this.checkPhones,

				});

				//console.info('phone', phone, this.phonesStore.length)

				if (phone){
					this.$set(this.phones, name, phone);
				} else if ( this.phonesStore.length ){
					let added = this.phonesStore.splice(0, 1);
					this.$set(this.phones, name, added[0]);
					this.phone_number.push(added[0]);

				} else {
					this.$set(this.phones, name, '');
					this.phone_number.push('');
				}
				this.checkPhones();
			},

			removePhone(name, index){


				this.$delete(this.fields, name);
				this.$delete(this.phones, name);
				let del = this.phone_number.splice(index, 1);

				if (del.length && del[0]) this.phonesStore.unshift(del[0]);

				this.checkPhones();
			},

			changePhone(index, value){
				this.phone_number[index] = value;
			},

		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


