<template lang="pug">
	.main__inner
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}
			template(slot="control")
				router-link.btn.btn_green(:to="{name: 'branchesAdd'}") ДОБАВИТЬ ФИЛИАЛ


		.content
			table-wrap.corpus_branches(v-model="checked", :collection="collection", :option="option", :offset="offset", :loading="loading")
				template(slot="head")
					.corpus__table-col: span ТИП ОБЪЕКТА
					.corpus__table-col: span НАЗВАНИЕ
					.corpus__table-col: span АДРЕС
					.corpus__table-col: span Контакты
					.corpus__table-col: span &nbsp;
				template(v-slot:item="{item}"): collection-item(:item="item", v-model="checked")
				template(slot="noResult"): collection-no-result
				template(slot="noItems"): collection-no-items
				template(slot="action")
					span(@click="popupDeleteItem = !0") УДАЛИТЬ
					//-span ПОДЕЛИТЬСЯ

		popup(v-model="popupDeleteItem", @onClose="popupDeleteItem = !1").popup_info
			.popup__title ПОДТВЕРДИТЬ
			.popup__text Вы уверены что хотите удалить <span class="c-blue">{{ checked.length }} {{ checked.length | declension('филиал', 'филиала', 'филиалов')}}</span>.
			.popup__flex
				span &nbsp;
				span
					btn-item(link, @click="popupDeleteItem = !1", :disabled="btnLoading") ОТМЕНА
					btn-item(red, @click="deleteItem()", :loading="btnLoading") УДАЛИТЬ

		popup(v-model="popupAddBranch", :hideCloseBtn="true").popup_add
			addBranch(@onSubmit="onClose", :id="$route.params.id")


</template>

<script>
	import {mapState} from "vuex";

	import CollectionItem from './collection/index'
	import CollectionNoItems from './collection/no-items'
	import CollectionNoResult from './collection/no-result'

	import addBranch from './form'

	export default {
		data () {

			return {

				popupAddBranch: false,
				popupDeleteItem: false,
				btnLoading: false,

				loading: false,

				checked: [],

				option: {
					searchPlaceholder: 'Найти филиал',
					pagePerView: 10,
					onSearch: (value)=>{
						this.offset = 0;
						this.query = value;
						this.loadData();
					},
					onGroupChange: (value)=>{
						this.offset = 0;
						this.group = value;
						this.loadData();
					},
					onPageChange: (value)=>{
						this.offset = value * this.limit;
						this.loadData();
					},
					onLimitChange: (value)=>{
						this.limit = value;
						this.loadData();
					},
				},
			}
		},

		computed: {

			...mapState({
				collection: state => state.branch.collection,
				filter: state => state.branch.filter,
			}),

			limit: {
				get() { return this.filter.limit;},
				set(value) { this.$store.commit("branch/SET_FILTER", {name: 'limit', value}); }
			},

			offset: {
				get() { return this.filter.offset;},
				set(value) { this.$store.commit("branch/SET_FILTER", {name: 'offset', value}); }
			},

			group: {
				get() { return this.filter.group;},
				set(value) { this.$store.commit("branch/SET_FILTER", {name: 'group', value}); }
			},

			query: {
				get() { return this.filter.query;},
				set(value) { this.$store.commit("branch/SET_FILTER", {name: 'query', value}); }
			},

		},

		watch: {

			'$route' (to) {
				this.checkPopup();
			},

		},

		created (){
			this.checkPopup();
			this.loadData();
		},

		methods:{

			checkPopup(){
				this.popupAddBranch = !!this.$route.params.id || this.$route.name === 'branchesAdd';
			},

			loadData(){

				this.loading = true;

				this.$store.dispatch('branch/getList').finally(()=>{
					this.loading = false;
				});
			},

			onClose(){
				this.$router.push({name: 'branches'});
				this.loadData();
			},

			deleteItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.$store.dispatch('branch/deleteItem', this.checked)
					.then((res)=>{
						this.popupDeleteItem = !1;
						this.checked = [];
						this.$store.dispatch('branch/getList');
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},
		},


		components:{
			addBranch,
			CollectionItem,
			CollectionNoItems,
			CollectionNoResult,
		}
	}
</script>


<style lang="scss">

</style>