<template lang="pug">
	div
		.popup__title МОИ ФИЛИАЛЫ

		.popup__loading(v-if="loading"): img.loading-img(src="/img/svg/loading.svg")
		template(v-else-if="list.length")
			.popup__table
				.corpus__table
					.corpus__table-head
						//-.corpus__table-col: .checkbox(:class="{'is-checked': checked.length}")
						.corpus__table-col
							.checkbox(@click="checkAll()", :class="{'is-checked': checked.length >= list.length}")
						.corpus__table-col: span ТИП ОБЪЕКТА
						.corpus__table-col: span ФИЛИАЛ
						.corpus__table-col.corpus__table-col_search
							.corpus__table-search(:class="{'is-active': focus || search.length }")
								.corpus__table-search-input
									input(:id="'search_' + _uid", type="text", v-model.trim="search", @focus="focus = !0;", @blur="focus = !1;", @keyup="")
								label.corpus__table-search-ico(:for="'search_' + _uid"): include ../../img/svg/ico__lins.svg

				.corpus__scroll(v-scrollbar)
					.corpus__table(v-if="found.length")
						label.corpus__item(v-for="item in found")
							.corpus__item-col
								.checkbox(:class="{'is-checked': checked.indexOf(item.id) >= 0 }")
									input(v-model='checked', type='checkbox', :value='item.id')

							.corpus__item-col
								.corpus__item-title(v-if="branchType.length") {{ branchType.find( i => i.id === item.info.type).name }}
								.corpus__item-title(v-else): fake-text(width="80px")
							.corpus__item-col
								.corpus__item-title {{ item.info.name }}
								.corpus__item-subtitle {{ item.info.address }}
								template(v-if="item.info.contact.length")
									span {{ item.info.contact[0] }}
									v-popover(v-if="item.info.contact.length > 1").corpus__item-more
										template(slot="popover")
											ul
												li.nobr(v-for="(contact, index) in item.info.contact", v-if="index > 0") {{ contact }}
										span.more(@click.prevent) еще {{ item.info.contact.length - 1 }}
								//-template(v-else) Нет контактов

							.corpus__item-col.corpus__item-col_control
								v-popover.corpus__item-ico
									template(slot="popover")
										ul
											li: .link(@click="editItem(item.id)", v-close-popover.all) Редактировать
											li: .link(@click="copyItem(item.id)", v-close-popover.all) Копировать
											li: .link(@click="popupDeleteItem = item.id; popupDeleteItemName = item.info.name", v-close-popover.all) Удалить
									icon(name="dots")


					.popup__info(v-else)
						.popup__info-title Филиалов не найдено
						.popup__info-text Попробуйте изменить условия поиска

			.popup__flex
				div
					.corpus__checked-checkbox: .checkbox(@click="checkAll(true)", :class="{'is-checked': checked.length}")
					.corpus__checked-info Выбрано: #[span {{ checked.length }}/{{ list.length }}]
					.corpus__checked-info(v-if="checked.length")
						.link.c-grey(@click="checked = []") ОТМЕНИТЬ
				div
					btn-item(link, @click="editItem()") СОЗДАТЬ ФИЛИАЛ
					btn-item(link, @click="close") ОТМЕНА
					btn-item(blue, :class="{'btn_disable': equal}", @click="confirm") ПОДТВЕРДИТЬ
		template(v-else)

			.popup__info
				.popup__info-title Нет филиалов
				.popup__info-text Вы можете добавить ваши филиалы (склады, точки продаж/реализации/обслуживания). #[br]При добавлении предложения вы можете их добавить, что будет быстрее и т.д. и т.р.
				.popup__info-text
					btn-item(blue, @click="editItem()") ДОБАВИТЬ ФИЛИАЛ

			.popup__flex
				div &nbsp;
				div
					btn-item(link, @click="close") ЗАКРЫТЬ

		popup(v-model="popupAddBranch", :hideCloseBtn="true").popup_add
			addBranch(@onSubmit="onSubmit", :id="popupBranchId")

		popup(v-model="popupDeleteItem", @onClose="popupDeleteItem = !1").popup_info
			.popup__title ПОДТВЕРДИТЬ
			.popup__text
				| Вы уверены что хотите удалить филиал: <span class="c-blue"> {{ popupDeleteItemName }}</span>?
			.popup__flex
				span &nbsp;
				span
					btn-item(link, @click="popupDeleteItem = !1", :disabled="popupDeleteHold") ОТМЕНА
					btn-item(red, @click="deleteItem()", :loading="popupDeleteHold") УДАЛИТЬ

</template>

<script>


	import {mapState} from "vuex";

	import _ from 'lodash'
	import addBranch from './form'

	import axios from '../../middlware/api/instance'


	export default {

		props: ['value'],

		data() {
			return {
				popupAddBranch: false,
				popupBranchId: undefined,
				popupDeleteItem: false,
				popupDeleteHold: false,
				popupDeleteItemName: '',
				checked: [],
				loading: true,
				focus: false,
				search: '',
				list: [],
				found: [],
			}
		},

		computed: {
			...mapState({
				branchType: state => state.base.selects.branchType,
			}),

			equal(){
				return _.isEqual(this.model.sort(), this.checked.sort());
			},

			model: {
				get(){
					return this.value;
				},
				set(value){
					this.$emit('input', value)
				}
			}
		},

		watch:{
			search(val){
				if ( val.length ){
					this.found = _.filter(this.list, (e)=> e.info.name.toLowerCase().indexOf(val.toLowerCase()) >= 0 );
				} else {
					this.found = this.list;
				}
			}
		},

		created(){
			this.checked = [...this.value];
		},

		mounted(){
			this.loadData();
		},

		methods:{

			loadData(){

				this.loading = true;

				return axios.post('', {action: 'getBranchesList'})
					.then(r => {
						this.list = r.data.list;
						this.found = r.data.list;
					})
					.finally(()=>{
						this.loading = false;
					});

			},

			close(){
				this.$parent.$emit('onClose');
			},

			confirm(){

				if( this.equal ) return false;

				this.$emit('confirm', this.checked);
				this.close();
			},

			checkAll(reverse){
				if ( (reverse && this.checked.length) || this.checked.length >= this.list.length ){
					this.checked = [];
				} else {
					this.checked = [];
					for (let i = 0; i < this.list.length; i++){
						this.checked.push(this.list[i].id);
					}
				}
			},

			copyItem(id){

				this.$store.dispatch('branch/copyItem', id)
					.then(()=>{
						this.loadData();
					})
				;
			},

			editItem(id){
				this.popupAddBranch = true;
				this.popupBranchId = id

			},

			deleteItem(){

				this.popupDeleteHold = true;

				this.$store.dispatch('branch/deleteItem', [this.popupDeleteItem])
					.then((res)=>{
						this.loadData();
						this.popupDeleteItem = false;
						this.$emit('confirm', this.checked);	// todo ???
					})
					.finally(()=>{
						this.popupDeleteHold = false;
					});



			},

			onSubmit(){
				this.popupAddBranch = false;
				this.loadData();

			}

		},

		components: {
			addBranch
		}

	}
</script>

<style lang="scss">

</style>


