<template lang="pug">
	div.example
		h1 {{ $route.meta.title }}

		p {{ 10000000000.50 | discharge('\'') }}
		p {{ 100001 | declension('день', 'дня', 'дней') }}
		p {{ 'фывыфвф фы01ыв фывывыфвфывф' | substrLengh(10, '>>>') }}

		h2 Формы
		m-form-wrap(ref="form")
			//-m-form-select(v-model="model_select")
			br
			m-form-checkbox(
				v-model="checkbox.model",
				:id="3",
				:rules="checkbox.rules"
				) Какой то чекбокс
			br
			m-form-radio(
				v-model="radio.model",
				:id="2",
				:rules="radio.rules"
				) Какой то чекбокс
			br
			m-form-radio(
				v-model="radio.model",
				:id="3",
				:rules="radio.rules"
				) Какой то чекбокс
			br
			m-form-input(
				v-model="input.model",
				:rules="input.rules",
				placeholder="Текстовый инпут с маской",
				:mask="'+7 (999) 99 99 999'",
				)
			br
			m-form-textarea(
				v-model="textarea.model",
				placeholder="Текстареа",
				:rules="input.rules",
				)
			br
			m-form-select(
				v-model="select.model",
				placeholder="Селект",
				:items="select.items",
				:rules="select.rules",
				)
			br
			m-form-select(
				v-model="multyselect.model",
				placeholder="Мультиселект",
				:items="multyselect.items",
				:rules="multyselect.rules",
				)
		br
		p
			btn-item(blue, @click="validate") Проверить

</template>

<script>

	export default {

		data () {
			return {

				input: {
					model: '',
					rules: {
						empty: 'Заполните поле'
					}
				},
				textarea: {
					model: '',
					rules: {}
				},
				checkbox: {
					model: [],
					rules: {
						empty: 'Отметьте чекбокс'
					}
				},
				radio: {
					model: '',
					rules: {
						empty: 'Отметьте радиобокс'
					}
				},
				select: {
					model: '',
					rules: {
						empty: 'Выберите что нибудь'
					},
					items: [
						{ value: 0, label: 'Нулевой'},
						{ value: 1, label: 'Первый'},
						{ value: 2, label: 'Второй'},
						{ value: 3, label: 'Третий'},
						{ value: 4, label: 'Четвертый'},
						{ value: 5, label: 'Пятый'},
						{ value: 6, label: 'Шестой'},
						{ value: 7, label: 'Седьмой'},
						{ value: 8, label: 'Восьмой'},
						{ value: 9, label: 'Девятый'},
						{ value: 10, label: 'Десятый'},
					]
				},
				multyselect: {
					model: [],
					rules: {
						empty: 'Выберите что нибудь'
					},
					items: [
						{ value: 0, label: 'Нулевой'},
						{ value: 1, label: 'Первый'},
						{ value: 2, label: 'Второй'},
						{ value: 3, label: 'Третий'},
						{ value: 4, label: 'Четвертый'},
						{ value: 5, label: 'Пятый'},
						{ value: 6, label: 'Шестой'},
						{ value: 7, label: 'Седьмой'},
						{ value: 8, label: 'Восьмой'},
						{ value: 9, label: 'Девятый'},
						{ value: 10, label: 'Десятый'},
					]
				},
			}
		},

		mounted(){

		},

		methods:{

			validate(){
				this.$refs.form.validate()
					.then(()=>{
						alert('ok')
					}, error => {
						alert('fail' + ' ' + error)
					});
			}
		},

	}
</script>


<style scoped lang="scss">
	.example{
		padding: 10px;
	}
</style>