<template lang="pug">
	.aside__group(:class="{'is-open': isOpen}")
		.aside__title МОЙ АККАУНТ
		.aside__group-content
			.aside__group-title.aside__group-title_menu(@click="isOpen = !isOpen")
				icon(name="user").aside__group-title-icon
				.aside__group-title-name
					span(:title="user.email", v-if="user.email") {{ user.email }}
					span(v-else): fake-text(width="60px")
			slide-up-down.aside__group-menu(:active="isOpen")
				ul
					li: span.link Мои данные
					li: span.link Настройки
					li: span(:class="accountMenu ? 'is-active' : ''", @click="accountMenu = !accountMenu").link Мои аккаунты #[i.arrow-left]

</template>

<script>

	import {mapGetters, mapState} from "vuex";

	export default {
		data() {
			return {
				isOpen: false,
			}
		},

		mounted (){

		},

		computed: {

			...mapState({
				user: state => state.user.info,
			}),

			...mapGetters({
				mainDataLoaded: 'user/mainDataLoaded',
			}),

			accountMenu:{
				get(){
					return this.$store.state.base.accountMenu
				},
				set(value){
					this.$store.commit('base/TOGGLE_ACCOUNT_MENU', value)
				}
			},
		},
	}
</script>

<style scoped lang="scss">

</style>