<template lang="pug">
	.aside__accounts
		.aside__accounts-overlay(@click="accountMenu = false")
		.aside__accounts-layout
			header-wrap
				template(slot="title")
					.header__title Мои аккаунты
				template(slot="control")
					.btn.btn_green ДОБАВИТЬ АККАУНТ

			.aside__accounts-content(v-scrollbar)
				.aside__accounts-list
					.aside__accounts-item
						.aside__accounts-cell.aside__accounts-cell_logo
							.aside__accounts-item-logo(style="background-image:url(/img/mburns.png);")
						.aside__accounts-cell.aside__accounts-cell_info
							.aside__accounts-item-name Констин Константинопольский
							.aside__accounts-item-email ejeadres@gmail.com
						.aside__accounts-cell.aside__accounts-cell_action
							.aside__accounts-item-action
								a(href="#").c-blue ВОЙТИ
						.aside__accounts-cell.aside__accounts-cell_auth
							icon(name="change-accaunt").aside__accounts-item-auth

					.aside__accounts-item
						.aside__accounts-cell.aside__accounts-cell_logo
							.aside__accounts-item-logo(style="background-image:url(/img/mburns.png);")
						.aside__accounts-cell.aside__accounts-cell_info
							.aside__accounts-item-name Headerlink
							.aside__accounts-item-email headerlink@gmail.com
						.aside__accounts-cell.aside__accounts-cell_action
							.aside__accounts-item-action
								a(href="#").c-blue ВОЙТИ
						.aside__accounts-cell.aside__accounts-cell_auth
							icon(name="change-accaunt").aside__accounts-item-auth

					.aside__accounts-item.is-active
						.aside__accounts-cell.aside__accounts-cell_logo
							.aside__accounts-item-logo(style="background-image:url(/img/mburns.png);")
						.aside__accounts-cell.aside__accounts-cell_info
							.aside__accounts-item-name Headerlink
							.aside__accounts-item-email headerlink@gmail.com
						.aside__accounts-cell.aside__accounts-cell_action
							.aside__accounts-item-action
								span.fail
									span.c-red Не подтвержден
									span.i-info(v-tooltip="'Мы отправили письмо с подтверждением на вашу почту. Мы стараемся обезопасить ваши данные.'") ?

						.aside__accounts-cell.aside__accounts-cell_auth
							icon(name="change-accaunt").aside__accounts-item-auth

					.aside__accounts-item
						.aside__accounts-cell.aside__accounts-cell_logo
							.aside__accounts-item-logo(style="background-image:url(/img/mburns.png);")
						.aside__accounts-cell.aside__accounts-cell_info
							.aside__accounts-item-name Констин Константинопольский
							.aside__accounts-item-email ejeadres@gmail.com
						.aside__accounts-cell.aside__accounts-cell_action
							.aside__accounts-item-action
						.aside__accounts-cell.aside__accounts-cell_auth
							icon(name="change-accaunt").aside__accounts-item-auth




</template>

<script>

	export default {
		data() {
			return {

			}
		},


	}
</script>

<style scoped lang="scss">

	.aside__accounts{
		position: absolute;
		left: $asideWidthCompact;
		top: 0;
		width: 548px;
		height: 100%;
		color: $colorBlack;
		transition: all .3s ease;

		.is-wide &{
			left: $asideWidth;
		}

		@include breakPoint($breakPoint1){
			left: $asideWidth;
		}

		&-overlay{
			background: rgba(#142A3F, .9);
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-layout{
			left: 0;
			position: relative;
			height: 100%;
			background: #fff;
			transition: left .5s ease;
		}

		&-content{
			height: calc(100% - #{$headHeight});
		}


		&-list{
			display: table;
			width: 100%;
			padding: 10px 0;
		}

		&-cell{
			display: table-cell;
			vertical-align: middle;
			padding: 10px 0;


			&_logo{
				padding-left: 26px;
				border-left: 4px solid transparent;
				transition: border .3s ease;
				width: 62px;

				.is-active &{
					border-left-color: $colorBlue;
				}
			}

			&_info{
				font-size: 13px;
			}

			&_action{
				text-align: right;

				.fail{
					font-size: 12px;
				}
			}

			&_auth{
				width: 24px;
				padding-left: 15px;
				padding-right: 20px;
			}

		}

		&-item{
			display: table-row;
			transition: background .3s ease;
			cursor: default;

			&:hover{
				background: rgba($colorBlueXLight, .3);
			}

			&.is-active{
				background: rgba($colorBlueXLight, .5);
			}

			&-logo{
				width: 42px;
				height: 42px;
				background: $colorBlue no-repeat 50% 50%;
				background-size: cover;
				position: relative;
				border-radius: 50%;
				color: $colorGreyLight;


				&:before{
					content: '';
					position: absolute;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					border: 2px solid #fff;
					box-sizing: border-box;
					top: 31px;
					left: 33px;
					background: currentColor;
				}
			}

			&-name{
				margin-bottom: 5px;
			}

			&-email{
				color: $colorGrey;
			}


			&-action{

			}

			&-auth{
				path{
					fill: $colorGrey;
				}
			}
		}
	}
</style>