<template lang="pug">
	.aside__group(v-if="mainDataLoaded && !allCompany.name")
		.aside__title МОЯ КОМПАНИЯ
		.aside__group-content
			router-link.btn.btn_green(tag="div", :to="{name: 'company'}") СОЗДАТЬ

	.aside__group(v-else, :class="{'is-open': isOpen}")
		.aside__title МОЯ КОМПАНИЯ
		.aside__group-content
			.aside__group-title.aside__group-title_menu(@click="isOpen = !isOpen")
				.aside__group-title-logo(:style="'background-image:url(' + allCompany.image + ')'")
				.aside__group-title-name
					span(v-if="mainDataLoaded", :title="allCompany.name || 'Моя компания'") {{ allCompany.name || 'Моя компания' }}
					span(v-else): fake-text(width="60px")
			slide-up-down.aside__group-menu(:active="isOpen")
				ul
					li(v-for='item in menu'): router-link(:to="{name: item.name}" , :class="{'is-active': $route.meta.group === item.name, 'is-disabled': !allCompany.name }") {{ item.title }}

</template>

<script>

	import {mapGetters, mapState} from "vuex";

	export default {
		data() {
			return {

				isOpen: true,

				menu: [
					{
						name: 'home',
						title: 'Моя компания'
					},
					{
						name: 'adverts',
						title: 'Объявления'
					},
					{
						name: 'showcase',
						title: 'Витрина'
					},
					{
						name: 'headings',
						title: 'Заголовки'
					},
					{
						name: 'dialogs',
						title: 'Диалоги'
					},
					{
						name: 'branches',
						title: 'Филиалы'
					},
					{
						name: 'news',
						title: 'Новости'
					},
					{
						name: 'employees',
						title: 'Сотрудники'
					},
					{
						name: 'notebook',
						title: 'Записная книжка'
					},
					{
						name: 'articles',
						title: 'Статьи'
					},
					{
						name: 'notifications',
						title: 'Оповещения'
					},
					{
						name: 'balance',
						title: 'Баланс'
					}
				]
			}
		},

		mounted (){

		},

		computed: {

			...mapState({
				user: state => state.user.info,
				company: state => state.user.company,
				allCompany: state => state.user.allData.user_company && state.user.allData.user_company.length && state.user.allData.user_company[0] ? state.user.allData.user_company[0] : {},
			}),

			...mapGetters({
				mainDataLoaded: 'user/mainDataLoaded',
			}),
		},

		watch: {

		},

		methods:{

		},

		components:{

		}
	}
</script>

<style scoped lang="scss">

</style>