<template lang="pug">
	.aside__group
		.aside__title КУРСЫ
		.aside__controll
			icon.aside__controll-item(width="20" name="settings", v-tooltip.right="'Настроить блок'", @click="openPopupSettings(0)")
			v-popover(placement="right", popoverClass="popover_finnance-quotes")
				template(slot="popover")
					.finnance-quotes
						.finnance-quotes__title Котировки
						.finnance-quotes__control
							icon(name="settings" width="18", v-close-popover.all, v-tooltip.right="'Настроить блок'", @click="openPopupSettings(1)")
							icon(name="clear", v-close-popover.all)

						.finnance-quotes__list
							.finnance-quotes__group(v-for="quote in quotes")
								.finnance-quotes__group-title {{ quote.title }}
								.finnance-quotes__group-list
									.finnance-quotes__item(v-for="item in quote.items")
										.finnance-quotes__item-name.link(@click="showDetailChart(item.id)", v-close-popover.all) {{ item.name }}
										.finnance-quotes__item-value
											span.date(v-if="item.date") {{ item.date }}
											span.diff(v-if="item.diff", :class="{'c-red': item.direction === 'down', 'c-green': item.direction === 'up'}") {{ item.diff }}
											span.value {{ item.value }}
											span.subtext(v-if="item.subtext") {{ item.subtext }}



				icon.aside__controll-item(width="20" name="dots-horizontal", v-tooltip.right="'Котировки'")
		.aside__group-content
			.aside__finnance
				.aside__finnance-list
					.aside__finnance-item(v-for="cource in cources")
						.aside__finnance-name {{ cource.name }}
						icon.aside__finnance-arrow(v-if="cource.direction", :class="{'c-red': cource.direction === 'down', 'c-green': cource.direction === 'up'}", :name="cource.direction === 'up' ? 'triangle-up' : 'triangle-down'")
						.aside__finnance-value {{ cource.value }}
						.aside__finnance-diff(:class="{'c-red': cource.direction === 'down', 'c-green': cource.direction === 'up'}") {{ cource.diff }}

		popup(v-model="popup_settings", @onClose="settingsClose").popup_finsettings
			finance-settings(@onClose="settingsClose", ref="popupSettings")

		popup(v-model="popup_chart", @onClose="chartClose").popup_finitemchart
			finance-chart(@onClose="chartClose", :id="chartId")

</template>

<script>

	import {mapState} from "vuex";

	import FinanceSettings from '../../../view/finance/settings'
	import FinanceChart from '../../../view/finance/chart'

	export default {
		components: {
			FinanceSettings, FinanceChart
		},

		data() {
			return {
				popup_settings: false,
				chartId: null,
			}
		},

		mounted (){
			this.$store.dispatch('finance/getFinanceCources');
		},

		computed: {
			...mapState({
				cources: state => state.finance.inAside,
				quotes: state => state.finance.quotes,
			}),

			popup_chart(){
				return this.chartId !== null;
			}
		},

		watch: {

		},

		methods:{
			settingsClose(){
				this.popup_settings = !1;
				this.$store.dispatch('finance/getFinanceCources');
			},

			chartClose(){
				this.chartId = null;
			},

			openPopupSettings(tab){
				this.popup_settings = true;
				setTimeout(()=>{
					this.$refs.popupSettings.activeMenu = tab
				}, 10);
			},

			showDetailChart(id){
				if (id) this.chartId = id;
			}
		},

	}
</script>

<style scoped lang="scss">
	.aside__finnance{
		margin-top: 20px;

		&-list{

		}

		&-item{
			font-size: 12px;
			font-weight: 300;
			display: flex;
			align-items: center;
			margin: 9px 0;
		}

		&-value{
			font-weight: 400;
		}

		&-arrow{
			margin: -5px -3px -5px -7px;
		}

		&-name{
			margin-right: 6px;
		}

		&-diff{
			margin-left: 5px;
		}

	}

	.finnance-quotes{

		&__title{
			font-size: 18px;
			font-weight: 500;
			padding-right: 50px;
		}

		&__control{
			position: absolute;
			color: $colorGrey;
			top: 14px;
			right: 15px;
			z-index: 1;
			display: flex;
			align-items: center;

			.icon{
				cursor: pointer;
				margin-left: 5px;
				&:hover{
					color: $colorBlue;
				}
			}
		}

		&__list{
			display: flex;
			flex-wrap: wrap;
			margin: 0 -20px;
		}

		&__group{
			width: 50%;
			padding: 0 20px;
			box-sizing: border-box;

			&-title{
				font-size: 16px;
				font-weight: 500;
				margin-top: 28px;
				margin-bottom: 18px;
			}

			&-list{

			}

		}

		&__item{
			display: flex;
			font-size: 14px;
			margin: 8px 0;

			&-name{
				width: 40%;
				box-sizing: border-box;
				padding-right: 15px;

				&.link{
					color: $colorBlue;
				}
			}

			&-value{
				width: 60%;
				display: flex;
				white-space: nowrap;
				position: relative;


				span{
					margin-left: 20px;

					&:first-child{
						margin-left: 0;
					}
				}

				.subtext{
					color: $colorGreyText;
					position: absolute;
					margin: 0;
					top: -15px;
					left: 0;
					font-size: 12px;
				}

				.diff{
					color: $colorGreyText;
				}
			}

		}

	}



	.popup_finsettings{

		&::v-deep{
			.popup__layout{
				width: 990px;
			}
		}
	}

	.popup_finitemchart{

		&::v-deep{
			.popup__layout{
				width: 990px;
			}
		}
	}

</style>