<template lang="pug">
	aside.aside
		transition(mode='out-in', name="tr-fade")
			account-menu(v-if="showAccountMenu")

		.aside__inner
			.aside__header
				a(href="//headerlink.ru", title="На главную").aside__logo.aside__logo_compact
					span.main: include ../../../img/svg/logo_compact.svg
					span.hover: include ../../../img/svg/logo_compact_home.svg
				a(href="//headerlink.ru", title="На главную").aside__logo.aside__logo_big
					span.main: include ../../../img/svg/logo.svg
					span.hover: include ../../../img/svg/logo_home.svg

			.aside__handler(@click="onAsideState"): i

			.aside__menu
				.aside__scroll(v-scrollbar)
					account-case

					company-case

					.aside__group(v-if="mainDataLoaded && allCompany.name")
						.aside__content
							.btn.btn_blue БИРЖА ЗАГОЛОВКОВ

					.aside__group
						.aside__title ПОДДЕРЖКА
						.aside__group-content
							router-link.aside__group-title(:to="{name: 'support'}", tag="div")
								icon(name="tech").aside__group-title-icon
								.aside__group-title-name Техподдержка
							.aside__group-title
								icon(name="faq").aside__group-title-icon
								.aside__group-title-name FAQ

					finnance-case

			.aside__footer
				a(href="//headerlink.ru").aside__back
					i: icon(name="back")
					span Вернуться на сайт

</template>

<script>

	import AccountMenu from './account-menu'
	import FinnanceCase from './finnance-case'
	import CompanyCase from './company-case'
	import AccountCase from './account-case'

	import {mapState, mapGetters} from "vuex";

	export default {

		components:{
			AccountMenu,
			FinnanceCase,
			CompanyCase,
			AccountCase,
		},

		data() {
			return {

			}
		},

		mounted (){
			this.loadUserData();
		},

		computed: {
			...mapState({
				user: state => state.user.info,
				company: state => state.user.company,
				allCompany: state => state.user.allData.user_company && state.user.allData.user_company.length && state.user.allData.user_company[0] ? state.user.allData.user_company[0] : {},
				showAccountMenu: state => state.base.accountMenu
			}),

			...mapGetters({
				mainDataLoaded: 'user/mainDataLoaded',
			}),

		},

		watch: {
			mainDataLoaded(){
				this.loadUserData();
			},

			'$route'(){
				this.loadUserData();
			}
		},

		methods:{

			loadUserData(){
				if ( this.mainDataLoaded && !this.allCompany.name && this.$route.name !== 'company' ){
					this.$router.push({name: 'company'});
				}
			},

			onAsideState(){
				this.$store.commit('base/TOGGLE_ASIDE');
			},

		},
	}
</script>

<style scoped lang="scss">
	.aside{

		height: 100%;
		color: #fff;
		//width: $navWidth;
		font-size: 13px;

		position: fixed;
		top: 0;
		left: 0;
		width: $asideWidthCompact;
		background: $colorAside;
		transition: width .3s ease;
		z-index: 10;

		@include breakPoint($breakPoint1){
			width: $asideWidth;
		}

		.is-wide &{
			width: $asideWidth;
		}

		&::v-deep{
			.aside{
				.btn{
					padding: 11px 15px 12px;
				}

				&__inner{
					position: relative;
					background: $colorAside;
					height: 100%;
					z-index: 1;

					&::v-deep .os-scrollbar{
						opacity: 0;
					}

				}

				&__header{
					height: $headHeight;
					box-sizing: border-box;
					border-bottom: 1px solid $colorAsideBlue;
					position: relative;
					overflow: hidden;
				}

				&__logo{

					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					transition: all .3s ease;
					opacity: 1;
					display: block;

					svg{
						height: 100%;
						width: 100%;
					}

					path{
						fill: #fff;
					}

					&_big{
						width: 168px;
						height: 19px;
						opacity: 0;
						transform: translate(0%, -50%);
						pointer-events: none;

						.is-wide &{
							opacity: 1;
							pointer-events: all;
							transform: translate(-50%, -50%);
						}

						@include breakPoint($breakPoint1){
							opacity: 1;
							pointer-events: all;
							transform: translate(-50%, -50%);
						}
					}

					&_compact{
						width: 24px;
						height: 27px;

						.is-wide &{
							opacity: 0;
							pointer-events: none;
							transform: translate(-100%, -50%);
						}

						@include breakPoint($breakPoint1){
							opacity: 0;
							pointer-events: none;
							transform: translate(-100%, -50%);
						}
					}

					span{
						display: block;
						width: 100%;
						height: 100%;
						transition: all .5s ease;

						&.main{
							position: relative;
							left: 0;
							opacity: 1;
						}
						&.hover{
							position: absolute;
							top: 0;
							left: 100%;
							opacity: 0;
						}
					}



					&:hover{

						span{

							&.main{
								left: -100%;
								opacity: 0;
							}
							&.hover{
								left: 0;
								opacity: 1;
							}
						}
					}
				}

				&__menu{
					width: $asideWidth;
					height: calc(100% - #{2 * $headHeight});
					pointer-events: none;


					.is-wide &{
						pointer-events: all;
					}

					@include breakPoint($breakPoint1){
						pointer-events: all;
					}

					.btn{
						width: 100%;
						padding-left: 10px;
						padding-right: 10px;
					}

					.os-scrollbar{
						opacity: 0!important;
					}

				}

				&__scroll{
					max-height: 100%;
					margin-left: -100%;
					opacity: 0;
					pointer-events: none;
					transition: all .3s ease;
					min-height: 100%;

					.is-wide &{
						margin-left: 0;
						opacity: 1;
						pointer-events: all;
					}


					@include breakPoint($breakPoint1){
						margin-left: 0;
						opacity: 1;
						pointer-events: all;
					}
				}

				&__handler{
					height: 26px;
					width: 26px;
					position: absolute;
					cursor: pointer;
					z-index: 2;
					top: $headHeight + 10px;
					right: 15px;


					.is-wide &{
						right: 10px;
					}

					@include breakPoint($breakPoint1){
						display: none;
					}

					i{
						width: 26px;
						height: 3px;
						position: relative;
						background: #fff;
						border-radius: 10px;
						display: block;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						transition: all .3s ease;

						.is-wide &{
							width: 3px;
						}

						&:before,
						&:after{
							content: '';
							display: block;
							position: absolute;
							width: 26px;
							height: 3px;
							background: #fff;
							border-radius: 10px;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%) rotate(0deg);
							transition: all .3s ease;

							.is-wide &{
								width: 20px;
							}
						}

						&:before{
							margin-top: -8px;

							.is-wide &{
								margin-top: 0;
								transform: translate(-50%, -50%) rotate(45deg);
							}
						}

						&:after{
							margin-top: 8px;

							.is-wide &{
								margin-top: 0;
								transform: translate(-50%, -50%) rotate(135deg);
							}
						}

					}
				}

				&__title{
					color: $colorAsideBlue;
					font-size: 11px;
					margin-bottom: 12px;
				}

				&__group{
					padding: 15px 20px 15px 16px;
					box-sizing: border-box;
					width: $asideWidth;
					background: transparent;
					border-left: 4px solid transparent;
					transition: all .3s ease;
					margin-bottom: 5px;
					position: relative;

					&:first-child{
						padding-top: 25px;
					}

					&.is-open{
						background: rgba(#142A3F, .6);
						border-left-color: $colorBlue;

						.aside__group-title_menu{

							&:before{
								transform: rotate(-45deg);
							}

							&:after{
								transform: rotate(45deg);
							}
						}
					}

					&-title{
						white-space: nowrap;
						padding-right: 18px;
						position: relative;
						user-select: none;

						& ~ .aside__group-title{
							margin-top: 13px;
						}

						&-name{
							cursor: pointer;
						}

						&_menu{

							&:before,
							&:after{
								content: '';
								width: 6px;
								height: 2px;
								background: #fff;
								position: absolute;
								top: 50%;
								right: 0;
								border-radius: 10px;
								transition: all .3s ease;
							}

							&:before{
								transform: rotate(45deg);
								margin-right: 1px;
							}

							&:after{
								transform: rotate(-45deg);
								margin-right: -2px;
							}
						}

						span{
						}

						&-icon {
							width: 24px;
							height: 24px;
							position: absolute;
							top: 7px;
							left: 8px;
							transform: translate(-50%, -50%);

							svg{

							}

							path{
								fill: $colorAsideBlue;
							}

							& ~ .aside__group-title-name{
								display: block;
								padding-left: 26px;
								overflow: hidden;
								position: relative;

								&:after{
									content: '';
									display: block;
									position: absolute;
									width: 35px;
									height: 100%;
									top: 0;
									right: 0;
									background: -moz-linear-gradient(left, rgba($colorAside,0) 0%, rgba($colorAside,1) 100%);
									background: -webkit-linear-gradient(left, rgba($colorAside,0) 0%,rgba($colorAside,1) 100%);
									background: linear-gradient(to right, rgba($colorAside,0) 0%,rgba($colorAside,1) 100%);
								}
							}
						}

						&-logo{

							width: 40px;
							height: 40px;
							position: absolute;
							border-radius: 50%;
							background: $colorBlue;
							top: 0;
							left: 0;
							background-size: cover;

							& ~ .aside__group-title-name{
								padding-left: 50px;
								position: relative;
								white-space: normal;
								font-size: 0;
								height: 40px;

								display: flex;
								justify-content: center;
								flex-direction: column;


								span{
									overflow: hidden;
									max-height: 42px;
									font-size: 11px;

									display: -webkit-box;
									justify-content: center;

									text-overflow: ellipsis;
									-webkit-line-clamp: 3;
									-webkit-box-orient: vertical;
								}
							}
						}
					}


					&-menu{
						margin-left: -10px;
						padding-left: 10px;
						margin-right: -10px;
						padding-right: 10px;
						overflow: hidden;

						li{
							padding-left: 26px;
							color: $colorAsideBlue;
							position: relative;
							margin: 12px 0 0;


						}

						a, .link{
							display: inline-block;
							cursor: pointer;

							&:before{
								content: '';
								display: block;
								width: 4px;
								height: 4px;
								border-radius: 50%;
								background: $colorAsideBlue;
								border: 0 solid transparent;
								transition: all .3s ease;
								position: absolute;
								left: 3px;
								top: 7px;
								background-clip: padding-box;
								transform: translate(-50%, -50%);
							}


							&.is-active{
								color: #fff;

								&:before{
									background-color: $colorBlue;
									border-color: rgba($colorBlue, .5);
									border-width: 3px;
								}

								.arrow-left{
									&:before{
										transform: rotate(-45deg);
									}

									&:after{
										transform: rotate(45deg);
									}
								}
							}

							&:hover{
								color: #fff;
							}

							&.is-disabled{
								cursor: default;

								&:hover{
									color: $colorAsideBlue;
								}

							}


							.arrow-left{


								&:before,
								&:after{
									content: '';
									height: 6px;
									width: 2px;
									background: #fff;
									position: absolute;
									top: 6px;
									right: 0;
									border-radius: 10px;
									transition: all .3s ease;
								}

								&:before{
									transform: rotate(45deg);
									margin-top: 1px;
								}

								&:after{
									transform: rotate(-45deg);
									margin-top: -2px;
								}
							}
						}
					}


				}

				&__footer{
					height: $headHeight;
					background: #142A3F;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					display: flex;
					justify-content: center;
					flex-direction: column;
					padding: 0 15px;
					box-sizing: border-box;
					transition: padding .3s ease;

					.is-wide &{
						padding: 0 20px;
					}

					@include breakPoint($breakPoint1){
						padding: 0 20px;
					}
				}

				&__back{

					white-space: nowrap;

					i{
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
					}

					span{
						display: inline-block;
						vertical-align: middle;
						position: relative;
						top: -1px;

						opacity: 0;
						pointer-events: none;
						transition: opacity .3s ease;

						.is-wide &{
							opacity: 1;
							pointer-events: all;
						}

						@include breakPoint($breakPoint1){
							opacity: 1;
							pointer-events: all;
						}
					}

					path{
						fill: #fff;
					}
				}

				&__controll{
					position: absolute;
					top: 12px;
					right: 16px;
					display: flex;
					align-items: center;

					&-item{
						margin-left: 10px;
						cursor: pointer;
						color: $colorAsideBlue;

						&:hover{
							color: #fff;
						}
					}
				}

			}
		}

	}
</style>