<template lang="pug">
	transition(mode='out-in', name="tr-fade", @beforeEnter="onStart", @enter="$emit('onOpen')", @afterLeave="onEnd")
		.popup(v-if="value")
			.popup__overlay
			.popup__layout
				.popup__close(v-if="!hideCloseBtn", @click="onClose"): icon(name="close")
				.popup__content
					slot

</template>

<script>
	export default {

		name: 'popup',

		props: {
			value: {
				type: [Boolean, String, Number],
				default: false
			},

			hideCloseBtn: {
				type: Boolean,
				default: false
			}
		},

		data() {
			return {
				scrollWidth: 0,
			}
		},

		watch:{
			value(val){
				if ( val ) this.onStart();
			}
		},

		created(){
			this.getScrollWidth();
		},

		methods:{
			onClose(){
				this.$emit('onClose');
			},

			onStart(){
				document.body.style.paddingRight = this.scrollWidth + 'px';
				document.body.style.overflow = 'hidden';
			},

			onEnd(){
				if ( !document.getElementsByClassName('popup').length ) {
					document.body.style.overflow = '';
					document.body.style.paddingRight = '';
				}
			},

			getScrollWidth(){
				let div = document.createElement('div');
				div.style.overflowY = 'scroll';
				div.style.width = '50px';
				div.style.height = '50px';
				document.body.append(div);
				this.scrollWidth = div.offsetWidth - div.clientWidth;
				div.remove();
			}
		},
	}
</script>

<style scoped lang="scss">





</style>
