<template lang="pug">
	.corpus__item.corpus__item_showcase(:class="{ 'corpus__item_discard': item.status.discard}")
		.corpus__item-col.corpus__item-col_check(v-if="value !== undefined")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.corpus__item-col.corpus__item-col_image
			images-preview(:images="item.info.images")

		.corpus__item-col
			.corpus__item-title {{ item.info.title }}
			.corpus__item-subtitle
				template(v-if="item.info.directions.length")
					span(v-for="(direction, index) in item.info.directions", v-if="index < 2") {{ index === 0 ? '' : ', '}} {{ direction }}
					v-popover(v-if="item.info.directions.length > 2").corpus__item-more
						template(slot="popover")
							ul
								li.nobr(v-for="(direction, index) in item.info.directions", v-if="index > 1") {{ direction }}
						span.more еще {{ item.info.directions.length - 2 }}

			.corpus__item-text {{ item.info.description }}
			.corpus__item-text
				template(v-if="item.status.url === true")
					a(:href='item.info.url', target='_blank') {{ item.info.url }}
					icon(name="success").c-green
				template(v-if="item.status.url === false")
					span.c-grey {{ item.info.url }}
					icon(name="warn").c-red

			.corpus__item-info
				icon(name="eye")
				span {{ item.info.views }}, сегодня {{ item.info.viewsToday }}
				template(v-if="item.info.location.length")
					icon(name="location")
					span(v-for="(location, index) in item.info.location", v-if="index < 2") {{ index === 0 ? '' : ', '}} {{ location }}
					v-popover(v-if="item.info.location.length > 2").corpus__item-more
						template(slot="popover")
							ul
								li.nobr(v-for="(location, index) in item.info.location", v-if="index > 1") {{ location }}
						span.more еще {{ item.info.location.length - 2 }}

		.corpus__item-col
			.corpus__item-price {{ item.info.price | discharge() }} ₽

		.corpus__item-col
			.corpus__item-pass
				.corpus__item-pass-line(:class="passLevel()")
					.corpus__item-pass-line-inner(v-if="item.status.active", :style="'width:'+ item.info.pass.percent +'%;'")
				.corpus__item-pass-info(:class="item.status.discard ? 'c-red' : ''") {{ item.info.pass.message }}
				.corpus__item-pass-control(v-if="item.status.discard")
					span.c-blue УЗНАТЬ ПОДРОБНЕЕ
				.corpus__item-pass-control(v-if="item.status.active")
					span.c-grey СНЯТЬ С ПУБЛИКАЦИИ
				.corpus__item-pass-control(v-else-if="item.status.archive")
					span.c-blue ВОССТАНОВИТЬ

		.corpus__item-col.corpus__item-col_control
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: .link Удалить диалог
						li: .link Переименовать диалог
						li: .link Изменить аватар диалога
						li: .link Участники беседы
				icon(name="dots")

</template>


<script>

	import {mapActions} from 'vuex';

	export default {
		props: {
			item: {
				type: Object,
				default: null,
			},

			value: {
				type: Array,
				default: undefined
			}
		},

		data(){
			return {
				btnLoading: false,
				popupMoveItem: false,
				popupDeleteItem: false,
				popupDeleteHold: false,
			}
		},

		mounted(){

		},

		computed: {
			model :{
				get() { return this.value;},
				set(value) { this.$emit('input', value);}
			}
		},

		methods:{

			...mapActions('advert', {
				copyItemAction: 'copyItem',
				deleteItemAction: 'deleteItem',
				getList: 'getList',
				moveItemAction: 'moveItem',
			}),

			copyItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.copyItemAction(this.item.id)
					.then((res)=>{
						if ( res.id ) this.$router.push({ path: `/adverts/${res.id}` });
					})
					.finally(()=>{
						this.btnLoading = false;
					});
			},

			deleteItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.deleteItemAction([this.item.id])
					.then((res)=>{
						if ( res.status === true ){
							this.popupDeleteItem = !1;
							this.getList();
						}
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},

			moveItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.moveItemAction({
					action: this.popupMoveItem,
					id: [this.item.id]
				})
					.then((res)=>{
						if ( res.status === true ){
							this.popupMoveItem = !1;
							this.getList();
						}
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},

			passLevel(){

				let val = '';

				if ( !this.item.status.active ){
					val = '';
				} else if ( this.item.info.pass.percent > 66 ){
					val = 'is-max';
				} else if ( this.item.info.pass.percent > 33 ){
					val = 'is-mid';
				} else if  ( this.item.info.pass.percent > 0 ){
					val = 'is-min';
				}

				return val;
			}
		}
	}
</script>

<style scoped lang="scss">

	.corpus__item-text{
		.icon{
			vertical-align: middle;
		}
	}

</style>