<template lang="pug">
	div
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}
			template(slot="control")
				.btn.btn_green(@click="popupAddContact = !0") НАЙТИ КОНТАКТ

		.content(:class="{'content_loading': loading}")
			.content__title(v-if="favorites.length") Избранные сотрудники

			.ticket(v-if="favorites.length")
				vue-scroll(:ops="{rail: {gutterOfEnds: '36px'}, scrollPanel: {scrollingY: false, scrollingX: true}, vuescroll: {mode: 'slide', zooming: false}}")
					.ticket__list
						.ticket__item.ticket__item_notebook(v-for='(item, index) in favorites', :class="addActivityClass(item).cls")
							.ticket__item-inner
								.ticket__item-favorit(v-tooltip="'Убрать из избранного'"): include ../../img/svg/ico__favorite.svg
								.ticket__item-activity(v-html="addActivityClass(item).text")
								.ticket__item-photo(:style="'background-image:url('+ item.info.photo +');'")
								.ticket__item-name {{ item.info.name }}
								.ticket__item-position
									span {{ item.info.location }}
								.ticket__item-control
									span(v-tooltip="'Редактировать'"): include ../../img/svg/ico__edit.svg
									span(v-tooltip="'Скачать реквизиты'"): include ../../img/svg/ico__download.svg
									span
										v-popover
											template(slot="popover")
												ul
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
											include ../../img/svg/ico__dots.svg

			corpus(:options="corpus.options", :list="corpus.list", :type="'notebook'",
			@onLimitChange="onLimitChange",
			@onSearch="onSearch",
			@onTabChange="onTabChange",
			@onPagerClick="onPagerClick")
				.corpus__message(slot="noItems")
					.corpus__message-event
						.corpus__message-event-title У вас пока нет сотрудников
						.corpus__message-event-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.
						.corpus__message-event-btn
							.btn.btn_green НАЙТИ СОТРУДНИКА

					.corpus__message-info
						.corpus__message-info-item
							.corpus__message-info-logo: img(src="../../img/svg/info-cal.svg")
							.corpus__message-info-title Сотрудники
							.corpus__message-info-text Вы можете найти сотрудников

						.corpus__message-info-link: a(href='#') Зачем нужны сотрудники?
						.corpus__message-info-link: a(href='#') Какие задачи я могу назначать сотрудникам?

		popup(v-model="popupAddContact", @onClose="popupAddContact = !1").popup_contact
			addContact

</template>

<script>
	import addContact from '../../component/popups/addContact.vue'
	import _ from 'lodash'

	export default {
		data () {
			return {

				popupAddContact: false,

				loading: false,

				corpus: {
					options: {

						tabs: {
							list: [

							],
							active: false,
						},

						search: {
							placeholder: 'Начните вводить название компании'
						},

						itemsPerPage: 10
					},
					list: {
						checked: true,
						query: '',
						header: [
							{
								value: 'НАЗВАНИЕ КОМПАНИИ'
							},
							{
								value: 'ГОРОД'
							},
							{
								value: 'КОНТАКТЫ'
							},
							{
								value: ' '
							}
						],
						page: 0,
						count: false,
						items:[]
					}
				},
				favorites: []
			}
		},

		mounted(){
			this.loadData();
			this.loadFavorite();
		},

		methods:{
			loadData(){

				this.loading = true;

				let data = {};
				data.limit = this.corpus.options.itemsPerPage;
				data.offset = this.corpus.options.itemsPerPage * this.corpus.list.page;
				if (this.corpus.options.tabs.active) data.group = this.corpus.options.tabs.active;
				if (this.corpus.list.query) data.query = this.corpus.list.query;

				this.$api(
					'getNotebookList',
					data,
					(res)=>{
						if (res.groups) this.corpus.options.tabs.list = res.groups;
						if (res.currentGroup) this.corpus.options.tabs.active = res.currentGroup;
						if (res.count) this.corpus.list.count = res.count;
						this.corpus.list.items = res.list;
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			loadFavorite(){
				this.$api(
					'getNotebookFavorite',
					{},
					(res)=>{
						this.favorites = res.list;
					},
					(err)=>{

					},
					()=>{

					}
				);
			},

			onLimitChange(value){
				this.corpus.options.itemsPerPage = value;
				this.corpus.list.page = 0;
				this.loadData();
			},

			onSearch(value){
				console.info('onSearch', value);
				this.corpus.list.query = value;

				this.loadData();
			},

			onTabChange(value){
				console.info('onTabChange', value);
				this.corpus.options.tabs.active = value;
				this.corpus.list.page = 0;
				this.loadData();
			},

			onPagerClick(value){
				console.info('onPagerClick', value);

				switch (value){
					case 'prev':
						this.corpus.list.page--;
						break;
					case 'next':
						this.corpus.list.page++;
						break;
					default:
						this.corpus.list.page = value;
						break;
				}

				this.loadData();
			},

			addActivityClass: (item)=>{

				return {
					cls: item.status.blacklist ? 'is-blacklist' : item.status.deleted ? 'is-deleted' : '',
					text: item.status.blacklist  ? 'В черном списке' : item.status.deleted ? 'Удален' : ''
				}
			}
		},

		components:{
			addContact
		}
	}
</script>


<style lang="scss">

</style>