<template lang="pug">
	div
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}
			template(slot="control")
				.btn.btn_green ПОПОЛНИТЬ БАЛАНС


		.content(:class="{'content_loading': loading}")
			.content__title(v-if="payments.length") Способ пополнения

			.ticket(v-if="payments.length")
				vue-scroll(:ops="{rail: {gutterOfEnds: '36px'}, scrollPanel: {scrollingY: false, scrollingX: true}, vuescroll: {mode: 'slide', zooming: false}}")
					.ticket__list
						.ticket__item.ticket__item_balance(v-for='(item, index) in payments')
							.ticket__item-inner
								.ticket__item-activity
									span
										v-popover
											template(slot="popover")
												ul
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
											include ../../img/svg/ico__dots.svg
								.ticket__item-photo(:style="'background-image:url('+ item.logo +');'")
								.ticket__item-name {{ item.name }}
								.ticket__item-position
									span {{ item.number }}
								.ticket__item-control
									.btn.btn_green ПОПОЛНИТЬ БАЛАНС


			.content__inner.stats-balance
				.stats-balance__list
					.stats-balance__item
						.stats-balance__val
							span(v-if="balance.available") {{ balance.available | discharge() }}
							| ₽
						.stats-balance__text Актуальный остаток


					.stats-balance__item
						.stats-balance__val
							span.ico.c-green: include ../../img/svg/ico__plus.svg
							template(v-if="balance.credit") {{ balance.credit | discharge() }}
							| ₽
						.stats-balance__text Поступило в этом месяце


					.stats-balance__item
						.stats-balance__val
							span.ico.c-red: include ../../img/svg/ico__minus.svg
							template(v-if="balance.debit")  {{ balance.debit | discharge() }}
							| ₽
						.stats-balance__text Выведено в этом месяце



			corpus(:options="corpus.options", :list="corpus.list", :type="'balance'",
			@onLimitChange="onLimitChange",
			@onSearch="onSearch",
			@onTabChange="onTabChange",
			@onPagerClick="onPagerClick")
				.corpus__message(slot="noItems")
					.corpus__message-event
						.corpus__message-event-title У вас пока нет сотрудников
						.corpus__message-event-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.
						.corpus__message-event-btn
							.btn.btn_green НАЙТИ СОТРУДНИКА

					.corpus__message-info
						.corpus__message-info-item
							.corpus__message-info-logo: img(src="../../img/svg/info-cal.svg")
							.corpus__message-info-title Сотрудники
							.corpus__message-info-text Вы можете найти сотрудников

						.corpus__message-info-link: a(href='#') Зачем нужны сотрудники?
						.corpus__message-info-link: a(href='#') Какие задачи я могу назначать сотрудникам?


</template>

<script>
	import _ from 'lodash'

	export default {
		data () {
			return {
				loading: false,
				corpus: {
					options: {

						tabs: {
							list: [

							],
							active: false,
						},

						search: false,

						itemsPerPage: 10
					},
					list: {
						checked: false,
						query: '',
						header: [
							{
								value: ''
							},
							{
								value: 'НАЗВАНИЕ ОПЕРАЦИИ'
							},
							{
								value: 'ДАТА'
							},
							{
								value: 'СУММА',
								align: 'right'
							},
							{
								value: ' '
							}
						],
						page: 0,
						count: false,
						items:[]
					}
				},
				payments: [],
				balance: {},
			}
		},

		mounted(){
			this.loadData();
			this.loadPayments();
		},

		methods:{
			loadData(callback){

				this.loading = true;

				let data = {};
				data.limit = this.corpus.options.itemsPerPage;
				data.offset = this.corpus.options.itemsPerPage * this.corpus.list.page;
				if (this.corpus.options.tabs.active) data.group = this.corpus.options.tabs.active;
				if (this.corpus.list.query) data.query = this.corpus.list.query;

				this.$api(
					'getBalanceList',
					data,
					(res)=>{
						if (res.groups) this.corpus.options.tabs.list = res.groups;
						if (res.currentGroup) this.corpus.options.tabs.active = res.currentGroup;
						if (res.count) this.corpus.list.count = res.count;
						this.corpus.list.items = res.list;
						if (res.balance) this.balance = res.balance;
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
						if (callback) callback();
					}
				);
			},

			loadPayments(){
				this.$api(
					'getBalancePayments',
					{},
					(res)=>{
						if (res.payments) this.payments = res.payments;
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			onLimitChange(value){
				this.corpus.options.itemsPerPage = value;
				this.corpus.list.page = 0;
				this.loadData();
			},

			onSearch(value){
				console.info('onSearch', value);
				this.corpus.list.query = value;

				this.loadData();
			},

			onTabChange(value){
				console.info('onTabChange', value);
				this.corpus.options.tabs.active = value;
				this.corpus.list.page = 0;
				this.loadData();
			},

			onPagerClick(value){
				console.info('onPagerClick', value);

				switch (value){
					case 'prev':
						this.corpus.list.page--;
						break;
					case 'next':
						this.corpus.list.page++;
						break;
					default:
						this.corpus.list.page = value;
						break;
				}

				this.loadData();
			}
		},

		components:{
		}
	}
</script>


<style lang="scss">

</style>