<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading").kit_balance
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.stats-balance
				.stats-balance__list(v-if="balance")
					.stats-balance__item
						.stats-balance__val
							span(v-if="balance.available") {{ balance.available | discharge() }}
							| ₽
						.stats-balance__text Актуальный остаток


					.stats-balance__item
						.stats-balance__val
							span.ico.c-green: include ../../img/svg/ico__plus.svg
							template(v-if="balance.credit") {{ balance.credit | discharge() }}
							| ₽
						.stats-balance__text Поступило в этом месяце


					.stats-balance__item
						.stats-balance__val
							span.ico.c-red: include ../../img/svg/ico__minus.svg
							template(v-if="balance.debit")  {{ balance.debit | discharge() }}
							| ₽
						.stats-balance__text Выведено в этом месяце

				.stats-balance__control
					.btn.btn_green ПОПОЛНИТЬ
					.btn.btn_link.c-grey ВЫВЕСТИ


			.kit__tabs
				.corpus__tabs(v-if='tabs.list.length', v-dragscroll.x)
					.corpus__tabs-item(v-for='(tab, index) in tabs.list', :key='index', :class="((!tabs.active && index === 0) || (tab.id === tabs.active)) ? 'is-active' : ''", @click="selectTab((!tabs.active && index === 0) || (tab.id === tabs.active) ? false : tab.id)") {{ tab.name }} {{ tab.count && tab.showLength ? '(' + tab.count + ')' : '' }}


			.kit__scroll(v-if="items.length", v-scrollbar)
				.corpus__list
					.corpus__table
						.corpus__item.corpus__item_balance(v-for="item in items ")
							.corpus__item-col.corpus__item-col_check
								span(v-if="item.info.price < 0 ").c-red: include ../../img/svg/ico__minus.svg
								span(v-else).c-green: include ../../img/svg/ico__plus.svg

							.corpus__item-col
								.corpus__item-title(v-html="item.info.title")
								.corpus__item-subtitle {{ item.info.date | passedTime }}

							.corpus__item-col.corpus__item-col_right
								.corpus__item-price  {{ item.info.price > 0 ? '+' : '' }} {{ item.info.price | discharge() }} ₽



</template>

<script>

	export default {

		props: ['options'],

		data() {
			return {

				compact: false,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,

				tabs: {
					active: false,
					list: [],
				},

				page: 0,

				items: [],

				balance: null,
			}
		},

		created(){

		},

		mounted(){
			if ( !this.options.disable ) this.loadData();
		},

		methods: {
			loadData(){

				let data = {};

				if (this.tabs.active) data.group = this.tabs.active;

				this.$api(
					'getBalanceList',
					data,
					res=>{
						if (res.groups) this.tabs.list = res.groups;
						if (res.currentGroup) this.tabs.active = res.currentGroup;
						if (res.balance) this.balance = res.balance;
						this.items = res.list;
					},
					()=>{

					},
					()=>{
						this.loading = false;
					}
				);
			},

			selectTab(value){

				this.tabs.active = value;
				this.page = 0;
				this.loadData();


			}
		}

	}
</script>

<style scoped lang="scss">

	.kit_balance{

		.kit__scroll{
			max-height: 260px;
		}
	}
</style>


