<template lang="pug">
	creator-category(v-if="creatorShow", :type="creatorType", @onClose="close(true)", @onSubmit="addCategoryType", v-model="creatorModel")
	div(v-else)
		.popup__close(@click="close()")
		.popup__title {{ edit ? 'РЕДАКТИРОВАТЬ ОБЪЯВЛЕНИЕ' : 'ДОБАВИТЬ НОВОЕ ОБЪЯВЛЕНИЕ' }}
		.popup__form
			form-wrap.form__wrap(ref="form")
				FormField(:field='fields.title', v-model='advert_title', ref="advert_title")
					template(slot="dropdown", v-if="foundAdvert && foundAdvert.length && showFoundList")
						table.form__table
							tbody(v-for='(list, index) in foundAdvert')
								tr
									td(colspan='4').form__table-head
										| {{ list.title }} ({{list.items.length}})&nbsp;&nbsp;
										span.c-blue(@click="showFoundAdvert(index)", v-if="list.items.length > list.show").link Смотреть все
								tr(v-for='(item, itemIndex) in list.items', v-if='itemIndex < list.show')
									td(v-html='item.name')
									td
										span {{ item.rate }}
										span.i-info(v-if='item.rateComment', v-tooltip="item.rateComment") ?
									td
										span(v-html='item.price')
									td
										span(v-if="item.action === 'use'", @click="getSearchValue(item)").link.c-blue ИСПОЛЬЗОВАТЬ
										span(v-if="item.action === 'buy'", @click="getSearchValue(item)").link.c-green КУПИТЬ
										span(v-if="item.action === 'rent'", @click="getSearchValue(item)").link.c-yellow АРЕНДОВАТЬ

					template(slot="append")
						.link.c-blue МОИ ЗАГОЛОВКИ
				FormField(:field='fields.type', v-model='advert_type', ref="advert_type")
				//- Тема
				FormField(:field='fields.text', v-model='advert_text', ref="advert_text")
					template(slot="append")
						div
							span.link.c-grey ПРАВИЛА К ТЕКСТУ
						div
							span.link.c-blue ПРОВЕРИТЬ УНИКАЛЬНОСТЬ
							span.unique.c-black Уникальность 100% #[span.i-info(v-tooltip="'Какой то текст'") ?]

				FormField(:field='fields.link', v-model='advert_link', ref="advert_link")
				br
				FormField(:field='fields.price', v-model='advert_price', ref="advert_price")
				FormField(:field='fields.amount', v-model='advert_amount', ref="advert_amount")
				br
				FormField(:field='fields.exchange', v-model='advert_exchange')
				br
				FormField(:field='fields.branch', v-model='advert_branch', ref="advert_branch")
					template(slot="append")
						div
							span.link.c-blue(@click="popupAddBranch = !0") СОЗДАТЬ
							span.link.c-blue(@click="popupListBranch = !0") {{ advert_branch.length ? 'ИЗМЕНИТЬ СПИСОК ФИЛИАЛОВ' : 'ДОБАВИТЬ ИЗ СПИСКА ФИЛИАЛОВ'}}

				FormField(:field='fields.gallery', v-model='advert_gallery', ref="advert_gallery")
				FormField(:field='fields.video', v-model='advert_video', ref="advert_video")


		.popup__flex
			//span.c-blue.link(@click="") ПРЕДВАРИТЕЛЬНЫЙ ПРОСМОТР
			span &nbsp;
			span
				btn-item(@click="close()", :disabled="btnLoading").c-grey ОТМЕНА
				btn-item(link, @click="saveDraft", :disabled="btnLoading").c-blue СОХРАНИТЬ КАК ЧЕРНОВИК
				btn-item(blue, :disabled="!changed", :loading="btnLoading", @click="onSubmit") {{ edit ? 'СОХРАНИТЬ ОБЪЯВЛЕНИЕ' : 'ОТПРАВИТЬ НА МОДЕРАЦИЮ' }}

		popup(v-model="popupListBranch", @onClose="popupListBranch = !1").popup_set.popup_set-branch
			listBranch(v-model="advert_branch", @confirm="confirmListBranch", ref="listBranch")

		popup(v-model="popupAddBranch", :hideCloseBtn="true").popup_add
			addBranch(@onSubmit="onPopupBranchSubmit")

		popup(v-model="popupCloseConfirm", @onClose="popupCloseConfirm = !1").popup_info
			.popup__title СОХРАНИТЬ ИЗМЕНЕНИЯ В ЧЕРНОВИКЕ?
			div
				btn-item.c-grey(link, @click="close(true)", :disabled="btnLoading") ЗАКРЫТЬ
				btn-item(blue @click="saveDraft", :loading="btnLoading") СОХРАНИТЬ И ЗАКРЫТЬ



</template>

<script>

	import {mapState, mapGetters, mapActions, mapMutations} from "vuex";

	import $ from 'jquery'
	import listBranch from '../../branches/list.vue'
	import addBranch from '../../branches/form.vue'
	import {debounce} from 'lodash'

	import CreatorCategory from '@component/creator-category'

	export default {

		components:{
			CreatorCategory,
			listBranch,
			addBranch,
		},

		props: {
			id: {
				type: [Number, String],
				default: undefined
			},
		},

		data() {

			return {
				creatorShow: this.$route.params.category,
				creatorType: this.$route.params.category,
				creatorModel: [],

				edit: !!this.id,
				btnLoading: false,

				popupCloseConfirm: false,

				popupListBranch: false,
				popupAddBranch: false,

				foundAdvert: [],
				showFoundList: false,

				fields: {
					title: {
						type: 'text',
						name: 'advert_title',
						title: 'Заголовок',
						detail: 'до 70 символов',
						max: 70,
						counter: true,
						required: true,
						class: 'form__field_dd',
						validation: {
							max: {
								length: 70,
								message: 'Длинна заголовка не должна превышать 70 символов',
							},
						},
						onFocus: this.onFind,
						onKeyup: debounce(this.onFind, 300)
					},
					type: {
						type: 'select',
						name: 'advert_type',
						title: 'Тип объявления',
						placeholder: 'Выберите из списка',
						required: true,
						items: [],
						class: 'w_1-3',
					},

					text: {
						type: 'wysiwig',
						name: 'advert_text',
						title: 'Текст объявления',
						required: true,
						max: 5000,
						container: [
							'link'
						],
						counter: 'back',
						validation: {
							max: {
								length: 5000,
								message: 'Длинна текста не должна превышать 5000 символов',
							},
						},
					},

					link: {
						type: 'text',
						name: 'advert_link',
						title: 'Ссылка на товар на вашем ресурсе',
						// required: true,
						validation: {
							antiPattern: [
								{
									regex: /^(http:\/\/|https:\/\/)?(rutube\.ru|vimeo\.com|youtu\.be|www\.youtube\.com)(\/([\w\/]+)([\?].*)?)?$/i,
									message: 'Запрещены ссылки на youtube, vimeo, rutube'
								}
							],
						},
						class: 'w_2-3'
					},

					price: {
						type: 'text',
						name: 'advert_price',
						title: 'Стоимость товара/услуг',
						required: true,
						ending: '₽',
						class: 'w_1-3'
					},

					amount: {
						type: 'select',
						name: 'advert_amount',
						title: '&nbsp;',
						placeholder: 'Выберите из списка',
						required: true,
						items: [],
						class: 'w_1-3'
					},

					branch: {
						type: 'branch',
						name: 'advert_branch',
						title: 'Контактные данные',
						required: true,

						class: ''
					},

					gallery: {
						type: 'file',
						name: 'advert_gallery',
						title: 'Фото объявления',
						controls: ['remove', 'move', 'rotate'],
						max: 10,
						multiple: true,
						comments: true,
						clearText: 'Удалить все фото',
						accept: ['png', 'jpg', 'jpeg'],
					},

					video: {
						type: 'text',
						name: 'advert_video',
						title: 'Ссылка на видео объявления',

						//detail: 'Допускаются ссылки youtube, vimeo, rutube',
						validation: {
							pattern: [
								{
									regex: /^(http:\/\/|https:\/\/)?(rutube\.ru|vimeo\.com|youtu\.be|www\.youtube\.com)\/([\w\/]+)([\?].*)?$/i,
									message: 'Допускаются ссылки youtube, vimeo, rutube'
								}
							],
						},
						required: false,
						class: 'w_2-3'
					},
					exchange: {
						type: 'checkbox',
						name: 'advert_exchange',
						label: 'Рассмотрю обмен',
					},
				},
			}
		},

		computed: {
			...mapState({
				item: state => state.advert.item,
				changeStore: state => state.base.selects,
				advertType: state => state.base.selects.advertType,
				advertCount: state => state.base.selects.advertCount,
				advertTitleLenght: state => state.base.settings.advertTitleLenght,
			}),
			...mapGetters({
				changed: 'advert/changed'
			}),
			advert_title : {
				get() { return this.item.advert_title;},
				set(value) { this.SET_PROP({name: 'advert_title', value});}
			},
			advert_theme : {
				get() { return this.item.advert_theme;},
				set(value) { this.SET_PROP({name: 'advert_theme', value});}
			},
			advert_text : {
				get() { return this.item.advert_text;},
				set(value) { this.SET_PROP({name: 'advert_text', value});}
			},
			advert_link : {
				get() { return this.item.advert_link;},
				set(value) { this.SET_PROP({name: 'advert_link', value});}
			},
			advert_price : {
				get() { return this.item.advert_price;},
				set(value) { this.SET_PROP({name: 'advert_price', value});}
			},
			advert_amount : {
				get() { return this.item.advert_amount;},
				set(value) { this.SET_PROP({name: 'advert_amount', value});}
			},
			advert_type : {
				get() { return this.item.advert_type;},
				set(value) { this.SET_PROP({name: 'advert_type', value});}
			},
			advert_branch : {
				get() { return this.item.advert_branch;},
				set(value) { this.SET_PROP({name: 'advert_branch', value});}
			},
			advert_gallery : {
				get() { return this.item.advert_gallery;},
				set(value) { this.SET_PROP({name: 'advert_gallery', value});}
			},
			advert_video : {
				get() { return this.item.advert_video;},
				set(value) { this.SET_PROP({name: 'advert_video', value});}
			},
			advert_exchange : {
				get() { return this.item.advert_exchange;},
				set(value) { this.SET_PROP({name: 'advert_exchange', value});}
			},
		},

		watch:{
			changeStore() {
				this.setFormSettings();
			},

		},

		created(){
			if ( !this.creatorShow ){
				this.loadData();
			}

		},

		mounted(){

			$('body').on(`mousedown`, this.mousedown);

		},

		beforeDestroy(){
			$('body').off(`mousedown`, this.mousedown)
		},

		methods:{
			...mapMutations('advert', ['SET_PROP']),
			...mapActions('advert', ['getItem', 'saveItem']),

			close(rough){
				if (this.changed && !rough){
					this.popupCloseConfirm = true;
				} else {
					this.$emit('onSubmit');
				}
			},

			loadData(){

				this.getItem(this.id)
					.then(()=>{
						this.$refs.advert_gallery.updateFileList();
					});

				this.setFormSettings();
			},

			setFormSettings(){

				this.fields.type.items = this.advertType.map(i => {
					return {
						value: i.id,
						label: i.name,
						html: i.name
					}
				});
				this.fields.amount.items = this.advertCount.map(i => {
					return {
						value: i.id,
						label: i.name,
						html: i.name
					}
				});
				this.fields.title.max = this.advertTitleLenght;
				this.fields.title.detail = `До ${this.advertTitleLenght} символов`;
				this.fields.title.validation.max.length = this.advertTitleLenght;
				this.fields.title.validation.max.message = `Длинна заголовка не должна превышать ${this.advertTitleLenght} символов`;
			},

			onSubmit(addParam){

				this.popupCloseConfirm = !1;
				this.$refs.form.validate()
					.then(()=>{
						if ( this.btnLoading ) return false;
						this.btnLoading = true;

						this.saveItem(addParam).then(()=>{
							this.$emit('onSubmit');
						}).finally(()=>{
							this.btnLoading = false;
						});
					}, error => {

					});
			},

			saveDraft(){

				this.popupCloseConfirm = !1;
				if ( this.btnLoading ) return false;
				this.btnLoading = true;

				this.saveItem({draft: true}).then(()=>{
					this.$emit('onSubmit');
				}).finally(()=>{
					this.btnLoading = false;
				});
			},

			mousedown(e){
				if(this.foundAdvert && this.foundAdvert.length){
					if ( !$(e.target).closest('.form__field_dd').length ) this.foundAdvert = [];
				}
			},

			onFind(e){

				if ( e.length ){
					let data = {};

					data.query = e;

					this.$api(
						'findHeadings',
						data,
						(res)=>{
							let arr = res.list;

							for(let i = 0; i < res.list.length; i++){
								arr[i].show = 3;
							}

							this.foundAdvert = arr;
							this.showFoundList = !!arr.length;
						},
						(err)=>{
							// error
						},
						()=>{
							this.loading = false;
						}
					);

				} else {
					this.foundAdvert = [];
					this.showFoundList = false;
				}
			},

			showFoundAdvert(i){

				this.showFoundList = false;
				this.foundAdvert[i].show = this.foundAdvert[i].items.length;
				this.showFoundList = true;

			},

			getSearchValue(item){
				this.advert_title = item.value;
				this.showFoundList = false;
			},

			confirmListBranch(arr){
				this.advert_branch = arr;
			},

			onPopupBranchSubmit(id){
				this.popupAddBranch = false;
				if ( id ) this.advert_branch.push(id);
			},

			addCategoryType(types){
				this.loadData();
				this.creatorShow = false;
				this.advert_theme = this.creatorModel;
			}
		},

	}
</script>

<style lang="scss">

</style>


