<template lang="pug">
	div
		.popup__title ВОЗОБНОВИТЬ ОБЪЯВЛЕНИЕ

		.popup__action
			.action
				.action__item
					.action__inner
						.action__icon: img(src="../../../img/svg/info-doc.svg")
						.action__title АРЕНДА ЗАГОЛОВКА
						.action__content
							.action__text Объявление будет возобновлено и опубликовано с сегодняшнего дня до 30.12.2018
						.action__btn
							.btn.btn_blue ВОЗОБНОВИТЬ
				.action__item
					.action__inner
						.action__icon: img(src="../../../img/svg/info-doc.svg")
						.action__title СТОИМОСТЬ ЗАГОЛОВКА
						.action__content
							.action__price 1400 #[span РУБ.]
						.action__btn
							.btn.btn_green КУПИТЬ

		.popup__flex
			span &nbsp;
			span
				.btn.btn_link.c-grey(@click="close") ЗАКРЫТЬ

</template>

<script>


	export default {

		data() {
			return {

			}
		},


		watch:{

		},

		mounted(){

		},

		methods:{

			close(){
				this.$parent.$emit('onClose');
			},

		},

		components: {

		}

	}
</script>

<style lang="scss">

</style>


