<template lang="pug">
	.btn(:class="cls()", @click="(active || loading || disabled) || $emit('click')")
		slot

</template>


<script>
	export default {
		props: {
			disabled: {
				type: Boolean,
				default: false
			},
			active: {
				type: Boolean,
				default: false
			},


			link: {
				type: Boolean,
				default: false
			},
			blue: {
				type: Boolean,
				default: false
			},
			input: {
				type: Boolean,
				default: false
			},
			white: {
				type: Boolean,
				default: false
			},
			red: {
				type: Boolean,
				default: false
			},
			yellow: {
				type: Boolean,
				default: false
			},
			green: {
				type: Boolean,
				default: false
			},
			loading: {
				type: Boolean,
				default: false
			},
		},

		methods:{
			cls(){
				let cls = '';

				if ( this.loading ) cls += ' btn_loading';
				if ( this.disabled ) cls += ' btn_disabled';
				if ( this.active ) cls += ' btn_active';

				if ( this.input ) cls += ' btn_input';
				if ( this.link ) cls += ' btn_link';
				if ( this.blue ) cls += ' btn_blue';
				if ( this.yellow ) cls += ' btn_yellow';
				if ( this.white ) cls += ' btn_white';
				if ( this.red ) cls += ' btn_red';
				if ( this.green ) cls += ' btn_green';
				if ( this.loading ) cls += ' btn_loading';

				return cls
			}
		}
	}
</script>

<style scoped lang="scss">
	@import "../css/styles/var";

	.btn{
		display: inline-block;
		vertical-align: middle;
		font-size: 13px;
		border-radius: 2px;
		cursor: pointer;
		user-select: none;
		padding: 13px 20px 14px;
		text-align: center;
		box-sizing: border-box;
		transform: scale(1);
		transition: all 0.3s ease;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: auto 80%;
		max-width: 100%;

		&_link{
			padding-top: 0;
			padding-bottom: 0;
			color: $colorBlack;

			&:first-child{
				padding-left: 0;
			}

			&:last-child{
				padding-right: 0;
			}

			&:hover{
				color: $colorBlue;
			}

			& + .btn_link{
				padding-left: 0;
			}
		}

		&_input{
			border: 1px solid $colorGreyLight;
			color: $colorGrey!important;
		}

		&_white{
			background-color: #fff;
			color: $colorGrey!important;
		}

		&_red{
			background-color: $colorRed;
			color: #fff!important;

			&:hover{
				background-color: lighten($colorRed, 20%);
			}
		}

		&_yellow{
			background-color: $colorYellow;
			color: #fff!important;

			&:hover{
				background-color: lighten($colorYellow, 20%);
			}
		}

		&_blue{
			background-color: $colorBlue;
			color: #fff!important;

			&:hover{
				background-color: lighten($colorBlue, 20%);
			}
		}

		&_green{
			background-color: $colorGreen;
			color: #fff!important;

			&:hover{
				background-color: lighten($colorGreen, 20%);
			}
		}

		&_grey{
			background-color: $colorGrey;
			color: #fff!important;

			&:hover{
				background-color: $colorGreyLight;
			}
		}

		&_disabled{
			background-color: $colorGreyLight!important;
			cursor: default!important;
		}

		&:active{
			transform: scale(0.95);
		}

		&_loading{
			color: transparent;
			background-image: url("../img/svg/loading_white.svg");

			pointer-events: none;
		}
	}

</style>