<template functional lang="pug">
	.btn-group
		slot

</template>


<script>

</script>

<style scoped lang="scss">

	.btn-group{
		display: flex;

		&::v-deep{
			.btn{
				padding: 13px 10px 14px;
				border-right-width: 0;
				border-left-width: 0;
				border-radius: 0;

				&:first-child{
					padding-left: 20px;
					border-left-width: 1px;
					border-radius: 2px 0 0 2px;
				}

				&:last-child{
					padding-right: 20px;
					border-right-width: 1px;
					border-radius: 0 2px 2px 0;
				}
			}
		}

	}

</style>