<template lang="pug">
	.fake-text(:style='`width: ${width}`') &nbsp;

</template>


<script>

	export default {
		props: {
			width: {
				type: String,
				default: '100%'
			},
		}
	}
</script>

<style lang="scss">

	.fake-text{
		max-width: 100%;
		background: #7e7e7e;
		display: inline-block;
		border-radius: 30px;
		vertical-align: baseline;
		height: 1em;
		animation: pulse 1.5s ease-in-out infinite;
		//position: relative;
		//top: 0.27em;
	}


	@keyframes pulse {
		from {
			opacity: .37;
		}
		33% {
			opacity: .5;
		}
		66% {
			opacity: .25;
		}
		to {
			opacity: .37;
		}
	}

</style>