<template lang="pug">
	form
		slot

</template>

<script>

	export default {

		props: {

		},

		data() {
			return {

			}
		},

		computed: {

		},

		mounted(){

		},

		methods:{

			validate(){
				return new Promise((resolve, reject)=>{
					let collect = [], errors = [];
					function recurse(el) {
						el.map(e => {
							if (e.componentInstance) collect.push(e.componentInstance);
							if (e.children){
								recurse(e.children);
							}
						})
					}
					recurse(this.$slots.default);

					collect.filter((item)=>{
						let res = !!item.validate ? item.validate() : false;
						if ( res.errors && res.errors.length ) errors.push(res);
						return res.errors && res.errors.length ? res : false
					});

					if ( errors.length ){
						reject(errors);
					} else {
						resolve();
					}

				});
			}
		},

		components:{
		}
	}
</script>

<style lang="scss">

</style>