<template lang="pug">
	.corpus__item-image(v-if="pictures.length", @mouseleave="pictureActive = 0")
		.corpus__item-image-picture(v-for="(image, index) in pictures", :key="'picture_'+ _uid+ '_' + index", :class="pictureActive === index ? 'is-active' : ''", :style="'background-image:url('+ image +');'")
			.corpus__item-image-picture-more(v-if="images.length > pictures.length && index === 4") Еще {{ images.length - pictures.length }} фото
		.corpus__item-image-handlers(v-if="pictures.length > 1")
			.corpus__item-image-handler(v-for="(image, index) in pictures", :key="'handler_'+ _uid + '_' + index", :class="pictureActive === index ? 'is-active' : ''", :style="'left: ' + (index * 100 / pictures.length ) + '%; width: ' + (100 / pictures.length) + '%;'", @mouseover="pictureActive = index")
	.corpus__item-image(v-else)
		.corpus__item-image-picture.is-nophoto
			.corpus__item-image-picture-more Нет фото



</template>

<script>

	export default {

		props: ['images'],

		data() {

			return {

				pictureActive: 0,
				pictures: []
			}
		},


		created(){

		},

		mounted(){
			this.loadData();
		},

		computed: {
			imageUpdate(){
				return this.images;
			}
		},

		watch: {
			imageUpdate(){
				this.loadData();
			}
		},

		methods: {
			loadData(){
				this.pictures = this.images ? this.images.slice(0, 5) : [];
			}
		},

		components:{

		}

	}
</script>

<style lang="scss">

</style>


