<template lang="pug">
	.kit(:class="cls()")
		.kit__inner
			.kit__header
				.kit__header-title(v-html='title')
				.kit__header-menu
					icon(name="move").kit__move
					slot(name="menu")

			.kit__content
				.kit__message(v-if="disable") Блок в разработке
				.kit__content-inner(v-else)
					slot(name="body")
					.kit__content-loading(v-if="loading")

</template>

<script>


	export default {

		props: {
			title: {
				type: String,
				default: ''
			},
			hide: {
				type: Boolean,
				default: false
			},
			disable: {
				type: Boolean,
				default: false
			},
			compact: {
				type: Boolean,
				default: false
			},
			loading: {
				type: Boolean,
				default: false
			},

		},

		data() {
			return {

			}
		},

		methods: {
			cls(){
				let cls = '';

				if ( this.compact ) cls += ' kit_compact';
				if ( this.disable ) cls += ' kit_disable';
				if ( this.hide ) cls += ' kit_hide';

				return cls
			}
		},

		components: {
		}
	}
</script>

<style scoped lang="scss">

	@import "../css/styles/var";
	@import "../css/styles/mixins";

	.kit{
		box-sizing: border-box;
		padding: 10px;
		width: 100%;
		display: block;
		vertical-align: top;

		flex: 1 1 auto;
		flex-grow: 0;
		flex-basis: 100%;
		max-width: 100%;

		&_compact{
			flex-basis: (100% / 3);
			max-width: (100% / 3);

			@include breakPoint($breakPoint2){
				flex-basis: 50%;
				max-width: 50%;
			}
		}

		&__move{
			cursor: move;
			position: absolute;
			top: 16px;
			right: 50px;
			width: 30px;
			height: 30px;
			fill: $colorGrey;
			opacity: 0;
			transition: opacity 0.3s ease;

			&:hover{
				fill: $colorBlue;
			}

			&::v-deep svg{
				width: 100%;
				height: 100%;
			}
		}

		&__scroll{
			max-height: 400px;
			border-top: 1px solid $colorGreyLight;
		}

		&__inner{
			background: #fff;
			border-radius: 2px;
			font-size: 13px;
			box-sizing: border-box;
			box-shadow: 0 0 2px $colorGreenLight;
			height: 100%;

			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: stretch;


			.kit_hide &{
				height: auto;
			}

			.kit_disable &{
				border: 1px dashed $colorGreyLight;
				background: transparent;
				box-shadow: none;
			}

			&:hover{
				.kit__move{
					opacity: 1;
				}
			}
		}


		&__header{
			padding: 19px 30px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			&-title{
				font-size: 18px;
				font-weight: 500;

				.kit_disable &{
					color: $colorGreyLight;
				}

				&::v-deep sup{
					font-size: 11px;
					vertical-align: top;
				}
			}

			&-menu{
				font-size: 0;
				margin-right: -16px;

				.icon{
					display: inline-block;
					cursor: pointer;
					fill: $colorGrey;

					&:hover{
						fill: $colorBlue;
					}
				}
			}
		}

		&__message{
			padding: 0 30px;
			color: $colorGreyText;


			.kit_disable &{
				color: $colorGreen;
			}
		}

		&__footer{
			text-transform: uppercase;
			padding: 20px 30px;
		}

		&__content{
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: flex-start;
			align-items: stretch;

			.kit_disable &{
				padding-bottom: 20px;
			}

			.kit_hide &{
				display: none;
			}

			&-inner{
				position: relative;
				/*flex: 1 1 auto;

				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-content: space-between;
				align-items: stretch;*/
			}

			&-loading{
				min-height: 100px;
				background: url("../img/svg/loading.svg") no-repeat 50% 0;
				background-size: 40px 40px;
				position: absolute;
				width: 40px;
				height: 40px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}


		&__statictic{
			position: relative;
		}


		&__popup{
			position: absolute;
			top: 20px;
			left: 30px;
			right: 30px;
			padding: 30px;
			background: #fff;
			box-shadow: 0 0 10px $colorGreyLight;
		}

		&::v-deep .kit__chart{
			padding: 0 20px;
		}

		&::v-deep .kit__form{
			padding: 20px 30px;
		}

		&-articles{

			&__info{
				font-size: 0;
				white-space: nowrap;
				margin-bottom: 10px;
				padding: 0 30px 0;

				&-item{
					min-width: 50%;
					display: inline-block;
					vertical-align: baseline;
					box-sizing: border-box;
					padding-right: 10px;
				}

				&-value{
					font-size: 38px;

					.kit-articles__info-item_active &{
						font-size: 30px;
						color: $colorGreen;
					}
				}

				&-text{
					font-size: 11px;
					color: $colorGreyText;
				}

			}

			&__beads{
				font-size: 0;
				direction: rtl;
				text-align: left;
				margin-bottom: 10px;
				padding: 0 30px;

				&-item{
					display: inline-block;
					vertical-align: middle;
					position: relative;
					margin-right: -8px;
				}

				&-logo{
					font-size: 14px;
					color: #fff;
					width: 40px;
					height: 40px;
					border: 1px solid $colorGreyLight;
					border-radius: 50%;
					background: $colorBlue no-repeat 50% 50%;
					background-size: cover;
					line-height: 40px;
					text-align: center;
					box-sizing: border-box;
				}

				&-online{
					position: absolute;
					right: 0;
					bottom: 0;
					width: 12px;
					height: 12px;
					box-sizing: border-box;
					background: $colorGreen;
					border: 2px solid #fff;
					border-radius: 50%;
				}


				&-text{
					font-size: 13px;
					color: $colorGreyText;
				}

			}

			&__add{
				text-transform: uppercase;
			}
		}


		.stats-balance{
			padding: 0 30px 10px;
			border-bottom: 0;
		}


		.corpus{

			&__list{
				padding: 10px 0;
			}

			&__item{

				&-title{
					font-size: 14px;
					margin-bottom: 3px;
				}

				&-subtitle{
					font-size: 11px;
				}
			}
		}
	}

</style>


