<template lang="pug">
	.pass(:class="color")
		.pass__line
			.pass__background
			.pass__progress(:style="{'width': `${width}%`}")
		slot


</template>


<script>
	export default {

		name: 'pass-progress',

		props: ['persent'],

		computed: {
			width(){
				const persent = this.persent && !isNaN(parseInt(this.persent)) ? parseInt(this.persent) : 0
				return persent > 100 ? 100 : persent < 0 ? 0 : persent;
			},

			color(){
				return !this.persent && this.persent !== 0 ? 'grey'
					: this.width > 66 ? 'green'
					: this.width > 33 ? 'yellow'
					: 'red';
			}
		},

		methods:{

		}
	}
</script>

<style scoped lang="scss">

	.pass{
		color: $colorGrey;

		&.red{
			color: $colorRed;
		}

		&.green{
			color: $colorGreen;
		}

		&.yellow{
			color: $colorYellow;
		}

		&__line{
			width: 132px;
			height: 4px;
			border-radius: 3px;
			position: relative;
			display: inline-block;
		}

		&__background{
			position: absolute;
			border-radius: 3px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: currentColor;
			opacity: 0.5;
		}

		&__progress{
			position: absolute;
			border-radius: 3px;
			top: 0;
			left: 0;
			height: 100%;
			background: currentColor;
		}
	}
</style>