<template lang="pug">
	.corpus(v-if="collection === null || collection === false")
		.corpus__body
			.corpus__body-inner
				slot(name="noItems")

	.corpus(v-else, :class="{'corpus_loading': loading}")
		.corpus__tabs(v-if='collection.groups.length', v-dragscroll.x)
			.corpus__tabs-wrap
				.corpus__tabs-item(
					v-for='(tab, index) in collection.groups',
					:key='index',
					:class="{'is-active': collection.currentGroup ? tab.id === collection.currentGroup : index === 0}",
					@click="option.onGroupChange(tab.id)"
					) {{ tab.name }}
				.corpus__tabs-item.corpus__tabs-item_filter(v-if="$slots.asideFilter")
					icon(name="filter", @click="asideFilter = !asideFilter", :class="{'is-active': asideFilter}")

		.corpus__body
			.corpus__body-inner
				.corpus__search(v-if="option.searchPlaceholder !== undefined")
					input(type='text', @keyup="onSearch", v-model.trim='search', autocomplete='off', :placeholder='option.searchPlaceholder')
					icon.corpus__search-ico(name="lens")

				.corpus__list
					template(v-if="collection.list.length")
						.corpus__list-inner
							.corpus__table
								.corpus__table-head(v-if="$slots.head")
									.corpus__table-col.corpus__table-col_check(v-if='value !== undefined'): .checkbox(:class='{"is-checked" : allChecked}', @click="checkItems()")
									slot(name="head")

								slot(v-for="item in collection.list", name="item", :item="item")

						.corpus__checked(v-if="value !== undefined && value.length > 0")
							.corpus__checked-checkbox: .checkbox.is-checked
							.corpus__checked-info Отмечено: #[span {{ value.length }}{{ collection.count ? '/' + collection.count  : ''}}]
							.corpus__checked-control
								slot(name="action")

					slot(v-else, name="noResult")

				.corpus__footer(v-if="collection.list.length")
					.corpus__paging
						template(v-if='pageCount > 1')
							.corpus__paging-title Страницы
							.corpus__paging-list
								.corpus__paging-item(v-if='pageCurrent > 0', @click="option.onPageChange(pageCurrent - 1)") Предыдущая
								.corpus__paging-item(v-for='(page, index) in pages', :key='index', :class="{'is-active' : page.active}", @click="option.onPageChange(page.index)") {{ page.title }}
								.corpus__paging-item(v-if='pageCurrent < pageCount - 1', @click="option.onPageChange(pageCurrent + 1)") Следующая

					.corpus__show
						.corpus__show-label На странице
						FormField(:field='pagePerViewField', v-model='pagePerView').corpus__show-select

			.corpus__filter(v-if="$slots.asideFilter", :class="{'is-active': asideFilter}")
				.corpus__filter-wrap(v-scrollbar)
					.corpus__filter-inner
						slot(name="asideFilter")

</template>


<script>

	export default {
		props: {
			collection: {
				type: Object,
				default: () => ({
					currentGroup: false,
					count: 0,
					groups: [],
					list: [],
				}),
			},
			option: {
				type: Object,
				default: () => {
					return {
						onSearch(e){},
						onGroupChange(e){},
						onPageChange(e){},
						searchPlaceholder: 'Найти',
						pagePerView: 10
					}
				},
			},

			offset: {
				type: Number,
				default: 0
			},

			value: {
				type: Array,
				default: undefined
			},

			loading: {
				type: Boolean,
				default: false
			},
		},

		data(){
			return {
				search: '',
				timer: null,
				asideFilter: false,
				pagePerView: this.option.pagePerView,
				pagePerViewField:{
					type: 'select',
					placeholder: '',
					items: [
						{
							value: 10,
							label: '10'
						},
						{
							value: 20,
							label: '20'
						},
						{
							value: 40,
							label: '40'
						}
					],
					onChange: (value)=>{
						this.option.onLimitChange(value)
					}
				},

				delta: 2,
			}
		},


		mounted(){

		},

		computed: {

			pageCurrent(){
				return this.offset / this.pagePerView;
			},

			pageCount() {
				return Math.ceil(this.collection.count / this.pagePerView);
			},

			pages() {
				let left = this.pageCurrent + 1 - this.delta ,
					right = this.pageCurrent + 1 + this.delta + 1,
					range = [],
					rangeWithDots = [],
					l;

				for (let i = 1; i <= this.pageCount; i++) {
					if (i === 1 || i === this.pageCount || i >= left && i < right) {
						range.push({
							title: i,
							index: i - 1,
							active: i - 1 === this.pageCurrent
						});
					}
				}

				for (let i of range) {
					if (l) {
						if (i.title - l === 2) {
							rangeWithDots.push({
								index: l,
								title: l + 1
							});
						} else if (i.title - l !== 1) {
							rangeWithDots.push({
								index: null,
								title: '...'
							});
						}
					}
					rangeWithDots.push(i);
					l = i.title;
				}

				return rangeWithDots;
			},

			allChecked(){
				return this.collection.list.filter(i => {
					return this.value.indexOf(i.id) >= 0
				}).length === this.collection.list.length;
			}
		},

		methods:{

			onSearch(e){
				clearTimeout(this.timer);

				this.timer = setTimeout(()=>{
					this.option.onSearch(this.search)
				}, 500)
			},

			checkItems(){
				let val = [...this.value];

				if ( this.allChecked ){
					let page = this.collection.list.map(i => i.id);
					val = this.value.filter(i => {
						return page.indexOf(i) < 0;
					});

				} else {
					this.collection.list.map(i => {
						if ( this.value.indexOf(i.id) < 0 ) val.push(i.id);
					})
				}

				this.$emit('input', val);
			},

		}
	}
</script>

<style scoped lang="scss">


</style>