<template lang="pug">
	.chart
		highcharts(:constructor-type="'stockChart'", :options="stockOptions", ref="statistic")

</template>

<script>
	import Highcharts from 'highcharts';
	import stockInit from 'highcharts/modules/stock';
	stockInit(Highcharts);

	Highcharts.SVGRenderer.prototype.symbols.customcircle =
		function(x, y, w, h) {
			let r = 6;
			// console.info(x, y, w, h);

			return [
				//
				'M', 0, -x,
				'm', -r, 0,
				'a', r, r, 0, 1, 0, 2 * r, 0,
				'a', r, r, 0, 1, 0, -2 * r, 0,

				'M', -1.5, -x - (r/2),
				'L', -1.5, -x + (r/2),
				'M', 1.5, -x - (r/2),
				'L', 1.5, -x + (r/2),
			];
		};

	if (Highcharts.VMLRenderer) Highcharts.VMLRenderer.prototype.symbols.customcircle = Highcharts.SVGRenderer.prototype.symbols.customcircle;

	Highcharts.setOptions({
		lang: {
			loading: 'Загрузка...',
			months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
			shortMonths: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
			weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
			exportButtonTitle: "Экспорт",
			printButtonTitle: "Распечатать",
			rangeSelectorZoom: '',
			rangeSelectorFrom: 'От',
			rangeSelectorTo: 'до',
			downloadPNG: 'Download imagem PNG',
			downloadJPEG: 'Download imagem JPEG',
			downloadPDF: 'Download documento PDF',
			downloadSVG: 'Download imagem SVG',
			// resetZoom: "Reset",
			// resetZoomTitle: "Reset,
			// thousandsSep: ".",
			// decimalPoint: ','


			shortWeekdays: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
			printChart: 'Печатать график',
		}
	});

	let dates = {
		month: ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'],
		week: ['пн','вт','ср','чт','пт','сб','вс']
	};


	export default {

		props: {
			options: {
				type: Object,
			},
			chart: {
				type: Array,
				default: []
			},
			color: {
				type: String,
				default: '#3399FF'
			}
		},

		data() {
			return {

				stockOptions: {

					xAxis: {

						range: 30 * 24 * 3600 * 1000,

						crosshair:{
							color: '#a2d1ff',
							dashStyle: 'Dash',
							// snap:true
							// width:1
							zIndex:1
						}
					},
					yAxis: {
						gridLineColor: '#a2d1ff',
					},

					scrollbar: {
						enabled: false
					},

					navigator: {
						handles: {
							backgroundColor: '#3399FF',
							borderColor: '#fff',
							symbols: ['customcircle', 'customcircle'],
							lineWidth: 1,
							width: 15,
							height: 15
						},
						series: {
							color: '#f1f1f1',
							fillOpacity: 1,
							lineWidth: 0,
						},
					},

					chart: {
						events: {
							addSeries: e=>this.$emit('callback', e),
							afterPrint: e=>this.$emit('callback', e),
							beforePrint: e=>this.$emit('callback', e),
							click: e=>this.$emit('callback', e),
							load: e=>this.$emit('callback', e),
							redraw: e=>this.$emit('callback', e),
							render: e=>this.$emit('callback', e),
							selection: e=>this.$emit('callback', e),
						}
					},

					rangeSelector: {
						enabled: false,
					},

					plotOptions: {

						line: {
							states: {
								hover: {
									lineWidthPlus: 0
								}
							}
						},


						series: {
							lineWidth: 2,
							color: this.color,

							states: {

								hover: {
									halo: {
										opacity: 0,
									}
								}
							},

							marker: {
								states: {
									hover: {

										fillColor: '#fff',
										lineColor: this.color,
										lineWidthPlus: 2,
										radius: 5,
										radiusPlus: 0,
										zIndex: 10
									}
								}
							},

						}
					},

					series: [
						{data: this.chart}
					],

					tooltip: {
						borderWidth: 0,
						backgroundColor: '#fff',
						borderRadius: 4,
						shadow: true,
						style: '{"color": "#000", "cursor": "default", "fontSize": "12px", "pointerEvents": "none", "whiteSpace": "nowrap"}',


						headerFormat: "",
						useHTML: true,
						formatter: function () {

							let date = new Date(this.x),
								html = `
								<div>${this.points[0].point.data && this.points[0].point.data.title ? this.points[0].point.data.title : ''}</div>
								<div style="font-size: 20px; font-weight: 500;">${this.y}</div>
								<div>${dates.week[date.getDay()]}, ${dates.month[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}</div>
							`;


							return html;
						},
					},


				},

			}
		},

		mounted(){

		},

		methods: {
			setRange(days){
				const day = 8.64e+7;
				this.$refs.statistic.chart.xAxis[0].setExtremes(this.chart[this.chart.length - 1].x - (day * days), this.chart[this.chart.length - 1].x);
			},

			setRangeFunc(f, t){

				let line = this.stockOptions.series[0].data;

				let from = f === 0 ? line[0].x : t ? new Date(f).getTime() : new Date(this.$refs.statistic.chart.xAxis[0].getExtremes().max - f).getTime(),
					to = f === 0 ? line[line.length - 1].x : t ? new Date(t).getTime() : this.$refs.statistic.chart.xAxis[0].getExtremes().max
				;

				if ( !t && f !== 0 && to - line[0].x < f ){
					to = line[0].x + f;
				}

				this.$refs.statistic.chart.xAxis[0].setExtremes(from, to);

			},

			setData(data){
				this.stockOptions.series = [{data}];
			}
		},

		watch: {
			chart(value){
				this.setData(value);
			}
		}


	}
</script>

<style scoped lang="scss">
	.chart{
		height: 400px;
	}
</style>