<template lang="pug">
	router-link(v-if="internalLink", :to="href", :tag="tag"): slot
	a(v-else, :href="href"): slot
</template>

<script>
	export default {
		props: {
			href: {
				type: String,
				default: '#'
			},
			tag: {
				type: String,
				default: 'a'
			}
		},

		computed:{
			internalLink(){
				let url = this.href.replace(/(https?\:\/\/)/g, '');
				return url.indexOf(location.host) === 0 || url.indexOf('/') === 0;
			}
		}
	}
</script>

