<template lang="pug">
	.chart
		highcharts(:constructor-type="'stockChart'", :options="stockOptions", ref="statistic")

</template>

<script>
	import Highcharts from 'highcharts';
	import stockInit from 'highcharts/modules/stock';
	stockInit(Highcharts);

	import $ from 'jquery';


	Highcharts.SVGRenderer.prototype.symbols.customcircle =
		function(x, y, w, h) {
			var r = 6;
			// console.info(x, y, w, h);

			return [
				//
				'M', 0, -x,
				'm', -r, 0,
				'a', r, r, 0, 1, 0, 2 * r, 0,
				'a', r, r, 0, 1, 0, -2 * r, 0,

				'M', -1.5, -x - (r/2),
				'L', -1.5, -x + (r/2),
				'M', 1.5, -x - (r/2),
				'L', 1.5, -x + (r/2),
			];
		};

	if (Highcharts.VMLRenderer) Highcharts.VMLRenderer.prototype.symbols.customcircle = Highcharts.SVGRenderer.prototype.symbols.customcircle;


	let dates = {
		month: ['янв', 'фев', 'мар', 'апр', 'май', 'июн', 'июл', 'авг', 'сен', 'окт', 'ноя', 'дек'],
		week: ['пн','вт','ср','чт','пт','сб','вс']
	};


	export default {

		props: ['options'],

		data() {
			return {

				stockOptions: {

					xAxis: {

						range: 30 * 24 * 3600 * 1000,

						crosshair:{
							color: '#a2d1ff',
							dashStyle: 'Dash',
							// snap:true
							// width:1
							zIndex:1
						}
					},
					yAxis: {
						gridLineColor: '#a2d1ff',
					},

					scrollbar: {
						enabled: false
					},

					navigator: {
						handles: {
							backgroundColor: '#3399FF',
							borderColor: '#fff',
							symbols: ['customcircle', 'customcircle'],
							lineWidth: 1,
							width: 15,
							height: 15
						},
						series: {
							color: '#f1f1f1',
							fillOpacity: 1,
							lineWidth: 0,
						},
						/*xAxis:{
							breaks:[{
								breakSize: 3600000
							}]
						}*/
					},

					/*lang: {
						months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
						weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
						shortMonths: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
					},*/

					chart: {
						events: {
							addSeries: e=>this.$emit('callback', e),
							afterPrint: e=>this.$emit('callback', e),
							beforePrint: e=>this.$emit('callback', e),
							click: e=>this.$emit('callback', e),
							load: e=>this.$emit('callback', e),
							redraw: e=>this.$emit('callback', e),
							render: e=>this.$emit('callback', e),
							selection: e=>this.$emit('callback', e),
						}
					},

					lang: {
						months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
						shortMonths: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
						weekdays: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
						shortWeekdays: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
						printChart: 'Печатать график',
						rangeSelectorZoom: '',
						rangeSelectorFrom: 'От',
						rangeSelectorTo: 'до'
					},

					rangeSelector: {
						enabled: false,
						buttons: [{
							type: 'month',
							count: 1,
							text: '1m',
							events: {
								/*click: function() {
									alert('Clicked button');
								}*/
							}
						}, {
							type: 'month',
							count: 3,
							text: '3m'
						}, {
							type: 'month',
							count: 6,
							text: '6m'
						}, {
							type: 'ytd',
							text: 'YTD'
						}, {
							type: 'year',
							count: 1,
							text: '1y'
						}, {
							type: 'all',
							text: 'All'
						}],

						selected: 0,

					},

					// title: {
					// 	text: 'AAPL Stock Price'
					// },
					//

					plotOptions: {

						line: {
							states: {
								hover: {
									lineWidthPlus: 0
								}
							}
						},


						series: {
							lineWidth: 2,
							color: '#3399FF',

							states: {

								hover: {
									halo: {
										opacity: 0,
									}
								}
							},

							marker: {
								states: {
									hover: {

										fillColor: '#fff',
										lineColor: '#3399FF',
										lineWidthPlus: 2,
										radius: 5,
										radiusPlus: 0,
										zIndex: 10
									}
								}
							},

						}
					},

					series: [],

					tooltip: {
						borderWidth: 0,
						backgroundColor: '#fff',
						borderRadius: 4,
						shadow: true,
						style: '{"color": "#000", "cursor": "default", "fontSize": "12px", "pointerEvents": "none", "whiteSpace": "nowrap"}',


						headerFormat: "",
						useHTML: true,
						formatter: function () {

							// console.info(this);

							let date = new Date(this.x),
								html = `
								<div style="font-size: 20px; font-weight: 500;">${this.y}</div>
								<div>${dates.week[date.getDay()]}, ${dates.month[date.getMonth()]} ${date.getDate()}, ${date.getFullYear()}</div>
							`;


							return html;
						},
					},


				}
			}
		},

		mounted(){

		},

		methods: {
			setRange(f, t){

				let line = this.stockOptions.series[0].data;

				let from = f === 0 ? line[0].x : t ? new Date(f).getTime() : new Date(this.$refs.statistic.chart.xAxis[0].getExtremes().max - f).getTime(),
					to = f === 0 ? line[line.length - 1].x : t ? new Date(t).getTime() : this.$refs.statistic.chart.xAxis[0].getExtremes().max
				;

				if ( !t && f !== 0 && to - line[0].x < f ){
					to = line[0].x + f;
				}

				this.$refs.statistic.chart.xAxis[0].setExtremes(from, to);

			},

			setData(data){
				this.stockOptions.series = [{data}];
			}
		},


	}
</script>

<style scoped lang="scss">

</style>