<template lang="pug" >
	.corpus__item.corpus__item_advert(:class="{ 'corpus__item_discard': item.status.discard}")
		.corpus__item-col.corpus__item-col_check(v-if="value !== undefined")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.corpus__item-col.corpus__item-col_image
			images-preview(:images="item.info.images")

		.corpus__item-col
			.corpus__item-title {{ item.info.title }}
			.corpus__item-text #[span.corpus__item-subtitle Раздел:] {{ item.info.section }}
			.corpus__item-text #[span.corpus__item-subtitle Описание:] {{ item.info.description | clearTags }}
			.corpus__item-info
				icon(name="eye")
				span {{ item.info.views }}
				icon(name="comment")
				span {{ item.info.comments }}

		.corpus__item-col
			.corpus__item-price {{ item.info.price | discharge() }} ₽

		.corpus__item-col
			.corpus__item-pass
				.corpus__item-pass-line(:class="passLevel()")
					.corpus__item-pass-line-inner(v-if="item.status.active", :style="'width:'+ item.info.pass.percent +'%;'")
				.corpus__item-pass-info(:class="item.status.discard ? 'c-red' : ''") {{ item.info.pass.message }}
				.corpus__item-pass-info(v-if="item.info.status", :class="{'c-red':item.status.discard}") {{ item.info.status }}
				.corpus__item-pass-control(v-if="item.status.active")
					span.c-blue ПРОДЛИТЬ
				//-.corpus__item-pass-control(v-else-if="item.status.archive")
					span.c-blue ВОССТАНОВИТЬ

		.corpus__item-col.corpus__item-col_control
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: router-link.link(:to="'/adverts/' + item.id", v-close-popover.all) Редактировать
						li: .link(@click="popupDeleteItem = !0", v-close-popover.all) Удалить
						li: .link(@click="copyItem", v-close-popover.all) Копировать объявление
						li(v-if='item.status.draft || item.status.discard'): .link(@click="popupMoveItem = 'moderateAdvert'", v-close-popover.all) Отправить на модерацию
						li(v-if='item.status.moderate || item.status.discard'): .link(@click="popupMoveItem = 'draftAdvert'", v-close-popover.all) Отправить в черновик
						li(v-if='item.status.draft || item.status.moderate || item.status.active || item.status.discard'): .link(@click="popupMoveItem = 'archiveAdvert'", v-close-popover.all) Отправить в архив
						li(v-if='item.status.archive'): .link(@click="popupMoveItem = 'activateAdvert'", v-close-popover.all) Опубликовать объявление
				icon(name="dots")

		//- удаление объекта
		popup(v-model="popupDeleteItem", @onClose="popupDeleteItem = !1").popup_info
			.popup__title ПОДТВЕРДИТЬ
			.popup__text Вы уверены что хотите удалить объявление <span class="c-blue">{{ item.info.title }}</span>.
			.popup__flex
				span &nbsp;
				span
					btn-item(link, @click="popupDeleteItem = !1", :disabled="btnLoading") ОТМЕНА
					btn-item(red, @click="deleteItem()", :loading="btnLoading") УДАЛИТЬ

		//- перемещение объекта в другую категорию
		popup(v-model="popupMoveItem", @onClose="popupMoveItem = !1").popup_info
			.popup__title ПОДТВЕРДИТЬ
			.popup__text
				template(v-if="popupMoveItem === 'archiveAdvert'")
					template(v-if='item.status.active') Объявление будет снято с показов. Пользователи не смогу его увидеть. #[br]Вы уверены, что хотите поместить объявление в&nbsp;архив?
					template(v-else-if='item.status.moderate') Объявление не будет проверено модератором. #[br]Вы уверены, что хотите поместить объявление в архив?
					template(v-else) Вы уверены, что хотите поместить объявление в архив?
				template(v-else-if="popupMoveItem === 'draftAdvert'")
					template(v-if='item.status.moderate') Объявление не будет проверено модератором. #[br]Вы уверены, что хотите поместить объявление в черновик?
					template(v-else) Вы уверены, что хотите поместить объявление в черновик?
				template(v-else-if="popupMoveItem === 'activateAdvert'")
					template(v-if='!item.status.verified') Объявление будет опубликовано на сайте после проверки модератора.
					template(v-else) Вы уверены, что хотите возобновить показы объявления?
				template(v-else-if="popupMoveItem === 'moderateAdvert'") Объявление будет автоматически опубликовано на сайте, #[br]после успешного прохождения модерации.
			.popup__flex
				span &nbsp;
				span
					btn-item(link, @click="popupMoveItem = !1", :disabled="btnLoading") ОТМЕНА
					btn-item(red, @click="moveItem()", :loading="btnLoading") ПОДТВЕРДИТЬ


</template>


<script>

	import {mapActions} from 'vuex';

	export default {
		props: {
			item: {
				type: Object,
				default: null,
			},

			value: {
				type: Array,
				default: undefined
			}
		},

		data(){
			return {
				btnLoading: false,
				popupMoveItem: false,
				popupDeleteItem: false,
				popupDeleteHold: false,
			}
		},

		mounted(){

		},

		computed: {
			model :{
				get() { return this.value;},
				set(value) { this.$emit('input', value);}
			}
		},

		methods:{

			...mapActions('advert', {
				copyItemAction: 'copyItem',
				deleteItemAction: 'deleteItem',
				getList: 'getList',
				moveItemAction: 'moveItem',
			}),

			copyItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.copyItemAction(this.item.id)
					.then((res)=>{
						if ( res.id ) this.$router.push({ path: `/adverts/${res.id}` });
					})
					.finally(()=>{
						this.btnLoading = false;
					});
			},

			deleteItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.deleteItemAction([this.item.id])
					.then((res)=>{
						if ( res.status === true ){
							this.popupDeleteItem = !1;
							this.getList();
						}
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},

			moveItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.moveItemAction({
					action: this.popupMoveItem,
					id: [this.item.id]
				})
					.then((res)=>{
						if ( res.status === true ){
							this.popupMoveItem = !1;
							this.getList();
						}
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},

			passLevel(){

				let val = '';

				if ( !this.item.status.active ){
					val = '';
				} else if ( this.item.info.pass.percent > 66 ){
					val = 'is-max';
				} else if ( this.item.info.pass.percent > 33 ){
					val = 'is-mid';
				} else if  ( this.item.info.pass.percent > 0 ){
					val = 'is-min';
				}

				return val;
			}
		}
	}
</script>
