<template lang="pug">
	div
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}


		.content
			p: router-link(:to="{name: 'home'}") Моя компания
			p: router-link(:to="{name: 'adverts'}") Объявления
			p: router-link(:to="{name: 'headings'}") Заголовки
			p: router-link(:to="{name: 'dialogs'}") Диалоги
			p: router-link(:to="{name: 'branches'}") Филиалы
			p: router-link(:to="{name: 'news'}") Новости
			p: router-link(:to="{name: 'employees'}") Сотрудники
			p: router-link(:to="{name: 'articles'}") Статьи
			p: router-link(:to="{name: 'notifications'}") Оповещения
			p: router-link(:to="{name: 'balance'}") Баланс

</template>

<script>
	export default {
		data () {
			return {
			}
		},

		mounted(){

		}
	}
</script>


<style lang="scss">

</style>