<template lang="pug">

	footer.footer
		.footer__logo: include ../../img/svg/logo.svg
		.footer__text © «Хедерлинк», 2018
		.footer__text Обратная связь: #[a(href="mailto:ask@headerlink.ru") ask@headerlink.ru]


</template>

<script>

	export default {
		data() {
			return {

			}
		},

		mounted (){

		},

		methods:{
		},

		components:{

		}
	}
</script>

<style scoped lang="scss">

	.footer{
		color: $colorGrey;
		font-size: 14px;
		padding: 25px 36px 20px;

		&__logo{

			display: inline-block;
			vertical-align: baseline;
			margin-right: 14px;

			svg{
				width: 168px;
				height: 18px;
			}

			path{
				fill: currentColor;
			}
		}

		&__text{
			display: inline-block;
			vertical-align: baseline;
			padding-right: 30px;
			position: relative;
			margin-right: 30px;

			&:after{
				content: '';
				display: block;
				position: absolute;
				height: 30px;
				width: 1px;
				background: $colorGreyLight;
				bottom: -3px;
				right: 0;
			}

			&:last-child{
				&:after{
					display: none;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}

	}
</style>