<template lang="pug">

	.header-wrap
		header.header
			.header__title(v-if="$slots.title")
				slot(name="title")

			.header__search(v-if="$slots.search")
				slot(name="search")

			.header__control
				slot(name="control", :action="action")

		transition(mode='out-in', name="tr-fade", v-if="$slots.aside")
			.header__aside(v-if="openAside")
				.header__aside-overlay(@click="openAside = false")
				.header__aside-inner
					.header
						.header__control
							slot(name="control", :action="action")

					.header__aside-body
						.header__aside-menu
							slot(name="aside", :action="action")
								.header__aside-item
									.header__aside-item-logo
									.header__aside-item-info
										.header__aside-item-title
										.header__aside-item-text
									.header__aside-item-link



</template>

<script>

	export default {

		name: 'header-wrap',

		data() {
			return {
				openAside: false,
			}
		},

		mounted (){

		},

		methods:{
			aside(act){
				if (act === undefined) {
					this.openAside = !this.openAside;
				} else {
					this.openAside = !!act;
				}
			}
		},

		computed:{
			action(){
				return {
					aside: this.aside
				}
			}
		}
	}
</script>

<style scoped lang="scss">

	.header-wrap{


		&::v-deep ~ .content{
			padding-top: ($headHeight + 30px);
			display: flex;
			flex-direction: column;
		}
	}

	.header{
		height: $headHeight;
		border-bottom: 1px solid $colorGreyLight;
		box-sizing: border-box;
		padding: 0 36px;
		background: #fff;
		transition: left 0.3s ease;
		max-width: 100%;

		display: flex;
		//justify-content: space-between;
		align-items: center;

		position: fixed;

		left: $asideWidthCompact;
		top: 0;
		right: 0;
		z-index: 9;

		@include breakPoint($breakPoint1){
			left: $asideWidth;
		}

		&__title{
			font-size: 20px;
			font-weight: 500;
			margin-right: 20px;

			&::v-deep > *{
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
			}


			&::v-deep .ico{
				position: relative;
				top: 2px;
				fill: $colorGrey;

				&:hover{
					fill: $colorBlue;
				}
			}
		}

		&__control{
			margin-left: auto;

			&::v-deep .btn{
				margin-left: 20px;
			}
		}

		&__search{
			display: flex;

			&::v-deep .m-form-item{
				margin-right: -1px;
			}

			&::v-deep .m-form-input{
				width: 600px;
			}

			&::v-deep button{
				background: $colorBlue;
				border-color: $colorBlue!important;
				color: #fff;
			}
		}



		.is-wide &{
			@include breakPoint(0, $breakPoint1){
				left: $asideWidth;
			}
		}

		&__aside{
			position: fixed;
			z-index: 10;

			&-inner{
				width: 550px;
				background: #fff;
				position: fixed;
				right: 0;
				top: 0;
				height: 100%;

				.header{
					position: relative;
					left: 0!important;
				}
			}

			&-overlay{
				background: rgba(#142A3F, .9);
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			&::v-deep{

				.header__aside-item{
					padding: 20px 30px;
					position: relative;
					display: flex;
					align-items: center;
					cursor: pointer;


					&:before{
						content: '';
						position: absolute;
						width: 4px;
						left: 0;
						top: 0;
						height: 100%;
						background: transparent;
					}

					&:hover{
						background: #DDEFF9;

						&:before{
							background: $colorBlue;
						}
					}


					&-logo{
						width: 42px;
						min-width: 42px;
						height: 42px;
						border-radius: 50%;
						background: $colorGreyLight 50% 50%;
						background-size: cover;
						align-self: flex-start;
						margin-right: 20px;
					}

					&-info{
						line-height: 1.5;
						flex: 1 1 auto;
					}

					&-title{
						font-size: 16px;
						color: $colorBlack;
						font-weight: 400;
						margin-bottom: 3px;
					}
					&-text{
						font-size: 13px;
						color: $colorGreyText;
						font-weight: 400;
					}
					&-link{
						color: $colorBlue;
						margin-left: 20px;
						white-space: nowrap;
					}
				}
			}
		}
	}
</style>