<template lang="pug">
	div

		.popup__title {{ title }}

		.kit__finance(v-if="loaded")
			.kit__finance-body
				.kit__finance-main
					.kit__finance-chart
						chart-block(:chart="chart", color="#ff0000", ref="chart", @callback="callback")
				.kit__finance-side
					.kit__finance-main
						.form__btns
							.form__btns-item(:class="{'is-active': rangeDays < 2 }", @click="$refs.chart.setRange(1)") Сегодня
							.form__btns-item(:class="{'is-active': rangeDays > 5 && rangeDays < 9 }", @click="$refs.chart.setRange(7)") Неделя
							.form__btns-item(:class="{'is-active': rangeDays > 25 && rangeDays < 35 }", @click="$refs.chart.setRange(30)") Месяц
							.form__btns-item(:class="{'is-active': rangeDays > 360 }", @click="$refs.chart.setRange(365)") Год

					.kit__finance-table
						.kit__finance-table-title За последние 10 дней
						table.kit__finance-table-item
							thead
								tr
									th Дата
									th Курс
									th Изменение
							tbody
								tr(v-for="item in table")
									td {{ $moment(item.date).format('DD.MM.YY') }}
									td {{ item.value }}
									td.value
										span
											| {{ item.diff.toFixed(4) }}
											icon(:name="item.diff === 0 ? '' : item.diff > 0 ? 'triangle-up' : 'triangle-down'", :class="{'c-green': item.diff > 0, 'c-red': item.diff < 0, 'c-white': item.diff === 0}")


		.popup__flex
			span
			span
				btn-item(@click="close()").c-grey ЗАКРЫТЬ


</template>

<script>

	import {mapState, mapActions} from "vuex";
	import ChartBlock from '../../component/chart'

	export default {

		components: {
			ChartBlock
		},

		props: {
			id: {}
		},

		data() {

			return {
				rangeDays: 0,
				loaded: false,
			}
		},

		computed: {
			...mapState({
				chart: state => state.finance.itemChart.data,
				title: state => state.finance.itemChart.title,
			}),


			table(){
				return this.chart && this.chart.length ? this.chart.map( (item, idx) =>{
					return {
						date: item.x,
						diff: idx > 0 ? item.y - this.chart[idx - 1].y : item.y,
						value: item.y.toFixed(4),
					};
				}).slice(this.chart.length > 10 ? this.chart.length - 10 : 0).reverse() : [];
			}
		},

		watch:{

		},

		mounted(){
			this.getFinanceItemChart(this.id)
			.finally(()=>{
				this.loaded = true;
			});
		},

		methods:{
			...mapActions('finance', ['getFinanceItemChart']),

			close(){
				this.$emit('onClose');
			},

			callback(e){
				if ( e.target && e.target.axes && e.target.axes.length ) this.rangeDays = (e.target.axes[0].userMax - e.target.axes[0].userMin) / 8.64e+7;
			}
		},

	}
</script>

<style scoped lang="scss">
	.popup__title{
		text-align: left;
	}

	.kit__finance{

		&-head{
			display: flex;
			margin-bottom: 20px;
		}

		&-body{
			display: flex;
		}

		&-main{
			min-width: 0;
			margin-bottom: 20px;

			.form__btns{
				width: auto;
			}
		}

		&-side{
			width: 280px;
			min-width: 280px;
			margin-left: 30px;
		}

		&-chart{
			margin-top: 30px;
		}

		&-table{
			&-title{
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 10px;
				color: $colorBlack;
			}

			table{
				width: 100%;
				font-size: 12px;

				th{
					font-size: 13px;
					font-weight: 500;
					text-align: left;
					width: 30%;
					padding-bottom: 7px;
				}

				td{
					padding: 7px 7px 7px 0;
					text-align: left;
					width: 30%;
					color: #1E1E1E;

					span{
						display: inline-flex;

						.icon{
							margin: -5px 0;
						}
					}

					&.value{
						text-align: right;
					}
				}
			}
		}
	}
</style>


