<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading").kit_headings
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.kit__tabs(v-if='tabs.length')
				.corpus__tabs(v-dragscroll.x)
					.corpus__tabs-item(
						v-for='tab in tabs',
						:key='tab.id',
						:class="{'is-active' : activeTab === tab.id}",
						@click="selectTab(tab.id)") {{ tab.name }}

			.kit__finance
				.kit__finance-head
					.kit__finance-main
						.form__btns
							.form__btns-item(:class="{'is-active': rangeDays < 2 }", @click="$refs.chart.setRange(1)") Сегодня
							.form__btns-item(:class="{'is-active': rangeDays > 5 && rangeDays < 9 }", @click="$refs.chart.setRange(7)") Неделя
							.form__btns-item(:class="{'is-active': rangeDays > 25 && rangeDays < 35 }", @click="$refs.chart.setRange(30)") Месяц
							.form__btns-item(:class="{'is-active': rangeDays > 360 }", @click="$refs.chart.setRange(365)") Год

					.kit__finance-side(v-tooltip.right="'Здесь вы можете выбрать интересующую вас валюту'")
						m-form-select(v-model="currency", placeholder="Фильтр валют", :items="itemsAccuracy", @change="loadData")

				.kit__finance-body
					.kit__finance-main
						.kit__finance-chart
							chart-block(:chart="chart", color="#ff0000", ref="chart", @callback="callback")
					.kit__finance-side
						.kit__finance-table
							.kit__finance-table-title За последние 10 дней
							table.kit__finance-table-item
								thead
									tr
										th Дата
										th Курс
										th Изменение
								tbody
									tr(v-for="item in table")
										td {{ $moment(item.date).format('DD.MM.YY') }}
										td {{ item.value }}
										td.value
											span
												| {{ item.diff.toFixed(4) }}
												icon(:name="item.diff === 0 ? '' : item.diff > 0 ? 'triangle-up' : 'triangle-down'", :class="{'c-green': item.diff > 0, 'c-red': item.diff < 0, 'c-white': item.diff === 0}")



</template>

<script>

	import {mapState} from 'vuex'
	import ChartBlock from '../../component/chart'

	export default {

		props: ['options'],

		components: {
			ChartBlock
		},

		data() {
			return {
				compact: false,
				loading: this.options.disable !== undefined ? !this.options.disable : false,
				title: this.options.title,
				rangeDays: 0,

				itemsAccuracy: [],

			}
		},

		computed: {
			...mapState({
				tabs: state => state.finance.kit.groupList,
				activeTab: state => state.finance.kit.group,
				items: state => state.finance.kit.currencyList,
				chart: state => state.finance.kit.chart.data,
			}),

			currency: {
				get(){
					return this.$store.state.finance.kit.currency;
				},
				set(value){
					this.$store.commit('finance/SET_KIT_PROP', {name: 'currency', value})
				}
			},

			table(){
				return this.chart && this.chart.length ? this.chart.map( (item, idx) =>{
					return {
						date: item.x,
						diff: idx > 0 ? item.y - this.chart[idx - 1].y : item.y,
						value: item.y.toFixed(4),
					};
				}).slice(this.chart.length > 10 ? this.chart.length - 10 : 0).reverse() : [];
			}
		},

		mounted(){
			if ( !this.options.disable ) this.loadData();
		},

		methods: {
			loadData(){
				this.loading = true;
				this.$store.dispatch('finance/getFinanceKit')
					.finally(()=>{
						this.loading = false;
						this.itemsAccuracy = this.items.map( item => {
							return {
								value: item.id,
								label: item.name,
							}
						})
					});
			},

			selectTab(value){
				this.$store.commit('finance/SET_KIT_PROP', {name: 'group', value});
				this.loadData();
			},

			callback(e){
				if ( e.target && e.target.axes && e.target.axes.length ) this.rangeDays = (e.target.axes[0].userMax - e.target.axes[0].userMin) / 8.64e+7;
			}
		}

	}
</script>

<style scoped lang="scss">

	.kit__finance{
		//height: 290px;
		padding: 19px 30px;

		&-head{
			display: flex;
			margin-bottom: 20px;
		}

		&-body{
			display: flex;
		}

		&-main{
			min-width: 0;
			flex: 1 1 auto;

			.form__btns{
				width: auto;
			}
		}

		&-side{
			width: 220px;
			min-width: 220px;
			margin-left: 30px;
		}

		&-chart{
			margin-top: 30px;
		}

		&-table{
			&-title{
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 10px;
			}

			table{
				width: 100%;
				font-size: 12px;

				th{
					font-size: 13px;
					font-weight: 500;
					text-align: left;
					width: 30%;
					padding-bottom: 7px;
				}

				td{
					padding: 7px 7px 7px 0;
					text-align: left;
					width: 30%;
					color: #1E1E1E;

					span{
						display: inline-flex;

						.icon{
							margin: -5px 0;
						}
					}

					&.value{
						text-align: right;
					}
				}
			}
		}
	}
</style>


