<template lang="pug">
	div
		//-.popup__close(@click="close")

		.popup__title Настройки курсов

		.popup__wrap
			.popup__wrap-aside(v-if="loaded")
				.popup__menu
					.popup__menu-list
						.popup__menu-item(v-for="menu in menus", :class="{'is-active': activeMenu === menu.idx}", @click="clickMenu(menu.idx)") {{ menu.name }}

			.popup__wrap-content(v-if="loaded")
				.popup__wrap-tags
					m-form-button(v-for="(tag, index) in tags", :key="index", @click="scrollTo(tag.index)") {{ tag.tag }}

				.corpus__tabs(v-dragscroll.x)
					.corpus__tabs-item(
						v-for='(tab, index) in options', :key='index', :class="{'is-active' : activeTab === index}", @click="activeTab = index") {{ tab.name }}

				.popup__wrap-courses(v-scrollbar, ref="courses")
					.popup__wrap-courses-inner
						.popup__wrap-courses-group(v-for="group in groups")
							.popup__wrap-courses-title {{ group.name }}
							.popup__wrap-courses-list
								.popup__wrap-courses-item(v-for="item in group.list")
									m-form-checkbox(v-model="modelCourses", :id="item.value"): span(v-tooltip.right="item.toolpip") {{ item.label }}

				hr
				.popup__wrap-options
					.popup__wrap-accuracy
						.popup__wrap-accuracy-title Знаков после запятой
						.popup__wrap-accuracy-select
							m-form-select(v-model="modelAccuracy", placeholder="Знаков после запятой", :items="itemsAccuracy")
					.popup__wrap-accuracy-higlight
						m-form-checkbox(v-model="modelHighlight") Помечать цветом резкие изменения курса

				//-pre {{ models }}

				.popup__flex
					span
						//-btn-item(@click="", :disabled="btnLoading").c-grey СБРОСИТЬ НАСТРОЙКИ
					span
						btn-item(@click="close()", :disabled="btnLoading").c-grey ОТМЕНА
						btn-item(blue, :disabled="!changed", :loading="btnLoading", @click="onSubmit") СОХРАНИТЬ


</template>

<script>

	import {mapState, mapGetters} from "vuex";

	export default {


		data() {

			return {
				btnLoading: false,
				popupCloseConfirm: false,
				activeMenu: 0,
				activeTab: 0,
			}
		},

		computed: {
			...mapState({
				loaded: state => state.finance.settings.loaded,
				settings: state => state.finance.settings.data,
				models: state => state.finance.settings.model,
			}),

			...mapGetters({
				changed: 'finance/settingsChange',
			}),

			modelCourses:{
				get(){
					return this.models[this.activeMenu].cources;
				},
				set(value){
					this.$store.commit('finance/SET_COURSE_SETTINGS_PROP', {
						index: this.activeMenu,
						name: 'cources',
						value,
					})
				}
			},

			modelHighlight:{
				get(){
					return this.models[this.activeMenu].higlight;
				},
				set(value){
					this.$store.commit('finance/SET_COURSE_SETTINGS_PROP', {
						index: this.activeMenu,
						name: 'higlight',
						value,
					})
				}
			},

			modelAccuracy:{
				get(){
					return this.models[this.activeMenu].accuracy;
				},
				set(value){
					this.$store.commit('finance/SET_COURSE_SETTINGS_PROP', {
						index: this.activeMenu,
						name: 'accuracy',
						value,
					})
				}
			},

			itemsAccuracy(){
				return this.settings[this.activeMenu].options.accuracy.options.map( item => {
					return {
						value: item.value,
						label: item.name,
					}
				});
			},

			menus(){
				return this.settings.map( (item, idx) =>{
					return {
						name: item.name,
						idx: idx,
					}
				})
			},

			options(){
				return this.settings && this.settings[this.activeMenu] ? this.settings[this.activeMenu].options.tabs.list : [];
			},

			content(){
				return this.options[this.activeTab];
			},

			groups(){
				return this.content ? this.content.groups : [];
			},

			tags(){
				let arr = this.groups.map( (item, index) => {
					return {
						tag: item.tag,
						index: index
					}
				});

				return arr.filter((item, index) => {
					return item.tag && (index === 0 || item.tag !== arr[index - 1].tag );
				});
			},

		},

		watch:{

		},

		created(){
			this.loadData();
		},

		methods:{

			loadData(){
				this.$store.dispatch('finance/getFinanceSettings');
			},

			onSubmit(){
				this.$store.dispatch('finance/saveFinanceSettings')
				.then(()=>{
					this.$emit('onClose');
				});
			},

			close(){
				this.$emit('onClose');
			},

			clickMenu(idx){
				this.activeMenu = idx;
				this.activeTab = 0;
			},

			scrollTo(i){
				this.$refs.courses.scrollbar.scroll(this.$el.querySelectorAll('.popup__wrap-courses-group')[i], 300)
			}

		},

		components: {
		}

	}
</script>

<style scoped lang="scss">
	.popup__title{
		text-align: left;
	}

	.popup__wrap{
		display: flex;
		min-height: 500px;

		&-aside{
			width: 170px;
			min-width: 170px;
			margin-right: 48px;
		}

		&-content{
			flex: 1;
			color: #000;
		}

		&-tags{
			display: flex;
			flex-wrap: wrap;

			.m-form-button{
				margin: 0 10px 10px 0;
			}
		}

		hr{
			display: block;
			background: $colorGreyLight;
			height: 1px;
			box-shadow: none;
			width: 100%;
			margin: 0 0 25px ;
		}

		&-courses{
			max-height: 350px;
			overflow: hidden;


			&-inner{
				padding: 1px 0 14px 0;
			}

			&-title{
				margin: 33px 0 20px;
				font-size: 18px;
				font-weight: 500;
			}

			&-list{
				column-count: 4;
				column-gap: 15px;
			}

			&-item{
				margin-bottom: 6px;
				break-inside: avoid;

				span{
					padding-right: 5px;
				}
			}

			&-options{

			}
		}

		&-accuracy{
			display: flex;
			align-items: center;
			margin-bottom: 22px;

			&-title{
				font-size: 18px;
				font-weight: 500;
				margin-right: 50px;
			}

			&-select{
				width: 245px;
			}
		}
	}

	.popup__menu{
		&-list{}

		&-item{
			cursor: pointer;
			color: $colorGrey;
			font-size: 13px;
			padding: 10px 0;
			margin-bottom: 23px;
			border-bottom: 1px solid $colorGreyLight;
			user-select: none;

			&.is-active{
				font-weight: 500;
				color: #000;
				border-bottom: 2px solid $colorBlue;
			}
		}
	}

	.popup__flex{
		margin-top: 30px;
		margin-left: -10px;
	}
</style>


