


.content{
	box-sizing: border-box;
	padding: 30px 36px  0;
	transition: opacity 0.3s ease;
	flex: 1;

	&_loading{
		opacity: 0.5;
		pointer-events: none;

		&:after{
			content: '';
			background-image: url("../img/svg/loading.svg");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 80% auto;
			width: 100px;
			height: 100px;
			position: fixed;
			display: block;
			top: 50%;
			left: 50%;
			margin-top: -50px;
			margin-right: -50px;
		}
	}

	&__inner{
		@extend %substrate;
		padding: 30px;
		margin-bottom: 20px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__article{
		@extend %substrate;
		margin-bottom: 20px;
		height: 100%;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__col{
		width: 100%;
		display: inline-block;
		vertical-align: top;

		@include breakPoint($breakPoint2){
			width: 50%;
		}
	}

	&__grid{
		margin: -10px;
		font-size: 0;
	}

	&__block{

	}


	&__title{
		font-size: 18px;
		color: $colorBlack;
		font-weight: 500;
		margin-bottom: 5px;
	}
}




.checkbox{
	border: 1px solid $colorGreyLight;
	border-radius: 2px;
	width: 20px;
	height: 20px;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	background: #fff no-repeat 50% 50%;
	background-size: contain;
	margin: -4px 0;


	&:hover{
		border-color: $colorBlue;
	}

	&.is-checked{
		border-color: $colorBlue;
		background-color: $colorBlue;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23f0f0f0' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");

	}

	&.is-disabled{
		opacity: 0.5;
	}
}


.article{
	height: 100%;
	position: relative;

	&__menu{
		width: 360px;
		border-right: 1px solid $colorGreyLight;
		box-sizing: border-box;
		font-size: 14px;
		font-weight: 500;
		color: $colorGreyText;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;

		&-inner{
			padding: 20px 0;
		}

		&-item{
			padding: 17px 30px 17px 43px;
			border-left: 4px solid transparent;
			cursor: pointer;


			&:hover{
				color: $colorBlack;
			}

			&.is-active{
				border-color: $colorBlue;
				color: $colorBlack;
			}
		}
	}
	&__content{
		position: absolute;
		top: 0;
		left: 360px;
		right: 0;
		height: 100%;

		&-inner{
			padding: 50px 60px;
		}

		&-typo{
			color: $colorGreyText;
			line-height: 1.5;
			font-size: 14px;

			h1, h2,h3,h4,h5,h6 {
				font-weight: 500;
				color: $colorBlack;
			}

			h1{
				font-size: 24px;
			}

			h2{
				font-size: 20px;
			}

			h3{
				font-size: 18px;
			}

			h4{
				font-size: 16px;
			}

			h5{
				font-size: 14px;
			}

			p{
				margin: 15px 0;
			}

			img{
				max-width: 100%;
			}

			ul{
				margin: 15px 0;
				padding-left: 30px;

				li{
					margin: 5px 0;
					list-style: disc;
				}
			}
		}
	}
	&__head{
		display: flex;
		margin-bottom: 20px;

		&-icon{
			img{
				margin-right: 25px;
			}
		}

		&-aside{
			flex: 1;
		}

		&-title{
			font-size: 24px;
			margin: 10px 0;
		}

		&-text{
			font-size: 12px;
			color: $colorGreyText;
		}
	}
	&__links{
		&-item{
			font-size: 14px;
			color: $colorBlue;
			border-bottom: 1px solid $colorGreyLight;
			padding: 20px 0;
			cursor: pointer;

			&:last-child{
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}


.highcharts-tooltip{
	font-family: 'roboto', sans-serif;
}


.i-info{
	width: 14px;
	height: 14px;
	cursor: default;
	display: inline-block;
	font-size: 11px;
	text-align: center;
	line-height: 14px;
	background: rgba($colorGreyLight, 0.3);
	border-radius: 10px;
	color: $colorGreyText;
	position: relative;
	top: -3px;
	margin-left: 5px;

	.corpus__table-col &{
		margin-right: -19px;
	}

	&.v-tooltip-open{
		background: $colorBlue;
		color: #fff;
	}
}


.link{
	cursor: pointer;
	user-select: none;
}

.loading-img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.adverts-showcase{
	&__item{
		display: inline-block;
		vertical-align: middle;
		padding-left: 60px;
		position: relative;
		width: 230px;
	}

	&__ico{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 8px;
		left: 0;
		border-radius: 50%;
		text-align: center;

		.adverts-showcase__item_all &{
			background: rgba($colorBlue, .3);
			fill: $colorBlue;
		}
		.adverts-showcase__item_free &{
			background: rgba($colorGreen, .3);
			fill: $colorGreen;
		}
		.adverts-showcase__item_buzy &{
			background: rgba($colorRed, .3);
			fill: $colorRed;
		}


		svg{
			height: 100%;
		}
	}

	&__val{
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 15px;

		.adverts-showcase__item_all &{
			font-size: 38px;
		}
	}

	&__text{
		font-size: 13px;
		color: $colorGreyText;
	}
}


.stats-balance{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	z-index: 1;
	position: relative;
	border-bottom: 1px solid $colorGreyLight;

	&.content__inner{
		margin-bottom: -2px;
	}


	&__list{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 680px;
		max-width: 100%;
	}

	&__item{
		display: inline-block;
		vertical-align: middle;

		&:last-child{
			margin-right: 0;
		}
	}

	&__val{
		font-size: 30px;
		line-height: 38px;
		white-space: nowrap;
		margin-bottom: 10px;


		span{
			font-size: 38px;
			margin-right: 5px;
		}

		.ico{
			margin-right: 10px;
		}
	}

	&__text{
		font-size: 14px;
		color: $colorGreyText;
	}

	&__control{
		margin-top: 30px;
	}
}






.category{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 680px;
	max-height: calc(100vh - 40px);

	&__title{
		font-size: 16px;
		font-weight: 500;
		color: $colorBlack;
		margin-bottom: 15px;
	}

	&__left{
		box-sizing: border-box;
		flex-basis: 65%;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		.category_col-3 &{
			flex-basis: 75%;
		}
	}

	&__right{
		box-sizing: border-box;
		border-left: 1px solid $colorGreyLight;
		flex-basis: 35%;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		&-header{
			padding: 34px 30px 30px 20px;
		}


		&-footer{
			padding: 34px 30px 30px 20px;

			span{
				margin-right: 10px;
			}
		}

		.category_col-3 &{
			flex-basis: 25%;
		}
	}

	&__wide{
		box-sizing: border-box;
		flex: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	&__header{
		padding: 34px 30px 30px;
		border-bottom: 1px solid $colorGreyLight;

		.category__title{
			text-align: center;
			margin-bottom: 25px;
		}
	}

	&__filter{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
		overflow: hidden;
	}

	&__body{
		display: flex;
		flex: 1;
		flex-direction: row;
		flex-wrap: nowrap;
		flex-grow: 1;
		overflow: hidden;
	}

	&__footer{
		padding: 34px 30px 30px;
	}

	&__list{
		flex: 1;
		box-sizing: border-box;
		position: relative;
		border-left: 1px solid $colorGreyLight;

		&:first-child{
			border-left: 0;
		}

		&_tabs{
			width: 100%;
			min-width: 100%;
			height: 40px;
			border-bottom: 1px solid #CCCCCC;
			margin-bottom: -2px;

			//& ~ .category__list:nth-of-type(2){
			//	border-left: 0;
			//}
		}

		&-inner{
			padding: 25px 30px;

			.category__list_tabs &{
				padding: 0;
				display: flex;
				align-items: center;
				height: 100%;
			}
		}



		&-no{
			text-align: center;
			font-size: 13px;
			position: absolute;
			pointer-events: none;
			transform: translate(-50%, -50%);
			left: 50%;
			top: 50%;

			svg{
				width: 60px;
				height: 60px;
				fill: $colorGreyLight;
				display: block;
				margin: 0 auto 15px;
			}
		}


		&-message{
			height: 100%;
			display: flex;
			text-align: center;
			width: 100%;
			flex-direction: column;
			justify-content: center;

			p{
				margin: 10px 0;
			}
		}
	}


	&__item{
		margin: 10px 0;
		//padding-right: 30px;
		font-size: 12px;
		user-select: none;

		.category__list_tabs &{
			background: rgba($colorGrey, .75);
			color: #fff;
		}

		&:first-child{
			margin-top: 0;
		}

		&:last-child{
			margin-bottom: 0;
		}

		&:hover{
			color: $colorBlack;

			.category__list_tabs &{
				background: $colorBlue;
				color: #fff;
			}
		}

		&.is-active{
			color: $colorBlue;

			.category__list_tabs &{
				background: $colorBlue;
				color: #fff;
			}
		}

		&-name{
			margin-right: 5px;
			line-height: 1.4;
		}
		&-count{
			display: inline-block;
			background: $colorBlue;
			color: #fff;
			width: 20px;
			min-width: 20px;
			height: 20px;
			text-align: center;
			line-height: 20px;
			border-radius: 50%;
			margin: -1px 0;
			position: absolute;

			.category__list_tabs &{
			  position: relative;
			  margin-right: -15px;
			  background: #fff;
			  color: $colorGrey;
			}
		}
		&-label{
			display: block;
		}


		.dot{
			margin-right: 6px;
		}

		label{
			padding: 0!important;
			font: inherit;
			cursor: pointer;

			&:before{
				display: none;
			}
		}

		input{
			opacity: 0;
			pointer-events: none;
			position: absolute;

			&:checked{
				& + {

					label{
						color: $colorBlue;
					}
				}
			}

			&:disabled{
				& + {

					label{
						color: $colorGreyLight;
					}
				}
			}
		}

		.category__list_tabs &{
			flex: 1;
			padding: 0 30px;
			margin: 0;
			border-left: 1px solid $colorGreyLight;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			&:first-child{
				border-left: 0;
			}
		}
	}


	&__result{
		flex-grow: 1;
		height: auto;

		&-inner{
			padding: 0 30px 0 20px;
		}


		.category__item{
			color: $colorBlack;
			border-radius: 30px;
			padding: 5px 15px 5px 35px;
			position: relative;
			cursor: default;
			background: transparent;
			transition: background-color 0.3s ease;

			&:hover{
				background: $backgroundBody;
			}

			input{
				opacity: 0;
				position: absolute;
				pointer-events: none;
			}

			&-label{
				display: inline-block!important;
				position: absolute!important;
				width: 24px;
				height: 24px;
				fill: $colorGreyLight;
				top: 50%;
				left: 5px;
				margin-top: -12px;
				cursor: pointer;

				&:hover{
					fill: $colorBlue;
				}
			}
		}
	}


	&__tags{
		margin-top: 20px;
		margin-bottom: -10px;

		&:first-child{
			margin: 0;
		}

		&-title{
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px 10px 0;
		}

		.category__item{
			color: $colorBlack;
			border-radius: 30px;
			padding: 5px 35px 5px 15px;
			position: relative;
			cursor: default;
			background: $backgroundBody;
			transition: background-color 0.3s ease;
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px 10px 0;

			&:hover{
				background: $backgroundBody;
			}

			input{
				opacity: 0;
				position: absolute;
				pointer-events: none;
			}

			&-label{
				display: inline-block!important;
				position: absolute!important;
				width: 24px;
				height: 24px;
				fill: $colorGreyLight;
				top: 50%;
				margin-top: -12px;
				cursor: pointer;
				right: 5px;

				&:hover{
					fill: $colorBlue;
				}
			}

		}
	}
}



.action{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: stretch;

	&__item{
		flex: 1;
		padding: 15px;
	}
	&__inner{
		border: 1px solid $colorGreyLight;
		@include borderRadius;
		padding: 30px;
		height: 100%;
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
	}
	&__icon{
		margin-bottom: 30px;

		img{
			width: 100px;
		}
	}
	&__title{
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 30px;
		color: $colorBlack;
	}

	&__content{
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 30px;
	}

	&__text{

	}

	&__price{
		font-size: 40px;
		color: $colorBlue;
		flex: 1;

		span{
			vertical-align: baseline;
			font-size: 13px;
		}
	}


	&__btn{
		.btn{
			min-width: 208px;
		}
	}
}


.counter{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	min-width: 14px;
	text-align: center;
	background: $colorBlue;
	color: #fff;
	border-radius: 100px;
	padding: 0 3px;
}

.dot{
	display: inline-block;
	position: relative;
	top: -1px;

	i{
		width: 6px;
		height: 6px;
		border-radius: 50%;
		display: inline-block;
		background-color: currentColor;
	}
}




.dialog{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&__head{
		height: 45px;
		border-bottom: 1px solid $colorGreyLight;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px;

		&-title{
			white-space: nowrap;
		}

		&-name{
			font-size: 13px;
			font-weight: 700;
			white-space: normal;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}

		&-close{
			cursor: pointer;
			fill: $colorGreyLight;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: -2px;

			&:hover{
				fill: $colorBlue;
			}
		}
	}

	&__body{
		flex: 1;
		position: relative;

		.__vuescroll{
			position: absolute!important;
			top: 0;
			left: 0;
			width: 100%!important;
			height: 100%!important;
			//transform: scale(1, -1);
		}

		.__view{
			display: flex;
			align-items: flex-end;
		}
	}
	&__foot{
		position: relative;
		padding: 10px 75px 0 45px;

		&-typing{
			font-size: 13px;
			color: $colorGreyText;
			user-select: none;
			margin-bottom: 15px;
			position: relative;
			padding-left: 66px;

			svg{
				width: 30px;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				top: 2px;
				left: 30px;
			}

			span{
				display: inline-block;
				vertical-align: middle;
			}

		}


	}

	&__typewriter{
		.form{
			margin-bottom: -10px;

			&__field{
				margin: 0 ;

				&_file{
					.form__input{
						margin-top: 10px;
					}
				}
			}

			&__input {
				textarea{
					height: 84px;
				}

				.form__input-content{
					height: auto;
					max-height: 150px;
					padding-right: 95px;
				}
			}

			&__files-item{
				width: 130px;
			}

			&__files-controls-add{
				display: none;
			}
		}


		&-btn{
			position: absolute;
			bottom: 19px;
			right: 0;
			width: 24px;
			height: 24px;
			cursor: pointer;
			z-index: 2;

			fill: $colorGrey;

			&:hover{
				fill: $colorBlue;
			}

			&_emoji{
				right: 60px;
			}

			&_attach{
				right: 20px;
			}

			&_send{
				right: -40px;
			}
		}
	}

	&__control{
		display: flex;
		color: $colorGreyText;
		fill: $colorGreyLight;
		font-size: 13px;
		align-items: center;

		&-btn{
			cursor: pointer;
			white-space: nowrap;
			margin-left: 20px;

			svg{
				display: inline-block;
				vertical-align: middle;
			}

			span{
				margin-left: 10px;
				display: inline-block;
				vertical-align: middle;

				@include breakPoint(0, $breakPoint1){
					display: none;
				}
			}


			&:hover{
				color: $colorBlue;
				fill: $colorBlue;
			}
		}
	}


	&__item{
		//transform: scale(1, -1);
		position: relative;
		margin-top: 1px;

		label{
			user-select: auto;
			cursor: auto;
		}

		&-inner{
			display: flex;
			padding: 5px 100px 5px 50px;

			.dialog__item-attach &{
				border-left: 3px solid $colorBlue;
				padding: 0 0 0 10px;
				margin-bottom: -1px;
				background: transparent!important;
			}

			&:hover{
				background: #E5F6FF;

				.dialog__item-control{
					opacity: 1;
				}
			}

			&:before{
				display: inline-block;
				position: absolute;
				top: 19px;
				left: 20px;
				width: 20px;
				height: 20px;
				background: $colorBlue no-repeat 50% 50%;
				background-size: 80% auto;
				border-radius: 50%;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23f0f0f0' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");

				.dialog__item_compact &{
					top: 7px;
				}
			}
		}

		&-attach{
			margin: 10px 0 2px;
			position: relative;

			&-remove{
				fill: $colorGreyLight;
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
				z-index: 2;

				&:hover{
					fill: $colorBlue
				}
			}
		}

		&-checkbox{
			position: absolute;
			opacity: 0;
			pointer-events: none;

			&:checked{
				& ~ {
					.dialog__item-inner{
						background: #E5F6FF;

						&:before{
							content: '';
						}
					}
				}
			}
		}


		&-control{
			position: absolute;
			top: 10px;
			right: 25px;
			white-space: nowrap;
			opacity: 0;
			transition: opacity .3s ease;

			&-btn{
				display: inline-block;
				vertical-align: middle;
				fill: $colorGreyLight;
				margin-left: 10px;
				cursor: pointer;

				&:hover{
					fill: $colorBlue;
				}
			}
		}

		&-logo{
			width: 42px;
			margin-right: 20px;
			min-height: 24px;


			.dialog__item-attach &{
				margin-bottom: 10px;
			}

			&:before{
				content: '';
				display: block;
				width: 42px;
				height: 1px;
				margin-bottom: -1px;
			}

			&-inner{
				position: relative;

				&.is-online{
					&:after{
						content: '';
						position: absolute;
						width: 10px;
						height: 10px;
						box-sizing: border-box;
						right: 0;
						bottom: 0;
						border-radius: 50%;
						border: 2px solid #fff;
						background: $colorGreen;
					}
				}
			}

			&-image{
				width: 42px;
				height: 42px;
				background: $colorGreyLight no-repeat 50% 50%;
				overflow: hidden;
				border-radius: 50%;
				background-size: cover;
				vertical-align: top;
			}

		}


		&-body{
			flex: 1;
		}

		&-title{
			font-size: 13px;
			font-weight: 400;
			color: $colorGreyText;
			margin-bottom: 3px;
			margin-top: 4px;

			b{
				font: inherit;
				color: $colorBlack;
			}
		}

		&-text{
			color: $colorGreyText;
			font-size: 13px;
			line-height: (18/13);
		}

		&-files{
			margin: 10px 0 5px;

			&-list{
				position: relative;
				margin: -7px;
				font-size: 0;
				padding-right: 30px;
			}

			&-link{
				font-size: 14px;
				cursor: pointer;
				color: $colorBlue;
				margin: 0 0 10px;
				user-select: none;
			}

			&-download{
				fill: $colorGreyLight;
				cursor: pointer;

				display: inline-block;
				margin-right: -29px;
				margin-top: 5px;
				margin-left: 5px;

				&:hover{
					fill: $colorBlue;
				}
			}
		}
		&-file{
			display: inline-block;
			vertical-align: top;
			width: 25%;
			padding: 7px;
			box-sizing: border-box;

			&-inner{
				display: block;
				position: relative;
				height: 0;
				padding-bottom: 77%;
				background: $colorGreyLight no-repeat 50% 50%;
				background-size: cover;
				border-radius: 4px;
			}

			&-name{
				font-size: 11px;
				line-height: 13px;
				position: absolute;
				top: 3px;
				left: 5px;
				right: 0;
				max-height: 26px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				@include breakPoint($breakPoint2){
					top: 7px;
					left: 10px;
					font-size: 13px;
					line-height: 16px;
					max-height: 32px;
				}
			}

			&-type{
				padding: 0 5px;
				position: absolute;
				bottom: 5px;
				left: 5px;
				background: rgba(#fff, .8);
				border-radius: 2px;
				font-size: 11px;
				text-align: center;
				text-transform: uppercase;
				user-select: none;
				height: 20px;
				line-height: 20px;
				min-width: 26px;

				@include breakPoint($breakPoint2){
					font-size: 13px;
					min-width: 32px;
					height: 28px;
					line-height: 28px;
					bottom: 10px;
					left: 10px;
				}
			}


		}
	}

	&__date{
		text-align: center;
		padding: 10px 0;

		&-item{
			line-height: 30px;
			background: #E5F6FF;
			color: $colorGreyText;
			border-radius: 30px;
			text-align: center;
			display: inline-block;
			padding: 0 15px;
		}
	}

}


.emoji{
	max-height: 200px;

	&__item{
		display: inline-block;
		vertical-align: middle;
		margin: 5px;
		transition: all 0.2s ease;
		transform: scale(1);

		&:hover{
			transform: scale(1.25);
		}

		&:active{
			transform: scale(1);
		}
	}

	&__img{
		width: 18px;
		height: 18px;
		user-select: none;
	}

}