
.corpus{

	font-size: 13px;
	@extend %substrate;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	& > * {
		border-bottom: 1px solid $colorGreyLight;

		&:last-child{
			border-bottom: 0;
		}
	}

	&_loading{
		opacity: 0.5;
		pointer-events: none;

		&:after{
			content: '';
			background-image: url("../img/svg/loading.svg");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 80% auto;
			width: 100px;
			height: 100px;
			position: fixed;
			display: block;
			top: 50%;
			left: 50%;
			margin-top: -50px;
			margin-right: -50px;
		}
	}

	&__tabs{
		padding: 20px 10px 0;
		white-space: nowrap;
		border-bottom: 1px solid $colorGreyLight;
		margin-bottom: -1px;
		z-index: 1;
		position: relative;
		overflow: hidden;

		&-wrap{
			display: flex;
			align-items: center;
		}

		&-item{
			display: inline-block;
			margin: 0 20px 0;
			font-weight: 500;
			color: $colorGrey;
			vertical-align: bottom;
			padding-bottom: 15px;
			text-transform: uppercase;
			cursor: pointer;
			user-select: none;
			position: relative;

			&:after{
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				background: transparent
			}

			&:hover{
				color: $colorBlack;
			}

			&_filter{
				margin-left: auto;

				.icon{
					margin: -5px -5px -5px 0;

					&:hover{
						color: $colorBlue;
					}
					&.is-active{
						color: $colorBlue;
					}
				}

				@include breakPoint($breakPoint2){
					display: none;
				}
			}

			&.is-active{
				color: $colorBlack;

				&:after{
					background: $colorBlue
				}
			}
		}
	}

	&__body{
		height: 100%;
		display: flex;
		position: relative;

		&-inner{
			display: flex;
			flex-direction: column;
			height: 100%;
			flex: 1;
			max-width: 100%;
			border-left: 1px solid $colorGreyLight;

			&:first-child{
				border-left: 0;
			}
		}
	}

	&__search{
		position: relative;
		border-bottom: 1px solid $colorGreyLight;

		input{
			display: block;
			box-sizing: border-box;
			width: 100%;
			padding: 15px 65px;

			&:focus{
				& ~ * {
					fill: $colorBlue;
				}
			}
		}

		&-ico{
			position: absolute;
			top: 12px;
			left: 28px;
			width: 24px;
			height: 24px;
			color: $colorGreyLight;
		}
	}


	&__list{
		flex: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100px;

		&-inner{
			position: relative;
			flex: 1;
		}


		.__vuescroll{
			height: auto!important;
		}
	}

	&__filter{
		position: absolute;
		overflow: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		background: #fff;

		@include breakPoint($breakPoint2){
			position: relative;
		}

		&-wrap{
			width: 350px;
			height: 100%;
			margin-right: -350px;
			box-sizing: border-box;
			border-left: 1px solid $colorGreyLight;
			transition: margin-right 0.5s ease;

			@include breakPoint($breakPoint2){
				margin-right: 0;
			}
		}

		&-inner{
			padding: 30px;
		}

		&.is-active{
			.corpus__filter-wrap{
				margin-right: 0;
			}
		}
	}

	&__table{
		display: table;
		overflow: hidden;
		width: 100%;

		&-head{
			display: table-row;
		}
		&-col{
			display: table-cell;
			font-size: 11px;
			color: $colorGrey;
			padding: 28px 5px 15px;
			vertical-align: bottom;

			&:first-child{
				padding-left: 30px;
			}

			&:last-child{
				padding-right: 30px;
			}

			&_right{
				text-align: right;
			}


			&_check{
				width: 34px;
			}

			&_search{
				width: 20px;
				position: relative;
			}
		}

		&-search{
			position: relative;

			&-input{

				position: absolute;
				top: -8px;
				right: -8px;

				input{
					position: absolute;
					top: 0;
					right: 0;
					background: #fff;
					border: 1px solid transparent;
					border-radius: 3px;
					width: 38px;
					height: 38px;
					opacity: 0;
					pointer-events: none;
					transition: all 0.5s ease;
					line-height: 36px;
					padding: 0 20px;
					box-sizing: border-box;
					font-size: 13px;
				}
			}

			&-ico{
				color: $colorGreyText;
				cursor: pointer;
				position: relative;

				&:hover{
					color: $colorBlue;
				}
			}

			&.is-active{
				.corpus__table-search-input{
					input{
						width: 672px;
						border-color: $colorGreyLight;
						opacity: 1;
						pointer-events: all;
					}
				}
			}
		}
	}

	&__item{
		display: table-row;

		&:hover{
			.corpus__item-col{
				background-color: #E5F6FF;
			}

			.corpus__item-col_hover *{
				opacity: 1;
			}
		}

		&.is-active {
			.corpus__item-col{
				background-color: #e2f3fc;
			}

			.corpus__item-col_hover *{
				opacity: 1;
			}
		}

		&-line{
			width: 170px;
			border-radius: 10px;
			background: currentColor;
			height: 4px;
			margin-bottom: 12px;
		}

		&-col{
			display: table-cell;
			font-size: 11px;
			color: $colorGrey;
			vertical-align: top;
			padding: 12px 5px;
			background-color: #fff;
			transition: background-color 0.2s ease;
			max-width: 800px;

			a{
				color: $colorBlue;
			}

			&:first-child{
				padding-left: 30px;
			}

			&:last-child{
				padding-right: 30px;
			}

			&_thin{
				width: 20px;
			}

			&_check{
				width: 20px;
				vertical-align: middle;

				.form__field{
					margin: -4px 0;
					font-size: 0;
				}
			}

			&_control{
				text-align: right;
				width: 10px;
				white-space: nowrap;
				padding-right: 20px !important;
			}

			&_image{
				width: 10px;
			}

			&_hover{
				*{
					opacity: 0;
					transition: opacity 0.3s ease;
				}
			}

			&_right{
				text-align: right;
			}

			&_nw{
				white-space: nowrap;
			}

			.ico{
				display: inline-block;
				vertical-align: middle;
				margin: -8px 0;
			}
		}

		&-image{
			width: 114px;
			height: 82px;
			position: relative;
			margin: -11px 15px -11px 0;



			@include breakPoint($breakPoint1){

			}

			@include breakPoint($breakPoint2){
				width: 184px;
				height: 132px;
			}


			&:hover{
				.corpus__item-image-handlers{
					opacity: 1;
				}
			}

			&-handlers{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 5px;
				right: 5px;
				opacity: 0;
				transition: opacity 0.3s ease;

				@include breakPoint($breakPoint2){
					left: 10px;
					right: 10px;
				}
			}

			&-handler{
				position: absolute;
				top: 0;
				bottom: 0;

				&:after{
					content: '';
					display: block;
					position: absolute;
					height: 2px;
					background: #fff;
					left: 2px;
					right: 2px;
					bottom: 5px;

					@include breakPoint($breakPoint2){
						height: 3px;
						bottom: 10px;
					}
				}

				&.is-active{
					&:after{
						background: $colorBlue;
					}
				}
			}

			&-picture{
				background: no-repeat 50% 50%;
				background-size: cover;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 2px;
				pointer-events: none;
				opacity: 0;
				transition: opacity 0.3s ease;

				&-more{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(#fff,0.8);
					text-align: center;
					color: $colorBlue;

					line-height: 82px;
					font-size: 13px;


					@include breakPoint($breakPoint2){
						line-height: 132px;
					}
				}

				&.is-active{
					opacity: 1;
				}

				&.is-nophoto{
					background: $colorGrey;
					opacity: 1;

					.corpus__item-image-picture-more{
						color: #fff;
					}
				}
			}
		}


		&-ico{
			color: $colorGrey;
			display: inline-block;
			vertical-align: middle;
			margin-left: 20px;

			&:hover{
				color: $colorBlue;
			}
		}

		&-title{
			font-weight: 500;
			color: $colorBlack;
			margin-bottom: 8px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		&-subtitle{
			color: $colorGreyText;
			margin-bottom: 5px;

			&:last-child{
				margin-bottom: 0;
			}
		}


		&-text{
			color: $colorBlack;
			margin-bottom: 5px;
			word-break: break-word;

			&:last-child{
				margin-bottom: 0;
			}

			a{
				color: $colorBlue;
			}
		}

		&-logo{
			width: 42px;
			height: 42px;
			border-radius: 50%;
			background-color: $colorGreyLight;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			display: inline-block;
			vertical-align: middle;

			margin-right: 20px;
			position: relative;

			line-height: 42px;
			color: #fff;
			font-size: 24px;
			text-align: center;

			&:last-child{
				margin-right: 0;
			}


			&.is-online{
				&:after{
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					box-sizing: border-box;
					right: 0;
					bottom: 0;
					border-radius: 50%;
					border: 2px solid #fff;
					background: $colorGreen;
				}
			}

			& ~ *{
				display: inline-block;
				vertical-align: middle;
				max-width: calc(100% - 100px);
			}

			.corpus__item-col_thin &{
				margin: 0;
			}


			&-wrap{
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				overflow: hidden;
			}

			&-image{
				display: block;
				float: left;
				width: 100%;
				height: 100%;
				background: no-repeat 50% 50%;
				background-size: cover;
				vertical-align: top;

				.corpus__item-logo_2 &{
					width: 50%;
				}

				.corpus__item-logo_3 &{
					height: 50%;
					width: 50%;
				}

				.corpus__item-logo_4 &{
					width: 50%;
					height: 50%;
				}

				&:first-child{
					.corpus__item-logo_3 &{
						width: 100%;
					}
				}
			}
		}


		&-info{
			margin-top: 20px;

			.icon{
				fill: $colorGrey;
				display: inline-block;
				vertical-align: middle;
				margin-right: 7px;
				margin-left: 17px;

				&:first-child{
					margin-left: 0;
				}

				&:hover{
					fill: $colorBlue;
				}
			}

			span{
				display: inline-block;
				vertical-align: middle;
			}
		}


		&-price{
			color: $colorBlack;
			font-weight: 500;
			white-space: nowrap;
			margin-bottom: 7px;
			font-size: 14px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		&-state{
			padding-right: 14px;
			font-size: 11px;
			position: relative;
			margin-bottom: 7px;

			&:last-child{
				margin-bottom: 0;
			}

			&:after{
				content: '';
				display: inline-block;
				position: absolute;
				top: 5px;
				right: 0;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background: $colorGreen;
			}
		}

		&-pass{

			white-space: nowrap;

			&-line{
				width: 132px;
				height: 4px;
				margin-bottom: 7px;
				background: $colorGreyLight;
				border-radius: 3px;
				position: relative;
				display: inline-block;

				&-inner{
					border-radius: 3px;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					background: $colorGrey;
				}


				&.is-max{
					background: $colorGreenLight;

					.corpus__item-pass-line-inner{
						background: $colorGreen;
					}
				}

				&.is-mid{
					background: $colorYellowLight;

					.corpus__item-pass-line-inner{
						background: $colorYellow;
					}
				}

				&.is-min{
					background: $colorRedLight;

					.corpus__item-pass-line-inner{
						background: $colorRed;
					}
				}
			}

			&-info{
				margin-bottom: 17px;
			}

			&-control{
				font-weight: 500;
				color: $colorBlue;


				span{
					cursor: pointer;
				}
			}
		}


		&_discard{
			.corpus__item-title,
			.corpus__item-text,
			.corpus__item-price,
			a, .more{
				color: $colorGreyText;
				fill: $colorGreyText;
			}
			.more{
				&:before, &:after{
					background: $colorGreyText;
				}
			}

			.corpus__item-col{
				background: rgba($colorRed, 0.05);
			}

			&:hover{
				.corpus__item-col{
					background: rgba($colorRed, 0.1);
				}
			}
		}

		&-favorite{
			fill: $colorGreyLight;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;

			&:hover{
				fill: $colorBlue;
			}

			&.is-active{
				fill: $colorBlue;


				.svg-background{
					fill: $colorBlue !important;
				}
			}
		}


		&-more{
			display: inline-block;
			vertical-align: baseline;
			color: $colorBlue;
			margin: 0 5px;

			.corpus__item-info &{
				vertical-align: middle;
			}
		}


		&_advert,
		&_news,
		&_showcase{
			.corpus__item{

				&-col{
					padding-top: 23px;
					padding-bottom: 23px;

					&_check{
						vertical-align: top;
						padding-top: 46px;

						@include breakPoint($breakPoint2){
							padding-top: 74px;
						}
					}
				}


			}
		}

		&_headings,
		&_branches,
		&_notification,
		&_notebook,
		&_balance,
		&_employee{
			.corpus__item-col{
				vertical-align: middle;
			}
		}


		&_dialogs{
			.corpus__item-subtitle{
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				max-width: calc(50vw - 420px);

				@include breakPoint(0, $breakPoint1){
					max-width: calc(50vw - 350px);
					min-width: 170px;
				}
			}


			.corpus__item-col_counter{
				@include breakPoint(0, $breakPoint1){
					position: absolute;
					right: 30px;
					margin-top: 30px;
					padding: 0;
					background: none;
				}
			}


		}

	}

	&__footer{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 30px;
	}



	&__paging{

		color: $colorGrey;

		&-title{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}

		&-list{
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
		}

		&-item{
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			height: 28px;
			line-height: 26px;
			box-sizing: border-box;
			min-width: 34px;
			text-align: center;
			padding: 0 10px;
			border: 1px solid $colorGreyLight;
			margin-left: -1px;
			position: relative;
			cursor: pointer;
			user-select: none;

			&:hover{
				color: $colorGrey;
				border-color: $colorGrey;
				z-index: 2;
			}

			&.is-active{
				border-color: $colorBlue;
				color: $colorBlack;
				z-index: 1;
				cursor: default;
			}

			&:hover{
				color: $colorBlack;
			}

			&:first-child{
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}

			&:last-child{
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}

	&__show{
		color: $colorGrey;

		&-label{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}
		&-select{
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			width: 80px;
		}
	}


	&__checked{
		padding: 20px 30px;

		&-checkbox{
			display: inline-block;
			vertical-align: middle;
			margin-right: 14px;
		}
		&-info{
			display: inline-block;
			vertical-align: middle;
			margin-right: 30px;
			color: $colorGreyText;

			span{
				color: $colorBlack;
			}
		}
		&-control{
			display: inline-block;
			vertical-align: middle;

			span{
				color: $colorBlue;
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
				font-weight: 500;
				cursor: pointer;
				user-select: none;
			}
		}
	}

	&__message{
		font-size: 0;
		text-align: center;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		@include breakPoint($breakPoint1){
			padding: 35px 0;
		}

		&-event{
			text-align: center;
			padding: 65px 35px;
			font-size: 13px;

			@include breakPoint($breakPoint1){
				box-sizing: border-box;
				width: 50%;
				display: inline-block;
				vertical-align: middle;
			}

			&-title{
				font-size: 18px;
				font-weight: 500;
				margin: 0 auto 20px;
				max-width: 480px;
			}

			&-text{
				color: $colorGrey;
				margin: 0 auto 25px;
				max-width: 480px;
			}

			&-btn{}
		}

		&-info{
			padding: 35px;
			font-size: 13px;
			text-align: left;

			@include breakPoint($breakPoint1){
				box-sizing: border-box;
				width: 50%;
				display: inline-block;
				vertical-align: middle;
			}

			&-item{
				margin: 35px 0;
				overflow: hidden;
				max-width: 520px;

				&:first-child{
					margin-top: 0;
				}
			}

			&-logo{
				float: left;
				width: 44px;

				img{
					width: 100%;
				}
			}

			&-title{
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 5px;
				margin-left: 80px;
			}
			&-text{
				color: $colorGrey;
				font-size: 12px;
				margin-left: 80px;
			}

			&-link{
				padding: 10px 0;
				border-bottom: 1px solid $colorGreyLight;
				max-width: 700px;
				a{
					color: $colorBlue;
				}
			}
		}
	}


	&_dialogs{
		.corpus__list{
			.__vuescroll{
				position: absolute!important;
				height: 100%!important;
				top: 0;
				left: 0;
				right: 0;
			}
		}

		.dot{
			margin-right: 5px;
		}
	}


	&__aside{
		height: 100%;

		display: flex;
		flex-direction: row;


		&-dialog{
			width: 100%;
		}
	}
}








.ticket{

	margin: 0 -36px 30px;
	overflow: hidden;

	.__vuescroll{
		overflow: visible;
	}

	&__list{
		font-size: 0;
		white-space: nowrap;
		padding: 0 26px 26px;

	}

	&__item{
		white-space: normal;
		display: inline-block;
		vertical-align: top;
		padding: 10px;

		&-inner{
			text-align: center;
			@extend %substrate;
			width: 246px;
			height: 298px;
			position: relative;
			box-sizing: border-box;
			padding: 35px 20px 20px;
		}

		&-favorit{
			position: absolute;
			top: 15px;
			left: 20px;

			path{
				fill: $colorBlue !important;
			}
		}

		&-activity{
			font-size: 11px;
			color: $colorGreyText;
			fill: $colorGreyText;
			position: absolute;
			top: 15px;
			right: 21px;

			.is-online &{
				color: $colorGreen;
			}
		}

		&-photo{
			width: 126px;
			height: 126px;
			margin: 0 auto 20px;
			border-radius: 50%;
			background: no-repeat 50% 50%;
			background-size: cover;

			.is-deleted &{
				opacity: 0.2;
			}
		}
		&-name{
			font-size: 13px;
			color: $colorBlack;
			font-weight: 500;
			margin-bottom: 7px;

			.is-deleted &{
				opacity: 0.2;
			}
		}
		&-position{
			font-size: 11px;
			color: $colorGreyText;

			.is-deleted &{
				opacity: 0.2;
			}
		}
		&-control{
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			cursor: pointer;

			.is-deleted &{
				opacity: 0.2;
			}

			& > span{
				fill: $colorGrey;
				margin: 0 15px;
				display: inline-block;
				vertical-align: middle;

				&:hover{
					fill: $colorBlue;
				}
			}
		}

		&_balance{
			.ticket__item{

				&-photo{
					border-radius: 0;

					background-size: contain;
				}

				&-name{
					font-size: 16px;
				}

				&-position{
					font-size: 13px;
				}

				&-control{

				}
			}
		}
	}
}