$inputHeight: 38px;
$inputBorderRadius: 2px;
$inputBorderColor: $colorGreyLight;
$inputBorderWidth: 1px;
$inputPaddingAside: 20px;
$inputFontSize: 13px;




.form{
	font-size: 0;

	&__wrap{
		margin: 0 -10px;
		font-size: 0;

		hr{
			box-shadow: none;
			height: 1px;
			display: block;
			background: $colorGreyLight;
			margin: 0 10px 25px;
		}

		.form__field{
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
		}
	}

	&__title{
		font-size: 13px;
		color: $colorGrey;
		margin-bottom: 11px;

		.detail{
			color: $colorGreyText;
			font-size: 11px;
		}

		.ico{
			display: inline-block;
			vertical-align: middle;
			margin: 0 10px;

			&:first-child{
				margin-left: 0;
			}

			&:last-child{
				margin-right: 0;
			}
		}
	}

	&__counter{
		position: absolute;
		top: 0;
		right: 10px;
	}

	&__field{
		margin-bottom: 25px;
		font-size: $inputFontSize;
		position: relative;
		box-sizing: border-box;
		width: 100%;


		&_time{
			width: 132px;

			input{
				text-align: center;
			}

			.form__input{
				position: relative;

				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 9px;
					left: 50%;
					height: 20px;
					width: 1px;
					background: $colorGreyLight;
				}
			}
		}


		&_prefix{
			width: 130px;
			padding-right: 0;

			select + label,
			input{
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
		&_postfix{
			width: 327px;
			margin-left: -1px;

			input{
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}

		}


		&_dd{
			.__vuescroll{
				max-height: 400px!important;
			}
		}
	}

	&__padding{
		padding: 0 10px;
	}


	&__group{
		display: inline-block;


		.form__field{
			//vertical-align: middle;

			&_checkbox{
				padding-top: 8px;
			}
		}


		&_clip{

			.form__field{

				&:not(:first-child){
					padding-left: 0;

					.form__input select + label,
					.form__input input{
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						border-left: 0;
					}
				}
				&:not(:last-child){
					padding-right: 0;

					.form__input select + label,
					.form__input input{
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}

				}
			}
		}
	}

	&__ending{
		position: absolute;
		right: $inputPaddingAside + $inputBorderWidth;
		top: 0;
		line-height: $inputHeight - (2 * $inputBorderWidth);
		pointer-events: none;
		color: $colorBlack;


		.is-error &{
			opacity: 0;
		}
	}

	&__input{
		position: relative;

		select{
			opacity: 0;
			position: absolute;
			margin: 0;
			padding: 0;
			pointer-events: none;
		}

		&-content,
		select + label,
		input,
		textarea{
			box-sizing: border-box;
			border: $inputBorderWidth solid $inputBorderColor;
			width: 100%;
			font-size: $inputFontSize;
			display: block;
			color: $colorGrey;
			//background: #fff;
			transition: all 0.3s ease;
			position: relative;

			.is-filled &{

			}
			.is-focused &{
				border-color: $colorBlue;
				z-index: 1;
			}
			.is-error &{
				border-color: $colorRed;
			}

		}

		select + label,
		input{
			height: $inputHeight;
			line-height: $inputHeight - (2 * $inputBorderWidth);
			border-radius: $inputBorderRadius;
			padding: 0 $inputPaddingAside;

			&[type=checkbox]{
				opacity: 0;
				position: absolute;
				margin: 0;
				padding: 0;
				width: 0;
				height: 0;
				pointer-events: none;

				& + label{
					display: block;
					position: relative;
					padding: 2px 0 3px 30px;
					font-size: 13px;
					color: $colorGrey;
					cursor: pointer;

					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						box-sizing: border-box;
						cursor: pointer;
						border-radius: 2px;
						border: 1px solid $colorGreyLight;
						transition: all .3s ease;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: contain;
					}

				}

				&:checked{
					& + label{
						&:before{
							border-color: $colorBlue;
							background-color: $colorBlue;
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%23f0f0f0' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");
						}
					}
				}

				&:disabled{
					& + label{
						&:before{
							opacity: 0.5;
						}
					}
				}
			}

			&[type=radio]{
				opacity: 0;
				position: absolute;
				margin: 0;
				padding: 0;
				width: 0;
				height: 0;
				pointer-events: none;

				& + label{
					display: block;
					position: relative;
					padding: 2px 0 3px 30px;
					font-size: 13px;
					color: $colorGrey;
					cursor: pointer;

					&:before{
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						box-sizing: border-box;
						cursor: pointer;
						border-radius: 50%;
						border: 1px solid $colorGreyLight;
						transition: all .3s ease;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						background-size: contain;
					}

				}

				&:checked{
					& + label{
						&:before{
							border-color: $colorBlue;
							background-color: $colorBlue;
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Ccircle r='10' cx='19' cy='19' fill='%23fff'/%3E%3C/svg%3E");
						}
					}
				}

				&:disabled{
					& + label{
						&:before{
							opacity: 0.5;
						}
					}
				}
			}
		}

		select + label{
			position: relative;
			padding-right: 35px;

			&:before,
			&:after{
				content: '';
				width: 6px;
				height: 2px;
				background: $colorGreyText;
				position: absolute;
				top: 50%;
				right: 15px;
				border-radius: 10px;
				transition: all .3s ease;

				.is-error &{
					opacity: 0;
				}
			}

			&:before{
				transform: rotate(45deg);
				margin-right: 1px;

				.is-focused &{
					transform: rotate(-45deg);
				}
			}

			&:after{
				transform: rotate(-45deg);
				margin-right: -2px;

				.is-focused &{
					transform: rotate(45deg);
				}
			}
		}

		&-content,
		textarea{
			border-radius: $inputBorderRadius;
			padding: (($inputHeight - (2 * $inputBorderWidth) - $inputFontSize ) / 2) $inputPaddingAside;
			line-height: 1.5;
			height: 100px;
			overflow: auto;
		}

		&-content{
			img{
				width: 18px;
				height: 18px;
				vertical-align: middle;
				margin: 0 1px;
			}
		}


		&-ico{
			position: absolute;
			top: 7px;
			left: 7px;
			color: $colorGreyLight;

			.f-focus &{
				color: $colorBlue;
			}

			& ~ input{
				padding-left: 40px;
			}
		}

		.form__field_disabled &{
			opacity: .5;
		}
	}

	&__placeholder{
		position: absolute;
		pointer-events: none;
		left: $inputPaddingAside + $inputBorderWidth;
		//top: (($inputHeight + (2 * $inputBorderWidth)) / 2);
		top: 0;
		line-height: $inputHeight - (2 * $inputBorderWidth);
		font-size: $inputFontSize;
		transition: all .3s ease;
		color: $colorGreyLight;


		.is-filled &{
			opacity: 0;
		}
		.is-focused &{

		}
		.is-error &{

		}
	}


	&__dropdown{
		position: absolute;
		top: $inputHeight - 1px;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 1;
		border-radius: 0 0 2px 2px;
		//box-shadow: 0 0 10px  rgba(0,0,0,0.3);
		border: 1px solid $colorBlue;
		overflow: hidden;
		max-height: 200px;

		&_top{
			top: auto;
			bottom: calc(100% - 1px);
		}

		&-list{
			padding: 10px 0;
		}
		&-item{
			cursor: pointer;
			padding: 10px 15px;
			color: $colorGrey;

			&:hover{
				background: #E5F6FF;
			}

			&.is-active{
				color: $colorBlack;
			}
		}
	}

	&__annex{

		margin-top: 10px;
		display: flex;
		justify-content: space-between;

		&:empty{
			display: none;
		}


		.unique{
			color: $colorBlack;
			position: relative;
			padding-left: 10px;
			margin-left: 10px;
			border-left: 1px solid $colorGreyLight;
		}

		span{
			& + span{
				margin-left: 20px;
			}
		}
	}


	&__table{
		width: 100%;

		&-head{
			font-size: 11px;
			padding-top: 20px!important;
		}

		tr{}
		td{
			padding: 5px 20px;
		}

		color: $colorGrey;

		b{
			font-weight: inherit;
			color: $colorBlack;
		}
	}

	&__error{
		position: absolute;
		top: 6px;
		right: 5px;
		//z-index: 1;


		.form__field_category &{
			top: -4px;
		}
	}

	&__logo{
		&-item{
			display: block;
			position: relative;
			width: 126px;
			height: 126px;
			border-radius: 50%;
			background: $colorBlue no-repeat 50% 50%;
			background-size: cover;

			fill: #fff;

			&:hover{
				background-color: $colorBlueLight;
			}

			svg{
				cursor: pointer;
			}
		}

		& ~ input{
			position: absolute;
			pointer-events: none;
			opacity: 0;
		}


		&-controls{
			position: absolute;
			top: 0;
			left: calc(100% + 14px);
		}

		&-btn{
			background: $colorGreyText;
			fill: #fff;
			width: 24px;
			height: 24px;
			display: block;
			margin-bottom: 10px;
			border-radius: 2px;
			cursor: pointer;

			&:hover{
				background: $colorBlue;
			}

			svg{
				width: 100%;
				height: 100%;
			}

		}
	}

	&__hint{
		font-size: 11px;
		color: $colorGreyText;
		font-style: italic;
		margin-top: 6px;
	}


	&__files{
		position: relative;


		input{
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}


		&-list{
			font-size: 0;
			margin: -7px -7px 5px;
		}

		&-drag{
			position: absolute;
			pointer-events: none;
			z-index: 1;
			border: 2px dashed $colorBlueLight;
			background: rgba(#fff, 0.5);
			top: -20px;
			left: -10px;
			right: -10px;
			bottom: -20px;
			border-radius: 5px;
			opacity: 0;
			transition: all 0.3s ease;

			.on-drag &{
				opacity: 1;
				pointer-events: all;
			}

			&.is-active{
				border: 2px solid $colorBlue;
				background: rgba($colorBlue, .3);
				opacity: 1;
				pointer-events: all;
			}
		}

		&-item{
			display: inline-block;
			vertical-align: top;
			position: relative;
			padding: 7px;
			box-sizing: border-box;
			width: 184px;

			&:hover{
				.form__files-item-control{
					opacity: 1;
				}
			}

			&-progress{
				position: absolute;
				height: 10px;
				background: $colorGrey;
				left: 20px;
				right: 20px;
				border-radius: 10px;
				top: 50%;
				margin-top: -5px;
				overflow: hidden;

				span{
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					height: 100%;
					border-radius: 10px;
					background: $colorBlue;
					transition: width 0.2s ease;
				}
			}

			&-inner{
				position: relative;
				width: 100%;
				background: $colorGreyLight;
				border-radius: 4px;
				padding-bottom: 70%;
				user-select: none;
				transition: opacity 0.3s ease;
			}

			&-bg{
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				padding-bottom: 70%;
				border-radius: 4px;
				background: no-repeat 50% 50%;
				background-size: contain;

				transform-origin: 50% 50%;
				transform: translate(-50%, -50%) rotate(0deg);



				&_90{
					width: 70%;
					padding-bottom: 100%;
					transform: translate(-50%, -50%) rotate(90deg);
				}
				&_180{
					transform: translate(-50%, -50%) rotate(180deg);
				}
				&_270{
					width: 70%;
					padding-bottom: 100%;
					transform: translate(-50%, -50%) rotate(270deg);
				}
			}

			&-control{
				font-size: 0;
				position: absolute;
				top: 10px;
				right: 10px;
				opacity: 0;
				transition: opacity 0.3s ease;
			}

			&-label{
				display: inline-block;
				height: 28px;
				border-radius: 2px;
				background: rgba(#fff, 0.8);
				position: absolute;
				left: 10px;
				bottom: 10px;
				padding: 0 5px;
				line-height: 28px;
				font-size: 13px;
				text-transform: uppercase;
				color: $colorBlack;
			}

			&-name{
				position: absolute;
				top: 13px;
				left: 10px;
				right: 10px;
				font-size: 13px;
				color: $colorBlack;
				overflow: hidden;
				pointer-events: none;
				line-height: 15px;
				max-height: 30px;
			}

			&-btn{
				display: inline-block;
				width: 28px;
				height: 28px;
				border-radius: 2px;
				background: rgba(#fff, 0.8);
				fill: $colorGrey;
				margin-left: 5px;
				text-align: center;
				cursor: pointer;

				svg{
					height: 100%;
				}

				&:hover{
					background: $colorBlue;
					fill: #fff;
				}
			}

			&-move{
				cursor: move;
			}


			&-comment{
				//font-size: 11px;
				//margin-top: 6px;


				&-add{
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}


				&-field{
					position: absolute;
					border: 1px solid transparent;
					border-radius: 0 0 3px 3px;
					left: 7px;
					top: calc(100% - 30px);
					right: 7px;
					background: transparent;
					padding: 4px 7px 5px;

					transition: all 0.3s ease;


					.form__files-item_removed &{
						display: none;
					}

					&:after{
						content: '';
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						height: 25px;
						width: 40px;
						pointer-events: none;

						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
						background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%);
						//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
					}
				}



				&-count{
					position: absolute;
					top: 5px;
					left: 7px;
					font-size: 11px;
					z-index: 1;
					opacity: 0;
					pointer-events: none;
					transition: opacity 0.3s ease;
				}

				&-text{
				}

				textarea{
					padding: 0;
					border: 0;
					font-size: 11px;
					color: $colorBlack;
					background: transparent;
					white-space: nowrap;
					overflow: hidden;
				}
			}

			&_removed{

				.form__files-item-inner{
					opacity: 0.5;
				}
			}

			&_loading{
				.form__files-item-inner{
					opacity: 0.5;
				}
			}

			&_comment{
				padding-bottom: 30px;
			}

			&.is-comment-focus{
				.form__files-item-inner{
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
				.form__files-item-comment-count{
					opacity: 1;
				}
				.form__files-item-comment-field{
					padding-top: 20px;
					border-color: $colorBlue;
					background-color: #fff;
					z-index: 1;

					&:after{
						opacity: 0;
					}
				}

				textarea{
					white-space: normal;
				}
			}

		}



		&-controls{
			position: relative;
			span{
				display: inline-block;
				vertical-align: middle;
				margin-right: 24px;
				text-transform: uppercase;
			}
		}
	}


	&__ico{
		position: absolute;
		width: 24px;
		height: 24px;
		fill: $colorGreyLight;
		top: 7px;
		right: 10px;


		.is-focused &{
			fill: $colorBlue;
		}
	}


	&__category{
		margin-top: 10px;

		&-list{
		}

		&-item{
			display: inline-block;
			white-space: nowrap;
			vertical-align: middle;
			color: $colorBlack;
			font-size: 13px;
			height: 28px;
			line-height: 28px;
			padding: 0 35px 0 15px;
			border-radius: 100px;
			background: $backgroundBody;
			cursor: default;
			margin-right: 10px;
			margin-bottom: 10px;
			user-select: none;
			position: relative;

			.ico{
				position: absolute;
				right: 7px;
				top: 2px;
				fill: $colorGreyLight;
				cursor: pointer;

				&:hover{
					fill: $colorBlue;
				}

				&_rotate{
					transform: rotate(45deg);
				}
			}

			.dot{
				left: -5px;
				top: -2px;
			}
		}

		&-controls{
			span{
				display: inline-block;
				vertical-align: middle;
				margin-right: 24px;
			}
		}

	}


	&__branches{
		&-item{
			border: 1px solid $colorGreyLight;
			margin-bottom: 10px;

			display: flex;
			justify-content: space-between;
			align-content: stretch;
			align-items: flex-start;
			padding: 15px 20px;


			.move{
				opacity: 0;
				transition: all 0.3s ease;
				cursor: move;
			}

			&:hover{
				.move{
					opacity: 1;
				}
			}
		}

		&-type{
			font-size: 13px;
			color: $colorGreyText;
			width: 112px;
			margin-right: 20px;
		}

	  &-info{
		flex: 1;
	  }

		&-title{
			font-size: 13px;
			color: $colorBlack;
			font-weight: 500;
		}

		&-address{
			font-size: 13px;
			color: $colorGreyText;
			margin-right: 20px;
		}

		&-control{
			text-align: right;
			align-self: center;
			white-space: nowrap;

			span{
				display: inline-block;
				vertical-align: middle;
				margin-left: 10px;
			}

			.ico{
				fill: $colorGreyText;

				&:hover{
					fill: $colorBlue;
				}
			}
		}
	}

	&__link{
		font-size: 13px;
		color: $colorBlue;
		line-height: 38px;
		text-transform: uppercase;
		//cursor: pointer;

		.ico{
			display: inline-block;
			vertical-align: middle;
			height: 30px;
		}
	}


	&__field{
		&.is-focused,
		&:hover{
			.form__outerhint{
				width: 90px;

				.form__outerhint-handler{
					pointer-events: all;
					opacity: 0.8;

					&:hover{
						opacity: 1;
						color: $colorBlue;
					}
				}
			}
		}
	}

	&__outerhint{
		position: absolute;
		top: 0;
		width: 0;
		height: 100%;
		transition: all 0.3s ease;

		&_left{
			right: 100%;
		}

		&_right{
			left: 100%;
		}

		&-handler{
			width: 38px;
			height: 38px;
			background: $backgroundBody;
			border-radius: 2px;
			opacity: 0;
			position: absolute;
			top: 0;
			pointer-events: none;
			font-size: 20px;
			color: $colorGrey;
			line-height: 38px;
			text-align: center;
			transition: all 0.3s ease;
			cursor: pointer;

			.form__outerhint_left &{
				left: 0;
			}

			.form__outerhint_right &{
				right: 0;
			}
		}

		&-close{
			position: absolute;
			top: 15px;
			right: 15px;
			fill: $colorGreyLight;
			cursor: pointer;

			&:hover{
				fill: $colorBlack;
			}
		}

		&-content{
			//display: none;

			width: 310px;
			background: #fff;
			padding: 25px 20px;
			box-sizing: border-box;
			border-radius: 2px;
			position: absolute;
			top: 0;
			max-width: calc(50vw - 410px);
			overflow: hidden;

			.form__outerhint_left &{
				right: 50px;
			}

			.form__outerhint_right &{
				left: 50px;
			}

		}

		&-title{
			font-size: 13px;
			color: $colorBlack;
			margin-bottom: 20px;
			padding-right: 30px;
			font-weight: 500;
		}

		&-text{
			font-size: 14px;
			line-height: 18/14;
			margin-bottom: 15px;

			&:last-child{
				margin-bottom: 0;
			}
		}

		&-footer{
			text-align: right;
		}
	}

	&__btns{
		box-sizing: border-box;
		border: $inputBorderWidth solid $inputBorderColor;
		width: 100%;
		font-size: $inputFontSize;
		color: $colorGrey;
		//background: #fff;
		transition: all 0.3s ease;
		position: relative;

		height: $inputHeight;
		line-height: $inputHeight - (2 * $inputBorderWidth);
		border-radius: $inputBorderRadius;
		display: inline-flex;
		padding: 0 $inputPaddingAside;

		&-item{
			margin-right: 15px;
			cursor: pointer;
			user-select: none;

			&:last-child{
				margin-right: 0;
			}

			&:hover{
				color: $colorBlack;
			}

			&.is-active{
				color: $colorBlack;
				border-bottom: 2px solid $colorBlue;
			}
		}
	}
}







.form_company{

	max-width: 684px;

	.form__field{

		//width: 456px;
		//padding-right: 20px;
		//box-sizing: border-box;
		//display: inline-block;
		//vertical-align: top;

	}

}


.mx-datepicker{
	width: 100% !important;
}
.mx-input{
	box-shadow: none!important;
}


.w{

	&_1{
		width: 100%;
	}
	&_1-2{
		width: 50%;
	}
	&_1-3{
		width: (100% / 3);
	}
	&_2-3{
		width: (2 * 100% / 3);
	}
	&_3-5{
		width: (3 * 100% / 5);
	}
	&_2-5{
		width: (2 * 100% / 5);
	}
	&_1-9{
		width: (100% / 9);
	}
	&_2-9{
		width: (2 * 100% / 9);
	}
}



.arrow-tip{

	width: 15px;
	height: 10px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;

	&:before,
	&:after{
		content: '';
		width: 6px;
		height: 2px;
		background: currentColor;
		position: absolute;
		top: 50%;
		right: 0;
		border-radius: 10px;
		transition: all .3s ease;
	}

	&:before{
		transform: rotate(45deg);
		margin-right: 1px;
	}

	&:after{
		transform: rotate(-45deg);
		margin-right: -2px;
	}

	&_up{

		&:before{
			transform: rotate(-45deg);
		}

		&:after{
			transform: rotate(45deg);
		}
	}
}