html {
	height: 100%;
	background: $backgroundBody;
}

body {
	font-family: $fontMain;
	font-size: 14px;
	width: 100%;
	line-height: 1.2;
	color: $colorBlack;
	height: 100%;
	background: $backgroundBody;
	box-sizing: border-box;
	overflow-y: scroll;

	&.is-popup{
		overflow: hidden;
	}
}

a {

	&:hover{

	}
}

b{
	font-weight: 700;
}

h1, h2, h3, h4{
	font: inherit;
}

.btn{
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	border-radius: 2px;
	cursor: pointer;
	user-select: none;
	padding: 13px 20px 14px;
	text-align: center;
	box-sizing: border-box;
	transform: scale(1);
	transition: all 0.3s ease;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: auto 80%;

	&_link{
		padding-top: 0;
		padding-bottom: 0;
		color: $colorBlack;

		&:first-child{
			padding-left: 0;
		}

		&:last-child{
			padding-right: 0;
		}

		&:hover{
			color: $colorBlue;
		}

		& + .btn_link{
			padding-left: 0;
		}
	}

	&_red{
		background-color: $colorRed;

		&:hover{
			background-color: $colorRedLight;
		}
	}

	&_blue{
		background-color: $colorBlue;

		&:hover{
			background-color: $colorBlueLight;
		}
	}

	&_green{
		background-color: $colorGreen;

		&:hover{
			background-color: $colorGreenLight;
		}
	}

	&_grey{
		background-color: $colorGrey;

		&:hover{
			background-color: $colorGreyLight;
		}
	}

	&_disable{
		background-color: $colorGreyLight!important;
		cursor: default!important;
	}

	&_orange{
	}


	&:active{
		transform: scale(0.95);
	}

	&_loading{
		color: transparent;
		background-image: url("../img/svg/loading_white.svg");

		pointer-events: none;
	}
}


.c{
	&-red{
		color: $colorRed!important;
		fill: $colorRed!important;
	}

	&-blue{
		color: $colorBlue!important;
		fill: $colorBlue!important;
	}

	&-black{
		color: $colorBlack!important;
		fill: $colorBlack!important;
	}

	&-white{
		color: #fff!important;
		fill: #fff!important;;
	}

	&-green{
		color: $colorGreen!important;
		fill: $colorGreen!important;;
	}

	&-grey{
		color: $colorGrey!important;
		fill: $colorGrey!important;
	}

	&-light{
		color: $colorGreyLight!important;;
		fill: $colorGreyLight!important;;
	}

	&-yellow{
		color: $colorYellow!important;;
		fill: $colorYellow!important;;
	}
}

.b{
	&-red{
		background-color: $colorRed !important;
	}

	&-blue{
		background-color: $colorBlue !important;;
	}

	&-green{
		background-color: $colorGreen!important;;
	}

	&-grey{
		background-color: $colorGrey!important;;
	}

	&-yellow{
		background-color: $colorYellow!important;;
	}
}


.blur{
	-webkit-filter: blur(5px);
}


.nobr{
	white-space: nowrap;
}

.is-hidden{
	display: none!important;
}



.loading{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;

	&:before{
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	&__inner{
		display: inline-block;
		vertical-align: middle;
		width: 80px;
		height: 80px;
		background-image: url("../img/svg/loading.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
}

.disk{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: currentColor;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 2px;

	&:first-child{
		margin-left: 0;
	}

	&:last-child{
		margin-right: 0;
	}
}



.tal{
	text-align: left!important;
}
.tar{
	text-align: right!important;
}

// custom transitions
.v-enter-active, .v-leave-active {
	transition: all .3s ease;

	.popup__layout{
		transition: all .3s ease;
	}
}
.v-enter, .v-leave-to {
	opacity: 0;
	//filter: blur(3px);

	.popup__layout{
		transform: translateY(50%);
		//transform: scale(0.5);
	}
}


// name = "tr-fade"


*[class*="tr-fade-"]{
	transition: opacity .3s ease;
}

.tr-fade{
	// появление
	&-enter{
		&-active{
			// до анимации
			opacity: 0;
			.aside__accounts-layout{
				left: -100%;
			}
		}

		&-to{
			// после анимации
			opacity: 1;
			.aside__accounts-layout{
				left: 0;
			}
		}
	}

	// удаление
	&-leave{
		&-active{
			// до анимации
			opacity: 1;
			.aside__accounts-layout{
				left: 0;
			}
		}

		&-to{
			// после анимации
			opacity: 0;
			.aside__accounts-layout{
				left: -100%;
			}
		}
	}
}
// name = "tr_slide"





// name = "zoom"
.zoom-enter-active, .zoom-leave-active {
	transition: all 0.3s ease;
	transform: scale(1);
	opacity: 1;
}
.zoom-enter, .zoom-leave-to {
	opacity: 0;
	transform: scale(0.5);
}



/*

// out
.v-leave{
	transform: scale(1);
	opacity: 1;
	filter: blur(0);
}
.v-leave-active{
	transition: all 0.5s ease;
}
.v-leave-to{
	transform: scale(2);
	opacity: 0;
	filter: blur(10px);
}

//in
.v-enter{
	transform: scale(0.5);
	opacity: 0;
	filter: blur(10px);
}
.v-enter-active{
	transition: all 0.5s ease;
}
.v-enter-to{
	transform: scale(1);
	filter: blur(0);
	opacity: 1;
}
*/






.hold{
	pointer-events: none;
	opacity: 0.8;
}