

@mixin breakPoint ($min, $max: null){
	@if ($max) {
		@media (min-width: #{$min}) and (max-width: #{$max - 1px}){
			@content;
		}
	}
	@else {
		@media (min-width: #{$min}) {
			@content;
		}
	}
}



@mixin borderRadius{
	border-radius: 3px;
}


@mixin textOverflow($line: 1){
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

@mixin closeBtn($width: 30px, $height: 4px){
	position: absolute;
	width: $width;
	height: $width;
	//background: #f00 no-repeat 0 0;
	//background-size: cover;
	cursor: pointer;
	top: 20px;
	right: 20px;

	&:before,
	&:after{
		content: '';
		width: $width;
		height: $height;
		margin-top: -($height/2);
		margin-left: -($width/2);
		position: absolute;
		top: 50%;
		left: 50%;
		background: $colorGrey;

		border-radius: $height;
	}

	&:before{
		transform: rotate(45deg);
	}

	&:after{
		transform: rotate(135deg);
	}



	&:hover{
		background-position: 100% 0;
	}
}


%substrate{
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0 0 2px $colorGreenLight;
}