$popupZIndex: 1000;
$popupOverlayColor: rgba($colorAside ,0.9);

.popup {
	display: block;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: $popupZIndex;
	text-align: center;
	background: transparent;
	overflow-y: scroll;
	font-size: 0;
	min-width: $minWidth;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	&__overlay{
		display: block;
		position: fixed;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		background: $popupOverlayColor;
	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 15px auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		max-width: calc(100% - 40px);
		width: 724px;
		min-height: 100px;
		text-align: left;
		font-size: 13px;
		color: $colorGreyText;
	}

	&__close {
		@include closeBtn(20px, 3px);
		z-index: 1;
	}

	&__content{
		padding: 30px;
	}

	&__title{
		font-size: 18px;
		font-weight: 500;
		color: $colorBlack;
		text-align: center;
		margin-bottom: 20px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__subtitle{
		font-size: 13px;
		color: $colorBlack;
		text-align: center;
		margin-bottom: 20px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&__text{

	}

	&__footnote{
		font-size: 12px;
	}

	&__form{
		//margin-bottom: 25px;
	}


	&__flex{
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btn{
			width: auto!important;
		}
	}

	&__info{
		text-align: center;


		&-title{
			font-weight: 500;
			font-size: 17px;
			margin-bottom: 20px;
			color: $colorBlack;
		}

		&-text{
			margin-bottom: 20px;
		}
	}

	&__cards{
		margin-right: -30px;
		margin-left: -10px;
		margin-bottom: 20px;
		height: calc(100vh - 350px);
	}

	&_cards{
		.popup{

			&__layout{
				width: 838px;
			}
		}
	}

	&_info{

		.popup{


			&__layout{
				width: 648px;
			}

			&__content{
				text-align: center;
			}

			&__title{
				margin-bottom: 40px;
			}

			&__text{
				margin: 25px 0;
			}

			&__footer{
				margin: 25px 0;
			}
		}
	}


	&_action{
		.popup{

			&__layout{
				width: 900px;
			}
		}
	}

	&_cropper{
		.popup{
			&__content{
				text-align: center;
			}

			&__cropzone{
				width: 284px;
				height: 377px;
				background: $colorAsideBlue;
				margin: 35px auto;
				position: relative;


				& > img{
					max-width: 100%;
					max-height: 100%;
					opacity: 0;
				}



				&-control{
					position: absolute;
					top: 0;
					left: calc(100% + 20px);
				}

				&-btn{
					width: 28px;
					height: 28px;
					text-align: center;
					background: $colorGreyLight;
					fill: #fff;
					border-radius: 2px;
					cursor: pointer;
					margin-bottom: 10px;

					&:hover{
						background: $colorBlue;
					}

					svg{
						height: 100%;
					}
				}
			}
		}
	}


	&_category{
		.popup__content{
			padding: 0;
		}

		.popup__layout{
			width: 950px;
		}
	}

	&_contact{
		.popup__content{
			padding: 0;
		}

		.popup__layout{
			width: 950px;
		}
	}

	&_dialog{

		& > .popup__layout{
			width: 740px;

			& > .popup__content{
				padding: 0;

				.form__field{
					width: calc(50% - 31px);
					margin-bottom: 0;
					vertical-align: middle;

					&_logo{
						width: auto;

						.form__logo{
							&-item{
								width: 42px;
								height: 42px;

								svg{
								}
							}
						}
					}
				}
			}
		}


	}



	&_add{

		.popup{
		}

		.form{
			&__files{
				&-item{
					width: 20%;

				}
			}
		}
	}

	&_advert{

		.form{
			&__files{
				&-item{
					width: 30%;

				}
			}
		}
	}


	&_set{
		.popup__table{
			margin: 0 -30px 20px;
		}

		.corpus__scroll{
			height: 400px;
		}



		&-kit{

			.corpus__table-col{
				width: 50%;
			}
			.corpus__item{
				&_inactive{
					* {
						color: $colorGreyLight;
					}
				}

				&-col{
					width: 50%;
				}
			}

			.corpus__item-col_check{
				label{
					padding: 0 16px 0 0!important;
				}
			}


		}

		&-branch{
			.corpus__table-col,
			.corpus__item-col{

				&:nth-of-type(1){
					width: 20px;
				}

				&:nth-of-type(2){
					width: 170px;
				}
			}

			.popup__info{
				padding: 150px 0;
			}
		}
	}


	&_fix{
		.popup{
			&__layout{
				width: 606px;
			}
		}
	}

	&_moderate-rule,
	&_moderate{
		& > .popup{
			&__layout{
				width: 482px;
				margin-left: -300px;

				@include breakPoint($breakPoint1){
					//margin-left: -300px;
				}

				@include breakPoint($breakPoint2){
					width: 917px;
					margin-left: 0;
				}
			}

			&__title{
				text-align: left;
				font-size: 18px;
				margin-bottom: 35px;
			}
		}
	}


	&__loading{
		position: relative;
		min-height: 300px;
	}
}
