.v-popover{
	cursor: pointer;
	display: inline-block;
	vertical-align: baseline;

	&.open{
		.more{
			&:before{
				transform: rotate(-45deg);
			}

			&:after{
				transform: rotate(45deg);
			}
		}

		.dropdown-arrow{
			&:after{
				border-top-color: $colorGreyLight;
				border-top-width: 5px;
				border-bottom-width: 0;
			}
		}
	}

	.more{
		display: inline-block;
		vertical-align: baseline;
		color: $colorBlue;
		margin: 0 5px;
		padding-right: 12px;
		position: relative;

		&:before,
		&:after{
			content: '';
			width: 6px;
			height: 1px;
			background: $colorBlue;
			position: absolute;
			top: 50%;
			right: 0;
			border-radius: 10px;
			transition: all .3s ease;
		}

		&:before{
			transform: rotate(45deg);
			margin-right: 1px;
		}

		&:after{
			transform: rotate(-45deg);
			margin-right: -2px;
		}


		&:hover{
			text-decoration: underline;
		}
	}

	.dropdown-arrow{
		display: inline-block;
		vertical-align: baseline;
		color: $colorBlue;
		margin: 0 5px;
		padding-right: 12px;
		position: relative;

		&:after{
			content: '';
			position: absolute;
			border: 5px solid transparent;
			border-bottom-color: $colorGreyLight;
			border-top-width: 0;
			width: 0;
			height: 0;
			top: 50%;
			transform: translateY(-50%);
			right: -5px;
		}
	}
}

.tooltip {
	display: block !important;
	z-index: 10000;

	.tooltip-inner {
		background: rgba(#000, 0.8);
		color: #fff;
		border-radius: 3px;
		padding: 8px 10px;
		font-size: 13px;
		line-height: 1.5;
		box-shadow: 0 5px 30px rgba(black, .1);
		max-width: 230px;

		ul{
		}

		li{
			margin: 13px 0;

			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}

		.link{
			color: $colorGreyText;

			&:hover{
				color: $colorBlack;
			}
		}
	}

	.tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: rgba(#000, 0.8);
		z-index: 1;
	}

	&[x-placement^="top"] {
		margin-bottom: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="bottom"] {
		margin-top: 5px;

		.tooltip-arrow {
			border-width: 0 5px 5px 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			top: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="right"] {
		margin-left: 5px;

		.tooltip-arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&[x-placement^="left"] {
		margin-right: 5px;

		.tooltip-arrow {
			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			right: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&.popover {

		.popover-inner {
			background: #fff;
			color: #000;
			padding: 15px 20px;
			min-width: 150px;
		}

		.popover-arrow {
			border-color: #fff;
		}
	}

	&[aria-hidden='true'] {
		visibility: hidden;
		opacity: 0;
		transition: opacity .15s, visibility .15s;
	}

	&[aria-hidden='false'] {
		visibility: visible;
		opacity: 1;
		transition: opacity .15s;
	}
}


.tooltip{
	pointer-events: none;
}

.popover{
	pointer-events: all;
}


.popover_finnance-quotes{
	.popover-inner{
		width: 728px;
		max-width: 728px;
		border: 1px solid $colorGreyLight;
	}

	.popover-arrow{
		display: none;
	}
}

.popover_details{
	.popover-inner{
		width: 333px;
		border: 1px solid $colorGreyLight;
	}

	.popover-arrow{
		display: none;
	}

	&__close{
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		color: $colorGreyText;

		&:hover{
			color: $colorBlue;
		}
	}

	&__list{
		padding-top: 20px;
		margin-bottom: 10px;
	}

	&__item{
		font-weight: 500;
		display: flex;
		margin-bottom: 5px;
		justify-content: space-between;

		&-name{}
		&-value{}
	}
}

.popover_moderate{

	.popover {
		&-inner {
			max-width: 390px;
			width: 390px;
			border: 1px solid $colorGreyLight;
			border-radius: 0;
			padding: 0!important;

			@include breakPoint($breakPoint2){;
				width: calc(100vw - 1400px);
			}
		}

		&-arrow {
			width: 0;
			height: 0;
			border-style: solid;
			position: absolute;
			margin: 19px;
			border-color: rgba(#000, 0.8);
			z-index: 1;
		}


	}
	&[x-placement^="top"] {
		margin-bottom: 40px;

		.tooltip-arrow {
			border-width: 20px 20px 0 20px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			bottom: -19px;
			left: calc(50% - 19px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="bottom"] {
		margin-top: 40px;

		.tooltip-arrow {
			border-width: 0 20px 20px 20px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			top: -19px;
			left: calc(50% - 19px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&[x-placement^="right"] {
		margin-left: 40px;

		.tooltip-arrow {
			border-width: 20px 20px 20px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
			left: -19px;
			top: calc(50% - 19px);
			margin-left: 0;
			margin-right: 0;
		}
	}

	&[x-placement^="left"] {
		margin-right: 40px;

		.tooltip-arrow {
			border-width: 20px 0 20px 20px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
			right: -19px;
			top: calc(50% - 19px);
			margin-left: 0;
			margin-right: 0;
		}
	}
}