
$breakPoint1: 1280px;
$breakPoint2: 1600px;
$minWidth: 1024px;


$asideWidthCompact: 56px;
$asideWidth: 196px;

$headHeight: 70px;





$backgroundBody: #F1F1F1;

$colorAside: #1F364C;

$colorAsideBlue: #708BA5;

$colorBlack: #1E1E1E;

$colorBlue: #3399FF;
$colorBlueLight: #66B4FF;
$colorBlueXLight: #DDEFF9;

$colorGreen: #67B930;
$colorGreenLight: #8ed95d;

$colorYellow: #FFCC33;
$colorYellowLight: #FFEBAD;

$colorRed: #FF3300;
$colorRedLight: #fc7454;

$colorGreyLight: #CCCCCC;
$colorGreyText: #A2A2A2;
$colorGrey: #757575;

$colorOrange: #FF9A00;

$fontMain: 'roboto', sans-serif;







$form-item-bgcolor: #fff;
$form-item-fontsize: 14px;
$form-item-border: 1px solid #9E9E9E;
$form-item-padding-vert: 11px;
$form-item-padding-hor: 16px;
$form-item-active-color: $colorBlue;
$form-item-error-color: $colorRed;
$form-item-dropdown-shadow: none;
$form-item-dropdown-offset: 8px;
$form-item-minheight: 38px;



@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}