<template lang="pug">
	moderate-view(v-if="moderate")
	custom-view(v-else)
</template>

<script>
	import {mapState} from "vuex";

	import CustomView from './custom'
	import ModerateView from './moderate'

	export default {
		components:{
			CustomView,
			ModerateView,
		},

		data () {

			return {

			}
		},

		computed: {
			...mapState({
				moderate: state => !!state.user.moderate.adverts
			}),
		},


		methods:{

		},

	}
</script>


<style lang="scss">

</style>