<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading")
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.kit__tabs
				.corpus__tabs(v-dragscroll.x)
					.corpus__tabs-item(v-for="tab in tabs", :class="{'is-active': tab.id === tabActive}", @click="tabActive = tab.id") {{ tab.name }}
			StatisticAdvert(v-if='tabActive === 1')
			StatisticNews(v-else-if='tabActive === 2')
			StatisticArticle(v-else-if='tabActive === 3')

</template>

<script>
	import StatisticAdvert from './contentKitStatistic_adverts.vue';
	import StatisticNews from './contentKitStatistic_adverts.vue';
	import StatisticArticle from './contentKitStatistic_adverts.vue';

	export default {

		props: ['options'],

		data() {

			return {

				compact: false,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,

				tabs: [
					{
						name: 'ОБЪЯВЛЕНИЯ',
						id: 1,
					},
					{
						name: 'НОВОСТИ',
						id: 2,
					},
					{
						name: 'СТАТЬИ',
						id: 3,
					}
				],
				tabActive: 1
			}
		},

		methods: {

		},

		components: {
			StatisticAdvert,
			StatisticNews,
			StatisticArticle
		}

	}
</script>

<style lang="scss">

</style>


