<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading")
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.kit-articles
				.kit-articles__beads(v-if="main.list && main.list.length && !loading")
					.kit-articles__beads-item(v-if="main.list.length > 7")
						.kit-articles__beads-logo {{ main.list.length - 7 }}
					.kit-articles__beads-item(v-else-if="main.list.length === 8")
						.kit-articles__beads-logo(:style="'background-image:url('+ main.list[7].photo +');'")
					.kit-articles__beads-item(v-for="(item, index) in main.list", v-if="index < 7")
						.kit-articles__beads-logo(:style="'background-image:url('+ item.photo +');'")
						.kit-articles__beads-online(v-if="item.online")

				.kit-articles__beads(v-else-if="!loading")
					.kit-articles__beads-text Вы пока ни на кого не подписаны

			.kit__footer: span.c-blue.link НАЙТИ ИНТЕРЕСНЫЕ КОМПАНИИ

</template>

<script>
	export default {

		props: ['options'],

		data() {
			return {
				compact: true,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,

				main: {
					list: []
				}
			}
		},

		mounted(){
			if ( !this.options.disable ) this.loadData();
		},

		methods: {
			loadData(){

				let data = {};

				this.$api(
					'getKitFollows',
					data,
					res=>{
						this.main = res;
						if (res.list.length) {
							this.title = `${this.options.title} (${res.list.length})`;
						}
					},
					()=>{

					},
					()=>{
						this.loading = false;
					}
				);
			}
		}

	}
</script>

<style lang="scss">

</style>


