<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading")
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.kit-articles
				.kit-articles__beads
					.kit-articles__beads-text На вас пока ни кто не подписан
			.kit-articles__add &nbsp;

</template>

<script>
	export default {

		props: ['options'],

		data() {

			return {
				compact: true,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,

				main: {}
			}
		},

		mounted(){

			if ( !this.options.disable ) this.loadData();

		},

		methods: {
			loadData(){

			}
		}

	}
</script>

<style lang="scss">

</style>


