<template lang="pug">
	.kit__statictic
		//-.kit__statictic-info
			.kit__statictic-info-title

		.kit__form
			.form__wrap
				.form__field.form__field_btns.w_1-3
					.form__btns
						.form__btns-item(v-for="(item, i) in timeRange", :class="{'is-active': i === timeRangeActive}", @click="$refs.statistic.setRange(item.time)") {{ item.name }}

				FormField(:field='fields.date', v-model='model.range_date', ref="range_date")
				FormField(:field='fields.sort', v-model='model.sort', ref="sort")

		.kit__chart
			Statistic(:options="statistic", ref="statistic", @callback="callback")
		//-.kit__popup
			.kit__popup-close
			.kit__popup-content
				.form__wrap
					.form__title Фильтры


</template>

<script>
	import Statistic from '../../../component/statistic.vue';

	export default {

		data() {

			let currentDate = new Date();

			return {

				fields: {
					date: {
						type: 'date',
						name: 'range_date',
						onChange: (value) => {

							let start = value.start.split('.'),
								end = value.end.split('.')
							;

							this.$refs.statistic.setRange(`${start[2]}.${start[1]}.${start[0]}`, `${end[2]}.${end[1]}.${end[0]}`);
						},
						onKeyup: (value) => {},
						class: 'w_1-3',
						range: true,
						// min: `${currentDate.getFullYear()}-${('0' + (currentDate.getMonth() + 1)).slice(-2)}-${('0' + currentDate.getDate()).slice(-2)}`,
						// max: `${currentDate.getFullYear()}-${('0' + (currentDate.getMonth() + 1)).slice(-2)}-${('0' + currentDate.getDate()).slice(-2)}`
					},

					sort: {
						type: 'select',
						name: 'sort',
						placeholder: 'Детализация',
						required: true,
						items: [
							{
								value: '1',
								label: 'По лучшему совпадению',
								// html: 'Офис'
							},
							{
								value: '2',
								label: 'Магазин',
								html: 'Магазин'
							}
						],
						class: 'w_1-3'
					},

					filterSection: {},
					filterStatus: {},
				},

				timeRangeActive: false,

				timeRange: [
					{
						name: 'Неделя',
						time: 604800000,
						limit: 8.64e+7
					},
					{
						name: 'Месяц',
						time: 2628000000,
						limit: 2 * 8.64e+7
					},
					{
						name: 'Год',
						time: 31540000000,
						limit: 10 * 8.64e+7
					},
					{
						name: 'Все',
						time: 0,
						limit: 0
					},
				],

				model: {
					range_date: {
						// start: '',
						// end: '',
						start: `${('0' + currentDate.getDate()).slice(-2)}-${('0' + (currentDate.getMonth() + 1)).slice(-2)}-${currentDate.getFullYear()}`,
						end: `${('0' + currentDate.getDate()).slice(-2)}-${('0' + (currentDate.getMonth() + 1)).slice(-2)}-${currentDate.getFullYear()}`,
					},

					sort: ''
				},

				statistic: {
					range: 7 * 24 * 3600 * 1000,
					data:[]
				}

			}
		},


		computed: {
			changeRange() {
				return this.statistic.range;
			},
		},

		watch: {
			changeRange() {

				if ( !isNaN(this.statistic.range) ){

					for (let i = 0 ; i < this.timeRange.length; i++){

						let delta = this.statistic.range - this.timeRange[i].time + 2 * this.timeRange[i].limit;

						this.timeRangeActive = false;

						if ( delta >= 0 && delta <= 2 * this.timeRange[i].limit ){
							this.timeRangeActive = i;
							break;
						} else if (this.timeRange[i].time === 0 && 0) {
							this.timeRangeActive = i;
							break;
						}
					}
				}
			},
		},

		created(){

		},

		mounted(){
			this.loadData();
		},

		methods: {
			loadData(){

				let data = {};

				this.$api(
					'getStatistic',
					data,
					(res)=>{

						this.$refs.statistic.setData(res.data);
						this.$refs.statistic.setRange(this.timeRange[0].time);

						if ( res.data.length ){
							this.fields.date.min = this.toDate(res.data[0].x, true);
							this.fields.date.max = this.toDate(res.data[res.data.length - 1].x, true);
						}
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loaded = true;
					}
				);
			},

			callback(e){
				// console.info(e.target.xAxis[0]);

				switch (e.type) {
					case 'redraw':


						break;

					case 'render':

						let min = e.target.xAxis[0].userMin || e.target.xAxis[0].min,
							max = e.target.xAxis[0].userMax || e.target.xAxis[0].max
						;

						if (min !== undefined && max !== undefined){
							this.model.range_date.start = this.toDate(min);
							this.model.range_date.end = this.toDate(max);
							this.statistic.range = max - min;
						}
						break;
				}
			},

			toDate(e, YMD){
				let date = new Date(e),
					y = date.getFullYear(),
					m = ('0' + (date.getMonth() + 1)).slice(-2),
					d = ('0' + (date.getDate())).slice(-2)
				;

				return YMD ? `${y}.${m}.${d}` : `${d}.${m}.${y}`
			}
		},

		components: {
			Statistic,
		}

	}
</script>

<style lang="scss">

</style>


