<template lang="pug" >
	.corpus__message
		.corpus__message-event
			.corpus__message-event-title У вас пока нет новостей
			//.corpus__message-event-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.
			.corpus__message-event-btn
				btn-item(green @click="popupAdd = true") ДОБАВИТЬ НОВОСТЬ

		//-.corpus__message-info
			.corpus__message-info-item
				.corpus__message-info-logo: img(src="../../../img/svg/info-cal.svg")
				.corpus__message-info-title Новости
				.corpus__message-info-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.

			.corpus__message-info-link: a(href='#') Как арендовать заголовок?
			.corpus__message-info-link: a(href='#') Как долго я могу пользоваться заголовком?

			.corpus__message-info-item
				.corpus__message-info-logo: img(src="../../../img/svg/info-doc.svg")
				.corpus__message-info-title Покупка / продажа объявлений
				.corpus__message-info-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.
			.corpus__message-info-link: a(href='#') Как купить заголовок?
			.corpus__message-info-link: a(href='#') Как я могу зарабатывать на купленных заголовках?

		popup(v-model="popupAdd", @onClose="onClose", :hideCloseBtn="true").popup_add
			AddForm(@onSubmit="onClose", :id="null")

</template>

<script>

	import AddForm from '../form'
	import {mapActions} from 'vuex'

	export default {
		data () {

			return {

				popupAdd: false,
			}
		},

		methods:{

			...mapActions('news', ['getList']),

			onClose(){
				this.popupAdd = !1;
				this.getList();
			},

		},

		components:{
			AddForm,
		}
	}
</script>
