<template lang="pug" >
	.corpus__item.corpus__item_news(:class="{ 'corpus__item_discard': item.status.discard}")
		.corpus__item-col.corpus__item-col_check(v-if="value !== undefined")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.corpus__item-col.corpus__item-col_image
			images-preview(:images="item.info.images")

		.corpus__item-col
			.corpus__item-title {{ item.info.title }}
			.corpus__item-subtitle {{ item.info.description | clearTags }}
			.corpus__item-info
				icon(name="eye")
				span {{ item.info.views }}
				icon(name="comment")
				span {{ item.info.comments }}

		.corpus__item-col
			.corpus__item-pass
				.corpus__item-pass-info(v-if="item.info.status", :class="{'c-red':item.status.discard}") {{ item.info.status }}
				.corpus__item-pass-control(v-if="item.status.archive")
					span.c-blue УЗНАТЬ ПОДРОБНЕЕ
				.corpus__item-pass-control(v-else-if="item.status.discard")
					span.c-blue УЗНАТЬ ПОДРОБНЕЕ
				.corpus__item-pass-control(v-else-if="item.status.announced")
					span.c-grey ОТМЕНИТЬ ПУБЛИКАЦИЮ
				.corpus__item-pass-control(v-else-if="item.status.active")
					span.c-grey СНЯТЬ С ПУБЛИКАЦИИ

		.corpus__item-col.corpus__item-col_control
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: router-link.link(:to="'/articles/' + item.id", v-close-popover.all) Редактировать
						li: .link(@click="popupDeleteItem = !0", v-close-popover.all) Удалить
						li: .link(@click="copyItem", v-close-popover.all) Копировать статью
				icon(name="dots")

		//- удаление объекта
		popup(v-model="popupDeleteItem", @onClose="popupDeleteItem = !1").popup_info
			.popup__title ПОДТВЕРДИТЬ
			.popup__text Вы уверены что хотите удалить статью <span class="c-blue">{{ item.info.title }}</span>.
			.popup__flex
				span &nbsp;
				span
					btn-item(link, @click="popupDeleteItem = !1", :disabled="btnLoading") ОТМЕНА
					btn-item(red, @click="deleteItem()", :loading="btnLoading") УДАЛИТЬ

</template>


<script>

	import {mapActions} from 'vuex';

	export default {
		props: {
			item: {
				type: Object,
				default: null,
			},

			value: {
				type: Array,
				default: undefined
			}
		},

		data(){
			return {
				btnLoading: false,
				popupDeleteItem: false,
				popupDeleteHold: false,
			}
		},

		mounted(){

		},

		computed: {
			model :{
				get() { return this.value;},
				set(value) { this.$emit('input', value);}
			}
		},

		methods:{

			...mapActions('article', {
				copyItemAction: 'copyItem',
				deleteItemAction: 'deleteItem',
				getList: 'getList',
			}),

			copyItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.copyItemAction(this.item.id)
					.then((res)=>{
						if ( res.id ) this.$router.push({ path: `/articles/${res.id}` });
					})
					.finally(()=>{
						this.btnLoading = false;
					});
			},

			deleteItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.deleteItemAction([this.item.id])
					.then((res)=>{
						if ( res.status === true ){
							this.popupDeleteItem = !1;
							this.getList();
						}
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},
		}
	}
</script>
