<template lang="pug">
	div
		header-wrap
			template(slot="title")
				h1 Моя компания


		.content(:class="{'content_loading': false}")
			.content__inner
				.content__title(v-html="company.company_id ? 'Редактирование компании' : 'Регистрация компании'")

				.form.form_company
					form-wrap.form__wrap(ref="form")
						FormField(:field='fields.image', v-model='image')
						.form__group.w_3-5
							FormField(:field='fields.category', v-model='category')
							FormField(:field='fields.region', v-model='region')
						FormField(:field='fields.name', v-model='name')
						FormField(:field='fields.forma_id', v-model='forma_id')
						br
						FormField(:field='fields.inn', v-model='inn')
						FormField(:field='fields.kpp', v-model='kpp')
						br
						.form__group.form__group_clip.w_2-3
							FormField(:field='fields.phone_prefix', v-model='phone_prefix')
							FormField(:field='fields.phone', v-model='phone')
						FormField(:field='fields.phone_dob', v-model='phone_dob')
						br
						FormField(:field='fields.email', v-model='email')
						br
						FormField(:field='fields.email_customer', v-model='email_customer')
						br
						FormField(:field='fields.site', v-model='site')
						br
						FormField(:field='fields.yur_address', v-model='yur_address')
						br
						FormField(:field='fields.bank_name', v-model='bank_name')
						br
						FormField(:field='fields.bank_bik', v-model='bank_bik')
						FormField(:field='fields.ogrn', v-model='ogrn')
						br
						FormField(:field='fields.rs', v-model='rs')
						FormField(:field='fields.ks', v-model='ks')
						br
						FormField(:field='fields.fio', v-model='fio')
						br
						FormField(:field='fields.description', v-model='description')
						br
					btn-item(blue, @click="onSubmit", :disabled="!changed", :loading="loading") {{ company.company_id ? 'СОХРАНИТЬ ИЗМЕНЕНИЯ' : 'ЗАРЕГИСТРИРОВАТЬ КОМПАНИЮ' }}
					btn-item(white, @click="$router.push('/')") ОТМЕНА



</template>

<script>

	import {mapState, mapGetters} from "vuex";

	export default {
		data () {

			return {

				loading: false,

				fields: {
					image: {
						type: 'logo',
						maxWidth: 600,
						popupTitle: 'ЗАГРУЗИТЬ ФОТО КОМПАНИИ',
						name: 'image',							// обрезанное превью
						cropOriginal: '',			// оригинал картинки
						cropCoordinates: '',	// координаты выбранного превью на оригинале
						title: 'Фото компании',
						controls: true,
						class: 'w_2-5',

						onSave: (value, data) => {
							if (data.cropOriginal) this.image_original = data.cropOriginal;
							if (data.cropCoordinates) this.image_coordinates = data.cropCoordinates;
						},
					},
					category: {
						type: 'category',
						name: 'category',
						title: 'Сфера деятельности',
						base: 'sphere',						// база поиска (sphere, region)
						max: 10,
					},
					region: {
						type: 'category',
						name: 'region',
						title: 'Территория ведения деятельности',
						base: 'region',						// база поиска (sphere, region)
						max: 10,
					},
					name: {
						type: 'text',
						name: 'name',
						title: 'Наименование организации',
						required: true,
						hint: 'Например: "Рога и копыта", без формы собственности',
						class: 'w_2-3',
						onChange: (v) => {

							let value = v.replace(/["'»«]/i, ''),
								legal = value.match(/[а-яА-Я]+/i)
							;

							if ( legal && legal.length && this.fields.forma_id.items.length){
								for (let i = 0; i < this.fields.forma_id.items.length; i++){

									if ( this.fields.forma_id.items[i].label.toLowerCase() === legal[0].toLowerCase()){
										this.name = v.replace(legal, '').trim();
										this.forma_id = this.fields.forma_id.items[i].value;

										break;
									}
								}
							}

						},
					},
					forma_id: {
						type: 'select',
						name: 'forma_id',
						title: 'Форма собственности',
						placeholder: 'Выберите из списка',
						required: true,
						items: [],
						class: 'w_1-3'
					},

					inn: {
						type: 'text',
						name: 'inn',
						title: 'ИНН',
						required: true,
						class: 'w_1-3'
					},
					kpp: {
						type: 'text',
						name: 'kpp',
						title: 'КПП',
						class: 'w_1-3'
					},
					phone_prefix: {
						type: 'select',
						name: 'phone_prefix',
						title: 'Телефон',
						//placeholder: 'Выберите из списка',
						required: true,
						hint: 'Например,&nbsp;+7&nbsp;XXX&nbsp;XXX&nbsp;XX&nbsp;XX',
						items: [
							{
								value: '+7',
								label: '+7'
							},
							{
								value: '+34',
								label: '+34'
							},
							{
								value: '+99',
								label: '+99'
							}
						],
						class: 'w_1-3'
					},
					phone: {
						type: 'text',
						name: 'phone',
						title: '&nbsp;',
						mask: '999 999 99 99',
						required: true,
						class: 'w_2-3'
					},
					phone_dob: {
						type: 'text',
						name: 'phone_dob',
						title: 'Добавочный',
						class: 'w_1-3'
					},
					email: {
						type: 'email',
						name: 'email',
						title: 'E-mail для корреспонденции',
						required: true,
						disabled: false,
						class: 'w_2-3'
					},
					email_customer: {
						type: 'checkbox',
						name: 'email_customer',
						label: 'Совпадает с адресом при регистрации',
						checked: false,
						class: 'w_2-3',
						onChange: (e)=>{
							this.fields.email.disabled = !!this.email_customer;
							if ( this.email_customer ){
								this.email = this.user.email;
							}
						}
					},
					site: {
						type: 'text',
						name: 'site',
						title: 'Адрес сайта',
						class: 'w_2-3'
					},
					yur_address: {
						type: 'text',
						name: 'yur_address',
						title: 'Юридический адрес',
						class: 'w_2-3'
					},
					bank_name: {
						type: 'text',
						name: 'bank_name',
						title: 'Наименование банка',
						class: 'w_2-3'
					},
					bank_bik: {
						type: 'text',
						name: 'bank_bik',
						title: 'БИК банка',
						class: 'w_1-3',

						onKeyup: this.onSearchBik
					},
					ogrn: {
						type: 'text',
						name: 'ogrn',
						title: 'ОГРН',
						class: 'w_1-3'
					},
					rs: {
						type: 'text',
						name: 'rs',
						title: 'Расчетный счет',
						class: 'w_1-3'
					},
					ks: {
						type: 'text',
						name: 'ks',
						title: 'Корреспондентский счет',
						class: 'w_1-3'
					},
					fio: {
						type: 'text',
						name: 'fio',
						title: 'ФИО',
						class: 'w_2-3'
					},
					description: {
						type: 'textarea',
						name: 'description',
						title: 'Описание деятельности',
						counter: 'back',
						max: 5000,
						validation: {
							max: {
								length: 5000,
								message: 'Длинна текста не должна превышать 5000 символов',
							},
						},
						class: 'form__field_full'
					}
				}
			}
		},

		computed: {

			...mapState({
				user: state => state.user.info,
				company: state => state.user.company,
				companyLegal: state => state.base.selects.companyLegal,
			}),
			...mapGetters({
				changed: 'user/companyChanged'
			}),

			image : {
				get() { return this.company.image;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'image', value});}
			},
			image_original : {
				get() { return this.company.image_original;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'image_original', value});}
			},
			image_coordinates : {
				get() { return this.company.image_coordinates;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'image_coordinates', value});}
			},
			category : {
				get() { return this.company.category;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'category', value});}
			},
			region : {
				get() { return this.company.region;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'region', value});}
			},
			name : {
				get() { return this.company.name;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'name', value});}
			},
			forma_id : {
				get() { return this.company.forma_id;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'forma_id', value});}
			},
			inn : {
				get() { return this.company.inn;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'inn', value});}
			},
			kpp : {
				get() { return this.company.kpp;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'kpp', value});}
			},
			phone_prefix : {
				get() { return this.company.phone_prefix;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'phone_prefix', value});}
			},
			phone : {
				get() { return this.company.phone;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'phone', value});}
			},
			phone_dob : {
				get() { return this.company.phone_dob;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'phone_dob', value});}
			},
			email : {
				get() { return this.company.email;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'email', value});}
			},
			email_customer : {
				get() { return this.company.email_customer === '1'},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'email_customer', value: value ? '1' : '0'});}
			},
			site : {
				get() { return this.company.site;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'site', value});}
			},
			yur_address : {
				get() { return this.company.yur_address;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'yur_address', value});}
			},
			bank_name : {
				get() { return this.company.bank_name;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'bank_name', value});}
			},
			bank_bik : {
				get() { return this.company.bank_bik;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'bank_bik', value});}
			},
			ogrn : {
				get() { return this.company.ogrn;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'ogrn', value});}
			},
			rs : {
				get() { return this.company.rs;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'rs', value});}
			},
			ks : {
				get() { return this.company.ks;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'ks', value});}
			},
			fio : {
				get() { return this.company.fio;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'fio', value});}
			},
			description : {
				get() { return this.company.description;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'description', value});}
			},

		},

		watch: {


			image_original(value){
				this.fields.image.cropOriginal = value;
			},

			image_coordinates(value){
				this.fields.image.cropCoordinates = value;
			},

			companyLegal(){
				this.setFormSettings();
			}
		},

		created(){
			this.loadData();
		},

		methods: {

			onSearchBik(query){


				let resource = 'bank',
					apiKey = 'aba8fbb64d2adac1de3adfa0d70db93150de56df'
				;

				/**
				 NAME — ФИО;
				 ADDRESS — адреса;
				 PARTY — организации и ИП;
				 EMAIL — адрес электронной почты;
				 BANK — банковские организации.
				 */

				/*console.info(query);


				axios.post( 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/' + resource,
					{
						"query": `${query}`
					},
					{
						headers:
							{
								"Content-Type": "application/json",
								"Accept": "application/json",
								"Authorization": `Token ${apiKey}`
							}
					}).then(res => {
					this.data = res.data.suggestions;
				});*/

				/*axios({
					method: 'post',
					url: "http://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/" + resource,
					headers: {
						'Content-Type': 'application/json',
						'Accept': 'application/json',
						'Authorization': `Token ${apiKey}`
					},
					data: {
						"query": query
					},
				}).then(e=>{}).catch(error=>{}).then(always=>{});*/


			},

			setFormSettings(){
				this.fields.forma_id.items = this.companyLegal.map(i => {
					return {
						value: i.id,
						label: i.name,
						html: i.name
					}
				});
				this.fields.email.disabled = this.email_customer;
			},

			loadData(){
				if ( this.company.company_id !== null ){
					this.fields.image.cropOriginal = this.image_original || this.image;
					this.fields.image.cropCoordinates = this.image_coordinates;
				}
				this.setFormSettings();
			},

			onSubmit(){

				this.$refs.form.validate()
					.then(()=>{
						if ( this.loading ) return false;
						this.loading = true;

						this.$store.dispatch('user/saveCompany').then(()=>{
							this.$store.dispatch('user/getData');
							this.$router.push({name: 'home'});
						}).finally(()=>{
							this.loading = false;
						});
					}, error => {

					});


				return false;
			}
		},

		components:{

		}
	}
</script>


<style lang="scss">

</style>