<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading || !mainDataLoaded")
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
						li: router-link.c-blue.link(tag="div", :to="{name: 'company'}") Редактировать
				icon(name="dots")
		template(slot="body")
			.kit-company

				.kit-company__item.kit-company__item_logo
					FormField(:field='fields.image', v-model='image')

				.kit-company__item.kit-company__item_aside
					.kit-company__item.kit-company__item_title {{ company.name || '' }}

					.kit-company__item.kit-company__item_2
						.kit-company__title ДАТА РЕГИСТРАЦИИ
						.kit-company__value {{ moment(company.date_added).format('DD.MM.YYYY') }}&nbsp;
						.kit-company__value.c-blue ({{ company.date_added | dateDuration }} на сайте)

					.kit-company__item.kit-company__item_2
						.kit-company__title ИНН
						.kit-company__value(v-if="company.inn") {{ company.inn }}
						.kit-company__value(v-else): router-link.c-blue.link(tag="span", :to="{name: 'company'}") ДОБАВИТЬ

				.kit-company__item.kit-company__item_3
					.kit-company__title АДРЕС САЙТА
					.kit-company__value(v-if="company.site"): a(:href="'//' + company.site", target="_blank").c-blue {{ company.site }}
					.kit-company__value(v-else): router-link.c-blue.link(tag="span", :to="{name: 'company'}") ДОБАВИТЬ

				.kit-company__item.kit-company__item_3
					.kit-company__title ТЕЛЕФОН
					.kit-company__value(v-if="company.phone")
						span.c-blue {{ company.phone }}
						span.c-blue(v-if="company.phone_dob") &nbsp;(доб. {{ company.phone_dob }})
					.kit-company__value(v-else): router-link.c-blue.link(tag="span", :to="{name: 'company'}") ДОБАВИТЬ

				.kit-company__item.kit-company__item_3
					.kit-company__title E-MAIL
					.kit-company__value(v-if="company.email") {{ company.email }}
					.kit-company__value(v-else): router-link.c-blue.link(tag="span", :to="{name: 'company'}") ДОБАВИТЬ

				.kit-company__item
					.kit-company__title ЮРИДИЧЕСКИЙ АДРЕС
					.kit-company__value(v-if="company.yur_address") {{ company.yur_address }}
					.kit-company__value(v-else): router-link.c-blue.link(tag="span", :to="{name: 'company'}") ДОБАВИТЬ

				.kit-company__item.kit-company__item_act
					.kit-company__title СФЕРЫ ДЕЯТЕЛЬНОСТИ
					.kit-company__value
						FormField(:field='fields.sphere', v-model='sphere')

				.kit-company__item.kit-company__item_act
					.kit-company__title РЕГИОНЫ ДЕЯТЕЛЬНОСТИ
					.kit-company__value
						FormField(:field='fields.region', v-model='region')

				hr

				.kit-company__item
					.kit-company__title О КОМПАНИИ
					.kit-company__value(:class="{hide: !!descriptionLength}", v-if="company.description")
						span.kit-company__value-of {{ company.description | substrLengh(descriptionLength, ' ')}}
						span(v-if="descriptionLength", @click="descriptionLength = false;").kit-company__value-handle.c-blue.link читать полностью
						span(v-else, @click="descriptionLength = 200;").kit-company__value-handle.c-blue.link скрыть описание
					.kit-company__value(v-else): router-link.c-blue.link(tag="span", :to="{name: 'company'}") ДОБАВИТЬ


</template>

<script>


	import {mapState, mapGetters} from "vuex";

	export default {

		props: ['options'],

		data() {

			return {
				compact: false,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,

				descriptionLength: 200,

				fields: {
					image: {
						type: 'logo',
						maxWidth: 600,
						popupTitle: 'ЗАГРУЗИТЬ ФОТО КОМПАНИИ',
						name: 'company_logo',
						cropOriginal: '',
						cropCoordinates: '',
						title: 'Фото компании',
						controls: true,

						onSave: (value, data) => {

							if (data.cropOriginal) this.image_original = data.cropOriginal;
							if (data.cropCoordinates) this.image_coordinates = data.cropCoordinates;

							//this.$store.dispatch('user/updateUserImage');
							this.$store.dispatch('user/saveCompany');


						},

					},
					sphere: {
						type: 'category',
						name: 'category',
						base: 'sphere',
						max: 10,
						required: true,

						onChange: ()=>{
							this.$store.dispatch('user/saveCompany')
						}
					},
					region: {
						type: 'category',
						name: 'region',
						base: 'region',
						max: 10,
						required: true,

						onChange: ()=>{
							this.$store.dispatch('user/saveCompany')
						}
					},
				},

			}
		},

		computed: {

			...mapState({
				company: state => state.user.company,
			}),

			...mapGetters({
				mainDataLoaded: 'user/mainDataLoaded',
			}),

			image : {
				get() { return this.company.image;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'image', value});}
			},
			image_original : {
				get() { return this.company.image_original;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'image_original', value});}
			},
			image_coordinates : {
				get() { return this.company.image_coordinates;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'image_coordinates', value});}
			},
			sphere : {
				get() { return this.company.category;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'category', value});}
			},
			region : {
				get() { return this.company.region;},
				set(value) { this.$store.commit("user/SET_PROP", {name: 'region', value});}
			},


			moment(){
				return window.moment;
			}
		},

		mounted(){
			this.loadData();
		},

		watch:{

			mainDataLoaded(){
				this.loadData();
			}

		},
		methods: {
			loadData(){
				this.fields.image.cropOriginal = this.image_original || this.image;
				this.fields.image.cropCoordinates = this.image_coordinates;
			},

			getRegisterTime(d){
				let date = new Date(d),
					now = new Date(),
					day = date.getDate().toString().length < 2 ? '0' + date.getDate().toString() : date.getDate(),
					month = (date.getMonth() + 1).toString().length < 2 ? '0' + (date.getMonth() + 1).toString() : date.getMonth() + 1,
					year = Math.floor((now.getTime() - date.getTime() )/ 31536000000),
					days = Math.floor((now.getTime() - date.getTime() - (year * 31536000000)) / 86400000 ),

					textYear = year > 0 ? `${year} ${year.declension('год', 'года', 'лет')} ` : '',
					textDays = days > 0 ? `${days} ${days.declension('день', 'дня', 'дней')} ` : ''
				;


				return `${day}.${month}.${date.getFullYear()} <span class="c-blue">(${textYear}${textDays}на сайте)</span>`
			}
		},
		components:{

		}

	}
</script>

<style scoped lang="scss">
	@import "../../css/styles/var";
	@import "../../css/styles/mixins";

	.kit-company{
		font-size: 0;
		padding: 0 30px 20px;

		&__item{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			margin: 10px 0;
			box-sizing: border-box;
			padding-right: 10px;

			.form__field{
				margin: 0;
			}

			&_2{
				width: (100% / 3);

				@include breakPoint($breakPoint2){
					width: 50%;
				}
			}

			&_3{
				width: (100% / 4);

				@include breakPoint($breakPoint2){

					width: (100% / 3);
				}
			}

			&_aside{
				width: (3 * 100% / 4);
				margin: 0;

				@include breakPoint($breakPoint2){
					width: (2 * 100% / 3);
				}
			}

			&_logo{
				width: (100% / 4);

				@include breakPoint($breakPoint2){

					width: (100% / 3);
				}
			}

			&_act{
				width: 50%;

				@include breakPoint($breakPoint2){
					width: 100%;
				}

			}

			&_title{
				font-size: 18px;
				font-weight: 500;
			}
			&_registered{

				span{
					font-size: 11px;
				}
			}
		}


		&__title{
			font-size: 11px;
			color: $colorGreyText;
			margin-bottom: 5px;
		}
		&__value{
			font-size: 13px;
			line-height: 1.4;

			&-of{

				margin-right: 10px;

				.hide &{
					margin-right: 0;
				}

				&:after{

					.hide &{
						content: '';
						position: relative;
						width: 30px;
						height: 12px;
						display: inline-block;
						top: 3px;
						margin-left: -30px;


						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
						background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
						background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
						background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
						//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

					}
				}
			}


			&-handle{

				position: relative;
				padding-right: 13px;
				white-space: nowrap;

				&:before,
				&:after{
					content: '';
					width: 6px;
					height: 2px;
					background: $colorBlue;
					position: absolute;
					top: 50%;
					right: 0;
					border-radius: 10px;
					transition: all .3s ease;
				}

				&:before{
					transform: rotate(-45deg);
					margin-right: 1px;

					.hide &{
						transform: rotate(45deg);
					}
				}

				&:after{
					transform: rotate(45deg);
					margin-right: -2px;

					.hide &{
						transform: rotate(-45deg);
					}
				}

			}
		}
	}

</style>


