<template lang="pug">
	.form__branches-item(v-if='info')
		.form__branches-type(v-if="branchType.length") {{ branchType.find(i => i.id === info.branch_type).name }}
		.form__branches-type(v-else) ...
		.form__branches-info
			.form__branches-title {{ info.branch_title }}
			.form__branches-address  {{ info.address_all }}
		.form__branches-control
			span.link.c-blue(@click="popupEditBranch = true") ИЗМЕНИТЬ
			span
				label.link.ico
					icon(name="remove")
					input(type="checkbox", v-model="model", :value="item").is-hidden
			span
				.move.ico
					icon(name="move")

		popup(v-model="popupEditBranch", :hideCloseBtn="true").popup_add
			editBranch(@onSubmit="onClose", :id="item")

	.form__branches-item(v-else).is-loading
		.form__branches-type &nbsp;
		.form__branches-info
			.form__branches-title &nbsp;
			.form__branches-address  &nbsp;
		.form__branches-control &nbsp;




</template>

<script>

	import {mapState} from "vuex";

	import axios from '../../middlware/api/instance'

	import editBranch from '../../view/branches/form'

	export default {

		props: ['field', 'value', 'item'],

		data() {

			return {
				info: false,
				popupEditBranch: false,
			}
		},

		computed: {
			...mapState({
				branchType: state => state.base.selects.branchType,
			}),

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			this.loadData();
		},

		watch:{

		},

		methods:{
			loadData(){

				return axios.post('', {action: 'loadBranch', id: this.item})
					.then(r => {
						this.info = r.data
					})
					.finally(()=>{
						this.loaded = false;
					});

			},

			onClose(){
				this.popupEditBranch = false;
				this.loadData();
			},
		},

		components:{
			editBranch
		}
	}
</script>

<style lang="scss">

</style>