<template lang="pug">
	div

		VueCtkDateTimePicker(
			label="",
			:no-header="true",
			:only-time="field.type === 'time'",
			:only-date="field.type === 'date'",
			:locale="'ru'",
			:min-date="field.min ? field.min : ''",
			:max-date="field.max ? field.max : ''",
			:range="!!field.range",
			:no-shortcuts="true",
			:button-now-translation="'Сегодня'",
			:no-button-now="true",
			:noClearButton="true",
			:format="field.type === 'date' ? 'DD.MM.YYYY' : 'HH:mm'",
			:formatted="field.type === 'date' ? 'll' : 'HH           mm'",
			v-model='model',
			@input="onKeyup()",
			@is-shown="dpOpen()",
			@is-hidden="dpClose()",
			)
		.form__ico(v-if="field.type === 'date'"): include ../../img/svg/ico__calendar.svg
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")
		.form__error(v-if="error", v-tooltip="error").c-red: include ../../img/svg/ico__warn.svg

</template>

<script>
	import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';

	export default {

		props: ['field', 'value', 'error'],

		data() {

			// console.info(this.field);

			return {
				storeValue: null,
			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			/*if (this.model) {
				this.value = new Date(this.model);
			}*/
		},

		watch:{
		},

		methods:{

			check(e){
				console.info(e)
			},

			onChange(e){
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model, e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model, e);
			},

			dpOpen(){
				this.storeValue = this.model;
			},

			dpClose(){

				if ( this.storeValue && this.storeValue !== this.model ){

					if (this.field.range){
						if ( !!this.model.end && !!this.model.start ){
							this.onChange();
						} else {
							this.model = this.storeValue;
						}
					} else {
						this.onChange();
					}
				}

				this.storeValue = null;
			}

		},

		components:{
			VueCtkDateTimePicker
		}
	}
</script>

<style lang="scss">

</style>