<template lang="pug">
	div
		Editor(
			v-model.trim="model",
			:init="options",
			:disabled="field.disabled",
			@onFocus="onFocus",
			@onBlur="onBlur",
			@onKeyUp="onKeyup",
			@onChange="onChange",
			ref='editor'
		)
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")
		.form__error(v-if="error", v-tooltip="error").c-red: include ../../img/svg/ico__warn.svg

</template>

<script>


	import Editor from '@tinymce/tinymce-vue';
	import ru from '../../js/configs/ru.js';

	// console.info(ru);



	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {
				options: {
					language: ru,
					language_url: ru,
					// theme: 'modern',
					menubar: false,
					plugins: "table autoresize link wordcount image ",



					toolbar: [
						{ name: 'table', items: [ 'table' ] },
						{ name: 'link', items: [ 'link' ] },
						{ name: 'image', items: [ 'image' ] },
						// { name: 'history', items: [ 'undo', 'redo' ] },
						{ name: 'styles', items: [ 'styleselect' ] },
						{ name: 'blockquote', items: [ 'blockquote' ]},
						{ name: 'formatting', items: [ 'bold', 'italic'] },
						{ name: 'alignment', items: [ 'alignleft', 'aligncenter', 'alignright', 'alignjustify' ] }
					],

					autoresize_min_height: 500,

					// link
					default_link_target: "_blank",
					link_context_toolbar: false,
					link_title: false,

					// table
					table_toolbar: "tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol",

					// images
					image_description: false,
					image_dimensions: false,
					image_title: false,
					automatic_uploads: true,
					file_picker_types: 'image',
					images_upload_handler: function (blobInfo, success, failure) {
						let xhr, formData;

						xhr = new XMLHttpRequest();
						xhr.withCredentials = false;
						xhr.open('POST', isLocal ? 'http://crm.headerlink.maestros.ru/api.php' : '/api.php');

						xhr.onload = function() {
							let json;

							if (xhr.status !== 200) {
								failure('HTTP Error: ' + xhr.status);
								return;
							}

							json = JSON.parse(xhr.responseText);

							if (!json || typeof json.url !== 'string') {
								failure('Invalid JSON: ' + xhr.responseText);
								return;
							}

							success(json.url);
						};

						formData = new FormData();
						formData.append('file', blobInfo.blob(), blobInfo.filename());
						formData.append('action', 'uploadEditorImage');

						xhr.send(formData);
					},
					/*file_picker_callback: function(callback, value, meta) {
						// Provide file and text for the link dialog
						/!*if (meta.filetype == 'file') {
							callback('mypage.html', {text: 'My text'});
						}

						// Provide image and alt text for the image dialog
						if (meta.filetype == 'image') {
							callback('myimage.jpg', {alt: 'My alt text'});
						}

						// Provide alternative source and posted for the media dialog
						if (meta.filetype == 'media') {
							callback('movie.mp4', {source2: 'alt.ogg', poster: 'image.jpg'});
						}*!/
					},*/

					style_formats: [

						{ title: 'Параграф', format: 'p' },
						{ title: 'Заголовок 2', format: 'h2' },
						{ title: 'Заголовок 3', format: 'h3' },
						{ title: 'Заголовок 4', format: 'h4' },
						{ title: 'Заголовок 5', format: 'h5' }
					]
				}

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			console.info(this.$refs.editor);
			//tinymce.addI18n('ru'
		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			},
			onKeyup(e, w){
				this.$emit('onKeyup', this.model, e, w.plugins.wordcount.body.getCharacterCount());
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model, e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model, e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model, e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model, e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model, e);
			},
		},

		components:{
			Editor
		}
	}
</script>

<style lang="scss">
	.tox-notifications-container {display: none !important;}
	.tox-statusbar {display: none !important;}
	/*.tox-collection__group > .tox-collection__item--state-disabled {display: none !important;}*/
</style>