<template lang="pug">
	div
		.form__logo
			.form__logo-item.link(v-if="model && !field.controls", :style="'background-image:url(' + model + ');'", @click="setImage")
			.form__logo-item(v-else-if="model", :style="'background-image:url(' + model + ');'")
				.form__logo-controls()
					icon.form__logo-btn(v-tooltip="'Удалить фото'", @click="removeImage", name="clear")
					icon.form__logo-btn(v-tooltip="'Обновить'", @click="popupChoose = !0", name="update")
					icon.form__logo-btn(v-tooltip="'Изменить миниатюру'", @click="setImage", name="crop")
			.form__logo-item(v-else, @click="popupChoose = !0"): include ../../img/svg/add_photo.svg

		input(
			accept="image/*",
			@change="onChange",
			type="file",
			:id="field.name+'_'+_uid"
			)

		popup(v-model="popupChoose", @onClose="popupChoose = !1").popup_info
			.popup__title {{ field.popupTitle }}
			.popup__text Вы можете загрузить документ в формате JPG, GIF или PNG, #[br]объем файла не должен превышать 20 МБ
			.popup__text: label.btn.btn_blue(:for="field.name+'_'+_uid") Выбрать файл
			.popup__footnote Если у Вас возникают проблемы с загрузкой, попробуйте выбрать фотографию меньшего размера.

		popup(v-model="popupError", @onClose="popupError = !1").popup_info
			.popup__title ОШИБКА
			.popup__text(v-html='errorMessage')
			.popup__text: .btn.btn_blue(@click="popupError = !1") ОК

		popup(v-model="popupCropper", @onClose="popupCropper = !1").popup_cropper
			.popup__title  {{ field.popupTitle }}
			.popup__text Выбранная область будет показываться на Вашей странице.#[br]Фотографию можно повернуть, уменьшить или растянуть до нужного размера.

			.popup__cropzone
				img(src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7', ref='image')
				.popup__cropzone-control
					.popup__cropzone-btn(@click="popupCropper = !1; popupChoose = !0;"): include ../../img/svg/ico__clear.svg
					.popup__cropzone-btn(@click="rotateImage"): include ../../img/svg/ico__rotate.svg

			.popup__flex
				span
					.btn.c-blue(@click="popupCropper = !1; popupChoose = !0;") ВЫБРАТЬ ДРУГОЙ ФАЙЛ
				span
					.btn.c-grey(@click="popupCropper = !1") ОТМЕНА
					.btn.btn_blue(@click="crop") СОХРАНИТЬ


</template>

<script>

	import downscale from 'downscale'
	import Cropper from 'cropperjs'

	export default {

		props: ['field', 'value'],

		data() {

			return {
				original: '',
				coordinates: '',
				popupChoose: false,
				popupCropper: false,
				cropper: null,

				popupError: false,
				errorMessage: ''
			}
		},

		computed: {
			imageOriginalUpdate(){
				return this.field.cropOriginal;
			},

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		watch:{
			imageOriginalUpdate(){
				this.original = this.field.cropOriginal;
			}
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

			this.original = this.field.cropOriginal;
			// if ( this.model.length ){
			// 	this.imageToBase64(this.model);
			// }

		},

		methods:{
			onChange(e){
				this.getImage(e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model);
			},

			getImage(e){

				this.coordinates = '';

				let collect = e.dataTransfer || e.target,
					files = collect.files
				;

				let type = files[0].type.match(/(jpeg|png|gif)/ig);

				if ( type && files[0].size > 20000000){

					this.popupError = true;
					this.errorMessage = '<p>Недопустимый размер файла</p><p>Объем файла не должен превышать 20 МБ.</p>';

				} else if ( type ){

					this.popupChoose = false;
					this.popupCropper = true;
					let reader = new FileReader();
					reader.readAsDataURL(files[0]);
					reader.onloadend = ()=>{

						let img = new Image,
							max = 1000
						;

						img.onload = ()=>{
							let width = img.width > max ? max : img.width,
								height = width * img.height / img.width
							;

							downscale(files[0], width, height, {
								imageType: type
							}).then((data)=>{

								this.$refs.image.src = this.original = data;
								this.initCropper();

								this.$emit('onChange', this.model, e);
							});

						};

						img.onerror = ()=>{

						};
						img.src = reader.result;

					};
				} else {


					this.popupError = true;
					this.errorMessage = '<p>Недопустимый формат файла</p><p>Вы можете загрузить документ в формате JPG, GIF или PNG.</p>';
					// this.$notify({
					// 	title: 'Недопустимый формат файла',
					// 	text: 'Допускается только загрузка изображений png и jpeg', // success warn error
					// 	type: 'error'
					// });

				}

			},

			initCropper(){

				//if ( this.cropper ) this.cropper.destroy();

				//console.log('%c                     ', 'font-size:100px;line-height:100px;display:block;background:url(' + src + ');width:100px;height:100px;background-size:cover;');


				this.cropper = new Cropper(this.$refs.image, {
					aspectRatio: 1,
					guides: false,
					zoomable: false,
					background: false,
					center: false,
					viewMode: 1,
					toggleDragModeOnDblclick: false,
					crop: (e)=>{

					},
					ready: (e)=>{
						if (this.coordinates){
							this.cropper.setData(JSON.parse(this.coordinates));
						}
					},
					cropend: (e)=>{
						/*let img = this._cropper.getCanvasData(),
							box = this._cropper.getCropBoxData(),
							fix = checkCroppBox(img, box)
						;

						if (fix.fixed){
							this._cropper.setCropBoxData(fix.box)
						}*/


					}
				});


				// if (s){
				// 	this._cropper.setData(this._currentData);
				// }


				function checkCroppBox(img, box) {
					let offset = 10, fixed = false;
					if ( img.top - box.top < 10 ) {
						box.top = img.top;
						fixed = true;
					}
					if ( img.left - box.left < 10 ) {
						box.left = img.left;
						fixed = true;
					}
					if ( box.top + box.height - img.top + img.height < 10 ) {
						box.top = img.top;
						fixed = true;
					}
					if ( box.left + box.width - img.left + img.width < 10 ) {
						box.left = img.left;
						fixed = true;
					}

					return {fixed, box}
				}

			},

			setImage(){

				this.popupCropper = true;

				this.coordinates = this.field.cropCoordinates.replace(/&quot;/g, '"');

				let img = new Image;

				img.onload = ()=>{

					this.$refs.image.src = this.original ;
					this.initCropper();

				};

				img.onerror = ()=>{};

				img.src = this.original;

			},

			crop(){
				this.model = this.cropper.getCroppedCanvas({
					fillColor: '#fff',
					checkCrossOrigin: false,
					width: 400,
					height: 400,
					imageSmoothingEnabled: false,
					imageSmoothingQuality: 'high'
				}).toDataURL();


				this.popupCropper = !1;

				if ( this.field.onSave && typeof this.field.onSave === 'function') this.field.onSave(this.model, {
					cropCoordinates: JSON.stringify(this.cropper.getData()),
					cropOriginal: this.original
				});
			},

			removeImage(){
				this.model = '';

				if ( this.field.onSave && typeof this.field.onSave === 'function') this.field.onSave(this.model, {
					cropCoordinates: '',
					cropOriginal: ''
				});
			},

			rotateImage(){
				this.cropper.rotate(90);
			},


			imageToBase64(src){

				if ( src.indexOf('data:image') === 0 ) return false;

				let xhr = new XMLHttpRequest();
				xhr.onload = ()=>{
					let reader = new FileReader();
					reader.onloadend = ()=>{

						this.model = reader.result;
					};
					reader.readAsDataURL(xhr.response);
				};
				xhr.open('GET', src);
				xhr.responseType = 'blob';
				xhr.send();


			},

		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>