<template lang="pug">
	div
		.form__files
			.form__files-drag(v-if="!sortable", @dragenter="onDragenter", @dragover="onDragover", @dragleave="onDragleave", @drop="onDrop", :class="{'is-active': dragActive}")
			.form__files-list(v-if="files.length")
				Draggable(v-model="files", v-bind="sortOptions", @start="onSortableStart", @end="onSortableEnd", ref="draggable")
					.form__files-item(v-for="(file, index) in files", :class="{'form__files-item_removed': file.removed, 'form__files-item_loading' : !file.loaded, 'form__files-item_comment' : field.comments, 'is-comment-focus' : file.isCommented}")
						.form__files-item-inner
							.form__files-item-bg(v-if="file.thumbnail", , :style="'background-image:url(' + file.thumbnail + ');'", :class="'form__files-item-bg_' + (file.rotate % 360)")
							.form__files-item-name(v-if="!file.thumbnail") {{ file.name }}
							.form__files-item-control(v-if='field.controls && field.controls.length && file.loaded')
								.form__files-item-btn.form__files-item-move(v-if="field.controls.indexOf('move') >= 0 && !file.removed && files.length > 1", v-tooltip="'Переместить'"): include ../../img/svg/ico__move.svg
								.form__files-item-btn(v-if="field.controls.indexOf('rotate') >= 0 && !file.removed && file.thumbnail", v-tooltip="'Перевернуть'", @click="rotateImage(file.localId, file.rotate + 90)"): include ../../img/svg/ico__rotate.svg
								.form__files-item-btn(v-if="field.controls.indexOf('remove') >= 0 && file.removed && activeFilesCount < max", v-tooltip="'Отменить удаление'", @click="removeImage(index)"): include ../../img/svg/ico__update.svg
								.form__files-item-btn(v-if="field.controls.indexOf('remove') >= 0 && !file.removed" , v-tooltip="'Удалить'", @click="removeImage(index)"): include ../../img/svg/ico__clear.svg
							.form__files-item-label {{ file.removed ? 'Удалено' : file.extension }}
						.form__files-item-comment(v-if="field.comments")
							.form__files-item-comment-field
								.form__files-item-comment-count(:class="file.comment.length > 50 ? 'c-red' : 'c-grey'") {{ file.comment.length || 0 }}/50
								textarea-autosize(
									v-model.trim="file.comment",
									:min-height="10",
									placeholder="Добавить описание",
									:ref="'comment_' + index",
									@focus.native="commentOnFocus(index)",
									@blur.native="commentOnBlur(index)",
									@keydown.native="commentOnKeyUp(index)",
									max="50"
									)

						transition(mode='out-in', name="tr-fade")
							.form__files-item-progress(v-if="!file.loaded"): span(:style="'width: ' + file.progress + '%'")


			.form__files-controls
				span.form__files-controls-add(v-if="activeFilesCount < max"): label.link.c-blue(:for="inputId" v-html="field.label || 'ДОБАВИТЬ'")
				span.form__files-controls-remove.link.c-grey(v-if="activeFilesCount > 0", v-html="field.clearText ? field.clearText : 'ОЧИСТИТЬ СПИСОК'", @click="clearFiles")
			input(
				:accept="accept()",
				@change="onChange",
				:multiple="!!field.multiple",
				type="file",
				:id="inputId"
				)

</template>

<script>

	import axios from '../../middlware/api/instance'
	import downscale from 'downscale'
	import _ from 'lodash'
	import Draggable from 'vuedraggable'

	let _default = {
		id: 0,
		localId: 0,
		removed: false,
		rotate: 0,
		comment: false,
		loaded: false,
		progress: 0,
		isCommented: false,
		thumbnail: false
	};

	export default {

		props: ['field', 'value'],

		data() {

			if ( this.field.comments ) _default.comment = '';

			return {
				sortOptions: {
					group: `sorter_${this._uid}`,
					animation: 150,
					handle:'.form__files-item-move'
				},

				sortable: false,

				dragActive: false,

				max: this.field.max || Infinity,

				inputId: this.field.name+'_'+this._uid,

				files: [

				],

			}
		},

		computed: {
			activeFilesCount (){
				return _.filter(this.files, item => !item.removed ).length
			},

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		watch:{

		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

			if ( this.model.length ){
				this.updateExternalModel();
			}
		},

		methods:{

			updateExternalModel(){

				let i = 0, lng = this.model.length;

				for (i; i < lng; i++){
					let obj = this.model[i];
					obj.localId = `${new Date().getTime()}__${i}`;
					obj.loaded = true;

					this.files.push(Object.assign({}, _default, obj));
				}
			},

			accept(){

				let accept = '';

				for (let i = 0; i < this.field.accept.length; i++){
					accept += `${i > 0 ? ', ' : ''}.${this.field.accept[i]}`
				}

				return accept || false;
			},

			onChange(e){
				this.onDrop(e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model);
			},


			onSortableStart(){
				this.sortable = true;
			},
			onSortableEnd(){
				this.sortable = false;
				this.updateModel();
			},


			onDragenter(){
				this.dragActive = true;
			},

			onDragover(){
				this.dragActive = true;
			},

			onDragleave(){
				this.dragActive = false;
			},

			onDrop(e){
				this.dragActive = false;
				let collect = e.dataTransfer || e.target;
				this.addFiles(collect.files)
			},

			addFiles(files){
				([...files]).forEach((file, i)=>{
					this.addFileItem(file, i);
				})
			},

			clearFiles(){
				for (let i = 0; i < this.files.length; i++){
					this.files[i].removed = true;
				}

				this.updateModel();

			},


			showComment(index){

				this.files[index].isCommented = true;

				// console.info(index, this.$refs.draggable);
				// console.info(this.$refs.draggable.$el);
				// console.info(this.$refs['comment_' + index]);

			},

			commentOnFocus(index){
				this.files[index].isCommented = true;
			},

			commentOnBlur(index){
				this.files[index].isCommented = false;
				this.files[index].comment = this.files[index].comment.replace(/\n/g, " ").slice(0, 50);
				this.updateModel();

			},

			commentOnKeyUp(index){


			},

			addFileItem(file, i){

				let localId = `${new Date().getTime()}__${i}`,
					item = {
					localId,
					name: file.name,
					removed: false,
					extension: file.name.match(/\w+/ig).pop().toLowerCase()
				},

					matched = this.field.accept && this.field.accept.length ? this.field.accept.length && this.field.accept.indexOf(item.extension) >= 0 : true
				;


				if ( ( this.activeFilesCount < this.max ) && matched ){

					//console.info(this.field.maxSize, file.size, !!this.field.maxSize && this.field.maxSize < file.size);

					if ( !!this.field.maxSize && this.field.maxSize < file.size ){
						if ( this.field.onSizeError && typeof this.field.onSizeError === 'function') this.field.onSizeError(file.size);
						return false;
					}


					// this.model.push(item);
					this.files.push(Object.assign({}, _default, item));
					this.updateModel();

					if ( /^(image)/ig.test(file.type) ){
						let reader = new FileReader();
						reader.readAsDataURL(file);
						reader.onloadend = ()=>{
							this.updateItem({
								localId,
								thumbnail: reader.result
							});
						};
					}

					axios.post('',
						{action: 'filesUpload', file: file},
						{
							onUploadProgress: ( e ) => {
								this.updateItem({
									localId,
									progress: Math.ceil(100 * e.loaded / e.total)
								});
							}
						}
					)
						.then(({data})=>{
							data.localId = localId;
							this.updateItem({
								localId,
								loaded: true,
								id: data.id,
								progress: 100
							});
						})
						.catch((e)=>{
							console.error(e);
							let idx = _.findIndex(this.files, obj=> obj.localId === localId);
							this.files = [...this.files.slice(0, idx), ...this.files.slice(idx + 1)];
							this.updateModel();
						})
						.finally((e)=>{

						})
					;
				}
			},


			updateItem(item){
				let index = _.findIndex(this.files, obj=> obj.localId === item.localId);

				Object.keys(item).map((key)=>{
					if ( key !== 'localId'){
						this.files[index][key] = item[key];
					}
				});

				this.updateModel();
			},

			removeImage(index){
				this.files[index].removed = !this.files[index].removed;

				this.updateModel();
			},

			rotateImage(localId, rotate) {

				this.updateItem({
					localId,
					rotate: rotate % 360
				});
			},

			updateModel(){
				let model = [];

				for(let i = 0; i < this.files.length; i++){
					model.push({
						id: this.files[i].id,
						removed: this.files[i].removed,
						rotate: this.files[i].rotate,
						comment: this.files[i].comment
					});

				}

				this.model = model;
			}

		},

		components:{
			Draggable
		}
	}
</script>

<style lang="scss">

</style>