<template lang="pug">
	div
		input(
			@change="onChange",
			@keyup="onKeyup",
			@focus="onFocus",
			@blur="onBlur",
			:type="field.type",
			:name="field.name",
			v-model.trim="model",
			autocomplete="off",
			:disabled="field.disabled",
			:readonly="field.readonly"
			)
		.form__ending(v-if='field.ending', v-html='field.ending')
		.form__dropdown(v-if="$slots.dropdown", v-scrollbar)
			slot(name="dropdown")
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")
		.form__error(v-if="error", v-tooltip="error").c-red: include ../../img/svg/ico__warn.svg

</template>

<script>

	import Inputmask from 'inputmask'

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			if ( this.field.mask ){
				new Inputmask({
					mask: this.field.mask,
					showMaskOnHover: false,
					onincomplete: (e)=>{
						e.target.value = '';
						this.model = '';
					}
				}).mask(this.$el.querySelectorAll('input')[0]);
			}

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model, e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model, e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model, e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model, e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model, e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model, e);
			},
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>