<template lang="pug">
	.form__input
		DatePicker(
			:lang="'ru'",
			:type="'date'",
			:first-day-of-week="1",
			:shortcuts="false",
			:editable="false",
			:clearable="false",
			:format="'DD-MM-YYYY'",
			:placeholder="' '",
			:range-separator="'-'",

			:range="Array.isArray(model)",

			@panel-change="panelChange",
			@change="onChange",
			v-model='model'
			)

		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")
		.form__error(v-if="error", v-tooltip="error").c-red: include ../../img/svg/ico__warn.svg

</template>

<script>
	import DatePicker from 'vue2-datepicker'

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			/*if (this.model) {
				this.value = new Date(this.model);
			}*/
		},

		watch:{
		},

		methods:{
			panelChange(type){
			 	if ( type === 'DATE'){
			 		this.onFocus();
				} else if (type === 'NONE'){
					this.onBlur();
				}
			},
			onChange(e){
				this.model = e;
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			},
			onKeyup(e){
				this.$emit('onKeyup', this.model, e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model, e);
			},
			onFocus(e){
				this.$emit('onFocus', this.model, e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model, e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model, e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model, e);
			},

		},

		components:{
			DatePicker
		}
	}
</script>

<style lang="scss">

</style>