<template lang="pug">
	div
		select(
			@change="onChange",
			@focus="onFocus",
			@blur="onBlur",
			:name="field.name",
			:multiple="field.multiple",
			v-model="model",
			autocomplete="off",
			:disabled="field.disabled",
			:id="field.name+'_'+_uid"
			)
			option(v-for="(item, index) in field.items", :key="index", :value="item.value", :disabled="item.disabled") {{item.value}}
		label(v-if="!field.multiple", :for="field.name+'_'+_uid", v-html="selectValue(model)")
		label(v-else-if="field.multiple", :for="field.name+'_'+_uid")
			.form__multi(v-if="model.length")
				.form__multi__item(v-for="(selected, index) in model")
					.form__multi__text(v-html="selectValue(selected)")
					.form__multi__remove(@click.stop.prevent="removeSelectItem(selected)")
		transition(mode='out-in', name="tr-fade")
			.form__dropdown(v-if="field.items.length && focused", :class="dropdownOnTop ? 'form__dropdown_top' : ''", v-scrollbar)
				.form__dropdown-list
					.form__dropdown-item(
						@mousedown="onDropDownClick(item, $event)",
						v-for="(item, index) in field.items",
						:key="index",
						v-html="item.html || item.label || item.value",
						:class="[selectItem(item), item.disabled ? 'is-disabled' : '']"
						)
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")
		.form__error(v-if="error", v-tooltip="error").c-red: include ../../img/svg/ico__warn.svg

</template>

<script>

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {
				focused: false,
				dropdowned: false,
				dropdownOnTop: false,
			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		watch: {
			model(v){
				this.$emit('onChange', this.value);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(v);
			}
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		methods:{

			dropDownPosition(){

				let $inpt = this.$el.querySelector('label'),
					delta = this.field.items.length > 6 ? 200 : 35 * this.field.items.length
				;
				this.dropdownOnTop = window.innerHeight < $inpt.getBoundingClientRect().bottom + delta;
			},

			onChange(e){

			},
			onFocus(e){
				this.focused = !0;
				//if (this.dropdownOnTop) this.dropdownOnTop = false;

				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model, e);

				this.dropDownPosition();
				this.$emit('onFocus', this.value, e);
			},
			onBlur(e){

				this.focused = !1;
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model, e);
				this.$emit('onBlur', this.model, e);
			},

			onDropDownClick(item, e){

				if ( item.disabled ) return false;

				if ( this.field.multiple ){
					if ( this.model.indexOf(item.value) >= 0) return false;
					this.model.push(item.value);
				} else {
					this.model = item.value;
				}

				this.dropdowned = !1;

			},

			selectItem(item){
				let classList = '';

				if ( this.field.multiple && this.model.indexOf(item.value) >= 0){
					classList = 'is-active';
				} else if ( this.model === item.value ){
					classList = 'is-active';
				}

				return classList;
			},

			selectValue(value) {

				let label = '';

				if (!this.field.items || !value) return '';

				let item = _.find(this.field.items, (e)=>{ return e.value === value }) || {};
				label = item.html || item.label || item.value ;

				return label;
			},

			removeSelectItem(sel){
				let index = this.model.indexOf(sel);
				this.model.splice(index, 1);
			},

		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>