<template lang="pug">
	div
		input(
		type="submit",
		:value="field.value",
		:disabled="field.disabled"
		)


</template>

<script>

	export default {

		props: ['field', 'value'],

		data() {


			return {

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{

		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>