<template lang="pug">
	div
		input(
			@change="onChange",
			type="radio",
			:id="'_'+_uid",
			:disabled="field.disabled",
			v-model="model",
			:value="field.value"
			)
		label(:for="'_'+_uid")
			span(v-html="field.label")
			span.i-info(v-if="field.tooltip", v-tooltip="field.tooltip") ?
		icon(name="warn", v-if="error", v-tooltip="error").c-red.form__error

</template>

<script>

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{
			onChange(e){
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			}
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>