<template lang="pug">
	.form__input
		.form__images(v-if="!!field.multiple")
			.form__images-list(v-if="model.length")
				Draggable(v-model="model")
					.form__images-item(v-for="(image, index) in model", :style="'background-image:url(' + image + ');'")
						.form__images-remove(@click="removeImage(index)")
			label.btn.btn_yellow(:for="field.name+'_'+_uid" v-html="'Добавить изображение'")
		.form__images(v-else)
			.form__images-list(v-if="model")
				.form__images-item(:style="'background-image:url(' + model + ');'")
					.form__images-remove(@click="removeImage")
			label.btn.btn_yellow(:for="field.name+'_'+_uid" v-html="model ? 'Заменить изображение' : 'Добавить изображение'")
		input(
			accept="image/*",
			@change="onChange",
			:multiple="!!field.multiple",
			type="file",
			:id="field.name+'_'+_uid"
			)

</template>

<script>

	import downscale from 'downscale'
	import Draggable from 'vuedraggable'
	import {imageToBase64} from '../../middlware/util'


	export default {

		props: ['field', 'value'],

		data() {

			return {

			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

			if ( this.model.length ){
				if ( this.field.multiple ){
					let i = 0, lng = this.model.length;

					for (i; i < lng; i++){
						imageToBase64(this.model[i])
							.then(result => {
								this.model.splice(i, 1, result);
							})
						;
					}
				} else {

					imageToBase64(this.model)
						.then(result => {
							this.model = result;
						})
					;
				}
			}
		},

		watch:{

		},

		methods:{
			onChange(e){
				this.getImage(e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model);
			},

			moveImage(i, n){
				if (n >= this.model.length) {
					let k = n - this.model.length + 1;
					while (k--) {
						this.model.push(undefined);
					}
				}
				this.model.splice(n, 0, this.model.splice(i, 1)[0]);
			},

			getImage(e){


				let collect = e.dataTransfer || e.target,
					files = collect.files,
					buffer = []
				;

				this.$store.commit('loading', 'start');

				([...files]).forEach((file, index)=>{

					let type = file.type.match(/(jpeg|png)/ig),
						max = this.field.maxWidth || 1920
					;

					if ( type ){

						let reader = new FileReader();
						reader.readAsDataURL(file);
						reader.onloadend = ()=>{
							let img = new Image;
							img.onload = ()=>{
								let width = img.width > max ? max : img.width,
									height = width * img.height / img.width
								;

								downscale(file, width, height, {
									imageType: type
								}).then((data)=>{

									//-console.info(file.name, data);

									if ( !!this.field.multiple ){
										buffer[index] = data;

										if ( files.length === index + 1) {

											setTimeout(()=>{
												for (let i = 0; i < buffer.length; i++){

													this.model.push(buffer[i]);
												}
												this.$store.commit('loading', 'end');
											}, 1000);

										}
									} else {
										this.model = data;
										this.$store.commit('loading', 'end');
									}
									this.$emit('onChange', this.model, e);
								});
							};
							img.src = reader.result;
						};
					} else {

						this.$store.commit('loading', 'end');

						this.$notify({
							title: 'Недопустимый формат файла',
							text: 'Допускается только загрузка изображений png и jpeg', // success warn error
							type: 'error'
						});

					}
				});

			},

			removeImage(index){
				if ( !!this.field.multiple ){
					this.model.splice(index, 1);
				} else {
					this.model = '';
				}
			},

		},

		components:{
			Draggable
		}
	}
</script>

<style lang="scss">

</style>