<template lang="pug">
	.form__input
		.form__error(v-if="error", v-tooltip="error").c-red: icon(name="warn")
		.form__branches
			Draggable(v-model="model", v-bind="sortOptions", @end="")
				branchItem(v-for="(item, index) in model", :field='field', v-model="model", :item='item', :key="_uid + '_' + item", :ref="'branchItem_' + item")


</template>

<script>

	import branchItem from './formBranch__item.vue'
	import Draggable from 'vuedraggable'

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {


				sortOptions: {
					group: 'sample',
					animation: 150,
					handle:'.move'
				},
			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{

		},

		components:{
			branchItem,
			Draggable
		}
	}
</script>

<style lang="scss">

</style>