<template lang="pug">
	div
		quillEditor(
			v-model.trim="model",
			:options="editorOptions",
			@focus="onFocus",
			@blur="onBlur",
			@change="onKeyup",
		)
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")
		.form__error(v-if="error", v-tooltip="error").c-red: include ../../img/svg/ico__warn.svg

</template>

<script>

	import { Quill, quillEditor } from 'vue-quill-editor'

	// drop image module
	import { ImageDrop } from 'quill-image-drop-module'
	Quill.register('modules/imageDrop', ImageDrop);

	// upload image module
	import {ImageExtend, QuillWatch} from '../../js/modules/quill-image.js'
	Quill.register('modules/ImageExtend', ImageExtend);

	// table module
	import quillTable from '../../js/modules/quill-table.js'
	Quill.register(quillTable.TableCell);
	Quill.register(quillTable.TableRow);
	Quill.register(quillTable.Table);
	Quill.register(quillTable.ContainBlot);
	Quill.register('modules/table', quillTable.TableModule);

	let maxRows = 10;
	let maxCols = 5;
	let tableOptions = [];
	for (let r = 1; r <= maxRows; r++) {
		for (let c = 1; c <= maxCols; c++) {
			tableOptions.push('newtable_' + r + '_' + c);
		}
	}

	export default {

		props: ['field', 'value', 'error'],

		data() {

			let container = this.field.container ||  [
				// [
				// 	{ 'table': tableOptions }, // new table (cursor needs to be out of table)
				// 	{ 'table': 'append-row' }, // cursor needs to be in the table
				// 	{ 'table': 'append-col' } // cursor needs to be in the table
				// ],

				[{'header': [2,3,4,5,false]}],
				['bold','italic','underline','strike'],

				['blockquote'/*,'code-block'*/],

				[{ 'list': 'ordered' }, { 'list': 'bullet' }],

				//[{ 'script': 'sub' }, { 'script': 'super' }],
				//[{ 'indent': '-1' }, { 'indent': '+1' }],
				// [{ 'direction': 'rtl' }],
				// [{ 'size': ['small', false, 'large', 'huge'] }],
				[{ 'color': [] }, { 'background': [] }],
				[{ 'align': [] }],
				['link', 'image']
			];

			return {

				changed: false,

				editorOptions: {
					debug: 'error',
					placeholder: '',
					readOnly: true,
					theme: 'snow',
					modules: {
						toolbar: {
							container,
							handlers: {
								image : function () {
									QuillWatch.emit(this.quill.id)
								},
								/*table: function(value) {

									console.info(this.quill, value);
									console.info(this.quill.getModule('table_handler'));
									//
									// if(value === 'append-row') {
									// 	this.quill.getModule('table_handler').appendRow();
									// } else if(value === 'append-col') {
									// 	this.quill.getModule('table_handler').appendCol();
									// } else if(value === 'remove-row') {
									// 	this.quill.getModule('table_handler').removeRow();
									// } else if(value === 'remove-col') {
									// 	this.quill.getModule('table_handler').removeCol();
									// } else if(value === 'remove-table') {
									// 	this.quill.getModule('table_handler').removeTable();
									// } else if(value === 'cell-background') {
									// 	let bgColor = prompt('Background color?');
									// 	if(bgColor != null) {
									// 		this.quill.getModule('table_handler').cellBackground(bgColor);
									// 	}
									// } else {
									// 	this.quill.format('table', value);
									// }
								}*/
							}
						},
						history: {
							delay: 1000,
							maxStack: 50,
							userOnly: false
						},
						imageDrop: false,
						ImageExtend: {
							loading: true,
							name: 'img',
							data: {
								action: 'uploadEditorImage'
						},
							action: isLocal ? 'http://crm.headerlink.maestros.ru/api.php' : '/api.php',
							response: (res) => {
								console.info('res', res.url);
								return res.url
							}
						},
					}
				}

			}
		},

		computed: {
			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){

		},

		watch:{

		},

		methods:{

			onKeyup(e){
				this.changed = true;
				this.$emit('onKeyup', this.model, e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model, e);
			},
			onFocus(e){
				this.changed = false;
				this.$emit('onFocus', this.model, e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model, e);
			},
			onBlur(e){
				this.$emit('onBlur', this.model, e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model, e);

				if ( this.changed ){
					this.changed = true;
					this.$emit('onChange', this.model, e);
					if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
				}
				this.changed = false;
			},
		},

		components:{
			quillEditor
		}
	}
</script>

<style lang="scss">

</style>