<template lang="pug">
	div
		div
			.form__category
				.form__category-list(v-if="model && model.length")
					.form__category-item(v-for="(id, index) in model", v-if="index < 3")
						span.dot(v-for="color in point(base, id).color")
							i(:style="'background-color:' + color")
						span {{ point(base, id).name }}
						icon(name="clear", @click="toggleModel(id)").ico
					.form__category-item(v-if="model.length > 3")
						span еще {{ model.length - 3 }}
						icon(name="plus", @click="openPopup").ico
				.form__category-controls
					span.link(v-if="!model.length", @click="openPopup")
						slot(name="button_add"): span.c-blue ДОБАВИТЬ
					span.c-blue.link(v-else, @click="openPopup") ИЗМЕНИТЬ
					span.c-grey.link(v-if="model.length > 0", @click="clearAll") ОЧИСТИТЬ СПИСОК
			.form__error(v-if="error", v-tooltip="error").c-red: icon(name="warn")

		popup(v-model="popupCategory", @onClose="popupCategory = !1").popup_category

			.category(:class="`category_col-${deep}`")
				.category__left
					.category__header
						.category__title(v-if="base === 'metro'") ВЫБЕРИТЕ МЕТРО
						.category__title(v-else) ВЫБЕРИТЕ РАЗДЕЛ
						//-.category__search
							.form__input
								input(@keyup="onSearch", autocomplete="off", :placeholder="base === 'metro' ? 'Поиск по станциям метро' : 'Поиск по разделам'", v-model.trim="search")

					.category__filter
						.category__list(v-for="index in deep", v-scrollbar="isTabColumn(index)", v-if="!(index === 1 && field.firstLevelId)", :class="{'category__list_tabs' : isTabColumn(index)}")
							.category__list-inner
								template(v-if="chosenLevels.length === index - 1")
									.category__list-no
										span(v-if="!isTabColumn(index - 1)"): include ../../img/svg/push_category.svg
										span Выберите раздел
								template(v-else)
									.category__item.link(v-for="item in group(base, index, chosenLevels[index - 1])", @click="selectItem(item)", :class="{'is-active': chosen.indexOf(item.id) >= 0 || chosenLevels[index] === item.id }")
										span.category__item-name(:style="item.color && item.color.length ? 'color:' + item.color[0] : false ") {{ item.name }}
										span.category__item-count(v-if="item.level !== deep && counter(base, chosen, item.id)") {{ counter(base, chosen, item.id) }}

				.category__right
					.category__right-header
						.category__title ВЫБРАНО
						.category__text(v-if="base === 'metro'") Вы можете выбрать до {{field.max}}{{field.max | declension('й станции метро', 'х станций метро', 'ти станций метро')}}
						.category__text(v-else) Вы можете выбрать до {{field.max}}{{field.max | declension('го раздела', 'х разделов', 'ти разделов')}}
					.category__result(v-scrollbar)
						.category__result-inner
							.category__item(v-for="(id, index) in chosen")
								icon(name="clear", @click="toggleChoosen(id)").category__item-label
								.category__item-text
									span(v-if="point(base, id).color").dot: i(:style="point(base, id).color.length ? `color:${point(base, id).color[0]}` : false ")
									| {{ point(base, id).name }}


					.category__right-footer
						span.c-blue.link(@click="confirm") ПОДТВЕРДИТЬ
						span.c-grey.link(@click="popupCategory = !1") ОТМЕНА


</template>

<script>

	import {mapState, mapGetters} from "vuex";
	import _ from 'lodash'

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {
				popupCategory: false,

				search: '',

				chosenLevels: [],

				chosen: [],

				onSearch: _.debounce((e)=>{
					console.info('onKeyup', this.search);

					if ( this.search ){

					} else {

					}

					this.checkChosenSection();

				}, 500)
			}
		},

		computed: {
			...mapState({
				// deep: state => state.category,
			}),
			...mapGetters({
				group: 'category/group',
				point: 'category/item',
				getDeep: 'category/deep',
				counter: 'category/counter',
			}),

			deep(){
				return this.getDeep(this.base);
			},

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},

			base(){
				let base = this.field.base.match(/\[(.*)\]$/);

				if ( base && base.length ){
				//	type = 'metro[name=санкт-петербург]'
					base = this.field.base.replace(base[0], '');
				} else {
					base = this.field.base;
				}

				return base
			},

			firstLevelId(){
				return this.field.firstLevelId;
			},

		},



		watch:{
			firstLevelId(){
				this.init()
			}
		},

		methods:{

			init(){
				this.chosen = [...this.value];
				this.chosenLevels = [undefined];

				if ( this.field.firstLevelId ) this.chosenLevels.push(this.field.firstLevelId)
			},

			selectItem(item){
				if ( item.level === this.deep ){
					this.toggleChoosen(item.id);
				} else {
					this.chosenLevels = [...this.chosenLevels.slice(0, item.level), item.id];
				}

			},

			toggleChoosen(id){
				if ( this.chosen.indexOf(id) >= 0 ){
					let idx = this.chosen.findIndex(item => item === id);
					this.chosen = [...this.chosen.slice(0, idx), ...this.chosen.slice(idx + 1)];
				} else {
					if ( this.chosen.length < this.field.max ) this.chosen.push(id);
				}
			},

			toggleModel(id){
				if ( this.model.indexOf(id) >= 0 ){
					let idx = this.model.findIndex(item => item === id);
					this.model = [...this.model.slice(0, idx), ...this.model.slice(idx + 1)];
				} else {
					if ( this.model.length < this.field.max ) this.model.push(id);
				}

				this.onChange();
			},

			isTabColumn(index){
				return index === 1 && this.group(this.base, index, this.chosenLevels[index - 1]).length === 3;
			},

			clearAll(){
				this.model = [];
				this.onChange();
			},

			onChange(e){
				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			},

			openPopup(){
				this.init();
				this.popupCategory = !0;
			},

			confirm(){
				this.model = [...this.chosen];
				this.popupCategory = !1;

				this.onChange();
			},

		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>