<template lang="pug">
	.form__input-content(
		:class="{'is-disable': field.disabled}",
		:contenteditable="field.readonly !== true",
		@input="onKeyup",
		@focus="onFocus",
		@blur="onBlur",
		)
		.form__placeholder(v-if="field.placeholder"): span(v-html="field.placeholder")
		.form__error(v-if="error", v-tooltip="error").c-red: include ../../img/svg/ico__warn.svg

</template>

<script>

	export default {

		props: ['field', 'value', 'error'],

		data() {

			return {
				state: ''
			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},
		},

		beforeDestroy(){

		},

		created(){

		},

		mounted(){
			this.$el.innerText = this.model;
		},

		watch:{

		},

		methods:{
			onChange(e){

				this.$emit('onChange', this.model, e);
				if ( this.field.onChange && typeof this.field.onChange === 'function') this.field.onChange(this.model, e);
			},
			onKeyup(e){

				this.model = e.target.innerText;

				this.$emit('onKeyup', this.model, e);
				if ( this.field.onKeyup && typeof this.field.onKeyup === 'function') this.field.onKeyup(this.model, e);
			},
			onFocus(e){
				this.state = this.model;

				this.$emit('onFocus', this.model, e);
				if ( this.field.onFocus && typeof this.field.onFocus === 'function') this.field.onFocus(this.model, e);
			},
			onBlur(e){
				if ( this.state !== this.model ){
					this.onChange(e);
					this.state = '';
				}

				this.$emit('onBlur', this.model, e);
				if ( this.field.onBlur && typeof this.field.onBlur === 'function') this.field.onBlur(this.model, e);
			},
		},

		components:{

		}
	}
</script>

<style lang="scss">

</style>