<template lang="pug">
	.form__field(v-if='model === undefined') Model generete error
	.form__field(v-else-if='!field.remove', :class="[classes, 'form__field_' + field.type,  field.class ? field.class : '', field.disabled ? 'form__field_disabled' : '']")
		.form__title(v-if="field.title")
			span(v-html="field.title")
			span.i-info(v-if="field.tooltip", v-tooltip="field.tooltip") ?
			span.detail(v-if="field.detail") &nbsp;/ {{field.detail}}
		.form__counter(v-if="field.counter && field.counter === 'back'", :class="{'c-red': ( field.min && (model.length < field.min) ) || ( field.max && (model.length > field.max) )}") {{ field.max - model.toString().length }}
		.form__counter(v-else-if="field.counter && model.length > 0", :class="{'c-red': ( field.min && (model.length < field.min) ) || ( field.max && (model.length > field.max) )}") {{ letterCounter || model.length }}

		.form__input
			//- Textarea
			Wysiwig(v-if="field.type === 'wysiwig'", 								:field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
			//- Contenteditable
			Textarea(v-else-if="field.type === 'textarea'", 						:field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
			//- Contenteditable
			Content(v-else-if="field.type === 'contenteditable'", 					:field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
			//- Checkbox
			Checkbox(v-else-if="field.type === 'checkbox'", 						:field='field', v-model='model', @onChange="onChange", :error="errorMessage", ref="fieldItem")
			//- Radio
			Radio(v-else-if="field.type === 'radio'", 								:field='field', v-model='model', @onChange="onChange", :error="errorMessage", ref="fieldItem")
			//- Select
			Select(v-else-if="field.type === 'select'", 							:field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
			//- Category
			Category(v-else-if="field.type === 'category'", 						:field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
				template(slot="button_add")
					slot(name="button_add")
			//- Logo
			Logo(v-else-if="field.type === 'logo'", 								:field='field', v-model='model', @onChange="onChange", :error="errorMessage", ref="fieldItem")
			//- Image
			Files(v-else-if="field.type === 'file'", 								:field='field', v-model='model', @onChange="onChange", :error="errorMessage", ref="fieldItem")
			//- Date
			DatePicker(v-else-if="field.type === 'date' || field.type === 'time' ", :field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
			//- Branch
			Branch(v-else-if="field.type === 'branch'", 							:field='field', v-model='model', @onChange="onChange", :error="errorMessage", ref="fieldItem")
			//- Text
			TextInput(v-else, 														:field='field', v-model='model', @onChange="onChange", @onBlur="onBlur", @onKeyup="onKeyup", @onFocus="onFocus", :error="errorMessage", ref="fieldItem")
				template(slot="dropdown")
					slot(name="dropdown")
			.form__hint(v-if="field.hint", v-html="field.hint")
			.form__message(v-if="message", v-html="message")
			.form__annex(v-if="$slots.append")
				slot(name="append")
			.form__outerhint.form__outerhint_left(v-if="$slots['hint:left']")
				.form__outerhint-handler(@click="showOuterHint = !0", v-if='!showOuterHint') ?
				transition(mode='out-in', name="tr-fade")
					.form__outerhint-content(v-if='showOuterHint')
						.form__outerhint-close(@click="showOuterHint = !1"): include ../../img/svg/ico__clear.svg
						slot(name="hint:left")
			.form__outerhint.form__outerhint_right(v-if="$slots['hint:right']")
				.form__outerhint-handler(@click="showOuterHint = !0", v-if='!showOuterHint') ?
				transition(mode='out-in', name="tr-fade")
					.form__outerhint-content(v-if='showOuterHint')
						.form__outerhint-close(@click="showOuterHint = !1"): include ../../img/svg/ico__clear.svg
						slot(name="hint:right")

</template>

<script>

	/**
	 * 	title - field title
	 * 	type - input type [text, email, radio, checkbox, textarea, submit]
	 * 	name - input name
	 * 	placeholder - input placeholder
	 * 	disabled - boolean
	 * 	readonly - boolean
	 * 	callbacks: onChange, onKeyup, onFocus, onBlur
	 * 	mask - Inputmask rules
	 * 	value
	 *
	 *	autocomplete - boolean
	 * 	items - array [autocomplete values] {value, html, disabled}
	 *
	 */


	import $ from 'jquery'
	import Textarea from './formFieldTextarea.vue'
	import Wysiwig from './formFieldWysiwig.vue'// formFieldWysiwig formFieldTinymce
	import Content from './formFieldContent.vue'
	import Checkbox from './formFieldCheckbox.vue'
	import Radio from './formFieldRadio.vue'
	import Select from './formFieldSelect.vue'
	import Category from './formFieldCategory.vue'
	import Files from './formFieldFile.vue'
	import Logo from './formFieldLogo.vue'
	import DatePicker from './formFieldDateTime.vue'
	import TextInput from './formFieldText.vue'
	import Branch from './formBranch.vue'


	export default {

		props: {
			value: {
				type: [String, Array, Number, Object, Boolean, Date],
			},
			field: {
				type: Object,
				default: {}
			},
		},

		name: 'form-field',

		data() {

			return {
				error: false,
				errorMessage: false,
				filled: !!this.model,
				focused: false,
				message: false,

				letterCounter: false,

				fieldItem: this.$refs.fieldItem,

				showOuterHint: false,

				rules: {
					current: {
						empty: {
							message: 'Заполните поле'
						}
					},
					radio: {
						unchecked: {
							message: 'Отметьте один из вариантов'
						}
					},
					checkbox: {
						unchecked: {
							message: 'Для продолжения нужно подтверждение'
						}
					},
					select: {
						empty: {
							message: 'Выберите один из вариантов'
						}
					},
					email: {
						empty: {
							message: 'Заполните поле'
						},
						pattern: [
							{
								regex: /^[-._a-z0-9а-я]+@(?:[a-z0-9а-я][-a-z0-9а-я]+\.)+[a-zа-я]{2,6}$/i,
								message: 'Проверьте корректность E-mail'
							}
						],
						// antiPattern: [
						// 	{
						// 		regex: 'test@test.test',
						// 		message: 'Какая, блин, оригинальная почта...'
						// 	}
						// ]
					},

					number: {
						empty: {
							message: 'Заполните поле'
						},
						pattern: [
							{
								regex: /^\d+$/i,
								message: 'Поле должно содержать только числовые символы'
							}
						],
					}
				}
			}
		},

		computed: {

			model: {
				get() {
					return this.value;
				},
				set(value) {
					this.$emit('input', value);
				}
			},

			classes: function (){

				return {
					'form__field_multiple': this.field.multiple,
					'is-error': this.error,
					'is-focused': this.focused,
					'is-filled': this.filled || this.model && ((this.model && this.model.toString().length) || (this.field.type === 'date' && this.model.length && typeof this.model === 'object')),
				}
			}

		},

		beforeDestroy(){


			$('body').off(`mousedown.${this._uid}`, (e)=>{})
		},

		created(){

			if ( this.model && this.model === undefined) {
				this.model = this.field.type === 'multiselect' ? [] : '';
			}
		},

		mounted(){

			this.fieldItem = this.$refs.fieldItem;

			if ( this.$slots['hint:left'] || this.$slots['hint:right'] ){
				$('body').on(`mousedown.${this._uid}`, (e)=>{
					if(this.showOuterHint){
						if ( $(e.target).closest('.form__field')[0] !== this.$el ) {
							this.showOuterHint = false;
						}
					}
				});

			}
		},

		watch: {
			model(v){
				this.error = !1;
				this.message = '';
				this.errorMessage = '';
			}
		},

		methods:{

			updateFileList(){
				this.$refs.fieldItem.updateExternalModel();
			},

			onChange(val, e){
				this.error = !1;
				this.message = '';
				this.errorMessage = '';

				if ( val ) {
					this.filled = !0;
				} else {
					this.filled = !1;
				}
			},

			onKeyup(val, e, w){
				if ( val.length ) {
					this.filled = !0;
				} else {
					this.filled = !1;
				}

				if ( w ) this.letterCounter = w;

				this.$emit('onChange', val, w);
			},
			onFocus(val, e){
				this.focused = !0;
			},
			onBlur(val, e){
				this.focused = !1;
			},

			validate(addrules = {}) {

				this.error = false;
				this.message = false;
				this.errorMessage = false;

				let err = [],
					val = this.model,
					required = addrules === false ? false : this.field.required,
					rules,
					type = required;

				if ( (type === 'true' || type === true) && !!this.rules[this.field.type] ) {
					type = this.field.type
				} else if ( !this.rules[type] ) {
					type = 'current';
				}

				rules = Object.assign({}, this.rules[type], (this.field.validation || {}), typeof addrules === 'boolean' ? {} : addrules);

				//console.info(addrules, rules);

				if ( (required || val.length ) && !this.field.disabled && !!rules ){
					for (let rule in rules) {
						if (rules.hasOwnProperty(rule)) {
							switch (rule){
								case 'empty':
									if ( (Array.isArray(val) && val.length < 1) ||  val === '' || val === null) err.push(rules[rule].message);
									break;
								case 'pattern':
									if ( rules[rule].length ) rules[rule].map(item=>{
										if ( item.regex && item.regex instanceof RegExp && !item.regex.test(val) ) err.push(item.message);
									});
									break;
								case 'antiPattern':
									if ( rules[rule].length ) rules[rule].map(item=>{
										if ( item.regex && item.regex instanceof RegExp && item.regex.test(val) ) {
											err.push(item.message);
										} else if ( item.regex && typeof item.regex === 'string' && val === item.regex ){
											err.push(item.message);
										}
									});
									break;
								case 'min':
									if ( val.length < rules[rule].length ) err.push(rules[rule].message);
									break;
								case 'max':
									if ( val.length > rules[rule].length ) err.push(rules[rule].message);
									break;
								case 'unchecked':
									if ( type === 'radio' ){
										let i = 0, radio = this.$el.querySelectorAll(`input[type="radio"]`), checked = false;

										for (i; i < radio.length; i++ ){
											if ( radio[i].checked ) {
												checked = true;
												break;
											}
										}
										if ( !checked ) err.push(rules[rule].message);

									} else if ( type === 'checkbox' && !val ) {
										err.push(rules[rule].message);
									}
									break;
								default:

							}
						}
					}
				}

				// console.info(err, val);

				if ( err.length ){
					this.error = true;
					this.errorMessage = err[0];
				}

				return {errors: err, value: val, name: this.field.title || this.field.placeholder , type: type};
			},

			passError(mes){
				this.error = true;
				this.errorMessage = mes;
			}

		},

		components:{
			Textarea,
			Wysiwig,
			Content,
			Checkbox,
			Radio,
			Select,
			Category,
			Files,
			Logo,
			DatePicker,
			TextInput,
			Branch,
		}
	}
</script>

<style lang="scss">

</style>