<template lang="pug">
	.modarate-item(v-if="fake")

		.modarate-item__info
			.modarate-item__title
				fake-text(width="120px")
				fake-text(width="130px")
			.modarate-item__text
				fake-text(width="130px")
				fake-text(width="150px")
				fake-text(width="130px")
				fake-text(width="80px")
				fake-text(width="130px")

		.modarate-item__control

	.modarate-item(v-else, :class="{'modarate-item_reject': item.approved === false, 'modarate-item_approved': item.approved === true }")
		.modarate-item__body

			.modarate-item__info
				.modarate-item__title(v-if="item.title") {{ item.title }}

				.modarate-item__image(v-if="item.images && item.images.length")
					.link(@click="popupOpen('image')")
						img(v-lazy="item.images[0].image")

				.modarate-item__video(v-if="item.video")
					.link(@click="popupOpen('video')")
						video(preload="meta", :src="item.video")

				.modarate-item__name(v-if="item.name")
					a(:href="item.link", target="_blank", v-if="item.link").c-blue {{ item.name }}
					template(v-else) {{ item.name }}

				.modarate-item__text(v-if="item.text") {{ item.text }}

				.modarate-item__text(v-if="item.content")
					span.link(@click="popupOpen('text')") Читать полностью

				.modarate-item__warn(v-if="item.warning")
					icon(name="warn")
					| {{ item.warning }}

			.modarate-item__control
				.modarate-item__btns
					btn-item(v-close-popover.all, green, @click="approve(item.id)", :disabled="!!contentNeedLook", v-tooltip="contentNeedLook") ОДОБРИТЬ
					btn-item(v-close-popover.all, red, v-if="contentNeedLook", :disabled="!!contentNeedLook", v-tooltip="contentNeedLook") ОТКАЗАТЬ
					v-popover(
						placement="right",
						:autoHide="false",
						popoverClass="popover_moderate",
						@show="rules = true",
						@hide="rules = false",
						ref="moderateCase"
						v-else)
						template(slot="popover").popover_moderate
							moderate-case(:id="item.id", :rulesType="item.rulesType", :offense="item.offense", :opened="rules")

						btn-item(v-close-popover.all, red, @click="reject", :disabled="!!contentNeedLook", v-tooltip="contentNeedLook") ОТКАЗАТЬ

		popup(v-if="item.images && item.images.length", v-model="popup", @onClose="popupClose").popup_moderate-image
			popup-image(:images="item.images", @looked="contentNeedLook = false", @onClose="popupClose")

		popup(v-else-if="item.video", v-model="popup", @onClose="popupClose").popup_moderate-video
			popup-video(:video="item.video", @looked="contentNeedLook = false", @onClose="popupClose")

		popup(v-else-if="item.content", v-model="popup", @onClose="popupClose").popup_moderate-content
			popup-text(:content="item.content", @looked="contentNeedLook = false", @onClose="popupClose")

		popup(v-model="popupRulesItem", @onClose="popupRulesItemClose").popup_moderate-rule
			popup-rule(@onClose="popupRulesItemClose", :addItem="addItem")

</template>

<script>

	import PopupVideo from "./popup-video";
	import PopupImage from "./popup-image";
	import PopupText from "./popup-text";
	import PopupRule from './popup-rule'
	import ModerateCase from "./moderate-case";

	export default {

		provide(){
			return {
				approve: this.approve,
				reject: this.reject,
				closeCase: this.closeCase,
				readItem: this.readItem,
			}
		},

		components: {
			PopupVideo,
			PopupImage,
			PopupText,
			PopupRule,
			ModerateCase
		},

		props: {
			item: {
				type: Object
			},

			fake: {
				type: Boolean,
				default: false
			}
		},

		data(){
			return{
				popup: false,
				popupRulesItem: false,
				addItem: null,
				rules: false,
				popupContentType: '',
				contentNeedLook: false,
			}
		},

		mounted(){
			if ( this.item ){
				if (this.item.images && this.item.images.length){
					this.contentNeedLook = 'Просмотрите увеличинное фото';
				} else if (this.item.video){
					this.contentNeedLook = 'Просмотрите видео целиком';
				} else if (this.item.content){
					this.contentNeedLook = 'Прочитай текст целиком';
				}
			}
		},

		methods: {
			popupClose(){
				this.popup = false;
				this.popupContentType = '';
			},

			popupOpen(e){
				this.closeCase();
				this.popup = true;
				this.popupContentType = e;
			},

			approve(id){
				this.$store.commit('advert/APPROVE_MODERATE_POINT', id);
				this.closeCase();
			},

			reject(id, value){
				this.$store.commit('advert/REJECT_MODERATE_POINT', {
					id,
					value
				});
				this.closeCase();
			},

			closeCase(){
				try{
					this.$refs.moderateCase.hide();
				} catch (e) {

				}
			},

			readItem(data){
				this.popupRulesItem = true;
				this.addItem = data.addItem;
				this.$store.dispatch('rules/getItem', data.id);
			},

			popupRulesItemClose(){
				this.$store.commit('rules/SET_ITEM');
				this.popupRulesItem = false;
			},
		}
	}

</script>

<style scoped lang="scss">

	.link{
		display: inline-block;
	}

	.modarate-item{
		margin: 10px -30px 0;
		padding: 10px 30px;
		color: $colorBlack;

		&_reject{
			background: rgba($colorRed, .1);
		}

		&_approved{
			background: rgba($colorGreen, .1);
		}

		&__body{
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			@include breakPoint($breakPoint2){;
				flex-wrap: nowrap;
			}
		}

		&__info{
			min-width: 0;
			flex: 1 1 auto;
			padding-right: 20px;

			@include breakPoint($breakPoint2){
				margin-bottom: -8px;
				padding-right: 30px;
			}
		}

		&__control{
			white-space: nowrap;
			max-width: 100%;
			margin-left: auto;
		}

		&__title{
			color: $colorGreyText;
			font-size: 12px;
			margin-bottom: 8px;
		}

		&__text{
			margin-bottom: 8px;

			.link{
				color: $colorBlue;
				border-bottom: 1px dashed currentColor;
			}
		}

		&__image{
			margin-bottom: 8px;

			img{
				width: 100%;
				max-width: 280px;
				display: block;
			}
		}

		&__video{
			margin-bottom: 8px;

			video{
				width: 100%;
				max-width: 280px;
				display: block;
			}
		}

		&__name{
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 8px;
		}

		&__warn{
			display: flex;
			align-items: center;
			margin-bottom: 8px;

			.icon{
				color: $colorYellow;
				margin-right: 5px;
			}
		}

		&__btns{
			margin: 0 -15px;
			display: flex;
			justify-content: right;
		}
	}

	.btn{
		width: 130px;
		margin: 0 15px;
		//max-width: calc(50% - 30px)!important;

		@include breakPoint($breakPoint2){;
			width: 192px;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	.popup_content{

		&::v-deep{

			.popup__layout{
				min-width: 200px;
				min-height: 200px;
				width: auto;
				background: transparent url("../../img/svg/loading.svg") no-repeat 50% 50%;
				background-size: 80px;
			}

			.popup__close{
				width: 40px;
				height: 40px;
				top: 10px;
				right: 10px;
				background: #fff;
				border-radius: 50%;
			}

			.popup__content{
				padding: 0;

			}

			.popup__text{
				color: $colorBlack;
				line-height: 1.5;
				padding: 50px;
				background: #fff;
				max-width: 720px;
			}

			video,
			img{
				display: block;
				max-height: calc(100vh - 40px);
			}
		}
	}


</style>