<template lang="pug">
	.moderate-point
		.moderate-point__item(:class="{'moderate-point__item_active': active}")
			span(v-if="item.id") {{ item.name }}
			b(v-else) {{ item.name }}
			.control
				.link.link_add(@click="addItem({id: item.id, name: item.name})", v-if="item.id") Выбрать
				.link.link_read(@click="readItem({id: item.id})", v-if="item.id") Читать
		.moderate-point__sublist(v-if="item.sublist")
			moderate-point(v-for="(sub, index) in item.sublist", :item="sub", :model="model", :key="index")


</template>

<script>

	import ModeratePoint from './moderate-point'

	export default {

		name: 'moderate-point',

		inject: ['addItem', 'readItem'],

		components: {ModeratePoint},

		props: {
			model: {

			},
			item: {
				type: Object
			}
		},

		data(){
			return{
			}
		},

		computed: {
			active(){
				return this.model.indexOf(this.item.id) >= 0;
			}
		},

		mounted(){

		},

		methods: {


		}

	}

</script>

<style scoped lang="scss">
	.moderate-point{

		&__item{
			display: flex;
			flex-wrap: wrap;
			padding: 5px 0;

			.control{
				margin-left: auto;
				display: flex;
			}

			.link{
				margin-left: 5px;
				opacity: 0;
				color: inherit;
			}

			&:hover{
				color: $colorBlue;

				.link{
					opacity: 1;
				}
			}

			&_active{
				span{
					color: $colorGreyText!important;
				}

				.link_add{
					display: none;
				}
			}
		}

		&__sublist{
			padding-left: 15px;
		}
	}
</style>