<template lang="pug">
	div
		.modarate-case__close(@click="closeCase"): icon(name="clear")
		.modarate-case(v-scrollbar)
			.modarate-case-inner
				.modarate-case__title УКАЖИТЕ ПРИЧИНУ ОТКЛОНЕНИЯ
				.modarate-case__reason(v-if="model.length")
					.modarate-case__reason-title Вы выбрали:
					.modarate-case__reason-list
						.modarate-case__reason-item(v-for="item in model")
							icon(name="clear", @click="toggleItem(item)")
							| {{ item.name }}
				.modarate-case__input
					m-form-input(v-model="search", placeholder="Начните вводить текст", @debounce="loadRulesList", @onClear="loadRulesList")
				.modarate-case__input
					m-form-checkbox(v-model="searchInText") Искать в тексте
				.modarate-case__rules(:class="{'modarate-case__rules_loading': loading}")
					.modarate-case__subtitle Список правил сайта
					.modarate-case__rules-list(v-scrollbar)
						.modarate-case__rules-list-inner
							span(v-if="rules.length")
								moderate-point(v-for="rule in rules", :item="rule", :model="modelIds", :key="rule.id")
							.modarate-case__rules-message(v-else)
								span Поиск не дал результатов.

				.modarate-case__group
					.modarate-case__subtitle
						| Часто используемые
						.link.c-blue(@click="openRelated = !openRelated") {{ openRelated ? 'Скрыть' : 'Развернуть' }}
					slide-up-down(:active="openRelated", :duration="0").modarate-case__reason
						.modarate-case__reason-list
							.modarate-case__reason-item(v-for="item in related")
								.link(@click="addItem(item)") {{ item.name }}

				.modarate-case__group
					.modarate-case__subtitle
						| Вы недавно использовали
						.link.c-blue(@click="openRecently = !openRecently") {{ openRecently ? 'Скрыть' : 'Развернуть' }}
					slide-up-down(:active="openRecently", :duration="0").modarate-case__reason
						.modarate-case__reason-list
							.modarate-case__reason-item(v-for="item in recently")
								.link(@click="addItem(item)") {{ item.name }}

				.modarate-case__footer

					btn-item(link, @click="closeCase", :disabled="btnLoading") ЗАКРЫТЬ
					btn-item(blue, @click="sendCase", :loading="btnLoading", :disabled="!model.length") СОХРАНИТЬ

</template>

<script>

	import ModeratePoint from './moderate-point'
	import {mapState} from 'vuex'

	let timer = null;

	export default {

		inject: ['approve', 'reject', 'closeCase', 'readItem'],

		provide(){
			return {
				addItem: this.addItem,
				readItem: (data)=>{
					data.addItem = this.addItem;
					this.readItem(data);
				},
				closeCase: this.closeCase,
			}
		},

		name: 'moderate-case',

		components: {ModeratePoint},

		props: {
			id: {
				type: [String, Number]
			},
			offense: {

			},
			opened: {

			},
			rulesType: {

			},
		},

		data(){
			return{
				loading: false,
				btnLoading: false,

				openRelated: false,
				openRecently: false,

				model: [],
			}
		},

		computed: {
			...mapState({
				recently: state => state.rules.recently,
				related: state => state.rules.related,
				rules: state => state.rules.list,
				filter: state => state.rules.filter,
			}),

			search: {
				get(){
					return this.filter.search;
				},
				set(value){
					this.$store.commit('rules/SET_FILTER_PROP', {name: 'search', value})
				}
			},

			searchInText: {
				get(){
					return this.filter.searchInText;
				},
				set(value){
					this.$store.commit('rules/SET_FILTER_PROP', {name: 'searchInText', value})
				}
			},

			rulesTypeId: {
				get(){
					return this.filter.rulesType;
				},
				set(value){
					this.$store.commit('rules/SET_FILTER_PROP', {name: 'rulesType', value})
				}
			},

			modelIds(){
				return this.model.map(item => item.id)
			}
		},

		watch: {
			opened(val){
				if (val) {
					this.rulesTypeId = this.rulesType;
					this.loadRulesList();
				}
			},

			offense(){
				this.updateModel();
			},

			searchInText(){
				this.loadRulesList();
			}
		},

		mounted(){
			this.updateModel();
		},

		methods: {
			updateModel(){
				if ( this.offense && this.offense.length ) {
					this.model = [...this.offense];
				} else {
					this.model = [];
				}
			},

			loadRulesList(){
				clearTimeout(timer);

				timer = setTimeout(()=>{
					this.loading = true;
					this.$store.dispatch('rules/getList').finally(()=>{
						this.loading= false;
					});
				}, 10)
			},

			toggleItem(item){
				const idx = this.model.findIndex( itm => itm.id === item.id );
				if ( idx >= 0 ) {
					this.model = [...this.model.slice(0, idx), ...this.model.slice(idx + 1)]
				} else {
					this.model = [...this.model, item];
				}
			},

			addItem(item){
				const idx = this.model.findIndex( itm => itm.id === item.id );
				if ( idx < 0 ) {
					this.model = [...this.model, item];
				}
			},

			sendCase(){
				this.reject(this.id, this.model);
				this.closeCase();
			},

		}

	}

</script>

<style scoped lang="scss">
	.modarate-case{
		color: #000;
		max-height: calc(100vh - 20px);
		padding: 0 30px;
		box-sizing: border-box;

		&-inner{
			padding: 30px 0;
		}

		&__close{
			display: block;
			position: absolute;
			top: 5px;
			right: 5px;
			color: $colorGrey;
			cursor: pointer;
			z-index: 2;

			&:hover{
				color: $colorBlue;
			}
		}

		&__title{
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 30px;
		}

		&__input{
			margin-bottom: 10px;
		}

		&__subtitle{
			margin: 30px 0 0;
			font-size: 16px;
			font-weight: 500;
			display: flex;
			align-items: baseline;

			.link{
				font-weight: 300;
				font-size: 13px;
				margin-left: 15px;
			}
		}

		&__rules{
			margin-right: -30px;

			&_loading{
				opacity: 0.5;
				pointer-events: none;
			}

			&-list{
				max-height: 350px;
				padding-top: 15px;

				&-inner{
					padding-right: 30px;
				}
			}

			&-message{
				display: flex;
				align-items: center;
				justify-content:center;
				min-height: 150px;
				font-size: 13px;
				color: $colorGreyText;
			}
		}

		&__reason{
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}

			&-title{
				font-size: 12px;
				color: $colorGreyText;
				font-weight: 400;
			}

			&-list{
				padding-top: 15px;

			}
			&-item{
				margin: 10px 0;
				display: flex;
				align-items: center;

				.icon {
					cursor: pointer;
					margin: -5px 5px -5px 0;
					color: $colorGrey;

					&:hover{
						color: $colorBlue;
					}
				}

				.link{
					color: inherit;

					&:hover{
						text-decoration: underline;
					}
				}
			}

		}

		&__footer{
			margin-top: 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
</style>