<template lang="pug">
	.popup__wrap
		.popup__title {{ item.name }}
		.popup__breadcrumbs
			.popup__breadcrumbs-item(v-for="crumb in item.breadcrumbs") {{ crumb.name }} >&nbsp;
			.popup__breadcrumbs-item(v-if="item.name") {{ item.name.toLowerCase() }}
		.popup__search
			.popup__search-title Поиск по статье
			.popup__search-input
				m-form-input(v-model="search", placeholder="Найти в статье")
				.popup__search-control
					.popup__search-control-counter {{current}}/{{count}}
					.popup__search-control-btn.popup__search-control-up(:class="{'disabled': current <= 1}", @click="scrollPrev"): icon(name="arrow-slide-up")
					.popup__search-control-btn.popup__search-control-down(:class="{'disabled': count === 0 || current >= count }", @click="scrollNext"): icon(name="arrow-slide-down")
					.popup__search-control-btn.popup__search-control-clear(:class="{'disabled': !search }", @click="search = ''"): icon(name="clear")

		.popup__scrollbar(v-scrollbar, ref="scrollbar")
			.popup__scrollbar-inner
				.popup__text(v-if="item.text" v-html="highlightedHtml")
				.popup__text(v-else)
					.popup__text-center Нет текста

		.popup__flex
			span &nbsp;
			span
				.btn.c-grey(@click="add") ПРИМЕНИТЬ
				.btn.btn_blue(@click="close") ЗАКРЫТЬ
</template>

<script>

	import {mapState} from 'vuex'

	export default {

		props: {
			addItem: {}
		},

		data(){
			return{
				search: '',
				count: 0,
				current: 0,
			}
		},

		computed: {
			...mapState({
				item: state => state.rules.item
			}),

			highlightedHtml(){
				if ( !this.search || !this.item.text ) {
					this.count = 0;
					this.current = 0;
					return this.item.text;
				}
				let regex = new RegExp(this.search, "gi");
				let match = this.item.text.match(regex);

				this.count = match ? match.length : 0;

				let counter = 0;

				return this.item.text.replace(regex, (match) => {
					let highlightTextCurrent = counter === this.current - 1 ? 'highlight-text_current' : ''
					counter++;
					return `<span class="highlight-text ${highlightTextCurrent}">${match}</span>`;
				});
			},

			scrollbar(){
				return this.$refs.scrollbar.scrollbar
			}
		},

		watch: {
			search(){
				setTimeout(()=>{
					this.current = this.count > 0 ? 1 : 0;
					let hl = document.querySelectorAll(".highlight-text");
					if ( hl ) {
						this.scrollbar.scroll(document.querySelectorAll(".highlight-text")[0]);
					} else {
						this.scrollbar.scroll({y : "0%"})
					}
				}, 10)
			}
		},

		mounted(){

		},

		methods: {
			add(){
				const data = {
					name: this.item.name,
					id: this.item.id,
				};
				this.addItem(data)
				this.close();
			},

			scrollPrev(){
				if (this.current > 1 ) this.current--;
				this.scrollbar.scroll(document.querySelectorAll(".highlight-text")[this.current - 1]);
			},

			scrollNext(){
				if (this.current < this.count) this.current++;
				this.scrollbar.scroll(document.querySelectorAll(".highlight-text")[this.current - 1]);
			},

			close(){
				this.$emit('onClose')
			}
		}

	}

</script>

<style scoped lang="scss">
	.popup__title{
		text-align: center;
	}

	.popup__scrollbar{
		max-height: 480px;
		margin-bottom: 22px;
	}

	.popup__breadcrumbs{
		margin: 30px 0;

		&-item{
			display: inline;
		}
	}

	.popup__search{
		margin-bottom: 22px;

		&-title{
			font-size: 16px;
			font-weight: 500;
			color: $colorBlack;
			margin-bottom: 10px;
		}

		&-input{
			position: relative;
		}

		&-control{
			display: flex;
			position: absolute;
			top: 1px;
			right: 5px;
			align-items: center;
			height: 36px;

			.icon{
				display: block;
			}

			&-counter{
				padding: 5px 10px 5px 0;
				margin-right: 5px;
				border-right: 1px solid $colorGreyLight;
			}

			&-btn{
				color: $colorGrey;

				&:hover{
					color: $colorBlue;
				}

				&.disabled{
					color: $colorGreyLight!important;
				}
			}

			&-up{
				cursor: pointer;
			}
			&-down{
				cursor: pointer;
			}
			&-clear{
				cursor: pointer;
			}
		}
	}

	.popup__wrap{
		&::v-deep{

			.popup__text{
				line-height: 1.5;
				color: $colorBlack;
				min-height: 300px;

				&-center{
					display: flex;
					align-items: center;
					justify-content: center;
					height: 300px;
				}

				p{
					margin: 15px 0;
				}

				.highlight-text{
					display: inline;
					background: #f3ff00;

					&_current{
						background: $colorOrange;
					}
				}
			}
		}
	}
</style>