<template lang="pug">
	.popup__wrap
		.popup__title Увеличинное изображение
		.popup__slider-count Изображение {{count}}/{{images.length}}
		.popup__images(v-if="images.length")
			swiper(:options="optionsSlider", ref="slider")
				swiper-slide(v-for="(item, index) in images", :key="index").popup__slider-slide
					.popup__slider-slide-inner
						a(:href="item.image", target="_blank").popup__slider-slide-zoom: icon(name="lens", width="38")
						.popup__slider-slide-image: img(v-lazy="item.image")
						.popup__slider-slide-title(v-if="item.comment") Текстовое описание
						.popup__slider-slide-text {{ item.comment }}

				.popup__slider-slide-arrow.popup__slider-slide-arrow_prev(slot="button-prev"): icon(name="arrow-prev")
				.popup__slider-slide-arrow.popup__slider-slide-arrow_next(slot="button-next"): icon(name="arrow-next")

		.popup__text(v-else) Изображения нет

		.popup__flex
			span &nbsp;
			span
				.btn.btn_blue(@click="close") ЗАКРЫТЬ


</template>

<script>

	export default {

		props: {
			images: {
				type: Array
			},

		},

		data(){
			return{
				count: 1,

				optionsSlider: {
					slidesPerView: 1,
					autoHeight: true,

					navigation: {
						prevEl: '.popup__slider-slide-arrow_prev',
						nextEl: '.popup__slider-slide-arrow_next',
					},

					on: {
						slideChange(){
							console.info('sasd')
						}
					}
				}
			}
		},

		mounted(){
			setTimeout(()=>{
				this.$emit('looked');
			}, 3000);
		},

		methods: {
			close(){
				this.$emit('onClose')
			}
		}

	}

</script>

<style scoped lang="scss">
	.popup__title{
		text-align: left;
	}

	.popup{
		&__slider{
			&-count{
				margin-bottom: 20px;
			}
			&-slide{
				&-inner{
					position: relative;
					font-size: 16px;
					font-weight: 500;
					margin-bottom: 10px;
				}

				&-image{
					text-align: center;
					background: rgba($colorGrey, .2);
					font-size: 0;
					height: 500px;
					display: flex;
					align-items: center;
					justify-content: center;

					img{
						max-height: 100%;
						max-width: 100%;
					}
				}
				&-title{
					font-size: 16px;
					font-weight: 500;
					margin-bottom: 10px;
					margin-top: 18px;
					color: $colorBlack;
				}
				&-text{
					font-size: 13px;
					line-height: 1.5;
				}

				&-arrow{
					position: absolute;
					color: #fff;
					z-index: 1;
					top: 230px;
					width: 45px;
					height: 45px;
					cursor: pointer;

					&.swiper-button-disabled{
						opacity: 0;
					}

					.icon{
						width: 100%;
						height: 100%;
					}

					&_prev{
						left: 0;
					}

					&_next{
						right: 0;
					}
				}

				&-zoom{
					position: absolute;
					top: 20px;
					right: 20px;
					background: $colorBlue;
					color: #fff;
					height: 38px;
					width: 38px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 0;
					cursor: pointer;
				}
			}
		}
	}
</style>