<template lang="pug">
	.popup__wrap
		.popup__title Текст объявления

		.popup__scrollbar(v-scrollbar="scrollBarOptions", ref="scrollbar")
			.popup__scrollbar-inner
				.popup__text(v-if="content" v-html="content")
				.popup__text(v-else)
					.popup__text-center Нет текста

		.popup__flex
			span &nbsp;
			span
				.btn.btn_blue(@click="close") ЗАКРЫТЬ



</template>

<script>

	export default {

		props: {
			content: {
				type: String
			},
		},

		data(){
			return{
				scrollBarOptions: {
					callbacks : {
						onScroll: ()=>{
							let d = this.scrollbar.scroll();
							if ( this.scrollbar.scroll().ratio.y >= 0.9) this.$emit('looked');
						},
						onInitialized: (e)=>{
							setTimeout(()=>{
								let d = this.scrollbar.scroll();
								if ( d.max.y === 0){
									setTimeout(()=>{
										this.$emit('looked');
									}, 3000);
								}
							}, 10);
						},
					}
				}
			}
		},

		computed: {
			scrollbar(){
				return this.$refs.scrollbar.scrollbar
			}
		},

		mounted(){
		},

		methods: {
			close(){
				this.$emit('onClose')
			}
		}

	}

</script>

<style scoped lang="scss">
	.popup__title{
		text-align: center;
	}

	.popup__scrollbar{
		max-height: 480px;
		margin-bottom: 22px;
	}
	.popup__wrap{
		&::v-deep{

			.popup__text{
				line-height: 1.5;
				color: $colorBlack;
				min-height: 300px;

				&-center{
					display: flex;
					align-items: center;
					justify-content: center;
					height: 300px;
				}

				p{
					margin: 15px 0;
				}

			}
		}
	}
</style>
