<template lang="pug">
	.popup__wrap
		.popup__title Видео

		.popup__video
			video(v-if="video", preload="meta", :src="video", controls, ref="video")
			.popup__text(v-else) Видео нет

		.popup__flex
			span &nbsp;
			span
				.btn.btn_blue(@click="close") ЗАКРЫТЬ


</template>

<script>

	export default {

		props: {
			video: {
				type: String
			},
		},

		data(){
			return{

			}
		},

		mounted(){
			setTimeout(()=>{
				this.$refs.video.onended = () => {
					console.info('asddas')
					this.$emit('looked');
				};
			})
		},

		methods: {
			close(){
				this.$emit('onClose')
			}
		}

	}

</script>

<style scoped lang="scss">

	.popup__video{
		margin-bottom: 20px;
	}

	video{
		max-width: 100%;
	}

</style>