<template lang="pug">
	div
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}

		.content
			.content__inner
				p: .btn.btn_green(@click="popupAddNews = !0") Добавить новость
				br
				p: .btn.btn_green(@click="popupAddAdvert = !0") Добавить новое объявление
				br
				p: .btn.btn_green(@click="popupAddAccount = !0") Добавить банковский счет
				br
				p: .btn.btn_green(@click="popupAddAdvertToShowcase = !0") Разместить предложение на витрину
				br
				p: .btn.btn_green(@click="popupAddBranch = !0") Добавить филиал
				br
				p: .btn.btn_green(@click="popupAddContact = !0") Найти компанию
				br
				p: .btn.btn_green(@click="popupListBranch = !0") Мои филиалы
				br
				p: .btn.btn_green(@click="popupSetKit = !0") Настройки разделов
				br
				p: .btn.btn_green(@click="popupSetNotifications = !0") Настройки оповещений
				br
				p: .btn.btn_green(@click="restoreAdvert = !0") Восстановить объявление
				br
				p: .btn.btn_green(@click="setHeadingPrice = !0") Изменить стоимость заголовка
				br
				p: .btn.btn_green(@click="setHeadingRent = !0") Предоставить заголвок в аренду
				br
				p: .btn.btn_green(@click="addCreditCard = !0") Добавить банковскую карту
				br
				p: .btn.btn_green(@click="addEmployee = !0") Пригласить сотрудника в компанию
				br
				p: .btn.btn_green(@click="popupChooseCard = !0") Выберите способ пополнения
				br
				p: .btn.btn_green(@click="addMoney = !0") Пополнить баланс
				br
				p: .btn.btn_green(@click="popupConfirm = !0") Подтверждение
				br
				p: .btn.btn_green(@click="popupPaymentDone = !0") Платеж успешно совершен

		popup(v-model="popupAddNews", @onClose="popupAddNews = !1").popup_add: AddNews
		popup(v-model="popupAddAdvert", @onClose="popupAddAdvert = !1").popup_advert: AddAdvert
		popup(v-model="popupChooseCard", @onClose="popupChooseCard = !1").popup_cards: ChooseCard
		popup(v-model="popupAddAccount", @onClose="popupAddAccount = !1").popup_add: AddAccount
		popup(v-model="popupAddAdvertToShowcase", @onClose="popupAddAdvertToShowcase = !1").popup_advert: AddAdvertToShowcase
		popup(v-model="popupAddBranch", @onClose="popupAddBranch = !1").popup_add: AddBranch
		popup(v-model="popupAddContact", @onClose="popupAddContact = !1").popup_contact: AddContact
		popup(v-model="popupListBranch", @onClose="popupListBranch = !1").popup_set.popup_set-branch: ListBranch(v-model="advert_branch", @confirm="popupListBranch = !1")
		popup(v-model="popupSetKit", @onClose="popupSetKit = !1").popup_set.popup_set-kit: SetKit(@confirm="popupSetKit = !1")
		popup(v-model="popupSetNotifications", @onClose="popupSetNotifications = !1").popup_set.popup_set-kit: SetNotifications
		popup(v-model="restoreAdvert", @onClose="restoreAdvert = !1").popup_action: RestoreAdvert
		popup(v-model="setHeadingPrice", @onClose="setHeadingPrice = !1").popup_fix: SetHeadingPrice
		popup(v-model="setHeadingRent", @onClose="setHeadingRent= !1").popup_fix: SetHeadingRent
		popup(v-model="addCreditCard", @onClose="addCreditCard= !1").popup_fix: AddCreditCard
		popup(v-model="addEmployee", @onClose="addEmployee= !1").popup_fix: AddEmployee
		popup(v-model="addMoney", @onClose="addMoney= !1").popup_fix: AddMoney

		popup(v-model="popupConfirm", @onClose="popupConfirm = !1").popup_info
			.popup__title ПОДТВЕРЖДЕНИЕ
			.popup__text Мы отправили на вашу почту письмо с подтверждение.
			.popup__flex
				span &nbsp;
				span
					.btn.btn_link.c-grey(@click="popupConfirm = !1") ЗАКРЫТЬ

		popup(v-model="popupPaymentDone", @onClose="popupPaymentDone = !1").popup_info
			.popup__title ПЛАТЕЖ УСПЕШНО СОВЕРШЕН
			.popup__text Вы можете отслеживать заявку в разделе
			div
				.btn.btn_blue(@click="popupPaymentDone = !1") ЗАКРЫТЬ

</template>

<script>

	import AddNews from '../news/form.vue'
	import AddAdvert from '../adverts/custom/form'
	import ChooseCard from '../../component/popups/chooseCard.vue'
	import AddAccount from '../../component/popups/addAccount.vue'
	import AddAdvertToShowcase from '../../component/popups/addAdvertToShowcase.vue'
	import AddBranch from '../branches/form.vue'
	import AddContact from '../../component/popups/addContact.vue'
	import ListBranch from '../branches/list.vue'
	import SetKit from '../home/kit-settings.vue'
	import RestoreAdvert from '../adverts/custom/restore.vue'
	import SetHeadingPrice from '../../component/popups/setHeadingPrice.vue'
	import SetNotifications from '../../component/popups/setNotifications.vue'
	import SetHeadingRent from '../../component/popups/setHeadingRent.vue'
	import AddMoney from '../../component/popups/addMoney.vue'
	import AddCreditCard from '../../component/popups/addCreditCard.vue'
	import AddEmployee from '../employees/form.vue'

	export default {
		data () {
			return {
				popupAddNews: false,
				popupAddAdvertToShowcase: false,
				popupChooseCard: false,
				popupAddAdvert: false,
				popupAddBranch: false,
				popupAddContact: false,
				popupAddAccount: false,
				popupSetNotifications: false,
				popupListBranch: false,
				popupSetKit: false,
				restoreAdvert: false,
				setHeadingPrice: false,
				setHeadingRent: false,
				addCreditCard: false,
				addEmployee: false,
				addMoney: false,

				popupConfirm: false,
				popupPaymentDone: false,


				advert_branch: [],
			}
		},

		mounted(){

		},

		components:{
			AddNews,
			AddAdvert,
			AddAccount,
			AddBranch,
			AddContact,
			ListBranch,
			SetKit,
			RestoreAdvert,
			SetHeadingPrice,
			SetNotifications,
			SetHeadingRent,
			AddMoney,
			AddCreditCard,
			AddAdvertToShowcase,
			AddEmployee,
			ChooseCard,
		}

	}
</script>


<style lang="scss">

</style>