<template lang="pug">
	div
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}

		.content
			pre {{ $route.name }}

</template>

<script>
	export default {
		data () {
			return {
			}
		},

		mounted(){
			console.info(this.$route)
		}
	}
</script>


<style lang="scss">

</style>