<template lang="pug">
	.main__inner
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}
			template(slot="search")
				m-form-input(v-model="query", placeholder="Найти объявление" )
				//m-form-select
				m-form-button(@click="loadData") НАЙТИ
			template(slot="control")


		.content
			table-wrap.corpus_adverts(v-model="checked", :collection="collection", :option="option", :offset="offset", :loading="loading")
				template(v-slot:item="{item}"): collection-item(:item="item", v-model="checked")
				template(slot="noResult"): collection-no-result
				template(slot="noItems"): collection-no-items

				template(slot="action")
					span(@click="") ЧТОТО СДЕЛАТЬ

				template(slot="asideFilter")
					filter-collection(:filters="moderateFilterList", @onChange="filterChanged")
					//-span ПОДЕЛИТЬСЯ

		popup(v-model="popupModerateAdvert", @onClose="onClose").popup_moderate
			moderate-advert(:id="$route.params.id", @onClose="onClose")

</template>

<script>
	import {mapState, mapActions, mapMutations} from "vuex";

	import CollectionItem from './collection/index'
	import CollectionNoItems from './collection/no-items'
	import CollectionNoResult from './collection/no-result'

	import FilterCollection from '../../../component/filter-collection/index'

	import ModerateAdvert from './item'

	export default {

		components:{
			ModerateAdvert,
			CollectionItem,
			CollectionNoItems,
			CollectionNoResult,
			FilterCollection,
		},

		data () {

			return {

				popupModerateAdvert: false,

				btnLoading: false,

				loading: false,

				checked: [],

				option: {
					//searchPlaceholder: 'Найти объявление',
					pagePerView: 10,
					onSearch: (value)=>{
						this.offset = 0;
						this.query = value;
						this.loadData();
					},
					onGroupChange: (value)=>{
						this.offset = 0;
						this.group = value;
						this.loadData();
					},
					onPageChange: (value)=>{
						this.offset = value * this.limit;
						this.loadData();
					},
					onLimitChange: (value)=>{
						this.limit = value;
						this.loadData();
					},
				},

			}
		},

		computed: {

			...mapState({
				collection: state => state.advert.collection,
				filter: state => state.advert.filter,
				moderateFilterList: state => state.advert.moderateFilterList,
			}),

			limit: {
				get() { return this.filter.limit;},
				set(value) { this.SET_FILTER({name: 'limit', value}); }
			},

			offset: {
				get() { return this.filter.offset;},
				set(value) { this.SET_FILTER({name: 'offset', value}); }
			},

			group: {
				get() { return this.filter.group;},
				set(value) { this.SET_FILTER({name: 'group', value}); }
			},

			query: {
				get() { return this.filter.query;},
				set(value) { this.SET_FILTER({name: 'query', value}); }
			},

		},

		watch: {

			'$route' (to) {
				this.checkPopup();
			},

		},

		created (){
			this.checkPopup();
			this.loadData();
			this.getModerateFilterList();
		},

		methods:{
			...mapActions('advert', ['getModerateFilterList', 'getModerateList']),
			...mapMutations('advert', ['SET_MODERATE_FILTER_PROPS', 'SET_FILTER']),

			checkPopup(){
				this.popupModerateAdvert = !!this.$route.params.id;
			},

			loadData(){

				this.loading = true;

				this.getModerateList().finally(()=>{
					this.loading = false;
				});
			},

			onClose(){
				this.$router.push({name: 'adverts'});
				this.loadData();
			},

			filterChanged(value){
				this.SET_MODERATE_FILTER_PROPS(value)
				this.loadData();
			}
		},
	}
</script>


<style scoped lang="scss">

</style>