<template lang="pug">
	div(v-if="loading")
		.popup__title(v-if="loading"): fake-text(width="120px")
		moderate-item(fake)
		moderate-item(fake)
		moderate-item(fake)
		moderate-item(fake)
		moderate-item(fake)
		moderate-item(fake)
		moderate-item(fake)
		moderate-item(fake)
		moderate-item(fake)
	div(v-else, :class="{'hold': moderateLoading}")
		.popup__title {{ item.title }}
		moderate-item(v-for="item in item.list", :item="item", :key="item.id")
		br
		br
		br
		.popup__flex
			span &nbsp;
			span
				btn-item(@click="$emit('onClose')", :disabled="btnLoading", v-tooltip="'История изменений'").c-grey: icon(name="time-past")
				btn-item(@click="hold", :disabled="btnLoading").c-grey ОТЛОЖИТЬ
				btn-item(@click="$emit('onClose')", :disabled="btnLoading").c-grey ОТМЕНА
				btn-item(blue, :loading="btnLoading", @click="submit") СОХРАНИТЬ

</template>

<script>

	import {mapState, mapActions} from "vuex";

	import ModerateItem from '../../../component/moderate/item.vue'

	export default {

		components: {
			ModerateItem
		},

		props: {
			id: {
				type: [Number, String],
				default: undefined
			},
		},

		data() {

			return {
				loading: false,
				btnLoading: false,
			}
		},

		computed: {
			...mapState({
				item: state => state.advert.moderateItem,
				moderateLoading: state => state.advert.moderateLoading,
			}),
		},

		watch: {

		},

		created(){
			this.loadData();
		},

		mounted(){


		},

		beforeDestroy(){

		},

		methods:{

			...mapActions('advert', ['getModerateItem', 'moderateSetItem']),

			loadData(){

				this.loading = true;
				this.getModerateItem(this.id).
					finally(()=>{
						this.loading = false;
					});

			},

			submit(){

				this.btnLoading = true;
				this.moderateSetItem().
					finally(()=>{
						this.btnLoading = false;
						this.$emit('onClose');
					});

			},

			hold(){

				this.btnLoading = true;
				this.moderateSetItem({hold: true}).
					finally(()=>{
						this.btnLoading = false;
						this.$emit('onClose');
					});

			},

		},

	}
</script>

<style scoped lang="scss">

</style>


