<template lang="pug">
	.site(:class=" aside ? 'is-wide' : ''")
		Aside
		.site__page
			main.main
				transition(mode='out-in', name="tr-fade"): router-view
			Footer
		yandex-map(
			v-if="ymap",
			:coords="[0,0]",
			zoom="10",
			:behaviors="[]",
			:controls="[]",
			style="width: 100%; height: 400px; display: none;",
			@map-was-initialized="ymap = !1"
			)
</template>

<script>

	import {mapState, mapGetters} from "vuex";
	import Aside from './component/layout/aside/index'
	import Footer from './component/layout/footer'

	export default {
		data () {	
			return {
				ymap: true
			}
		},

		created (){

			this.$store.dispatch('user/getData');

			this.$store.dispatch('base/getFormData');
			this.$store.dispatch('base/getSectionCreationCategoryTypes');

			this.$store.dispatch('category/getSphere');
			this.$store.dispatch('category/getMetro');
			this.$store.dispatch('category/getRegion');
		},

		mounted (){

			this.dragdrop();

			this.setTitle();

		},

		computed: {
			...mapGetters({
				mainDataLoaded: 'user/mainDataLoaded',
			}),

			...mapState({
				company: state => state.user.company,
				aside: state => state.base.aside,
			})

		},

		watch: {
			mainDataLoaded() {
				this.setTitle();
			},

			$route (){
				this.setTitle();
			}
		},

		components: {
			Aside,
			Footer
		},

		methods: {

			setTitle(){
				let name = this.company.name,
					title = this.$route.meta.title
				;

				document.title = `${name || ''}${name && title ? ' - ' : ' '}${title || ''}`;
			},

			dragdrop(){
				let body = document.body;

				['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
					body.addEventListener(eventName, (e)=>{
						e.preventDefault();
					}, false)
				});
				['dragenter', 'dragover'].forEach(eventName => {
					body.addEventListener(eventName, ()=>{
						body.classList.add('on-drag')
					}, false)
				});
				['dragleave', 'drop'].forEach(eventName => {
					body.addEventListener(eventName, ()=>{
						body.classList.remove('on-drag')
					}, false)
				});
			}
		}
	}
</script>

<style scoped lang="scss">

	.site{
		height: 100%;
		//position: relative;
		min-width: $minWidth;

		&__page{
			margin-left: $asideWidthCompact;
			transition: margin-left 0.3s ease;
			height: 100%;
			min-height: 100vh;
			position: relative;
			//z-index: 1;
			display: flex;
			flex-direction: column;

			@include breakPoint($breakPoint1){
				margin-left: $asideWidth;
			}
		}
	}


	.main{
		//height: 100%;
		display: block;
		//min-height: calc(100% - 68px);
		flex: 1;

		&::v-deep{
			.main__inner{
				height: 100%;
				display: flex;
				flex-direction: column;
			}

		}

	}

	.site{
	}

</style>