<template lang="pug">
	.main__inner
		header-wrap(ref="header")
			template(slot="title")
				h1 {{ $route.meta.title }}
			template(v-slot:control="{action}")
				.btn.btn_green(@click="action.aside()", v-if="creationButtons")
					| ДОБАВИТЬ СТАТЬЮ

			template(slot="aside", v-if="creationButtons")
				.header__aside-item(v-for="btn in creationButtons.types", @click="addItem(btn.id)")
					.header__aside-item-logo(v-lazy:background-image="btn.image")
					.header__aside-item-info
						.header__aside-item-title {{ btn.title }}
						.header__aside-item-text {{ btn.description }}
					.header__aside-item-link ДОБАВИТЬ

		.content(:class="{'content_loading': loading}")
			table-wrap.corpus_articles(v-model="checked", :collection="collection", :option="option", :offset="offset", :loading="loading")
				template(slot="head")
					.corpus__table-col
						span ФОТО СТАТЬИ
					.corpus__table-col: span ОПИСАНИЕ
					.corpus__table-col: span СТАТУС
					.corpus__table-col: span &nbsp;
				template(v-slot:item="{item}"): collection-item(:item="item", v-model="checked")
				template(slot="noResult"): collection-no-result
				template(slot="noItems"): collection-no-items
				template(slot="action")
					span(@click="popupDeleteItem = !0") УДАЛИТЬ
					//-span ПОДЕЛИТЬСЯ

		popup(v-model="popupDeleteItem", @onClose="popupDeleteItem = !1").popup_info
			.popup__title ПОДТВЕРДИТЬ
			.popup__text Вы уверены что хотите удалить <span class="c-blue">{{ checked.length }} {{ checked.length | declension('статья', 'статьи', 'статей')}}</span>.
			.popup__flex
				span &nbsp;
				span
					btn-item(link, @click="popupDeleteItem = !1", :disabled="btnLoading") ОТМЕНА
					btn-item(red, @click="deleteItem()", :loading="btnLoading") УДАЛИТЬ

		popup(v-model="popupAddForm", @onClose="onClose", :hideCloseBtn="true").popup_add
			AddForm(@onSubmit="onClose", :id="$route.params.id")

</template>

<script>
	import {mapState, mapGetters, mapActions, mapMutations} from "vuex";

	import CollectionItem from './collection/index'
	import CollectionNoItems from './collection/no-items'
	import CollectionNoResult from './collection/no-result'

	import AddForm from './form'

	export default {
		data () {
			return {

				popupAddForm: false,
				popupDeleteItem: false,
				btnLoading: false,

				loading: false,

				checked: [],

				option: {
					searchPlaceholder: 'Найти статью',
					pagePerView: 10,
					onSearch: (value)=>{
						this.offset = 0;
						this.query = value;
						this.loadData();
					},
					onGroupChange: (value)=>{
						this.offset = 0;
						this.group = value;
						this.loadData();
					},
					onPageChange: (value)=>{
						this.offset = value * this.limit;
						this.loadData();
					},
					onLimitChange: (value)=>{
						this.limit = value;
						this.loadData();
					},
				},
			}
		},

		computed: {

			...mapState({
				collection: state => state.article.collection,
				filter: state => state.article.filter,
			}),

			...mapGetters('base', ['sectionCreationCategoryTypes']),

			creationButtons(){
				return this.sectionCreationCategoryTypes('articles')
			},

			limit: {
				get() { return this.filter.limit;},
				set(value) { this.SET_FILTER({name: 'limit', value}); }
			},

			offset: {
				get() { return this.filter.offset;},
				set(value) { this.SET_FILTER({name: 'offset', value}); }
			},

			group: {
				get() { return this.filter.group;},
				set(value) { this.SET_FILTER({name: 'group', value}); }
			},

			query: {
				get() { return this.filter.query;},
				set(value) { this.SET_FILTER({name: 'query', value}); }
			},

		},

		watch: {

			'$route' (to) {
				this.checkPopup();
			},

		},

		mounted(){
			this.checkPopup();
			this.loadData();
		},

		methods:{

			...mapActions('article', {
				getList: 'getList',
				deleteItemAction: 'deleteItem',
			}),

			...mapMutations('article', ['SET_FILTER']),

			checkPopup(){
				this.popupAddForm = !!this.$route.params.id || this.$route.name === 'articlesAdd';
			},

			loadData(){

				this.loading = true;

				this.getList().finally(()=>{
					this.loading = false;
				});
			},

			onClose(){
				this.$router.push({name: 'articles'});
				this.loadData();
			},

			deleteItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.deleteItemAction(this.checked)
					.then((res)=>{
						if ( res.status === true ){
							this.popupDeleteItem = !1;
							this.checked = [];
							this.getList();
						}
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},

			addItem(id){
				this.$router.push({name: 'articlesAdd', params: {category: id}})
				this.$refs.header.aside(false);
			}
		},

		components:{
			AddForm,
			CollectionItem,
			CollectionNoItems,
			CollectionNoResult,
		}
	}
</script>


<style lang="scss">

</style>