<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading")
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.kit-articles
				.kit-articles__info(v-if="!loading")
					.kit-articles__info-item
						.kit-articles__info-value {{ main.all | discharge }}
						.kit-articles__info-text(v-if="main.all > 0") Всего
						.kit-articles__info-text(v-else) &nbsp;
					.kit-articles__info-item.kit-articles__info-item_active(v-if="main.all > 0")
						.kit-articles__info-value {{ main.active | discharge }}
						.kit-articles__info-text Активных
			.kit__footer: router-link.c-blue.link(:to="{name: 'articlesAdd'}")  Разместить статью

</template>

<script>
	export default {

		props: ['options'],

		data() {
			return {
				compact: true,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,

				main: {
					all: 0,
					active: 0,
				}
			}
		},

		mounted(){
			if ( !this.options.disable ) this.loadData();
		},

		methods: {
			loadData(){

				let data = {};

				this.$api(
					'getKitArticles',
					data,
					res=>{
						this.main = JSON.parse(JSON.stringify(res));
					},
					()=>{

					},
					()=>{
						this.loading = false;
					}
				);
			}
		}

	}
</script>

<style lang="scss">

</style>


