<template lang="pug">
	div
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}
			template(slot="control")
				.btn.btn_blue БИРЖА ЗАГОЛОВКОВ


		.content(:class="{'content_loading': loading}")
			corpus(:options="corpus.options", :list="corpus.list", :type="'headings'",
				@onLimitChange="onLimitChange",
				@onSearch="onSearch",
				@onTabChange="onTabChange",
				@onPagerClick="onPagerClick")
				.corpus__message(slot="noItems")
					.corpus__message-event
						.corpus__message-event-title У вас пока нет заголовков
						.corpus__message-event-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.
						.corpus__message-event-btn
							.btn.btn_green БИРЖА ЗАГОЛОВКОВ

					.corpus__message-info
						.corpus__message-info-item
							.corpus__message-info-logo: img(src="../../img/svg/info-cal.svg")
							.corpus__message-info-title Аренда заголовка
							.corpus__message-info-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.

						.corpus__message-info-link: a(href='#') Как арендовать заголовок?
						.corpus__message-info-link: a(href='#') Как долго я могу пользоваться заголовком?

						.corpus__message-info-item
							.corpus__message-info-logo: img(src="../../img/svg/info-doc.svg")
							.corpus__message-info-title Покупка / продажа заголовка
							.corpus__message-info-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.
						.corpus__message-info-link: a(href='#') Как купить заголовок?
						.corpus__message-info-link: a(href='#') Как я могу зарабатывать на купленных заголовках?

</template>

<script>
	import _ from 'lodash'

	export default {
		data () {
			return {
				loading: false,

				corpus: {
					options: {

						tabs: {
							list: [

							],
							active: false,
						},

						search: {
							placeholder: 'Найти заголовок'
						},

						itemsPerPage: 10
					},
					list: {
						checked: true,
						query: '',
						header: [
							{
								value: 'ЗАГОЛОВОК'
							},
							{
								value: 'РЕЙТИНГ<br>ЗАГОЛОВКА',
								align: 'right',
								tooltip: 'Какое то описание, что означает рейтинг заголовка'
							},
							{
								value: 'ИНДЕКС<br>ПОПУЛЯРНОСТИ',
								align: 'right',
								tooltip: 'Какое то описание, что означает индекс популярности'
							},
							{
								value: 'СТАТУС',
								align: 'right'
							},
							{
								value: 'СТОИМОСТЬ',
								align: 'right'
							},
							{
								value: ' '
							}
						],
						page: 0,
						count: false,
						items:[]
					}
				}
			}
		},

		mounted(){

			this.loadData();

		},

		methods: {

			loadData(){

				this.loading = true;

				let data = {};
				data.limit = this.corpus.options.itemsPerPage;
				data.offset = this.corpus.options.itemsPerPage * this.corpus.list.page;
				if (this.corpus.options.tabs.active) data.group = this.corpus.options.tabs.active;
				if (this.corpus.list.query) data.query = this.corpus.list.query;

				this.$api(
					'getHeadingsList',
					data,
					(res)=>{
						if (res.groups) this.corpus.options.tabs.list = res.groups;
						if (res.currentGroup) this.corpus.options.tabs.active = res.currentGroup;
						if (res.count) this.corpus.list.count = res.count;
						this.corpus.list.items = res.list;
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			onLimitChange(value){
				this.corpus.options.itemsPerPage = value;
				this.corpus.list.page = 0;
				this.loadData();
			},

			onSearch(value){
				console.info('onSearch', value);
				this.corpus.list.query = value;

				this.loadData();
			},

			onTabChange(value){
				console.info('onTabChange', value);
				this.corpus.options.tabs.active = value;
				this.corpus.list.page = 0;
				this.loadData();
			},

			onPagerClick(value){
				console.info('onPagerClick', value);

				switch (value){
					case 'prev':
						this.corpus.list.page--;
						break;
					case 'next':
						this.corpus.list.page++;
						break;
					default:
						this.corpus.list.page = value;
						break;
				}

				this.loadData();
			}
		},

		components:{
		}
	}
</script>


<style lang="scss">

</style>