<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading").kit_headings
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.kit__tabs(v-if='tabs.list.length')
				.corpus__tabs(v-dragscroll.x)
					.corpus__tabs-item(v-for='(tab, index) in tabs.list', :key='index', :class="((!tabs.active && index === 0) || (tab.id === tabs.active)) ? 'is-active' : ''", @click="selectTab((!tabs.active && index === 0) || (tab.id === tabs.active) ? false : tab.id)") {{ tab.name }} {{ tab.count && tab.showLength ? '(' + tab.count + ')' : '' }}

			.kit__scroll(v-if="items.length", v-scrollbar)
				.corpus__list
					.corpus__table
						.corpus__item.corpus__item_headings(v-for="item in items ")

							.corpus__item-col
								span.c-blue {{ item.info.title }}

							.corpus__item-col.corpus__item-col_right {{ item.info.rate }}

							.corpus__item-col.corpus__item-col_right
								span {{ Math.abs(item.info.popularity) }}
								i(v-if="item.info.popularity < 0").ico.ico_index.c-red: icon(name="down")
								i(v-else).ico.ico_index.c-green: icon(name="up")


							.corpus__item-col.corpus__item-col_right
								.corpus__item-state(v-for="state in item.info.state") {{ state }}
								.corpus__item-pass(v-if="item.info.pass")
									.corpus__item-pass-line(:class="passLevel(item)")
										.corpus__item-pass-line-inner(:style="'width:'+ item.info.pass.percent +'%;'")
									.corpus__item-pass-info {{ item.info.pass.message }}

							.corpus__item-col.corpus__item-col_right
								.corpus__item-price(v-if="item.info.price") {{ item.info.price | discharge }} ₽
								.corpus__item-price(v-if="item.info.priceInMonth") {{ item.info.priceInMonth | discharge }} ₽/мес


</template>

<script>

	export default {

		props: ['options'],

		data() {
			return {
				compact: false,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,

				tabs: {
					active: false,
					list: [],
				},

				page: 0,

				items: [],
			}
		},

		mounted(){
			if ( !this.options.disable ) this.loadData();
		},

		methods: {
			loadData(){
				let data = {};

				if (this.tabs.active) data.group = this.tabs.active;

				this.$api(
					'getHeadingsList',
					data,
					res=>{
						if (res.groups) this.tabs.list = res.groups;
						if (res.currentGroup) this.tabs.active = res.currentGroup;
						this.items = res.list;
						if (res.list.length) {
							this.title = `${this.options.title} (${res.count})`;
						}
					},
					()=>{

					},
					()=>{
						this.loading = false;
					}
				);
			},

			selectTab(value){
				this.tabs.active = value;
				this.page = 0;
				this.loadData();
			},

			passLevel(item){

				let val = '';

				if ( item.status.archive || item.status.moderate){
					val = '';
				} else if ( item.status.discard ){
					val = 'is-min';
				} else if ( item.info.pass.percent > 66 ){
					val = 'is-max';
				} else if ( item.info.pass.percent > 33 ){
					val = 'is-mid';
				} else if  ( item.info.pass.percent > 0 ){
					val = 'is-min';
				} else {
					val = '';
				}

				return val;
			}
		}

	}
</script>

<style scoped lang="scss">

	.kit_headings{

		.kit__scroll{
			max-height: 470px;
		}
	}
</style>


