<template lang="pug" >
	.corpus__item
		.corpus__item-col.corpus__item-col_check(v-if="value !== undefined")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.corpus__item-col
			.corpus__item-edits
				| {{ item.info.description }} |&nbsp;
				span.link.c-blue История правок
			.corpus__item-title {{ item.info.title }}

		.corpus__item-col
			.corpus__item-title.corpus__item-title_hide {{ item.info.text }}

		.corpus__item-col(v-if="item.info.results")
			v-popover(popoverClass="popover_details")
				template(slot="popover")
					icon.popover_details__close(name="clear", v-close-popover.all)
					.popover_details__list
						.popover_details__item(:class="statusColor(detail.status)", v-for="detail in item.info.results.details")
							.popover_details__item-name {{ detail.name }}
							.popover_details__item-value {{ detail.status === 'approved' ? 'Одобрено' : detail.status === 'waiting' ? 'Отложено' : 'Отказано' }}
					btn-item(
						v-close-popover.all
						:green="item.info.status === 'approved'",
						:yellow="item.info.status === 'waiting'",
						:red="item.info.status === 'rejected'",
						@click="$router.push({ path: `/adverts/${item.id}` })") ПРОВЕРИТЬ

				span.dropdown-arrow
					.corpus__item-title(:class="statusColor(item.info.status)") {{ item.info.results.title }}

		.corpus__item-col
			.corpus__item-line(:class="statusColor(item.info.status)")
			span(:class="statusColor(item.info.status)") {{ item.info.message }}



			//-pass-progress(:persent="item.info.pass.percent")
				.corpus__item-pass-info {{ item.info.pass.message }}

		.corpus__item-col
			btn-item(
				:green="item.info.status === 'approved'",
				:yellow="item.info.status === 'waiting'",
				:red="item.info.status === 'rejected'",
				@click="$router.push({ path: `/adverts/${item.id}` })") ПРОВЕРИТЬ

		.corpus__item-col.corpus__item-col_control
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: .link(v-close-popover.all) Что то сделать
						li: .link(v-close-popover.all) Что то сделать

				icon(name="dots")


</template>


<script>

	export default {
		props: {
			item: {
				type: Object,
				default: null,
			},

			value: {
				type: Array,
				default: undefined
			}
		},

		data(){
			return {
				btnLoading: false,
				popupMoveItem: false,
				popupDeleteItem: false,
				popupDeleteHold: false,
			}
		},

		mounted(){

		},

		computed: {
			model :{
				get() { return this.value;},
				set(value) { this.$emit('input', value);}
			}
		},

		methods:{

			statusColor(status){
				if ( status === 'approved') return 'c-green';
				if ( status === 'waiting') return 'c-yellow';
				if ( status === 'rejected') return 'c-red';
			},

		}
	}
</script>

<style scoped lang="scss">
	.corpus__item{
		min-height: 40px;
	}

	.corpus__item-title{
		font-size: 13px;
		font-weight: 600;
		white-space: nowrap;

		&_hide{
			max-width: 200px;
			position: relative;
			overflow: hidden;
			text-overflow: ellipsis;

			&:after{
				content: '';
				display: block;
				width: 36px;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}

	.corpus__item-col{
		vertical-align: middle;
		position: relative;
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.corpus__item-pass-info{
		margin-top: 15px;
		margin-bottom: 0;
	}

	.corpus__item-edits{
		position: absolute;
		top: 25px;
		white-space: nowrap;
		z-index: 1;
	}

	.btn{
		min-width: 192px;
	}

</style>