<template lang="pug">
	.filter-collection__list
		.filter-collection__item
			FormField(:field='options', v-model='model')
				template(slot="button_add"): btn-item(blue) Выбрать
</template>


<script>
	export default {

		name: 'filter-collection-item-sphere',

		props: {
			filter: {
				type: Object,
				default: null
			},
			modelCollection: {
				type: Object,
				default: ()=>{
					return {}
				}
			},
		},

		data(){
			return {

				options: {
					type: 'category',
					name: 'category',
					base: 'sphere',
					max: 10,
				},
			}
		},

		computed: {
			model:{
				get(){
					return this.modelCollection[this.filter.name];
				},
				set(value){
					this.$emit('setModel', {name: this.filter.name, value})
				}
			}
		},

		methods:{

		}
	}
</script>

<style scoped lang="scss">
	.filter-collection__list{
		padding: 1px 0;
	}

	.btn{
		width: 192px;
	}

</style>