<template lang="pug">
	.filter-collection__group
		.filter-collection__title(@click="active = !active")
			| {{ filter.title }}
			icon(:name="active ? 'arrow-slide-up' : 'arrow-slide-down'")
		slide-up-down(:active="active")
			div(:is="`filter-collection-item-${filter.type}`", :filter="filter", :modelCollection="modelCollection", @setModel="$emit('setModel', $event)")

</template>


<script>

	import FilterCollectionItemCheckbox from './filter-collection-item-checkbox'
	import FilterCollectionItemRadio from './filter-collection-item-radio'
	import FilterCollectionItemRange from './filter-collection-item-range'
	import FilterCollectionItemSphere from './filter-collection-item-sphere'

	export default {

		name: 'filter-collection-group',

		components: {
			FilterCollectionItemCheckbox,
			FilterCollectionItemRadio,
			FilterCollectionItemRange,
			FilterCollectionItemSphere,
		},

		props: {
			filter: {
				type: Object,
				default: null
			},
			modelCollection: {
				type: Object,
				default: ()=>{
					return {}
				}
			},

		},

		data(){
			return {
				active: true
			}
		},

		computed: {

		},

		methods:{

		}
	}
</script>

<style scoped lang="scss">

	.filter-collection{

		&__group{
			margin-bottom: 23px;

			&::v-deep{
				.filter-collection__list{
					padding: 17px 0 0;
				}
			}
		}

		&__title{
			font-size: 18px;
			font-weight: 500;
			cursor: pointer;
			user-select: none;

			.icon{
				color: $colorGreyLight;
				margin: -5px 0;
			}
		}

	}

</style>