<template lang="pug">
	.filter-collection__input
		m-form-input(v-model="model", :placeholder="item.text", @change="change")
</template>



<script>
	export default {

		name: 'filter-collection-item-input',

		props: {
			item: {
				type: Object,
				default: null
			},
			modelCollection: {
				type: Object,
				default: ()=>{
					return {}
				}
			},
		},

		data(){
			return {
				model: this.modelCollection[this.item.name]
			}
		},

		computed: {
			modelss:{
				get(){
					return this.modelCollection[this.item.name];
				},
				set(value){
					this.$emit('setModel', {name: this.item.name, value})
				}
			},
		},

		methods:{
			change(){
				this.$emit('setModel', {name: this.item.name, value: this.model})
			}
		}
	}
</script>

<style scoped lang="scss">



</style>