<template lang="pug">
	.filter-collection__list
		.filter-collection__item(v-for="(item, index) in filter.items")
			m-form-radio(:id="item.value", v-model='model', :key="index"): span(v-html="item.text")
</template>


<script>
	export default {

		name: 'filter-collection-item-radio',

		props: {
			filter: {
				type: Object,
				default: null
			},
			modelCollection: {
				type: Object,
				default: ()=>{
					return {}
				}
			},
		},

		data(){
			return {

			}
		},

		computed: {
			model:{
				get(){
					return this.modelCollection[this.filter.name];
				},
				set(value){
					this.$emit('setModel', {name: this.filter.name, value})
				}
			}
		},

		methods:{

		}
	}
</script>

<style scoped lang="scss">

	.filter-collection{
		&__item{
			margin-bottom: 6px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

</style>