<template lang="pug">
	.filter-collection__list
		.filter-collection__item(v-for="(item, index) in filter.items")
			input-item(:item="item", @setModel="$emit('setModel', $event)", :modelCollection="modelCollection", :key="index")


</template>



<script>

	import InputItem from './filter-collection-item-input'

	export default {

		name: 'filter-collection-item-range',

		components: {
			InputItem
		},

		props: {
			filter: {
				type: Object,
				default: null
			},
			modelCollection: {
				type: Object,
				default: ()=>{
					return {}
				}
			},
		},

		data(){
			return {

			}
		},

		computed: {

		},

		methods:{

		}
	}
</script>

<style scoped lang="scss">


	.filter-collection__list{
		margin: 0 -15px;
		display: flex;
	}
	.filter-collection__item{
		padding: 0 15px;
		width: 50%;
		box-sizing: border-box;
	}


</style>