<template lang="pug">
	.filter-collection
		filter-collection-group(v-for="(filter, index) in filters", :key="index", :filter="filter", :modelCollection="model", @setModel="setModel")
		.filter-collection__clear
			btn-item(blue, @click="clearFilters") Сбросить фильтры
</template>


<script>
	import FilterCollectionGroup from './filter-collection-group'

	export default {

		name: 'filter-collection',

		components: {
			FilterCollectionGroup
		},

		props: {
			filters: {
				type: Array,
				default: null
			}
		},

		data(){
			return {
				model: {}
			}
		},

		computed: {

		},

		watch:{
			filters(){
				this.setModelList();
			}
		},

		created() {
			this.setModelList();
		},

		methods:{
			setModel(data){
				this.model[data.name] = data.value;
				this.$emit('onChange', this.model);
			},
			setModelList(){
				if ( this.filters ){
					this.filters.forEach( filter => {
						switch (filter.type) {
							case 'checkbox':
								this.$set(this.model, filter.name, [])
								break;
							case 'radio':
								this.$set(this.model, filter.name, '')
								break;
							case 'range':
								filter.items.forEach(item => {
									this.$set(this.model, item.name, '')
								})
								break;
							case 'sphere':
								this.$set(this.model, filter.name, [])
								break;
						}
					})
				}
			},

			clearFilters(){
				this.setModelList();
				this.$emit('onChange', this.model);
			}
		}
	}
</script>

<style scoped lang="scss">

	.filter-collection{

	}

</style>