<template lang="pug" >
	.corpus__item.corpus__item_branches
		.corpus__item-col.corpus__item-col_check(v-if="value !== undefined")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.corpus__item-col(v-if="branchType.length") {{ branchType.find(i => i.id === item.info.type).name }}
		.corpus__item-col(v-else): fake-text(width="80px")

		.corpus__item-col
			.corpus__item-title {{ item.info.name }}

		.corpus__item-col {{ item.info.address }}

		.corpus__item-col
			template(v-if="item.info.contact.length")
				span {{ item.info.contact[0] }}
				v-popover(v-if="item.info.contact.length > 1").corpus__item-more
					template(slot="popover")
						ul
							li.nobr(v-for="(contact, index) in item.info.contact", v-if="index > 0") {{ contact }}
					span.more еще {{ item.info.contact.length - 1 }}
			template(v-else) Нет контактов

		.corpus__item-col.corpus__item-col_control

			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: router-link.link(:to="'/branches/' + item.id", v-close-popover.all) Редактировать
						li: .link(@click="popupDeleteItem = !0", v-close-popover.all) Удалить
				icon(name="dots")


		popup(v-model="popupDeleteItem", @onClose="popupDeleteItem = !1").popup_info
			.popup__title ПОДТВЕРДИТЬ
			.popup__text Вы уверены что хотите удалить филиал: <span class="c-blue">{{ item.info.name }}</span>.
			.popup__flex
				span &nbsp;
				span
					btn-item(link, @click="popupDeleteItem = !1", :disabled="btnLoading") ОТМЕНА
					btn-item(red, @click="deleteItem()", :loading="btnLoading") УДАЛИТЬ


</template>


<script>

	import {mapState} from "vuex";

	export default {
		props: {
			item: {
				type: Object,
				default: null,
			},

			value: {
				type: Array,
				default: undefined
			}
		},

		data(){
			return {
				btnLoading: false,
				popupDeleteItem: false,
				popupDeleteHold: false,
			}
		},

		mounted(){

		},

		computed: {

			...mapState({
				branchType: state => state.base.selects.branchType,
			}),

			model :{
				get() { return this.value;},
				set(value) { this.$emit('input', value);}
			}
		},

		methods:{

			copyItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.$store.dispatch('advert/copyItem', this.item.id)
					.then((res)=>{
						if ( res.id ) this.$router.push({ path: `/adverts/${res.id}` });
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},

			deleteItem(){

				if ( this.btnLoading ) return false;
				this.btnLoading = true;
				this.$store.dispatch('advert/deleteItem', [this.item.id])
					.then((res)=>{
						if ( res.status === true ){
							this.popupDeleteItem = !1;
							this.$store.dispatch('advert/getList');
						}
					})
					.finally(()=>{
						this.btnLoading = false;
					});

			},


		}
	}
</script>
