<template lang="pug" >
	.corpus__message
		.corpus__message-event
			.corpus__message-event-title У вас пока нет объявлений
			.corpus__message-event-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.
			.corpus__message-event-btn
				btn-item(green @click="popupAddAdvert = true") ДОБАВИТЬ ОБЪЯВЛЕНИЕ

		.corpus__message-info
			.corpus__message-info-item
				.corpus__message-info-logo: img(src="../../../img/svg/info-cal.svg")
				.corpus__message-info-title Объявления
				.corpus__message-info-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.

			.corpus__message-info-link: a(href='#') Как арендовать заголовок?
			.corpus__message-info-link: a(href='#') Как долго я могу пользоваться заголовком?

			.corpus__message-info-item
				.corpus__message-info-logo: img(src="../../../img/svg/info-doc.svg")
				.corpus__message-info-title Покупка / продажа объявлений
				.corpus__message-info-text Вы можете арендовать или купить заголовок для дальнейшей перепродажи. А можете не арендовать и не покупать.
			.corpus__message-info-link: a(href='#') Как купить заголовок?
			.corpus__message-info-link: a(href='#') Как я могу зарабатывать на купленных заголовках?

		popup(v-model="popupAddAdvert", @onClose="onClose", :hideCloseBtn="true").popup_add
			AddAdvert(@onSubmit="onClose", :id="null")

</template>

<script>

	import AddAdvert from '../form'

	export default {
		data () {

			return {

				popupAddAdvert: false,
			}
		},

		methods:{

			onClose(){
				this.popupAddAdvert = !1;
				this.$store.dispatch('advert/getList');
			},

		},

		components:{
			AddAdvert,
		}
	}
</script>
