<template lang="pug">
	creator-category(v-if="creatorShow", :type="creatorType", @onClose="close(true)", @onSubmit="addCategoryType", v-model="creatorModel")
	div(v-else)
		.popup__close(@click="close()")
		.popup__title {{ edit ? 'РЕДАКТИРОВАТЬ' : 'ДОБАВИТЬ В ВЕТРИНУ' }}
		.popup__form
			form-wrap.form__wrap(ref="form")
				FormField(:field='fields.title', v-model='article_title')
				FormField(:field='fields.announce', v-model='article_announce')
				FormField(:field='fields.text', v-model='article_text')

				FormField(:field='fields.gallery', v-model='article_gallery', ref="article_gallery")
				FormField(:field='fields.video', v-model='article_video')

				br
				FormField(:field='fields.date', v-model='article_date')
				FormField(:field='fields.time', v-model='article_time')
				FormField(:field='fields.publish', v-model='article_publish')

		.popup__flex
			//span.c-blue.link(@click="") ПРЕДВАРИТЕЛЬНЫЙ ПРОСМОТР
			span &nbsp;
			span
				btn-item(@click="close()", :disabled="btnLoading").c-grey ОТМЕНА
				btn-item(link, @click="saveDraft", :disabled="btnLoading").c-blue СОХРАНИТЬ КАК ЧЕРНОВИК
				btn-item(blue, :disabled="!changed", :loading="btnLoading", @click="onSubmit") {{ edit ? 'СОХРАНИТЬ СТАТЬЮ' : 'ОТПРАВИТЬ НА МОДЕРАЦИЮ' }}

		popup(v-model="popupCloseConfirm", @onClose="popupCloseConfirm = !1").popup_info
			.popup__title СОХРАНИТЬ ИЗМЕНЕНИЯ В ЧЕРНОВИКЕ?
			div
				btn-item.c-grey(link, @click="close(true)", :disabled="btnLoading") ЗАКРЫТЬ
				btn-item(blue @click="saveDraft", :loading="btnLoading") СОХРАНИТЬ И ЗАКРЫТЬ



</template>

<script>

	import {mapState, mapGetters, mapActions, mapMutations} from "vuex";

	import CreatorCategory from '@component/creator-category'

	export default {

		components:{
			CreatorCategory,
		},

		props: {
			id: {
				type: [Number, String],
				default: undefined
			},
		},

		data() {

			return {
				creatorShow: this.$route.params.category,
				creatorType: this.$route.params.category,
				creatorModel: [],

				edit: !!this.id,
				btnLoading: false,

				popupCloseConfirm: false,

				fields: {
					title: {
						type: 'text',
						name: 'article_title',
						title: 'Заголовок статьи',
						detail: 'от 51 до 100 символов',
						//min: 51,
						max: 100,
						counter: true,
						required: true,
						validation: {
							/*min: {
								length: 51,
								message: 'Длинна заголовка должна быть не менее 51 символа',
							},*/
							max: {
								length: 100,
								message: 'Длинна заголовка не должна превышать 100 символов',
							},
						},
					},

					announce: {
						type: 'textarea',
						name: 'article_announce',
						title: 'Анонс статьи',
						detail: 'до 300 символов',
						required: true,
						max: 300,
						counter: true,
						validation: {

							max: {
								length: 300,
								message: 'Длинна текста не должна превышать 300 символов',
							},
						},

					},
					text: {
						type: 'wysiwig',
						name: 'article_text',
						title: 'Текст статьи',
						detail: 'от 500 до 5000 символов',
						required: true,
						min: 500,
						max: 5000,
						counter: true,
						validation: {
							min: {
								length: 500,
								message: 'Длинна текта должна быть не менее 500 символов',
							},
							max: {
								length: 5000,
								message: 'Длинна текста не должна превышать 5000 символов',
							},
						},

					},
					gallery: {
						type: 'file',
						name: 'article_gallery',
						controls: ['remove', 'move', 'rotate'],
						title: 'Фото статьи',
						max: 10,
						multiple: true,
						clearText: 'Удалить все фото',
						accept: ['png', 'jpg', 'jpeg'],

					},
					/*video: {
						type: 'file',
						name: 'article_video',
						title: 'Видео статьи',
						multiple: true,
						controls: ['remove', 'move', 'rotate'],
						max: 5,
						clearText: 'Удалить все видео',
						accept: ['mp4', 'avi', 'mov'],

						onKeyup: (value) => {}
					},*/
					video: {
						type: 'text',
						name: 'article_video',
						title: 'Ссылка на видео статьи',

						//detail: 'Допускаются ссылки youtube, vimeo, rutube',
						validation: {
							pattern: [
								{
									regex: /^(http:\/\/|https:\/\/)?(rutube\.ru|vimeo\.com|youtu\.be|www\.youtube\.com)\/([\w\/]+)([\?].*)?$/i,
									message: 'Допускаются ссылки youtube, vimeo, rutube'
								}
							],
						},
						required: false,
						class: 'w_2-3'
					},
					date: {
						type: 'date',
						name: 'article_date',
						title: 'Дата публикации',
						class: 'w_1-3'
					},
					time: {
						type: 'time',
						name: 'article_time',
						title: '&nbsp;',
					},
					publish: {
						type: 'checkbox',
						name: 'article_publish',
						label: 'Опубликовать сразу после публикации',
					},

				},
			}
		},

		computed: {
			...mapState({
				item: state => state.article.item,
				changeStore: state => state.base.selects,
				articleTitleLenght: state => state.base.settings.articleTitleLenght,
			}),
			...mapGetters({
				changed: 'article/changed'
			}),
			article_title : {
				get() { return this.item.article_title;},
				set(value) { this.SET_PROP({name: 'article_title', value});}
			},
			article_theme : {
				get() { return this.item.article_theme;},
				set(value) { this.SET_PROP({name: 'article_theme', value});}
			},
			article_announce : {
				get() { return this.item.article_announce;},
				set(value) { this.SET_PROP({name: 'article_announce', value});}
			},
			article_text : {
				get() { return this.item.article_text;},
				set(value) { this.SET_PROP({name: 'article_text', value});}
			},
			article_gallery : {
				get() { return this.item.article_gallery;},
				set(value) { this.SET_PROP({name: 'article_gallery', value});}
			},
			article_video : {
				get() { return this.item.article_video;},
				set(value) { this.SET_PROP({name: 'article_video', value});}
			},
			article_date : {
				get() { return this.item.article_date;},
				set(value) { this.SET_PROP({name: 'article_date', value});}
			},
			article_time : {
				get() { return this.item.article_time;},
				set(value) { this.SET_PROP({name: 'article_time', value});}
			},
			article_publish : {
				get() { return this.item.article_publish;},
				set(value) { this.SET_PROP({name: 'article_publish', value});}
			},

		},

		watch:{
			changeStore() {
				this.setFormSettings();
			},

		},

		created(){
			if ( !this.creatorShow ){
				this.loadData();
			}
		},

		methods:{
			...mapMutations('article', ['SET_PROP']),
			...mapActions('article', ['getItem', 'saveItem']),

			close(rough){
				if (this.changed && !rough){
					this.popupCloseConfirm = true;
				} else {
					this.$emit('onSubmit');
				}
			},

			loadData(){

				this.getItem(this.id)
					.then(()=>{
						this.$refs.article_gallery.updateFileList();
					});

				this.setFormSettings();
			},

			setFormSettings(){
				this.fields.title.max = this.articleTitleLenght;
				this.fields.title.detail = `До ${this.articleTitleLenght} символов`;
				this.fields.title.validation.max.length = this.articleTitleLenght;
				this.fields.title.validation.max.message = `Длинна заголовка не должна превышать ${this.articleTitleLenght} символов`;
			},

			onSubmit(addParam){

				this.popupCloseConfirm = !1;
				this.$refs.form.validate()
					.then(()=>{
						if ( this.btnLoading ) return false;
						this.btnLoading = true;

						this.saveItem(addParam).then(()=>{
							this.$emit('onSubmit');
						}).finally(()=>{
							this.btnLoading = false;
						});
					}, error => {

					});
			},

			saveDraft(){

				this.popupCloseConfirm = !1;
				if ( this.btnLoading ) return false;
				this.btnLoading = true;

				this.saveItem({draft: true}).then(()=>{
					this.$emit('onSubmit');
				}).finally(()=>{
					this.btnLoading = false;
				});
			},

			addCategoryType(types){
				this.loadData();
				this.creatorShow = false;
				this.article_theme = this.creatorModel;
			}
		},

	}
</script>

<style lang="scss">

</style>


