<template lang="pug">
	.dialog
		.dialog__head
			.dialog__head-aside
				.dialog__head-title
					.dialog__head-name {{ title }}
					.dialog__head-close(@click="$emit('onClose')"): include ../../img/svg/ico__clear.svg
			.dialog__head-aside(v-if="!disabled")
				.dialog__control(v-if="checked.length")
					.dialog__control-btn(@click="shareInThisDialod")
						include ../../img/svg/ico__share.svg
						span Ответить
					.dialog__control-btn(@click="shareAnotherDialod")
						include ../../img/svg/ico__share.svg
						span Переслать
					.dialog__control-btn(@click="removeMessage")
						include ../../img/svg/ico__remove.svg
						span Удалить
				.dialog__control(v-else-if="allowEdit")
					.dialog__control-btn
						v-popover.corpus__item-ico
							template(slot="popover")
								ul
									li: .link Изменить диалог
									li: .link(@click="popup.deleteDialog = !0", v-close-popover.all) Удалить диалог
									li: .link(@click="popup.dialogMembers = !0", v-close-popover.all) Участники беседы
							span: include ../../img/svg/ico__dots.svg

		.dialog__body
			vue-scroll(
				@handle-scroll="onScroll", ref="scrollChat", @handle-resize="firstLoad" )
				.dialog__chat
					DialogItem(v-for='(item, index) in list', :item="item", :index="index", :checked='checked', :key="_uid + '_' + item.id + '_' + index", :compact="index > 0 && list[index - 1].userId === item.userId", :showDate="index > 0 && dateCompare(list[index - 1].date, item.date)", :ref="'dialogItem' + item.id")
		.dialog__foot
			.dialog__foot-typing(v-if='typing')
				include ../../img/svg/loading_dots.svg
				span {{ typing }}
			.dialog__foot-typing(v-if='dialogStatusMessage')
				span {{ dialogStatusMessage }}
			.dialog__typewriter(v-if="!disabled")
				.popup__form
					.form__wrap
						FormField(:field='fields.message', v-model='model.dialog_message', ref="dialog_message")
							template(slot="append")
								v-popover.dialog__typewriter-btn.dialog__typewriter-btn_emoji
									template(slot="popover")
										.emoji(v-scrollbar)
											div
												.emoji__item(v-for='item in emojiList')
													img.emoji__img.link(:src="`${imgPath}${item}.png`", @click="emojiPasteImage(`${imgPath}${item}.png`)")


									span(@mousedown="emojiGetPosition", @click="emojiSetPosition"): include ../../img/svg/ico__emoji.svg
								label.dialog__typewriter-btn.dialog__typewriter-btn_attach(:for="addFilesInput"): include ../../img/svg/ico__attach.svg
								.dialog__typewriter-btn.dialog__typewriter-btn_send: include ../../img/svg/ico__send.svg
						.form__field(v-if='share.length')
							.dialog__item-attach
								.dialog__item-attach-remove(@click="clearShare"): include ../../img/svg/ico__clear.svg
								.dialog__item
									.dialog__item-inner
										.dialog__item-logo
											.dialog__item-logo-inner
												.dialog__item-logo-image(:style="'background-image:url('+ share[0].logo +');'")
										.dialog__item-body
											.dialog__item-title <b>{{ share[0].name }}</b> {{ share[0].date | passedTime('textdate') }}
											.dialog__item-text {{ share.length }} {{ share.length | declension('сообщение', 'сообщения', 'сообщений') }}

						FormField(:field='fields.files', v-model='model.dialog_files', ref="dialog_files")

		popup(v-model="popup.dialogMembers", @onClose="popup.dialogMembers = !1").popup_dialog: DialogMembers

		popup(v-model="popup.deleteDialog", @onClose="popup.deleteDialog = !1").popup_info
			.popup__title УДАЛИТЬ ДИАЛОГ
			.popup__text Вы действительно хотите удалить диалог? #[br]Восстановить данные будет невозможно.
			.popup__flex
				span &nbsp;
				span
					.btn.btn_link.c-grey(@click="!popup.hold ? popup.deleteDialog = !1 : false") ОТМЕНА
					.btn.btn_blue(@click="!popup.hold ? removeDialog() : false") УДАЛИТЬ

</template>

<script>

	import DialogItem from './dialog-item.vue'
	import DialogMembers from './membersDialog.vue'
	import _ from 'lodash'
	import { position } from 'caret-pos';	//position
	import emojiList from '../../js/configs/emoji.js'

	export default {

		props: ['id'],

		data() {
			return {

				emojiList: emojiList.emoji,

				imgPath: isLocal ? 'http://lk.headerlink.ru/img/emoji/' : '/img/emoji/',

				popup: {


					deleteDialog: false,
					dialogMembers: false,
					hold: false,
				},

				init: false,

				loading: false,

				allLoaded: false,

				allowEdit: false,

				commentFocused: false,

				disabled: true,

				title: '...',

				dialogStatusMessage: '',

				typing: false,

				list: [],

				checked: [],

				share: [],

				comment: '',

				addFilesInput: '',

				fields:{
					message: {
						type: 'contenteditable',
						name: 'dialog_message',
						//placeholder: 'Напишите сообщение...',
						required: true,
						onChange: (value) => {},
						onKeyup: this.emojiGetPosition
					},
					files: {
						type: 'file',
						name: 'dialog_files',
						max: 8,
						maxSize: 20000000,
						multiple: true,
						comments: false,
						controls: ['remove'],
						clearText: 'Удалить все файлы',
						accept: [],
						onSizeError: (value) => {
							console.info(value);
						},
						onChange: (value) => {},
						onKeyup: (value) => {}
					},
				},

				model: {
					dialog_message: '',
					dialog_files: '',
				},

				caretPosition: 0,
			}
		},

		computed: {
		},

		watch: {

		},

		mounted(){
			this.loadData();


			//console.info(this.$refs.dialog_files.fieldItem.inputId);

			// console.info(this.$refs.dialog_message.fieldItem.$el);
		},

		methods: {

			loadData(append){

				if ( !this.allLoaded ){
					this.loading = true;

					let data = {};

					data.count = 20;
					data.offset = this.list.length;
					data.id = this.id;

					this.$api(
						'getDialog',
						data,
						(res)=>{
							this.title = res.name;

							if ( append ){
								// this.list = this.list.concat(res.list.slice().reverse());

								for (let i = 0; i < res.list.length; i++){
									this.list.unshift(res.list[i])
								}

							} else {
								this.list = res.list.slice().reverse();
							}

							if (res.list.length < data.count) this.allLoaded = true;

							this.disabled = !!res.disabled;
							this.allowEdit = !!res.allowEdit;
							if ( res.message ) this.dialogStatusMessage = res.message;

							if ( !res.disabled ) {
								setTimeout(()=>{
									this.addFilesInput = this.$refs.dialog_files.fieldItem.inputId;
								}, 50);

								this.testInfoMessage();
							}

						},
						(err)=>{
							// error
						},
						()=>{
							this.loading = false;
							// always
						}
					);
				}

			},

			onScroll(e){
				// console.info(e);

				if ( this.init && !this.loading && e.process === 0){
					this.loadData(true);
				}

				this.init = true;
			},


			firstLoad(){
				if ( !this.init ){
					this.scrollTo(0);
				}
			},

			scrollTo(val = 500){
				this.$refs.scrollChat.scrollTo({y: '100%'},val);
			},


			shareInThisDialod(){
				this.share = [];

				for (let i = 0; i < this.checked.length; i++){
					this.share.push(_.find(this.list, e=>e.id === this.checked[i]));
				}

			},

			shareAnotherDialod(){

			},

			removeMessage(){

			},

			removeDialog(){

				this.popup.hold = true;

				this.$api(
					'deleteDialog',
					{id: this.id},
					(res)=>{
						if ( res.status === true ){
							this.popup.deleteDialog = !1;
							this.$emit('onUpdate');
						}
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.popup.hold = false;
					}
				);
			},

			clearShare(){
				this.share = [];

				for (let i = 0; i < this.checked.length; i++){
					this.$refs['dialogItem'+this.checked[i]][0].model = false;
				}
			},


			testInfoMessage(){

				setInterval(()=>{
					this.typing = 'Bartalameo Simpson печатает';

					setTimeout(()=>{
						this.typing = false;
					}, 3000)
				}, 10000)
			},

			dateCompare(d1, d2){
				let date1 = new Date(d1),
					date2 = new Date(d2)
				;

				return `${date1.getDay() + date1.getMonth() + date1.getFullYear()}` !== `${date2.getDay() + date2.getMonth() + date2.getFullYear()}`;
			},

			fixDate(){

			},

			emojiGetPosition(){

				let input = this.$refs.dialog_message.fieldItem.$el;

				if ( !this.$refs.dialog_message.focused ){
					this.placeCaretAtEnd(input);
				}
				this.caretPosition = position(input).pos;

			},

			emojiSetPosition(){

				let input = this.$refs.dialog_message.fieldItem.$el;
				input.focus();
				position(input, this.caretPosition);

			},

			emojiPasteImage(src){

				let image = `<img src="${src}">&nbsp;`;
				this.emojiSetPosition();
				// input.innerHTML = `${html.slice(0, this.caretPosition)}${image}${html.slice(this.caretPosition)}`;

				this.pasteHtmlAtCaret(image);

				this.emojiGetPosition();
				// this.caretPosition++;
				this.emojiSetPosition();

			},

			pasteHtmlAtCaret(html) {
				let sel, range;
				if (window.getSelection) {// IE9 and non-IE
					sel = window.getSelection();
					if (sel.getRangeAt && sel.rangeCount) {
						range = sel.getRangeAt(0);
						range.deleteContents();

						let el = document.createElement("div");
						el.innerHTML = html;
						let frag = document.createDocumentFragment(), node, lastNode;
						while ( (node = el.firstChild) ) {
							lastNode = frag.appendChild(node);
						}
						range.insertNode(frag);

						// Preserve the selection
						if (lastNode) {
							range = range.cloneRange();
							range.setStartAfter(lastNode);
							range.collapse(true);
							sel.removeAllRanges();
							sel.addRange(range);
						}
					}
				} else if (document.selection && document.selection.type !== "Control") {// IE < 9
					document.selection.createRange().pasteHTML(html);
				}
			},

			placeCaretAtEnd(input) {
				input.focus();
				if (typeof window.getSelection != "undefined"
					&& typeof document.createRange != "undefined") {
					var range = document.createRange();
					range.selectNodeContents(input);
					range.collapse(false);
					var sel = window.getSelection();
					sel.removeAllRanges();
					sel.addRange(range);
				} else if (typeof document.body.createTextRange != "undefined") {
					var textRange = document.body.createTextRange();
					textRange.moveToElementText(input);
					textRange.collapse(false);
					textRange.select();
				}
			}

		},

		components:{
			DialogItem,
			DialogMembers
		}

	}
</script>

<style scoped lang="scss">

</style>