<template lang="pug">
	div
		.dialog__date(v-if='showDate || index === 0'): .dialog__date-item {{ item.date | passedTime('textdate') }}

		.dialog__item(:class="{'dialog__item_compact': compact}")
			input(type='checkbox', v-model='model', :id="_uid + '' + item.id").dialog__item-checkbox
			label.dialog__item-inner(:for="_uid + '' + item.id")
				.dialog__item-logo
					.dialog__item-logo-inner(v-if="!compact", :class="{'is-online': item.online}")
						.dialog__item-logo-image(:style="'background-image:url('+ item.logo +');'")
				.dialog__item-body
					.dialog__item-title(v-if="!compact") #[b {{ item.name }}] {{ item.date | passedTime('textdate') }}
					.dialog__item-text(v-html="item.message")
					.dialog__item-files(v-if='item.files')
						.dialog__item-files-link(v-if='item.files.length > filesSplitLength', @click.prevent="filesSplit = !filesSplit")
							span(v-if="filesSplit") Показать все файлы ({{item.files.length}})
							span(v-else) Свернуть файлы
						.dialog__item-files-list
							.dialog__item-file(v-for="file in item.files.slice(0, filesSplit ? filesSplitLength : item.files.length)")
								.dialog__item-file-inner(:style=" file.thumbnail ? 'background-image:url('+ file.thumbnail +');' : ''")
									.dialog__item-file-name(v-if="!file.thumbnail", v-tooltip='file.name') {{ file.name }}
									.dialog__item-file-type {{ file.type }}
							a.dialog__item-files-download(v-tooltip="'Скачать архив'", v-if="item.filesArchive", :href='item.filesArchive', download, target="_blank"): include ../../img/svg/ico__download.svg

					.dialog__item-attach(v-if='item.attach')
						.dialog__item(v-for="attach in item.attach")
							.dialog__item-inner
								.dialog__item-logo
									.dialog__item-logo-inner(:class="{'is-online': attach.online}")
										.dialog__item-logo-image(:style="'background-image:url('+ attach.logo +');'")
								.dialog__item-body
									.dialog__item-title #[b {{ attach.name }}] {{ attach.date | passedTime('textdate') }}
									.dialog__item-text(v-html="attach.message")



			.dialog__item-control
				.dialog__item-control-btn(v-tooltip="'Переслать'", @click.prevent="")
					include ../../img/svg/ico__share.svg
				.dialog__item-control-btn(v-tooltip="'Удалить'", @click.prevent="")
					include ../../img/svg/ico__remove.svg


</template>

<script>

	export default {

		props: ['item', 'checked', 'compact', 'showDate', 'index'],

		data() {
			return {
				model: false,
				filesSplit: true,
				filesSplitLength: 4
			}
		},

		computed: {

		},

		watch: {
			model(v){
				if (v){
					this.checked.push(this.item.id);
				} else {
					this.checked.splice(this.checked.indexOf(this.item.id) , 1);
				}
			}
		},

		mounted(){

		},

		methods: {

		},

		components:{

		}

	}
</script>

<style scoped lang="scss">

</style>