<template lang="pug">
	.category
		.category__wide
			.category__header
				.category__title СОЗДАТЬ ДИАЛОГ
				.category__search
					.form__wrap
						FormField(:field='fields.logo', v-model='model.logo', ref="logo")
						FormField(:field='fields.name', v-model='model.name', ref="name")
						.form__field
							.form__input
								.form__input-ico: include ../../img/svg/ico__lins.svg
								input(@keyup="onSearch", autocomplete="off", placeholder="Поиск по контактам", v-model.trim="search")

				.category__tags(v-if="usersCollect.length")
					.category__tags-title УЧАСТНИКИ
					.category__item(v-for="(user, index) in usersCollect")
						input(type='checkbox', v-model="model.users", :value="user.id" :id="_uid + '_result_' + user.id")
						label.category__item-label(:for="_uid + '_result_' + user.id"): include ../../img/svg/ico__clear.svg
						.category__item-text {{ user.name }}

			.category__body
				.category__list(v-if="!list")
					.category__list-message(v-if='list  === false')
						div
							p У вас пока нет добавленных контактов
							p: .btn.btn_blue НАЙТИ КОНТАКТЫ
					.category__list-message(v-else)
						div
							p Контактов не найдено

				.category__list(v-else)
					vue-scroll
						.corpus__list(v-if="list")
							.corpus__table

								.corpus__item.corpus__item_notebook(v-for='(item, index) in list', :key="index")
									.corpus__item-col.corpus__item-col_check
										.form__field
											.form__input
												input(@change="", type="checkbox", :value="item.id", v-model="model.users", :id="'_' + item.id+'_'+_uid")
												label(:for="'_' + item.id+'_'+_uid") &nbsp;
									.corpus__item-col
										.corpus__item-logo(:style="'background-image:url('+ item.logo +');'")
										span
											.corpus__item-title {{ item.name }}

			.category__footer.tar
				.btn.btn_link(@click="close") ОТМЕНА
				.btn.btn_blue СОЗДАТЬ ДИАЛОГ

</template>

<script>

	export default {

		data() {
			return {

				list: [],

				search: '',

				fields: {
					logo: {
						type: 'logo',
						maxWidth: 600,
						popupTitle: 'ЗАГРУЗИТЬ ФОТО ДИАЛОГА',
						name: 'dialog_logo',
						cropOriginal: '',
						cropCoordinates: '',
						controls: false,

						onSave: (value, data) => {
							if (data.cropOriginal) this.fields.logo.cropOriginal = data.cropOriginal;
							if (data.cropCoordinates) this.fields.logo.cropCoordinates = data.cropCoordinates;
						},

					},
					name: {
						type: 'text',
						name: 'dialog_name',
						placeholder: 'Название беседы',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_1-3'
					},
				},

				usersCollect: [],

				model: {
					dialog_logo: '',
					name: '',
					users: [],
				}

			}
		},


		computed:{
			updateUsers(){
				return this.model.users;
			}
		},

		watch:{
			updateUsers(){

				/**
				 * todo передалать
				 *
				 */

				this.usersCollect = [];
				for (let i = 0; i < this.list.length; i++){
					if ( this.model.users.indexOf(this.list[i].id) >= 0 ){
						console.info(this.list[i].id);
						this.usersCollect.push(this.list[i])
					}
				}
			}
		},

		mounted(){

			this.loadData();
		},

		methods:{
			loadData(){

				this.loading = true;

				let data = {};

				this.$api(
					'getNewDialogUsersList',
					data,
					(res)=>{
						if (res.list) {
							this.list = res.list;
							// this.list = false;
						}
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			close(e){
				this.$parent.$emit('onClose');
			},

			onSearch(){

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


