<template lang="pug">
	.main__inner
		header-wrap
			template(slot="title")
				h1 {{ $route.meta.title }}
			template(slot="control")
				.btn.btn_green(@click="popupAddDialog = !0") СОЗДАТЬ ДИАЛОГ


		.content(:class="{'content_loading': loading}")
			corpus(:options="corpus.options", :list="corpus.list", :type="'dialogs'",
				@onLimitChange="onLimitChange",
				@onSearch="onSearch",
				@onTabChange="onTabChange",
				@onChooseDialog="onChooseDialog",
				@onScrollComplete="onScrollComplete")
				.corpus__message(slot="notFound")
					.corpus__message-event
						.corpus__message-event-title Диалогов не найдено
						.corpus__message-event-text Попробуйте еще раз
				.corpus__aside(slot="aside")
					.corpus__aside-dialog(v-if="this.corpus.list.current")
						Dialog(:id="corpus.list.current", @onClose="corpus.list.current = false", :key="corpus.list.current", @onUpdate="onUpdate")
					.corpus__message(v-else)
						.corpus__message-event
							.corpus__message-event-title Диалог не выбран
							.corpus__message-event-text Пожалуйста, выберите диалог или создайте новый

		popup(v-model="popupAddDialog", @onClose="popupAddDialog = !1").popup_dialog: AddDialog
</template>



<script>

	import Dialog from './dialog.vue'
	import AddDialog from './form'
	import _ from 'lodash'

	export default {
		data () {
			return {
				loading: false,

				popupAddDialog: false,

				corpus: {
					options: {

						tabs: {
							list: [

							],
							active: false,
						},

						search: {
							placeholder: 'Найти диалог'
						},

						pager: false,

						itemsPerPage: 20
					},
					list: {
						current: false,
						checked: true,
						query: '',
						header: [],
						page: 0,
						count: false,
						items:[]
					}
				}
			}
		},

		mounted(){

			this.loadData();

		},

		methods: {

			loadData(add){

				this.loading = true;

				let data = {};
				data.limit = this.corpus.options.itemsPerPage;
				data.offset = this.corpus.options.itemsPerPage * this.corpus.list.page;
				if (this.corpus.options.tabs.active) data.group = this.corpus.options.tabs.active;
				if (this.corpus.list.query) data.query = this.corpus.list.query;

				this.$api(
					'getDialogsList',
					data,
					(res)=>{
						if (res.groups) this.corpus.options.tabs.list = res.groups;
						if (res.currentGroup) this.corpus.options.tabs.active = res.currentGroup;
						if (res.count) this.corpus.list.count = res.count;

						if ( add ) {
							this.corpus.list.items = this.corpus.list.items.concat(res.list);
						} else {
							this.corpus.list.items = res.list;
						}

					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			onLimitChange(value){
				this.corpus.options.itemsPerPage = value;
				this.corpus.list.page = 0;
				this.loadData();
			},

			onSearch(value){
				console.info('onSearch', value);
				this.corpus.list.page = 0;
				this.corpus.list.query = value;

				this.loadData();
			},

			onTabChange(value){
				console.info('onTabChange', value);
				this.corpus.options.tabs.active = value;
				this.corpus.list.page = 0;
				this.loadData();
			},

			onScrollComplete(value){
				if ( !this.loading && value === 1 && this.corpus.list.count > this.corpus.list.items.length ){
					this.corpus.list.page++;
					this.loadData(true);
				}
			},

			onUpdate(){
				this.corpus.list.current = false;
				this.loadData();
			},

			onChooseDialog(id){

				// console.info(id);

				this.corpus.list.current = id;
			}
		},

		components:{
			Dialog,
			AddDialog
		}
	}
</script>


<style lang="scss">

</style>