<template lang="pug">
	.category
		.category__wide
			.category__header
				.popup__title УЧАСТНИКИ БЕСЕДЫ
				.popup__subtitle.c-blue «Давайте купим трактор»

			.category__body
				.category__list
					vue-scroll
						.corpus__list(v-if="list")
							.corpus__table

								.corpus__item.corpus__item_notebook(v-for='(item, index) in list', :key="index")
									.corpus__item-col
										.corpus__item-logo(:style="'background-image:url('+ item.logo +');'")
										span
											.corpus__item-title {{ item.name }}
											.corpus__item-text.c-grey(v-if='item.status') {{ item.status }}
									.corpus__item-col.corpus__item-col_control(v-if='!item.hold')
										.corpus__item-ico.link(@click="confirmRemove(item)"): include ../../img/svg/ico__clear.svg

			.category__footer.tar
				.btn.btn_link.c-blue ДОБАВИТЬ УЧАСТНИКОВ
				.btn.btn_link.c-grey(@click="close") ЗАКРЫТЬ


		popup(v-model="popup.removeUser", @onClose="popup.removeUser = !1").popup_info
			.popup__title УДАЛИТЬ УЧАСТНИКА
			.popup__text Вы уверены, что хотите исключить <b class="c-black">{{ userToRemove.name }}</b> из беседы? #[br]Это действие нельзя будет отменить.
			.popup__flex
				span &nbsp;
				span
					.btn.btn_link.c-grey(@click="!popup.hold ? popup.removeUser = !1 : false") ОТМЕНА
					.btn.btn_blue(@click="!popup.hold ? removeUser() : false") УДАЛИТЬ

</template>

<script>

	export default {

		data() {
			return {

				popup: {
					removeUser: false,
					hold: false
				},

				userToRemove: {},

				list: [],
			}
		},


		computed:{

		},

		watch:{

		},

		mounted(){

			this.loadData();
		},

		methods:{
			loadData(){

				this.loading = true;

				let data = {};

				this.$api(
					'getDialogUsersList',
					data,
					(res)=>{
						if (res.list) {
							this.list = res.list;
							// this.list = false;
						}
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			close(e){
				this.$parent.$emit('onClose');
			},

			confirmRemove(item){
				this.popup.removeUser = true;
				this.userToRemove = item;
			},

			removeUser(){

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


