<template lang="pug">
	.corpus__item.corpus__item_employee
		.corpus__item-col.corpus__item-col_check(v-if="checkbox")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model.item_checked", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;
		.corpus__item-col
			.corpus__item-favorite(:class="item.status.favorite ? 'is-active' : ''", v-tooltip="item.status.favorite ? 'Убрать из избранного' : 'Добавить в избранное'"): include ../../img/svg/ico__favorite.svg
			.corpus__item-logo(:style="'background-image:url('+ item.info.photo +');'", :class="item.status.online === true ? 'is-online' : ''")
			.corpus__item-subtitle {{ item.info.name }}
		.corpus__item-col
			template(v-if="item.info.position.length")
				span {{ item.info.position[0] }}
				v-popover(v-if="item.info.position.length > 1").corpus__item-more
					template(slot="popover")
						ul
							li.nobr(v-for="(position, index) in item.info.position", v-if="index > 0") {{ position }}
					span.more еще {{ item.info.position.length - 1 }}
			template(v-else) Не назначена
		.corpus__item-col
			template(v-if="item.info.contact.length")
				span {{ item.info.contact[0] }}
				v-popover(v-if="item.info.contact.length > 1").corpus__item-more
					template(slot="popover")
						ul
							li.nobr(v-for="(contact, index) in item.info.contact", v-if="index > 0") {{ contact }}
					span.more еще {{ item.info.contact.length - 1 }}
			template(v-else) Нет контактов

		.corpus__item-col.corpus__item-col_hover.corpus__item-col_right
			.corpus__item-pass
				.corpus__item-pass-control(v-if="item.status.fired")
					span.c-green ВОССТАНОВИТЬ
				.corpus__item-pass-control(v-else-if="item.status.follow")
					span.c-green ПРИНЯТЬ ЗАЯВКУ
				.corpus__item-pass-control(v-else-if="item.status.invite")
					span.c-grey ОТМЕНИТЬ ЗАЯВКУ


		.corpus__item-col.corpus__item-col_control
			.corpus__item-ico: include ../../img/svg/ico__edit.svg

			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: .link Что сделать с контактом
						li: .link Что сделать с контактом
						li: .link Что сделать с контактом
				span: include ../../img/svg/ico__dots.svg



</template>

<script>

	export default {

		props: ['item', 'checkbox', 'model'],

		data() {
			return {

			}
		},

		created(){

		},

		updated(){

		},

		mounted(){

		},

		methods:{

		},

		components:{
		}

	}
</script>

<style lang="scss">

</style>


