<template lang="pug">
	.corpus__item.corpus__item_notification
		.corpus__item-col.corpus__item-col_check(v-if="checkbox")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model.item_checked", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.corpus__item-col
			.corpus__item-logo(:style="'background-image:url('+ item.info.photo +');'")
			.corpus__item-title(v-html="item.info.title")

		.corpus__item-col {{ item.info.date | passedTime }}

		.corpus__item-col.corpus__item-col_control
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: .link Что сделать с профилем
						li: .link Что сделать с профилем
						li: .link Что сделать с профилем
						li: .link Что сделать с профилем
				span: include ../../img/svg/ico__dots.svg



</template>

<script>

	export default {

		props: ['item', 'checkbox', 'model'],

		data() {
			return {

			}
		},

		created(){

		},


		updated(){

		},

		mounted(){

		},

		methods:{

		},

		components:{
		}

	}
</script>

<style lang="scss">

</style>


