<template lang="pug">
	.corpus__item.corpus__item_dialogs
		.corpus__item-col.corpus__item-col_check(v-if="checkbox")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model.item_checked", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.corpus__item-col.corpus__item-col_nw
			.corpus__item-favorite(:class="item.status.favorite ? 'is-active' : ''", v-tooltip="item.status.favorite ? 'Убрать из избранного' : 'Добавить в избранное'"): include ../../img/svg/ico__favorite.svg
			.corpus__item-logo(:class="[item.status.online ? 'is-online' : '', item.info.logo.length < 4 ? 'corpus__item-logo_' + item.info.logo.length : 'corpus__item-logo_4']")
				.corpus__item-logo-wrap
					.corpus__item-logo-image(v-for='(image, index) in item.info.logo', v-if="index < 4", :style="'background-image:url('+ image +');'")
		.corpus__item-col(@click="$emit('onChooseDialog', item.id)")
			.corpus__item-description
				.corpus__item-description
					.corpus__item-title(v-if="item.info.members") <b>Групповой диалог</b> <span class="c-grey">{{ item.info.members }} {{ item.info.members | declension('участник', 'участника', 'участников') }} </span>
					.corpus__item-title(v-else) {{ item.info.title }}
					.corpus__item-subtitle
						span(v-if="item.info.unview").dot.c-blue: i
						| {{ item.info.description }}


		.corpus__item-col.corpus__item-col_right.corpus__item-col_counter(@click="$emit('onChooseDialog', item.id)")
			.counter(v-if='item.info.unread') {{ item.info.unread }}

		.corpus__item-col.corpus__item-col_right(@click="$emit('onChooseDialog', item.id)") {{ item.info.date | passedTime }}

</template>

<script>

	export default {

		props: ['item', 'checkbox', 'model'],

		data() {
			return {

			}
		},

		created(){

		},

		updated(){

		},

		mounted(){

		},

		methods:{

		},

		components:{

		}

	}
</script>

<style lang="scss">

</style>


