<template lang="pug">
	.corpus__item.corpus__item_balance
		.corpus__item-col.corpus__item-col_check
			span(v-if="item.info.price < 0 ").c-red: include ../../img/svg/ico__minus.svg
			span(v-else).c-green: include ../../img/svg/ico__plus.svg

		.corpus__item-col
			.corpus__item-title(v-html="item.info.title")


		.corpus__item-col {{ item.info.date | passedTime }}

		.corpus__item-col.corpus__item-col_right
			.corpus__item-price  {{ item.info.price > 0 ? '+' : '' }} {{ item.info.price | discharge() }} ₽

		.corpus__item-col.corpus__item-col_control
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: .link Что сделать с профилем
						li: .link Что сделать с профилем
						li: .link Что сделать с профилем
						li: .link Что сделать с профилем
				span: include ../../img/svg/ico__dots.svg



</template>

<script>

	export default {

		props: ['item', 'checkbox'],

		data() {
			return {

			}
		},

		created(){

		},

		updated(){

		},

		mounted(){

		},

		methods:{

		},

		components:{
		}

	}
</script>

<style lang="scss">

</style>


