<template lang="pug">
	.corpus__item.corpus__item_headings
		.corpus__item-col.corpus__item-col_check(v-if="checkbox")
			.form__field
				.form__input
					input(@change="", type="checkbox", :value="item.id", v-model="model.item_checked", :id="'_' + item.id+'_'+_uid")
					label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.corpus__item-col
			.corpus__item-logo.b-green(v-if="item.status.own") C
			.corpus__item-logo.b-yellow(v-else-if="item.status.rent") А
			.corpus__item-logo.b-blue(v-else-if="item.status.track") О

			span.c-blue {{ item.info.title }}

		.corpus__item-col.corpus__item-col_right {{ item.info.rate }}

		.corpus__item-col.corpus__item-col_right
			span {{ Math.abs(item.info.popularity) }}
			i(v-if="item.info.popularity < 0").ico.ico_index.c-red: include ../../img/svg/ico__down.svg
			i(v-else).ico.ico_index.c-green: include ../../img/svg/ico__up.svg

		.corpus__item-col.corpus__item-col_right
			.corpus__item-state(v-for="state in item.info.state") {{ state }}
			.corpus__item-pass(v-if="item.info.pass")
				.corpus__item-pass-line(:class="passLevel()")
					.corpus__item-pass-line-inner(:style="'width:'+ item.info.pass.percent +'%;'")
				.corpus__item-pass-info {{ item.info.pass.message }}



		.corpus__item-col.corpus__item-col_right
			.corpus__item-price(v-if="item.info.price") {{ item.info.price | discharge() }} ₽
			.corpus__item-price(v-if="item.info.priceInMonth") {{ item.info.priceInMonth | discharge() }} ₽/мес

		.corpus__item-col.corpus__item-col_hover.corpus__item-col_right
			.corpus__item-pass
				.corpus__item-pass-text(v-if="item.event.sale")
					span.c-green.link ПРОДАТЬ
				.corpus__item-pass-text(v-if="item.event.buy")
					span.c-green.link КУПИТЬ
				.corpus__item-pass-text(v-if="item.event.getRent")
					span.c-green.link ВЗЯТЬ В АРЕНДУ
				.corpus__item-pass-text(v-if="item.event.setRent")
					span.c-green.link СДАТЬ В АРЕНДУ
				.corpus__item-pass-text(v-if="item.event.endRent")
					span.c-grey.link ОТМЕНИТЬ АРЕНДУ
				.corpus__item-pass-text(v-if="item.event.changeСonditions")
					span.c-grey.link ИЗМЕНИТЬ УСЛОВИЯ

		.corpus__item-col.corpus__item-col_control

			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li: .link Подробнее
						li: .link Связаться с владельцем
						li: .link Еще что-то
				span: include ../../img/svg/ico__dots.svg

</template>

<script>

	export default {

		props: ['item', 'checkbox', 'model'],

		data() {
			return {

			}
		},

		created(){

		},

		updated(){

		},

		mounted(){

		},

		methods:{

			passLevel(){

				let val = '';

				if ( this.item.status.archive || this.item.status.moderate){
					val = '';
				} else if ( this.item.status.discard ){
					val = 'is-min';
				} else if ( this.item.info.pass.percent > 66 ){
					val = 'is-max';
				} else if ( this.item.info.pass.percent > 33 ){
					val = 'is-mid';
				} else if  ( this.item.info.pass.percent > 0 ){
					val = 'is-min';
				} else {
					val = '';
				}

				return val;
			}
		},

		components:{

		}

	}
</script>

<style lang="scss">

</style>


