<template lang="pug">
	.corpus(:class="'corpus_' + type")
		.corpus__tabs(v-if='options.tabs.list.length && !!list.items', v-dragscroll.x)
			.corpus__tabs-item(v-for='(tab, index) in options.tabs.list', :key='index', :class="((!options.tabs.active && index === 0) || (tab.id === options.tabs.active)) ? 'is-active' : ''", @click="onTabChange((!options.tabs.active && index === 0) || (tab.id === options.tabs.active) ? false : tab.id)") {{ tab.name }}

		.corpus__body
			.corpus__body-inner
				.corpus__search(v-if="options.search && !!list.items")
					input(type='text', @keyup="onSearch", v-model.trim='page.search', autocomplete='off', :placeholder='options.search.placeholder')
					.corpus__search-ico: include ../../img/svg/ico__lins.svg

				.corpus__list(v-if="list.items.length")
					.corpus__list-inner
						vue-scroll(@handle-scroll="$emit('onScrollComplete', $event.process)")
							.corpus__table
								.corpus__table-head(v-if='list.header.length')
									.corpus__table-col.corpus__table-col_check(v-if='list.checked'): .checkbox(:class='{"is-checked" : page.checked}', @click="checkItems()")
									.corpus__table-col(v-for='(column, index) in list.header', :key='index', :class="column.align ? 'corpus__table-col_' + column.align : ''")
										span(v-html='column.value')
										span.i-info(v-if="column.tooltip", v-tooltip="column.tooltip") ?


								div(:is="`corpus-${type}-item`", v-for='(item, index) in list.items', :key="index", :item="item", :checkbox="list.checked", :model="model" , :ref="'item_' + item.id", @onUpdate="$emit('onUpdate')", @onChooseDialog="$emit('onChooseDialog', $event)", :class="item.id === list.current ? 'is-active' : ''")

					.corpus__checked(v-if="model.item_checked.length > 0")
						.corpus__checked-checkbox: .checkbox.is-checked
						.corpus__checked-info Отмечено: #[span {{ model.item_checked.length }}/{{ list.count }}]
						.corpus__checked-control
							span(@click="popupDeleteItem = !0") УДАЛИТЬ
							span ПОДЕЛИТЬСЯ

				slot(v-if="!list.items", name="noItems")

				slot(v-if="Array.isArray(list.items) && !list.items.length", name="notFound")

				.corpus__footer(v-if="list.items.length && options.pager !== false")
					.corpus__paging
						template(v-if='pagerData().pages > 1')
							.corpus__paging-title Страницы
							.corpus__paging-list
								.corpus__paging-item(v-if='list.page > 0', @click="onPagerClick('prev')") Предыдущая
								.corpus__paging-item(v-for='(page, index) in pagerData().pagination', :key='index', :class="page === list.page + 1 ? 'is-active' : ''", @click="onPagerClick(page !== list.page + 1 && typeof page === 'number' ? page - 1 : false )") {{ page }}
								.corpus__paging-item(v-if='list.page < pagerData().pages - 1', @click="onPagerClick('next')") Следующая

					.corpus__show
						.corpus__show-label На странице
						FormField(:field='pagerValueSelect', v-model='model.select_limit', ref="limit").corpus__show-select
			.corpus__body-inner(v-if="$slots.aside")
				slot(name="aside")

		popup(v-model="popupDeleteItem", @onClose="popupDeleteItem = !1").popup_info
			.popup__title ПОДТВЕРДИТЬ
			.popup__text
				| Вы уверены что хотите удалить {{ model.item_checked.length }}&nbsp;
				span(v-if="type === 'advert'") {{ model.item_checked.length | declension('объявление', 'объявления', 'объявлений')}}.
				span(v-else-if="type === 'news'") {{ model.item_checked.length | declension('новость', 'новости', 'новостей')}}.
				span(v-else-if="type === 'branches'") {{ model.item_checked.length | declension('филиал', 'филиала', 'филиалов')}}.
				span(v-else-if="type === 'articles'") {{ model.item_checked.length | declension('статью', 'статьи', 'статей')}}.
				span(v-else) {{ model.item_checked.length | declension('объект', 'объекта', 'объектов')}}.
			.popup__flex
				span &nbsp;
				span
					.btn.btn_link.c-grey(@click="popupDeleteItem = !1", :class="{'btn_loading': popupDeleteHold}") ОТМЕНА
					.btn.btn_red(@click="deleteItem()", :class="{'btn_loading': popupDeleteHold}") УДАЛИТЬ

</template>

<script>

	import CorpusEmployeeItem from './corpus-employee.vue'
	import CorpusHeadingsItem from './corpus-headings.vue'
	import CorpusDialogsItem from './corpus-dialogs.vue'
	import CorpusNotebookItem from './corpus-notebook.vue'
	import CorpusBalanceItem from './corpus-balance.vue'
	import CorpusNotificationsItem from './corpus-notifications.vue'
	import _ from 'lodash'

	export default {

		props: ['options', 'list', 'type'],

		data() {

			return {

				popupDeleteItem: false,
				popupDeleteHold: false,

				model: {
					select_limit: this.options.itemsPerPage || 10,
					item_checked: []
				},

				pagerValueSelect:{
					type: 'select',
					name: 'select_limit',
					placeholder: '',
					items: [
						{
							value: 10,
							label: '10'
						},
						{
							value: 20,
							label: '20'
						},
						{
							value: 40,
							label: '40'
						}
					],
					onChange: (value)=>{
						this.$emit('onLimitChange', value);
					}
				},

				page: {
					search: '',			// значение в поисковой строке
					checked: false		// выделены все объекты на странице
				},

			}
		},


		created(){

		},

		mounted(){


		},

		computed: {
			itemsChecked() {
				return this.model.item_checked;
			},

			itemsUpdate() {
				return this.list.items;
			},
		},

		watch: {
			itemsChecked() {
				this.detectChecks();
			},

			itemsUpdate() {
				this.detectChecks();
			},
		},

		methods: {

			pagerData(){
				let data = {};
				data.count = this.list.count;
				data.pages = Math.ceil(data.count / this.options.itemsPerPage);

				data.pagination = this.pagination(this.list.page + 1, data.pages );

				return data;
			},

			deleteItem(){

				let data = {}, method = '';

				data.delete = this.model.item_checked;

				switch (this.type){
					case 'advert':
						method = 'deleteAdvert';
						break;
					case 'branches':
						method = 'deleteBranch';
						break;
					case 'articles':
						method = 'deleteArticle';
						break;
					case 'news':
						method = 'deleteNews';
						break;
				}

				this.popupDeleteHold = true;

				if ( method ){

					this.$api(
						method,
						data,
						(res)=>{
							if ( res.status === true ){
								this.$emit('onUpdate');
								this.model.item_checked = [];
								this.popupDeleteItem = !1;
							}
						},
						(err)=>{
							// error
						},
						()=>{
							// always
							this.popupDeleteHold = false;
						}
					);
				}

			},

			onTabChange(id){
				if ( id !== false ) this.$emit('onTabChange', id);
			},

			onPagerClick(value){
				if ( value !== false ) this.$emit('onPagerClick', value);
			},

			pagination(c, m) {
				let current = c,
					last = m,
					delta = 2,
					left = current - delta,
					right = current + delta + 1,
					range = [],
					rangeWithDots = [],
					l;

				for (let i = 1; i <= last; i++) {
					if (i === 1 || i === last || i >= left && i < right) {
						range.push(i);
					}
				}

				for (let i of range) {
					if (l) {
						if (i - l === 2) {
							rangeWithDots.push(l + 1);
						} else if (i - l !== 1) {
							rangeWithDots.push('...');
						}
					}
					rangeWithDots.push(i);
					l = i;
				}

				return rangeWithDots;
			},

			onSearch: _.debounce(function(e){

				this.$emit('onSearch', this.page.search);

			}, 300),

			checkItems(){
				if (this.page.checked){
					for(let i = 0; i < this.list.items.length; i++){
						if ( this.model.item_checked.indexOf(this.list.items[i].id) >= 0 ) {
							this.model.item_checked.splice(this.model.item_checked.indexOf(this.list.items[i].id), 1);
						}
					}
				} else {
					for(let i = 0; i < this.list.items.length; i++){
						if ( this.model.item_checked.indexOf(this.list.items[i].id) < 0 ) this.model.item_checked.push(this.list.items[i].id);
					}
				}
			},

			detectChecks(){
				let count = 0;

				for(let i = 0; i < this.list.items.length; i++){
					if ( this.model.item_checked.indexOf(this.list.items[i].id) >= 0 ) count++;
				}

				this.page.checked = count === this.list.items.length;
			},

		},

		components:{

			CorpusEmployeeItem,
			CorpusHeadingsItem,
			CorpusBalanceItem,
			CorpusDialogsItem,
			CorpusNotebookItem,
			CorpusNotificationsItem
		}

	}
</script>

<style lang="scss">

</style>


