<template lang="pug">
	popup(v-model="popup", @onClose="close").popup_catcategories
		.popup__catcategories
			.popup__catcategories-main
				.popup__catcategories-head
					.popup__title ВЫБЕРИТЕ РАЗДЕЛ
					.popup__search
						m-form-input(
							v-model="search",
							@input="onSearch",
							placeholder="Поиск",
						)
				.popup__catcategories-body
					.popup__catcategories-body-main
						.popup__catcategories-scroll(v-scrollbar)
							.popup__catcategories-inner
								.popup__catcategories-item(v-for="(item, index) in sectionCreationCategory", @click="click(item, index)", :class="{'is-active': active === index}")
									.popup__catcategories-item-text {{item.name}}

					.popup__catcategories-body-list
						.popup__catcategories-scroll(v-scrollbar)
							.popup__catcategories-inner
								creator-item(v-for="item in children", :item="item", :key="item.id", :model="model", :search="search")

			.popup__catcategories-aside
				.popup__catcategories-aside-title ВЫБРАНО
				.popup__catcategories-aside-list
					.popup__catcategories-scroll(v-scrollbar)
						.popup__catcategories-inner
							.popup__catcategories-aside-item(v-for="item in model", @click="remove(item)")
								.popup__catcategories-aside-name {{ store[item].name }}
								.popup__catcategories-aside-remove: icon(name="remove")
				.popup__catcategories-aside-foot
					btn-item(blue @click="submit", :disabled="!model.length") ПОДТВЕРДИТЬ
					btn-item.c-grey(link @click="close") ОТМЕНА

</template>

<script>

	import {mapActions, mapState} from 'vuex'
	import CreatorItem from './item'
	import {debounce} from "lodash";

	let timer = null;

	export default {

		provide(){
			return {
				click: this.click,
			}
		},

		components: {
			CreatorItem
		},

		props: {
			type: {
				type: [String, Number],
				default: null
			},
			value: {
				type: Array,
				default: []
			}
		},

		data(){
			return {
				popup: true,
				search: '',
				active: 0,
				store: {},
				allListLoaded: true,
			}
		},

		computed: {

			...mapState({
				sectionCreationCategory: state => state.base.sectionCreationCategory
			}),

			model:{
				get(){
					return this.value;
				},
				set(value){
					this.$emit('input', value);
				}
			},

			children(){
				return this.sectionCreationCategory[this.active] ? this.sectionCreationCategory[this.active].children : [];
			}

		},

		mounted() {
			this.getCategory({type: this.type, search: ''});
			this.allListLoaded = true;
		},

		methods: {

			...mapActions('base', ['getCategory']),

			close(){
				this.$emit('onClose');
			},

			onSearch(){
				if ( this.search.length >= 5){
					this.allListLoaded = false;
					clearTimeout(timer);
					timer = setTimeout(()=>{
						this.getCategory({type: this.type, search: this.search});
					}, 800)
				} else if (!this.allListLoaded) {
					this.getCategory({type: this.type, search: ''});
					this.allListLoaded = true;
				}
			},

			click(item, idx){
				if (idx !== undefined) {
					this.active = idx;
				} else if (item) {
					let index = this.model.findIndex(id => id === item.id);
					if ( index >= 0 ){
						this.model = [...this.model.slice(0, index), ...this.model.slice(index + 1)];
					} else {
						this.model = [...this.model, item.id];
						this.store[item.id] = item;
					}
				}

			},

			remove(item){
				let index = this.model.findIndex(id => id === item);
				if ( index >= 0 ){
					this.model = [...this.model.slice(0, index), ...this.model.slice(index + 1)];
				}
			},

			submit(){
				if (!this.model.length) return false;
				this.$emit('onSubmit', this.model)
			}
		}
	}
</script>

<style scoped lang="scss">

	.popup_catcategories{
		&::v-deep{
			.popup__layout{
				width: 1470px;
			}

			.popup__content{
				padding: 0;
			}
		}
	}

	.popup__catcategories{
		display: flex;

		&-main{
			width: 80%;
			display: flex;
			flex-direction: column;
		}

		&-aside{
			width: 20%;
			border-left: 1px solid $colorGreyLight;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;

			&-title{
				padding: 30px 30px 0 30px;
				color: $colorBlack;
			}

			&-list{
				position: relative;
				flex: 1;
			}

			&-foot{
				padding: 30px;
			}

			&-item{
				display: flex;
				align-items: center;
				cursor: pointer;
				margin-bottom: 10px;

				&:hover{
					color: $colorRed;
				}
			}

			&-name{
				flex: 1;
			}

			&-remove{
				min-width: 24px;
			}
		}

		&-head{
			display: flex;
			align-items: center;
			border-bottom: 1px solid $colorGreyLight;

			.popup__title{
				width: 25%;
				text-align: left;
				margin: 0;
				box-sizing: border-box;
				padding: 30px;
			}

			.popup__search{
				width: 75%;
				padding: 30px 30px 30px 0;
				box-sizing: border-box;
			}
		}

		&-body{
			display: flex;
			flex: 1;
			height: calc(100vh - 200px);

			&-main{
				width: 25%;
				border-right: 1px solid $colorGreyLight;
				height: 100%;
				position: relative;
			}
			&-list{
				width: 75%;
				height: 100%;
				position: relative;

				.popup__catcategories-inner{
					columns: 3;
				}
			}
		}

		&-scroll{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-item{
			cursor: pointer;
			margin: 0 -20px 10px -10px;
			line-height: (21 / 13);
			padding: 5px 20px 5px 10px;
			border-radius: 3px;
			user-select: none;

			&.is-active{
				.popup__catcategories-body-main &{
					background: $colorBlue;
					color: #fff;
				}
			}
		}

		&-inner{
			padding: 30px;
		}
	}

</style>