<template lang="pug">
	div(:class="{'popup__catcategories-inside': inside && deep > 1}").popup__catcategories-out
		.popup__catcategories-item(@click="clickAction()", :class="classList")
			.popup__catcategories-item-text {{item.name}}
			.popup__catcategories-item-plus(v-if="!hasChild"): icon(name="plus")
		creator-item(v-for="child in item.children", :item="child", :key="child.id", :model="model", :inside="true", :deep="deep + 1")

</template>

<script>

	import CreatorItem from './item'

	export default {

		name: "creator-item",

		inject: ['click'],

		components: {
			CreatorItem
		},

		props: {
			deep: {
				type: Number,
				default: 0
			},
			item: { },
			inside: {
				type: Boolean,
				default: false,
			},
			model: {
				type: Array,
				default: []
			},
			search: {}
		},

		data(){
			return {

			}
		},

		computed: {
			classList(){
				return {
					'is-active': this.model.indexOf(this.item.id) >= 0,
					'has-child': this.hasChild,
					'popup__catcategories-item_title': this.item.children && this.item.children.length && this.deep === 0
				}
			},

			hasChild(){
				return this.item.children && this.item.children.length
			}
		},

		methods: {
			clickAction(){
				if (!this.hasChild) this.click(this.item);
			},

			isFound(){
				if ( !this.search ) return true;
			}
		}

	}
</script>

<style scoped lang="scss">

	.popup__catcategories-inside{
		padding-left: 20px;
	}

	.popup__catcategories-out{
		break-inside: avoid;
	}


	.popup__catcategories-item{
		cursor: pointer;
		margin: 0 0 10px 0;
		line-height: (21 / 13);
		padding: 5px 20px 5px 0;
		border-radius: 3px;
		user-select: none;
		color: #6A6A6A;
		display: flex;
		break-inside: avoid;

		&-text{
			flex: 1;
		}

		&-plus{
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: $colorBlue;
			color: #fff;
			min-width: 20px;
			margin-left: 10px;
			opacity: 0;

			.icon{
				width: 100%;
				height: 100%;
			}
		}

		&:hover{
			color: $colorBlue;

			.popup__catcategories-item-plus{
				opacity: 1;
			}
		}

		&.has-child{
			color: inherit!important;
		}

		&_title{
			font-weight: bold;
			color: $colorBlack!important;
			cursor: default;
		}

		&_inside{

		}

		&.is-active{
			opacity: .5;

			.popup__catcategories-item-plus{
				opacity: 0!important;
			}
		}
	}

</style>