<template lang="pug">
	kit-wrap(:title="title", :hide="options.hide", :disable="options.disable", :compact="compact", :loading="loading")
		template(slot="menu")
			v-popover.corpus__item-ico
				template(slot="popover")
					ul
						li
							.link(v-if="options.hide", @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Развернуть
							.link(v-else, @click="$emit('toggle', {name: 'hide'})", v-close-popover.all) Свернуть
						li: .link Помощь
				icon(name="dots")

		template(slot="body")
			.kit__scroll(v-scrollbar)
				.corpus__list
					.corpus__table
						.corpus__item.corpus__item_notification(v-for="item in main.list")
							.corpus__item-col.corpus__item-col_image
								.corpus__item-logo(:style="'background-image:url('+ item.info.photo +');'")
							.corpus__item-col
								.corpus__item-title(v-html="item.info.title")
								.corpus__item-subtitle {{ item.info.date | passedTime }}



</template>

<script>
	export default {

		props: ['options'],

		data() {
			return {
				compact: false,
				loading: this.options.disable !== undefined ? !this.options.disable : false,

				title: this.options.title,
				hide: this.options.hide,
				disable: this.options.disable,

				main: {
					list: []
				}
			}
		},

		mounted(){
			if ( !this.options.disable ) this.loadData();
		},

		methods: {
			loadData(){

				let data = {};

				this.$api(
					'getKitNotifications',
					data,
					res=>{
						this.main = res;
					},
					()=>{

					},
					()=>{
						this.loading = false;
					}
				);
			}
		}

	}
</script>

<style lang="scss">

</style>


