<template lang="pug">
	div
		.popup__title РАЗМЕСТИТЬ ПРЕДЛОЖЕНИЕ НА ВИТРИНУ
		.popup__form
			.form__wrap
				FormField(:field='fields.title', v-model='model.advert_title', ref="advert_title")
					template(slot="dropdown", v-if="foundAdvert && foundAdvert.length && showFoundList")
						table.form__table
							tbody(v-for='(list, index) in foundAdvert')
								tr
									td(colspan='4').form__table-head
										| {{ list.title }} ({{list.items.length}})&nbsp;&nbsp;
										span.c-blue(@click="showFoundAdvert(index)", v-if="list.items.length > list.show").link Смотреть все
								tr(v-for='(item, itemIndex) in list.items', v-if='itemIndex < list.show')
									td(v-html='item.name')
									td
										span {{ item.rate }}
										span.i-info(v-if='item.rateComment', v-tooltip="item.rateComment") ?
									td
										span(v-html='item.price')
									td
										span(v-if="item.action === 'use'", @click="model.advert_title = item.value; showFoundList = false").link.c-blue ИСПОЛЬЗОВАТЬ
										span(v-if="item.action === 'buy'", @click="model.advert_title = item.value; showFoundList = false").link.c-green КУПИТЬ
										span(v-if="item.action === 'rent'", @click="model.advert_title = item.value; showFoundList = false").link.c-yellow АРЕНДОВАТЬ

					template(slot="append")
						.link.c-blue МОИ ЗАГОЛОВКИ
				FormField(:field='fields.city', v-model='model.advert_city', ref="advert_city")
				FormField(:field='fields.theme', v-model='model.advert_theme', ref="advert_theme")
				FormField(:field='fields.link', v-model='model.advert_link', ref="advert_link")
				br
				FormField(:field='fields.price', v-model='model.advert_price', ref="advert_price")
				FormField(:field='fields.amount', v-model='model.advert_amount', ref="advert_amount")
				br
				FormField(:field='fields.offer', v-model='model.advert_offer', ref="advert_offer")

				FormField(:field='fields.gallery', v-model='model.advert_gallery', ref="advert_gallery")

			.form__group

		.popup__flex
			span.c-blue.link(@click="") ПРЕДВАРИТЕЛЬНЫЙ ПРОСМОТР
			span
				.btn.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="onSubmit") ОПУБЛИКОВАТЬ ОБЪЯВЛЕНИЕ


		popup(v-model="popupAddBranch", @onClose="popupAddBranch = !1").popup_add
			addBranch


</template>

<script>

	import $ from 'jquery'
	import addBranch from '../../view/branches/form.vue'

	export default {

		data() {
			return {

				popupAddBranch: false,

				foundAdvert: [],
				showFoundList: false,

				fields: {
					title: {
						type: 'text',
						name: 'advert_title',
						title: 'Заголовок',
						detail: 'до 70 символов',
						max: 70,
						counter: true,
						required: true,
						class: 'form__field_dd',
						validation: {
							max: {
								length: 70,
								message: 'Длинна заголовка не должна превышать 70 символов',
							},
						},
						onChange: (value) => {},
						onFocus: this.onFind,
						onKeyup: _.debounce(this.onFind, 300)
					},


					city: {
						type: 'category',
						name: 'advert_city',
						required: true,
						title: 'Город',
						base: 'region',						// база поиска (sphere, region)
						max: 1,
						onChange: (value) => {},
						onKeyup: (value) => {}
					},


					theme: {
						type: 'category',
						name: 'advert_theme',
						required: true,
						title: 'Раздел объявления',
						detail: 'максимум 3',
						base: 'sphere',						// база поиска (sphere, region)
						max: 3,
						onChange: (value) => {},
						onKeyup: (value) => {}
					},

					link: {
						type: 'text',
						name: 'advert_link',
						title: 'Ссылка на товар на вашем ресурсе',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_2-3'
					},

					price: {
						type: 'text',
						name: 'advert_price',
						title: 'Стоимость товара/услуг',
						required: true,
						disabled: false,
						onChange: (value) => {},
						onKeyup: (value) => {},
						ending: '₽',
						class: 'w_1-3'
					},

					amount: {
						type: 'select',
						name: 'advert_amount',
						title: '&nbsp;',
						placeholder: 'Выберите из списка',
						disabled: false,
						required: true,
						items: [
							{
								value: '1',
								label: 'select item 1',
								html: 'за единицу'
							},
							{
								value: '2',
								label: 'select item 2',
								html: 'за упаковку'
							},
							{
								value: '3',
								label: 'select item 3',
								html: 'за пучек'
							}
						],
						class: 'w_1-3'
					},

					offer: {
						type: 'checkbox',
						name: 'advert_offer',
						label: 'Договорная',
						onChange: (checked) => {
							// this.fields.price.disabled = !checked;
							// this.fields.amount.disabled = !checked;


							console.info('onChange', checked);

							this.fields.price.disabled = !!checked;
							this.fields.amount.disabled = !!checked;
						},
						class: ''
					},


					gallery: {
						type: 'file',
						name: 'advert_gallery',
						title: 'Фото объявления',
						max: 10,
						multiple: true,
						controls: ['remove', 'move', 'rotate'],
						comments: true,
						clearText: 'Удалить все фото',
						accept: ['png', 'jpg', 'jpeg'],
						onChange: (value) => {},
						onKeyup: (value) => {}
					},


				},

				model: {
					advert_title: '',
					advert_city: [],
					advert_theme: [],
					advert_link: '',
					advert_price: '',
					advert_offer: '',
					advert_amount: '1',
					advert_gallery: [],
				}
			}
		},


		watch:{

		},

		mounted(){

			$('body').on(`mousedown.${this._uid}`, (e)=>{
				if(this.foundAdvert && this.foundAdvert.length){
					if ( !$(e.target).closest('.form__field_dd').length ) this.foundAdvert = [];
				}
			})
		},

		beforeDestroy(){
			$('body').off(`mousedown.${this._uid}`, (e)=>{})
		},

		methods:{
			close(e){
				this.$parent.$emit('onClose');
			},
			onSubmit(){
				let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid ){

					this.$api('addAnnouncement', this.model,
						res=>{
							this.close();
						},
						(err)=>{
							console.error(err);
						},
						(e)=>{

						}
					);
				}

			},

			onFind(e){

				if ( e.length ){
					let data = {};

					data.query = e;

					this.$api(
						'findHeadings',
						data,
						(res)=>{
							let arr = res.list;

							for(let i = 0; i < res.list.length; i++){
								arr[i].show = 3;
							}

							this.foundAdvert = arr;
							this.showFoundList = !!arr.length;
						},
						(err)=>{
							// error
						},
						()=>{
							this.loading = false;
						}
					);

				} else {
					this.foundAdvert = [];
					this.showFoundList = false;
				}
			},

			showFoundAdvert(i){

				this.showFoundList = false;
				this.foundAdvert[i].show = this.foundAdvert[i].items.length;
				this.showFoundList = true;

			},

		},

		components: {
			addBranch,
		}

	}
</script>

<style lang="scss">

</style>


