<template lang="pug">
	div
		.popup__title ДОБАВИТЬ БАНКОВСКИЙ СЧЕТ
		.popup__form
			.form__wrap
				FormField(:field='fields.name', v-model='model.account_name', ref="account_name")
				FormField(:field='fields.inn', v-model='model.account_inn', ref="account_inn")
					template(slot="hint:left")
						.form__outerhint-title ИНН БАНКА
						.form__outerhint-text Это банковский идентификационный код. Номер БИК служит для однозначной идентификации банка при проведении платежей. БИК - это 9 значное число начинающееся с цифр "04".
						.form__outerhint-footer
							.btn.btn_link ПОДРОБНЕЕ
							.btn.btn_link.c-blue(@click="$refs.account_inn.showOuterHint = !1") ОК

				FormField(:field='fields.kpp', v-model='model.account_kpp', ref="account_kpp")
					template(slot="hint:right")
						.form__outerhint-title  КПП БАНКА
						.form__outerhint-text Это банковский идентификационный код. Номер БИК служит для однозначной идентификации банка при проведении платежей. БИК - это 9 значное число начинающееся с цифр "04".
						.form__outerhint-footer
							.btn.btn_link ПОДРОБНЕЕ
							.btn.btn_link.c-blue(@click="$refs.account_inn.showOuterHint = !1") ОК

				FormField(:field='fields.ogrn', v-model='model.account_ogrn', ref="account_ogrn")
				FormField(:field='fields.okpo', v-model='model.account_okpo', ref="account_okpo")
				FormField(:field='fields.law_address', v-model='model.account_law_address', ref="account_law_address")
				FormField(:field='fields.post_address', v-model='model.account_post_address', ref="account_post_address")
				FormField(:field='fields.compare_address', v-model='model.account_compare_address', ref="account_compare_address")
				FormField(:field='fields.bik', v-model='model.account_bik', ref="account_bik")
				br
				FormField(:field='fields.bank_name', v-model='model.account_bank_name', ref="account_bank_name")
				FormField(:field='fields.bank_cchet', v-model='model.account_bank_cchet', ref="account_bank_cchet")
				FormField(:field='fields.bank_rchet', v-model='model.account_bank_rchet', ref="account_bank_rchet")
				FormField(:field='fields.fio', v-model='model.account_fio', ref="account_fio")
				FormField(:field='fields.politics', v-model='model.account_politics', ref="account_politics")

		.popup__flex
			span &nbsp;
			span
				.btn.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="onSubmit") ДОБАВИТЬ СЧЕТ



</template>

<script>

	export default {

		data() {
			return {

				fields: {
					name: {
						type: 'text',
						name: 'account_name',
						title: 'Название организации',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {}
					},

					inn: {
						type: 'text',
						name: 'account_inn',
						title: 'ИНН',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_1-2'
					},

					kpp: {
						type: 'text',
						name: 'account_kpp',
						title: 'КПП',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_1-2'
					},

					ogrn: {
						type: 'text',
						name: 'account_ogrn',
						title: 'ОГРН',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_1-2'
					},

					okpo: {
						type: 'text',
						name: 'account_okpo',
						title: 'ОКПО',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_1-2'
					},

					law_address: {
						type: 'text',
						name: 'account_law_address',
						title: 'Юридический адрес',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {}
					},

					post_address: {
						type: 'text',
						name: 'account_post_address',
						title: 'Почтовый адрес',
						required: true,
						disabled: false,
						onChange: (value) => {},
						onKeyup: (value) => {}
					},

					bik: {
						type: 'text',
						name: 'account_bik',
						title: 'БИК банка',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_1-2'
					},

					bank_name: {
						type: 'text',
						name: 'account_bank_name',
						title: 'Наименование банка',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {}
					},

					bank_cchet: {
						type: 'text',
						name: 'account_bank_cchet',
						title: 'Кор/счет',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_1-2'
					},

					bank_rchet: {
						type: 'text',
						name: 'account_bank_rchet',
						title: 'Расчетный счет',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class: 'w_1-2'
					},

					fio: {
						type: 'text',
						name: 'account_fio',
						title: 'ФИО',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {}
					},


					compare_address: {
						type: 'checkbox',
						name: 'account_compare_address',
						label: 'Совпадает с юридическим',
						onChange: (checked) => {
							console.info('onChange', checked);

							this.fields.post_address.disabled = !!checked;
							this.model.account_post_address = '';
						}
					},

					politics: {
						type: 'checkbox',
						name: 'account_politics',
						required: true,
						label: 'Я даю согласие на хранение данных счета',
						onChange: (checked) => {
							console.info('onChange', checked);
							//this.$refs.checkbox_name[0].validate();
						}
					},

				},

				model: {
					account_name: '',
					account_inn: '',
					account_kpp: '',
					account_ogrn: '',
					account_okpo: '',
					account_law_address: '',
					account_post_address: '',
					account_compare_address: false,
					account_bik: '',
					account_bank_name: '',
					account_bank_cchet: '',
					account_bank_rchet: '',
					account_fio: '',
					account_politics: false,

				}
			}
		},


		watch:{

		},

		mounted(){
		},

		methods:{
			close(e){
				this.$parent.$emit('onClose');
			},
			onSubmit(){
				let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					// console.info(this.fields[i].name, this.$refs[this.fields[i].name]);
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid ){
					this.close();
				}

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


