<template lang="pug">
	.category
		.category__left
			.category__header
				.category__title НАЙТИ КОМПАНИЮ
				.category__search
					.form__input
						input(@keyup="onSearch", autocomplete="off", placeholder="Начните вводить название компании", v-model.trim="search")

			.category__filter
				.category__list
					vue-scroll
						.corpus__list(v-if="list")
							.corpus__table
								.corpus__table-head
									.corpus__table-col.corpus__table-col_check(v-if='list.checked'): .checkbox(:class='{"is-checked" : page.checked}', @click="checkItems()")
									.corpus__table-col(v-for='(column, index) in list.header', :key='index', :class="column.align ? 'corpus__table-col_' + column.align : ''")
										span(v-html='column.value')
										span.i-info(v-if="column.tooltip", v-tooltip="column.tooltip") ?

								.corpus__item.corpus__item_notebook(v-for='(item, index) in list', :key="index")
									.corpus__item-col
										.corpus__item-logo(:style="'background-image:url('+ item.info.photo +');'")
										span
											.corpus__item-title {{ item.info.name }}
											.corpus__item-subtitle ИНН {{ item.info.inn }}
											.corpus__item-subtitle {{ item.info.location }}

									.corpus__item-col.corpus__item-col_hover.corpus__item-col_right
										.corpus__item-pass-control
											span.c-blue ДОБАВИТЬ В КОНТАКТЫ

									//-.corpus__item-col
										template(v-if="item.info.contact.length")
											span {{ item.info.contact[0] }}
											v-popover(v-if="item.info.contact.length > 1").corpus__item-more
												template(slot="popover")
													ul
														li.nobr(v-for="(contact, index) in item.info.contact", v-if="index > 0") {{ contact }}
												span.more еще {{ item.info.contact.length - 1 }}
										template(v-else) Нет контактов


									.corpus__item-col.corpus__item-col_control
										//-.corpus__item-ico(v-tooltip="'Редактировать'"): include ../../img/svg/ico__edit.svg
										//-.corpus__item-ico(v-tooltip="'Скачать реквизиты'"): include ../../img/svg/ico__download.svg

										v-popover.corpus__item-ico
											template(slot="popover")
												ul
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
													li: .link Что сделать с профилем
											span: include ../../img/svg/ico__dots.svg

		.category__right
			.category__right-header
				.category__title ФИЛЬТРЫ ПОИСКА
			.category__result
				vue-scroll



</template>

<script>

	import listBranch from '../../view/branches/list.vue'
	import addBranch from '../../view/branches/form.vue'

	export default {

		data() {
			return {

				popupListBranch: false,
				popupAddBranch: false,

				list: [],

				search: '',

			}
		},


		watch:{

		},

		mounted(){

			this.loadData();
		},

		methods:{
			loadData(){

				this.loading = true;

				let data = {};

				this.$api(
					'getContactList',
					data,
					(res)=>{
						if (res.list) this.list = res.list;
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			close(e){
				this.$parent.$emit('onClose');
			},

			onSearch(){

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


