<template lang="pug">
	div
		.popup__title ДОБАВИТЬ БАНКОВСКУЮ КАРТУ
		.popup__form
			.form__wrap
				FormField(:field='fields.price', v-model='model.card_number', ref="card_number")

				.form__group.w_1
					FormField(:field='fields.usedto', v-model='model.card_usedto', ref="card_usedto")
					FormField(:field='fields.cvc', v-model='model.card_cvc', ref="card_cvc")
				FormField(:field='fields.holder', v-model='model.card_holder', ref="card_holder")
				FormField(:field='fields.politic', v-model='model.card_politic', ref="card_politic")

		.popup__flex
			span &nbsp;
			span
				.btn.btn_link.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="confirm") СОХРАНИТЬ

</template>

<script>


	export default {

		data() {
			return {

				fields: {
					price: {
						type: 'text',
						name: 'card_number',
						title: 'Номер карты',
						tooltip: 'Какой то текст',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						mask: '9999 9999 9999 9999',
					},
					usedto: {
						type: 'text',
						name: 'card_usedto',
						title: 'Действительно до ММ/ГГ',
						tooltip: 'Какой то текст',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class:'w_1-2',
						mask: '99/99',
					},
					cvc: {
						type: 'text',
						name: 'card_cvc',
						title: 'CVC',
						tooltip: 'Какой то текст',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class:'w_1-2',
						mask: '999',
					},
					holder: {
						type: 'text',
						name: 'card_holder',
						title: 'ФИО держателя карты',
						tooltip: 'Какой то текст',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
					},
					politic: {
						type: 'checkbox',
						required: true,
						name: 'card_politic',
						label: 'Продолжив, вы добавите этот способ оплаты, а также примите <a href="#" class="c-blue">Условия использования и конфидециальности нашего сервиса</a>',
						onChange: (checked) => {
							console.info('onChange', checked);
						}
					},

				},

				model: {
					card_number: '',
					card_usedto: '',
					card_cvc: '',
					card_holder: '',
					card_politic: '',
				}
			}
		},


		watch:{

		},

		mounted(){


		},

		methods:{

			close(){
				this.$parent.$emit('onClose');
			},

			confirm(){
				let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					// console.info(this.fields[i].name, this.$refs[this.fields[i].name]);
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid ){
					this.$emit('confirm');
					this.$parent.$emit('onClose');
				}

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


