<template lang="pug">
	div
		.popup__title ПОПОЛНИТЬ БАЛАНС

		.popup__form
			.form__wrap
				FormField(:field='fields.price', v-model='model.heading_price', ref="heading_price")
				FormField(:field='fields.politic', v-model='model.heading_politic', ref="'eading_politic")

		.popup__flex
			span &nbsp;
			span
				.btn.btn_link.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="confirm") ПОПОЛНИТЬ

</template>

<script>


	export default {

		data() {
			return {

				fields: {
					price: {
						type: 'text',
						title: 'Укажите сумму пополнения',
						name: 'heading_price',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						ending: '₽',
						validation: {
							empty: {
								message: 'Заполните поле'
							},
							pattern: [
								{
									regex: /^\d+$/i,
									message: 'Поле должно содержать только числовые символы'
								}
							],
						},
						class:'',
					},

					politic: {
						type: 'checkbox',
						name: 'heading_politic',
						label: 'Пополняя баланс, вы соглашаетесь с <a href="#" class="c-blue">правилами Headerlink</a>',
						required: true,
						onChange: (checked) => {
							console.info('onChange', checked);
							//this.$refs.checkbox_name[0].validate();
						}
					},
				},

				model: {
					heading_price: '',
					heading_politic: true,
				}
			}
		},


		watch:{

		},

		mounted(){


		},

		methods:{

			close(){
				this.$parent.$emit('onClose');
			},

			confirm(){
				let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					// console.info(this.fields[i].name, this.$refs[this.fields[i].name]);
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid ){
					this.$emit('confirm');
					this.$parent.$emit('onClose');
				}

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


