<template lang="pug">
	div
		.popup__title ВЫБЕРИТЕ СПОСОБ ПОПОЛНЕНИЯ

		.popup__cards(v-if="payments.length")
			vue-scroll
				.popup__cards-inner
					.ticket__item.ticket__item_balance(v-for='(item, index) in payments')
						.ticket__item-inner
							//-.ticket__item-activity
								span
									v-popover
										template(slot="popover")
											ul
												li: .link Что сделать с профилем
												li: .link Что сделать с профилем
												li: .link Что сделать с профилем
												li: .link Что сделать с профилем
										include ../../img/svg/ico__dots.svg
							.ticket__item-photo(:style="'background-image:url('+ item.logo +');'")
							.ticket__item-name {{ item.name }}
							.ticket__item-position
								span {{ item.number }}
							.ticket__item-control
								.btn.btn_green ПОПОЛНИТЬ БАЛАНС

		.popup__flex
			span &nbsp;
			span
				.btn.btn_link.c-grey(@click="close") ЗАКРЫТЬ

</template>

<script>


	export default {

		data() {
			return {

				payments: []
			}
		},


		watch:{

		},

		mounted(){

			this.loadData();
		},

		methods:{
			loadData(){

				this.loading = true;

				let data = {};

				this.$api(
					'getBalancePayments',
					data,
					(res)=>{
						if (res.payments) this.payments = res.payments;
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			close(){
				this.$parent.$emit('onClose');
			},


		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


