<template lang="pug">
	div
		.popup__title ПРЕДОСТАВИТЬ ЗАГОЛОВОК В АРЕНДУ
		.popup__subtitle.c-blue "Продать трактор"

		.popup__form
			.form__wrap
				.form__title.form__padding
					span Укажите стоимость аренды заголовка в месяц
				FormField(:field='fields.price', v-model='model.heading_price', ref="heading_price")

				.form__group.w_1
					.form__title.form__padding
						span Укажите максимальный период аренды
						span.detail &nbsp;/ минимум 90 дней
					FormField(:field='fields.time', v-model='model.heading_time', ref="heading_time")
					FormField(:field='fields.unlim', v-model='model.heading_unlimited', ref="heading_unlimited")
				FormField(:field='fields.politic', v-model='model.heading_politic', ref="heading_politic")

		.popup__flex
			span &nbsp;
			span
				.btn.btn_link.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="confirm") СОХРАНИТЬ

</template>

<script>


	export default {

		data() {
			return {

				fields: {
					price: {
						type: 'text',
						name: 'heading_price',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						ending: '₽/30 дней',
						validation: {
							empty: {
								message: 'Заполните поле'
							},
							pattern: [
								{
									regex: /^\d+$/i,
									message: 'Поле должно содержать только числовые символы'
								}
							],
						},
						class:'w_1-2',
					},
					time: {
						type: 'text',
						name: 'heading_time',
						// title: 'Укажите максимальный период аренды',
						// detail: 'минимум 90 дней',
						required: true,
						onChange: (value) => {},
						onKeyup: (value) => {},
						class:'w_1-2',
						disabled: true,
						ending: 'дней',
						validation: {
							empty: {
								message: 'Заполните поле'
							},
							pattern: [
								{
									regex: /^\d+$/i,
									message: 'Поле должно содержать только числовые символы'
								}
							],
						}
					},

					unlim: {
						type: 'checkbox',
						name: 'heading_unlimited',
						label: 'Бессрочно',
						tooltip: 'Какой то текст',
						class:'w_1-2',
						onChange: (checked) => {
							console.info('onChange', checked);
							//this.$refs.checkbox_name[0].validate();

							this.fields.time.disabled = !!checked;
							this.model.heading_time = checked ? 'Бессрочно' : '90';
						}
					},
					politic: {
						type: 'checkbox',
						name: 'heading_politic',
						label: 'Выставляя заголовок в аренду, вы соглашаетесь с <a href="#" class="c-blue">правилами Headerlink</a>',
						required: true,
						onChange: (checked) => {
							console.info('onChange', checked);
							//this.$refs.checkbox_name[0].validate();
						}
					},
				},

				model: {
					heading_price: '',
					heading_time: '',
					heading_unlimited: true,
					heading_politic: true,
				}
			}
		},


		watch:{

		},

		mounted(){


		},

		methods:{

			close(){
				this.$parent.$emit('onClose');
			},

			confirm(){
				let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					// console.info(this.fields[i].name, this.$refs[this.fields[i].name]);
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid ){
					this.$emit('confirm');
					this.$parent.$emit('onClose');
				}

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


