<template lang="pug">
	div
		.popup__title ИЗМЕНИТЬ СТОИМОСТЬ ЗАГОЛОВКА
		.popup__subtitle.c-blue "Продать трактор"

		.popup__form
			.form__wrap
				FormField(:field='fields.price', v-model='model.heading_price', ref="heading_price")

		.popup__flex
			span &nbsp;
			span
				.btn.btn_link.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="confirm") СОХРАНИТЬ

</template>

<script>


	export default {

		data() {
			return {

				fields: {
					price: {
						type: 'text',
						name: 'heading_price',
						title: 'Укажите стоимость заголовка',
						required: true,
						ending: '₽',
						onChange: (value) => {},
						onKeyup: (value) => {},
						validation: {
							empty: {
								message: 'Заполните поле'
							},
							pattern: [
								{
									regex: /^\d+$/i,
									message: 'Поле должно содержать только числовые символы'
								}
							],
						},
						class: 'form__field_price'
					},
				},

				model: {
					heading_price: '',
				}
			}
		},


		watch:{

		},

		mounted(){


		},

		methods:{

			close(){
				this.$parent.$emit('onClose');
			},

			confirm(){
				let valid = true;

				Object.keys(this.fields).forEach((i)=>{
					// console.info(this.fields[i].name, this.$refs[this.fields[i].name]);
					if ( this.fields[i].name ) {
						if (this.$refs[this.fields[i].name].validate().errors.length){
							valid = false;
						}
					}
				});

				if ( valid ){
					this.$emit('confirm');
					this.$parent.$emit('onClose');
				}

			}
		},

		components: {
		}

	}
</script>

<style lang="scss">

</style>


