<template lang="pug">
	div
		.popup__title НАСТРОЙКИ ОПОВЕЩЕНИЙ

		.popup__table(v-if="notifications.length")
			.corpus__table
				.corpus__table-head
					.corpus__table-col: span НАЗВАНИЕ БЛОКА
					.corpus__table-col: span СТАТУС
					.corpus__table-col: span &nbsp;

			.corpus__scroll
				vue-scroll
					.corpus__table
						template(v-for="(group, index) in notifications")
							.corpus__item
								.corpus__item-col
									.corpus__item-title {{ group.title }}
								.corpus__item-col &nbsp;
								.corpus__item-col.corpus__item-col_check &nbsp;


							.corpus__item(v-for="(item, index) in group.items", :class="{'corpus__item_inactive' : !item.active }")
								.corpus__item-col
									.corpus__item-title
										| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ item.name }}
										span.i-info(v-if="item.tooltip", v-tooltip="item.tooltip") ?
								.corpus__item-col
									.corpus__item-subtitle(v-if="item.default")
										i.disk.c-blue
										span По умолчанию
									.corpus__item-subtitle(v-else-if=" !!item.active ")
										i.disk.c-green
										span Активен
									.corpus__item-subtitle(v-else)
										i.disk.c-light
										span Не активен
								.corpus__item-col.corpus__item-col_check
									.form__field
										.form__input
											input(@change="", type="checkbox", :value="item.id", v-model="item_checked", :id="'_' + item.id+'_'+_uid", :disabled="item.default")
											label(:for="'_' + item.id+'_'+_uid") &nbsp;

		.popup__flex
			span &nbsp;
			span
				.btn.c-grey(@click="close") ОТМЕНА
				.btn.btn_blue(@click="confirm") СОХРАНИТЬ

</template>

<script>

	import _ from 'lodash'

	export default {

		data() {
			return {

				item_checked: [],
				notifications: []
			}
		},


		watch:{

		},

		mounted(){
			this.loadData();
		},

		methods:{

			loadData(){
				this.loading = true;

				let data = {};

				this.$api(
					'getNotificationSetting',
					data,
					(res)=>{
						this.notifications = res.list;

						for (let i = 0; i < res.list.length; i++){
							for (let j = 0; j < res.list[i].items.length; j++){
								if ( !!res.list[i].items[j].active ) this.item_checked.push(res.list[i].items[j].id);
							}
						}
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			},

			close(){
				this.$parent.$emit('onClose');
			},

			confirm(){
				// this.kits = this.cloneKits;

				this.loading = true;

				let data = {};
				data.notifications = this.item_checked;

				this.$api(
					'getNotificationSetting',
					data,
					(res)=>{
						this.$emit('confirm');
						this.$parent.$emit('onClose');
					},
					(err)=>{
						// error
					},
					()=>{
						// always
						this.loading = false;
					}
				);
			}
		},

		components: {

		}

	}
</script>

<style lang="scss">

</style>


